server/tests/fixtures/executions/healthy/HEALTHY-01.json
{
  "customData": {},
  "data": {
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    },
    "resultData": {
      "lastNodeExecuted": "Step4",
      "runData": {
        "Step1": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 1,
            "executionStatus": "success",
            "executionTime": 4,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Webhook"
              }
            ],
            "startTime": 1784061184239
          }
        ],
        "Step2": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 2
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 2,
            "executionStatus": "success",
            "executionTime": 3,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step1"
              }
            ],
            "startTime": 1784061184243
          }
        ],
        "Step3": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 3
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 3,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step2"
              }
            ],
            "startTime": 1784061184246
          }
        ],
        "Step4": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 4
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 4,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step3"
              }
            ],
            "startTime": 1784061184249
          }
        ],
        "Webhook": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "body": {
                        "trigger": true
                      },
                      "executionMode": "production",
                      "headers": {
                        "accept": "*/*",
                        "accept-encoding": "gzip, deflate, br, zstd",
                        "connection": "keep-alive",
                        "content-length": "16",
                        "content-type": "application/json",
                        "host": "localhost:5679",
                        "user-agent": "python-httpx/0.28.1"
                      },
                      "params": {},
                      "query": {},
                      "webhookUrl": "http://localhost:5678/webhook/he-5b4625-1"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 0,
            "executionStatus": "success",
            "executionTime": 0,
            "hints": [],
            "source": [],
            "startTime": 1784061184239
          }
        ]
      }
    },
    "startData": {}
  },
  "finished": true,
  "id": "19",
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "startedAt": "2026-07-14T20:33:04.225Z",
  "stoppedAt": "2026-07-14T20:33:04.251Z",
  "waitTill": null,
  "workflow": {
    "connections": {
      "Step1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step2",
              "type": "main"
            }
          ]
        ]
      },
      "Step2": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step3",
              "type": "main"
            }
          ]
        ]
      },
      "Step3": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step4",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step1",
              "type": "main"
            }
          ]
        ]
      }
    },
    "name": "HEALTHY-01",
    "nodes": [
      {
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "path": "he-5b4625-1",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "he-5b4625-1"
      },
      {
        "name": "Step1",
        "parameters": {
          "jsCode": "return [{ json: { step: 1 } }];"
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step2",
        "parameters": {
          "jsCode": "return [{ json: { step: 2 } }];"
        },
        "position": [
          440,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step3",
        "parameters": {
          "jsCode": "return [{ json: { step: 3 } }];"
        },
        "position": [
          660,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step4",
        "parameters": {
          "jsCode": "return [{ json: { step: 4 } }];"
        },
        "position": [
          880,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "settings": {}
  },
  "workflowData": {
    "active": true,
    "connections": {
      "Step1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step2",
              "type": "main"
            }
          ]
        ]
      },
      "Step2": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step3",
              "type": "main"
            }
          ]
        ]
      },
      "Step3": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step4",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step1",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-07-14T20:33:03.648Z",
    "id": "5g4raufumiFbMGva",
    "name": "HEALTHY-01",
    "nodes": [
      {
        "id": "30f8f894-5f55-4a16-8279-6029267cf059",
        "name": "Webhook",
        "parameters": {
          "authentication": "none",
          "httpMethod": "POST",
          "multipleMethods": false,
          "options": {},
          "path": "he-5b4625-1",
          "responseData": "firstEntryJson",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "he-5b4625-1"
      },
      {
        "id": "3d63a99b-8ec7-44f6-bb58-521fc38546aa",
        "name": "Step1",
        "parameters": {
          "jsCode": "return [{ json: { step: 1 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "c7e2b3b2-db49-4d28-89f2-feb402f750b4",
        "name": "Step2",
        "parameters": {
          "jsCode": "return [{ json: { step: 2 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          440,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "0c82f378-f08c-4245-8fc2-1fc25e488b0a",
        "name": "Step3",
        "parameters": {
          "jsCode": "return [{ json: { step: 3 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          660,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "6e76b99d-01de-4816-94da-540aaf45e98c",
        "name": "Step4",
        "parameters": {
          "jsCode": "return [{ json: { step: 4 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          880,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "pinData": null,
    "settings": {},
    "staticData": {},
    "updatedAt": "2026-07-14T20:33:03.678Z"
  },
  "workflowId": "5g4raufumiFbMGva"
}