server/tests/fixtures/executions/healthy/HEALTHY-04.json
{
  "customData": {},
  "data": {
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    },
    "resultData": {
      "lastNodeExecuted": "Step7",
      "runData": {
        "Step1": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 1,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Webhook"
              }
            ],
            "startTime": 1784061184997
          }
        ],
        "Step2": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 2
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 2,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step1"
              }
            ],
            "startTime": 1784061184999
          }
        ],
        "Step3": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 3
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 3,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step2"
              }
            ],
            "startTime": 1784061185001
          }
        ],
        "Step4": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 4
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 4,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step3"
              }
            ],
            "startTime": 1784061185004
          }
        ],
        "Step5": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 5
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 5,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step4"
              }
            ],
            "startTime": 1784061185006
          }
        ],
        "Step6": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 6
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 6,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step5"
              }
            ],
            "startTime": 1784061185008
          }
        ],
        "Step7": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 7
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 7,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step6"
              }
            ],
            "startTime": 1784061185011
          }
        ],
        "Webhook": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "body": {
                        "trigger": true
                      },
                      "executionMode": "production",
                      "headers": {
                        "accept": "*/*",
                        "accept-encoding": "gzip, deflate, br, zstd",
                        "connection": "keep-alive",
                        "content-length": "16",
                        "content-type": "application/json",
                        "host": "localhost:5679",
                        "user-agent": "python-httpx/0.28.1"
                      },
                      "params": {},
                      "query": {},
                      "webhookUrl": "http://localhost:5678/webhook/he-5b4625-4"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 0,
            "executionStatus": "success",
            "executionTime": 0,
            "hints": [],
            "source": [],
            "startTime": 1784061184996
          }
        ]
      }
    },
    "startData": {}
  },
  "finished": true,
  "id": "22",
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "startedAt": "2026-07-14T20:33:04.971Z",
  "stoppedAt": "2026-07-14T20:33:05.013Z",
  "waitTill": null,
  "workflow": {
    "connections": {
      "Step1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step2",
              "type": "main"
            }
          ]
        ]
      },
      "Step2": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step3",
              "type": "main"
            }
          ]
        ]
      },
      "Step3": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step4",
              "type": "main"
            }
          ]
        ]
      },
      "Step4": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step5",
              "type": "main"
            }
          ]
        ]
      },
      "Step5": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step6",
              "type": "main"
            }
          ]
        ]
      },
      "Step6": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step7",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step1",
              "type": "main"
            }
          ]
        ]
      }
    },
    "name": "HEALTHY-04",
    "nodes": [
      {
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "path": "he-5b4625-4",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "he-5b4625-4"
      },
      {
        "name": "Step1",
        "parameters": {
          "jsCode": "return [{ json: { step: 1 } }];"
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step2",
        "parameters": {
          "jsCode": "return [{ json: { step: 2 } }];"
        },
        "position": [
          440,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step3",
        "parameters": {
          "jsCode": "return [{ json: { step: 3 } }];"
        },
        "position": [
          660,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step4",
        "parameters": {
          "jsCode": "return [{ json: { step: 4 } }];"
        },
        "position": [
          880,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step5",
        "parameters": {
          "jsCode": "return [{ json: { step: 5 } }];"
        },
        "position": [
          1100,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step6",
        "parameters": {
          "jsCode": "return [{ json: { step: 6 } }];"
        },
        "position": [
          1320,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step7",
        "parameters": {
          "jsCode": "return [{ json: { step: 7 } }];"
        },
        "position": [
          1540,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "settings": {}
  },
  "workflowData": {
    "active": true,
    "connections": {
      "Step1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step2",
              "type": "main"
            }
          ]
        ]
      },
      "Step2": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step3",
              "type": "main"
            }
          ]
        ]
      },
      "Step3": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step4",
              "type": "main"
            }
          ]
        ]
      },
      "Step4": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step5",
              "type": "main"
            }
          ]
        ]
      },
      "Step5": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step6",
              "type": "main"
            }
          ]
        ]
      },
      "Step6": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step7",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step1",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-07-14T20:33:04.396Z",
    "id": "bgcuDl29427VwtOo",
    "name": "HEALTHY-04",
    "nodes": [
      {
        "id": "99687f31-7ebc-4bba-b27e-d4c2bdf06bfa",
        "name": "Webhook",
        "parameters": {
          "authentication": "none",
          "httpMethod": "POST",
          "multipleMethods": false,
          "options": {},
          "path": "he-5b4625-4",
          "responseData": "firstEntryJson",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "he-5b4625-4"
      },
      {
        "id": "5b34d766-bfe7-4a6a-ac1d-16d5e71cfb88",
        "name": "Step1",
        "parameters": {
          "jsCode": "return [{ json: { step: 1 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "59cb493e-f7c0-4419-8cc9-733a2911a995",
        "name": "Step2",
        "parameters": {
          "jsCode": "return [{ json: { step: 2 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          440,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "7f2f2307-daff-44c5-adc6-0defcb1739c7",
        "name": "Step3",
        "parameters": {
          "jsCode": "return [{ json: { step: 3 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          660,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "2eeacaf6-86f9-40a6-9acf-590a137de07d",
        "name": "Step4",
        "parameters": {
          "jsCode": "return [{ json: { step: 4 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          880,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "151b201e-d7ad-42ee-bb4c-c899cf561f55",
        "name": "Step5",
        "parameters": {
          "jsCode": "return [{ json: { step: 5 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          1100,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "77ab6b0a-c646-4a3e-ac6c-7b40ea290a36",
        "name": "Step6",
        "parameters": {
          "jsCode": "return [{ json: { step: 6 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          1320,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "50a1d89d-f3a2-4ebd-a269-d00870893207",
        "name": "Step7",
        "parameters": {
          "jsCode": "return [{ json: { step: 7 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          1540,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "pinData": null,
    "settings": {},
    "staticData": {},
    "updatedAt": "2026-07-14T20:33:04.429Z"
  },
  "workflowId": "bgcuDl29427VwtOo"
}