server/tests/fixtures/executions/healthy/HEALTHY-03.json
{
  "customData": {},
  "data": {
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    },
    "resultData": {
      "lastNodeExecuted": "Step6",
      "runData": {
        "Step1": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 1,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Webhook"
              }
            ],
            "startTime": 1784061184973
          }
        ],
        "Step2": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 2
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 2,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step1"
              }
            ],
            "startTime": 1784061184976
          }
        ],
        "Step3": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 3
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 3,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step2"
              }
            ],
            "startTime": 1784061184978
          }
        ],
        "Step4": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 4
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 4,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step3"
              }
            ],
            "startTime": 1784061184981
          }
        ],
        "Step5": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 5
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 5,
            "executionStatus": "success",
            "executionTime": 5,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step4"
              }
            ],
            "startTime": 1784061184983
          }
        ],
        "Step6": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 6
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 6,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step5"
              }
            ],
            "startTime": 1784061184988
          }
        ],
        "Webhook": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "body": {
                        "trigger": true
                      },
                      "executionMode": "production",
                      "headers": {
                        "accept": "*/*",
                        "accept-encoding": "gzip, deflate, br, zstd",
                        "connection": "keep-alive",
                        "content-length": "16",
                        "content-type": "application/json",
                        "host": "localhost:5679",
                        "user-agent": "python-httpx/0.28.1"
                      },
                      "params": {},
                      "query": {},
                      "webhookUrl": "http://localhost:5678/webhook/he-5b4625-3"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 0,
            "executionStatus": "success",
            "executionTime": 0,
            "hints": [],
            "source": [],
            "startTime": 1784061184972
          }
        ]
      }
    },
    "startData": {}
  },
  "finished": true,
  "id": "21",
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "startedAt": "2026-07-14T20:33:04.969Z",
  "stoppedAt": "2026-07-14T20:33:04.991Z",
  "waitTill": null,
  "workflow": {
    "connections": {
      "Step1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step2",
              "type": "main"
            }
          ]
        ]
      },
      "Step2": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step3",
              "type": "main"
            }
          ]
        ]
      },
      "Step3": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step4",
              "type": "main"
            }
          ]
        ]
      },
      "Step4": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step5",
              "type": "main"
            }
          ]
        ]
      },
      "Step5": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step6",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step1",
              "type": "main"
            }
          ]
        ]
      }
    },
    "name": "HEALTHY-03",
    "nodes": [
      {
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "path": "he-5b4625-3",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "he-5b4625-3"
      },
      {
        "name": "Step1",
        "parameters": {
          "jsCode": "return [{ json: { step: 1 } }];"
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step2",
        "parameters": {
          "jsCode": "return [{ json: { step: 2 } }];"
        },
        "position": [
          440,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step3",
        "parameters": {
          "jsCode": "return [{ json: { step: 3 } }];"
        },
        "position": [
          660,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step4",
        "parameters": {
          "jsCode": "return [{ json: { step: 4 } }];"
        },
        "position": [
          880,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step5",
        "parameters": {
          "jsCode": "return [{ json: { step: 5 } }];"
        },
        "position": [
          1100,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step6",
        "parameters": {
          "jsCode": "return [{ json: { step: 6 } }];"
        },
        "position": [
          1320,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "settings": {}
  },
  "workflowData": {
    "active": true,
    "connections": {
      "Step1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step2",
              "type": "main"
            }
          ]
        ]
      },
      "Step2": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step3",
              "type": "main"
            }
          ]
        ]
      },
      "Step3": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step4",
              "type": "main"
            }
          ]
        ]
      },
      "Step4": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step5",
              "type": "main"
            }
          ]
        ]
      },
      "Step5": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step6",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step1",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-07-14T20:33:04.392Z",
    "id": "HmcgRlZgPJRrbWla",
    "name": "HEALTHY-03",
    "nodes": [
      {
        "id": "9c46f400-d2e0-43f6-89fc-aae3ed535d58",
        "name": "Webhook",
        "parameters": {
          "authentication": "none",
          "httpMethod": "POST",
          "multipleMethods": false,
          "options": {},
          "path": "he-5b4625-3",
          "responseData": "firstEntryJson",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "he-5b4625-3"
      },
      {
        "id": "a1b13ea3-77f2-45d3-b363-20413e5c1614",
        "name": "Step1",
        "parameters": {
          "jsCode": "return [{ json: { step: 1 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "151cad05-3a11-415a-9c88-c940d67a5808",
        "name": "Step2",
        "parameters": {
          "jsCode": "return [{ json: { step: 2 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          440,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "90a7351a-f6e0-4de4-930d-7e4ea010cc71",
        "name": "Step3",
        "parameters": {
          "jsCode": "return [{ json: { step: 3 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          660,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "f065ecee-8ef1-43f2-acb5-e703c08e9a53",
        "name": "Step4",
        "parameters": {
          "jsCode": "return [{ json: { step: 4 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          880,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "bb7fa381-6c3b-4466-8188-13b24ce26a07",
        "name": "Step5",
        "parameters": {
          "jsCode": "return [{ json: { step: 5 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          1100,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "869e4307-d4d4-4b09-9236-7e02c0e376c0",
        "name": "Step6",
        "parameters": {
          "jsCode": "return [{ json: { step: 6 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          1320,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "pinData": null,
    "settings": {},
    "staticData": {},
    "updatedAt": "2026-07-14T20:33:04.420Z"
  },
  "workflowId": "HmcgRlZgPJRrbWla"
}