server/tests/fixtures/executions/healthy/HEALTHY-02.json
{
  "customData": {},
  "data": {
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    },
    "resultData": {
      "lastNodeExecuted": "Step5",
      "runData": {
        "Step1": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 1,
            "executionStatus": "success",
            "executionTime": 4,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Webhook"
              }
            ],
            "startTime": 1784061184290
          }
        ],
        "Step2": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 2
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 2,
            "executionStatus": "success",
            "executionTime": 3,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step1"
              }
            ],
            "startTime": 1784061184295
          }
        ],
        "Step3": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 3
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 3,
            "executionStatus": "success",
            "executionTime": 3,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step2"
              }
            ],
            "startTime": 1784061184298
          }
        ],
        "Step4": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 4
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 4,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step3"
              }
            ],
            "startTime": 1784061184301
          }
        ],
        "Step5": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "step": 5
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 5,
            "executionStatus": "success",
            "executionTime": 2,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Step4"
              }
            ],
            "startTime": 1784061184304
          }
        ],
        "Webhook": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "body": {
                        "trigger": true
                      },
                      "executionMode": "production",
                      "headers": {
                        "accept": "*/*",
                        "accept-encoding": "gzip, deflate, br, zstd",
                        "connection": "keep-alive",
                        "content-length": "16",
                        "content-type": "application/json",
                        "host": "localhost:5679",
                        "user-agent": "python-httpx/0.28.1"
                      },
                      "params": {},
                      "query": {},
                      "webhookUrl": "http://localhost:5678/webhook/he-5b4625-2"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 0,
            "executionStatus": "success",
            "executionTime": 0,
            "hints": [],
            "source": [],
            "startTime": 1784061184290
          }
        ]
      }
    },
    "startData": {}
  },
  "finished": true,
  "id": "20",
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "startedAt": "2026-07-14T20:33:04.285Z",
  "stoppedAt": "2026-07-14T20:33:04.306Z",
  "waitTill": null,
  "workflow": {
    "connections": {
      "Step1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step2",
              "type": "main"
            }
          ]
        ]
      },
      "Step2": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step3",
              "type": "main"
            }
          ]
        ]
      },
      "Step3": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step4",
              "type": "main"
            }
          ]
        ]
      },
      "Step4": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step5",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step1",
              "type": "main"
            }
          ]
        ]
      }
    },
    "name": "HEALTHY-02",
    "nodes": [
      {
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "path": "he-5b4625-2",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "he-5b4625-2"
      },
      {
        "name": "Step1",
        "parameters": {
          "jsCode": "return [{ json: { step: 1 } }];"
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step2",
        "parameters": {
          "jsCode": "return [{ json: { step: 2 } }];"
        },
        "position": [
          440,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step3",
        "parameters": {
          "jsCode": "return [{ json: { step: 3 } }];"
        },
        "position": [
          660,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step4",
        "parameters": {
          "jsCode": "return [{ json: { step: 4 } }];"
        },
        "position": [
          880,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "name": "Step5",
        "parameters": {
          "jsCode": "return [{ json: { step: 5 } }];"
        },
        "position": [
          1100,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "settings": {}
  },
  "workflowData": {
    "active": true,
    "connections": {
      "Step1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step2",
              "type": "main"
            }
          ]
        ]
      },
      "Step2": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step3",
              "type": "main"
            }
          ]
        ]
      },
      "Step3": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step4",
              "type": "main"
            }
          ]
        ]
      },
      "Step4": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step5",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Step1",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-07-14T20:33:03.674Z",
    "id": "eD0VYdkw8O0HoHgI",
    "name": "HEALTHY-02",
    "nodes": [
      {
        "id": "683c31e4-c1db-48c7-9b35-58e76617eaef",
        "name": "Webhook",
        "parameters": {
          "authentication": "none",
          "httpMethod": "POST",
          "multipleMethods": false,
          "options": {},
          "path": "he-5b4625-2",
          "responseData": "firstEntryJson",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "he-5b4625-2"
      },
      {
        "id": "2b5fdfc0-0b47-41c9-a69a-a91476ea7aea",
        "name": "Step1",
        "parameters": {
          "jsCode": "return [{ json: { step: 1 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "8fb6ed87-8949-49e7-b542-dc2382da95b6",
        "name": "Step2",
        "parameters": {
          "jsCode": "return [{ json: { step: 2 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          440,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "790c97a4-dcdf-417f-b19c-37c6af2c96b8",
        "name": "Step3",
        "parameters": {
          "jsCode": "return [{ json: { step: 3 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          660,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "7b0000fd-af6e-4051-ad55-52e014ad94c6",
        "name": "Step4",
        "parameters": {
          "jsCode": "return [{ json: { step: 4 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          880,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "id": "13f57c48-e8c3-4924-afe8-bd7a0dcb0217",
        "name": "Step5",
        "parameters": {
          "jsCode": "return [{ json: { step: 5 } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          1100,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "pinData": null,
    "settings": {},
    "staticData": {},
    "updatedAt": "2026-07-14T20:33:03.699Z"
  },
  "workflowId": "eD0VYdkw8O0HoHgI"
}