server/tests/fixtures/executions/timeout/TIMEOUT-03.json
{
  "customData": {},
  "data": {
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {}
    },
    "resultData": {
      "lastNodeExecuted": "Slow Code",
      "runData": {
        "Slow Code": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "completed": true,
                      "waited_ms": 64000
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 1,
            "executionStatus": "success",
            "executionTime": 64035,
            "hints": [
              {
                "location": "outputPane",
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>"
              }
            ],
            "source": [
              {
                "previousNode": "Webhook"
              }
            ],
            "startTime": 1784061118750
          }
        ],
        "Webhook": [
          {
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "body": {
                        "trigger": true
                      },
                      "executionMode": "production",
                      "headers": {
                        "accept": "*/*",
                        "accept-encoding": "gzip, deflate, br, zstd",
                        "connection": "keep-alive",
                        "content-length": "16",
                        "content-type": "application/json",
                        "host": "localhost:5679",
                        "user-agent": "python-httpx/0.28.1"
                      },
                      "params": {},
                      "query": {},
                      "webhookUrl": "http://localhost:5678/webhook/to-5b4625-3"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            },
            "executionIndex": 0,
            "executionStatus": "success",
            "executionTime": 1,
            "hints": [],
            "source": [],
            "startTime": 1784061118749
          }
        ]
      }
    },
    "startData": {}
  },
  "finished": true,
  "id": "11",
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "startedAt": "2026-07-14T20:31:58.707Z",
  "stoppedAt": "2026-07-14T20:33:02.786Z",
  "waitTill": null,
  "workflow": {
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Slow Code",
              "type": "main"
            }
          ]
        ]
      }
    },
    "name": "TIMEOUT-03",
    "nodes": [
      {
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "path": "to-5b4625-3",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "to-5b4625-3"
      },
      {
        "name": "Slow Code",
        "parameters": {
          "jsCode": "await new Promise((r) => setTimeout(r, 64000));\nreturn [{ json: { waited_ms: 64000, completed: true } }];"
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "settings": {}
  },
  "workflowData": {
    "active": true,
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Slow Code",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2026-07-14T20:31:57.651Z",
    "id": "lVWxoD8bb2C0opz5",
    "name": "TIMEOUT-03",
    "nodes": [
      {
        "id": "99438f40-792f-4419-98d2-5f4c8c36197e",
        "name": "Webhook",
        "parameters": {
          "authentication": "none",
          "httpMethod": "POST",
          "multipleMethods": false,
          "options": {},
          "path": "to-5b4625-3",
          "responseData": "firstEntryJson",
          "responseMode": "lastNode"
        },
        "position": [
          0,
          0
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "to-5b4625-3"
      },
      {
        "id": "2f8cccf4-b6c6-45c5-8352-c142d8980ece",
        "name": "Slow Code",
        "parameters": {
          "jsCode": "await new Promise((r) => setTimeout(r, 64000));\nreturn [{ json: { waited_ms: 64000, completed: true } }];",
          "language": "javaScript",
          "mode": "runOnceForAllItems",
          "notice": ""
        },
        "position": [
          220,
          0
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "pinData": null,
    "settings": {},
    "staticData": {},
    "updatedAt": "2026-07-14T20:31:57.860Z"
  },
  "workflowId": "lVWxoD8bb2C0opz5"
}