eval/data/realworld/rw_033b575eda.json
{"id": "43", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:58:00.957Z", "startedAt": "2026-07-16T06:58:00.962Z", "stoppedAt": "2026-07-16T06:58:00.999Z", "deletedAt": null, "workflowId": "nc0MEItvEAbryJ9h", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 8620, "binaryDataSizeBytes": 0, "workflowVersionId": "da780ab3-27e7-4a6c-a63a-3e233cbd6182", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "warning", "shouldReport": true, "tags": {}, "timestamp": 1784185080997, "context": {}, "functionality": "regular", "name": "NodeOperationError", "node": {"id": "9dec6b1f-252e-4a92-b6d1-f7132f0aaa02", "name": "Validation Failed", "type": "n8n-nodes-base.stopAndError", "position": [576, -560], "parameters": {"errorType": "errorMessage", "errorMessage": "=The Webhook Secret was invalid in {{ $workflow.name }}."}, "typeVersion": 1}, "messages": [], "message": "The Webhook Secret was invalid in rw_033b575eda.", "stack": "NodeOperationError: The Webhook Secret was invalid in rw_033b575eda.\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/StopAndError/StopAndError.node.ts:91:9)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"\"Unprotected\" Webhook": [{"startTime": 1784185080972, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Secret valid?": [{"startTime": 1784185080973, "executionIndex": 1, "source": [{"previousNode": "\"Unprotected\" Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[], [{"json": {}, "pairedItem": {"item": 0}}]]}}], "Validation Failed": [{"startTime": 1784185080981, "executionIndex": 2, "source": [{"previousNode": "Secret valid?", "previousNodeOutput": 1, "previousNodeRun": 0}], "hints": [], "executionTime": 18, "executionStatus": "error", "error": {"level": "warning", "shouldReport": true, "tags": {}, "timestamp": 1784185080997, "context": {}, "functionality": "regular", "name": "NodeOperationError", "node": {"id": "9dec6b1f-252e-4a92-b6d1-f7132f0aaa02", "name": "Validation Failed", "type": "n8n-nodes-base.stopAndError", "position": [576, -560], "parameters": {"errorType": "errorMessage", "errorMessage": "=The Webhook Secret was invalid in {{ $workflow.name }}."}, "typeVersion": 1}, "messages": [], "message": "The Webhook Secret was invalid in rw_033b575eda.", "stack": "NodeOperationError: The Webhook Secret was invalid in rw_033b575eda.\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/StopAndError/StopAndError.node.ts:91:9)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Validation Failed"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "9dec6b1f-252e-4a92-b6d1-f7132f0aaa02", "name": "Validation Failed", "type": "n8n-nodes-base.stopAndError", "position": [576, -560], "parameters": {"errorType": "errorMessage", "errorMessage": "=The Webhook Secret was invalid in {{ $workflow.name }}."}, "typeVersion": 1}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Secret valid?", "previousNodeOutput": 1, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185080969, "source": "manual", "triggerNode": {"name": "\"Unprotected\" Webhook", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/DR2HC4mSlz9pzAD3WHhGaVmDNVTP/KOoykLRlIRG6FTpUWiVvj2pQw0UdQ+j9sjLNf8HnO2S7Idd2MfA6FRkLbOVW2XUx5J76PuUqRuXTJdZ51EUt3i/R8ytaF7zzOLaQNpm64f24ajsILT8SDzCSS6XdrqSiAc+qNzWf87Awn0S18SHj7ubf/BNNp1eyXo2A1LPe7a5yVrPwJF0I9wdYqYvmTmUAU5x2HKei0GkDMz53zcNX5S66Xb5pZvSrV35PiRcG5nro1etQXZk1OfXsw5wRiK/W8JM6Hg68iJvZ2cerJ/1K6j1V0X5HtErPUwlCtA70MqWsbBssIs8dpB4rhW0g8ER9YcPaKYaEQLrvYkkhUzyaLcGgfKTN2knktrDgSBOAd9+6BYnQsV20bEd0hrWz9kIqLJc="}}, "resumeToken": "76146ada8f526e88dfe9a0d30f8c230c9df2f6ef0318477ca390b60fa55b7629"}, "workflowData": {"id": "nc0MEItvEAbryJ9h", "name": "rw_033b575eda", "nodes": [{"id": "9dec6b1f-252e-4a92-b6d1-f7132f0aaa02", "name": "Validation Failed", "type": "n8n-nodes-base.stopAndError", "position": [576, -560], "parameters": {"errorType": "errorMessage", "errorMessage": "=The Webhook Secret was invalid in {{ $workflow.name }}."}, "typeVersion": 1}, {"id": "180d0b5b-7f4b-460f-856c-a9bf0f634b11", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [32, -928], "parameters": {"content": "## Webhook trigger\n- freely accessible in the internet if not protected\n- **SHOULD be protected** as good as possible for any serious n8n usage!!!\n", "height": 512, "width": 224, "color": 7}, "typeVersion": 1}, {"id": "b540cb57-6890-4b3a-aa98-b003a9004076", "name": "Sticky Note7", "type": "n8n-nodes-base.stickyNote", "position": [-48, -1104], "parameters": {"content": "# Example Setup\n- Simple initial steps to secure a webhook", "height": 784, "width": 1136, "color": 4}, "typeVersion": 1}, {"id": "395a2009-27f1-409e-8a0b-2c96ad7c973d", "name": "Secret valid?", "type": "n8n-nodes-base.if", "position": [368, -720], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "acef0d8a-e16e-44be-b8b4-97be4b160a1f", "operator": {"name": "filter.operator.equals", "type": "string", "operation": "equals"}, "leftValue": "={{ $json.query.secret }}", "rightValue": "=123"}]}, "looseTypeValidation": false, "options": {}}, "typeVersion": 2.2}, {"id": "51ae4f23-f8d5-4a45-976b-f41a3210496c", "name": "Do whatever your workflow is supposed to do", "type": "n8n-nodes-base.noOp", "position": [848, -736], "parameters": {}, "typeVersion": 1}, {"id": "2cd48180-08c6-4f10-ae4f-48b8e36e3ac4", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [320, -928], "parameters": {"content": "## Check if Secret is correct\n- **if valid:** proceed as normal\n- **if NOT valid:** stop workflow with error \n(alternatively you can just ignore this case)", "height": 512, "width": 416, "color": 7}, "typeVersion": 1}, {"id": "8bcd9b25-ce98-4080-b5c3-5c6e77d37cea", "name": "\"Unprotected\" Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [96, -720], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "4f6d4878-e895-4342-a7e9-02ba81c39774", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [-832, -1104], "parameters": {"content": "# \ud83d\ude80 Start Here\n## What are webhooks?\n\nWebhooks are special URLs that instantly trigger workflows when they receive an incoming HTTP request (like GET or POST). They're perfect for connecting external tools to n8n in real time.\n\n## \ud83d\udd10 Why webhooks should be protected\nUnprotected webhooks are publicly accessible on the internet \u2014 anyone with the link can trigger your workflow. This can lead to spam, unwanted requests, or even data loss.\n\n## \u2705 Best Practice: Use built-in Authentication\nn8n provides native authentication options for webhook nodes:\n- Basic Auth\n- Header Auth\n- JWT Auth\n\nThese methods are **highly recommended if supported by your external app or service**. You can find them in the \u201cAuthentication\u201d dropdown of the webhook node.\n\n## \ud83d\udee0\ufe0f When to use THIS SETUP\nSometimes, external tools don\u2019t support custom headers or advanced auth methods \u2014 for example:\n- A button click in Google Sheets\n- A link shared via email or chat with a trusted partner\n- IoT devices or basic web apps\n\nIn those cases, you can protect a webhook by adding a secret query parameter (e.g. ?secret=abc123xyz456...) and validating it with an IF node at the start of your workflow. \n\n**This way, only those requests with the secret can trigger the core elements of your workflow.**\n\nIt's a simple yet powerful way to secure GET-based workflows. Only use if better methods aren't available.", "height": 784, "width": 736, "color": 1}, "typeVersion": 1}], "connections": {"Secret valid?": {"main": [[{"node": "Do whatever your workflow is supposed to do", "type": "main", "index": 0}], [{"node": "Validation Failed", "type": "main", "index": 0}]]}, "\"Unprotected\" Webhook": {"main": [[{"node": "Secret valid?", "type": "main", "index": 0}]]}}, "settings": {"callerPolicy": "workflowsFromSameOwner", "errorWorkflow": "YEvXt4fjXiqx3zZt", "executionOrder": "v1", "executionTimeout": 180, "timeSavedPerExecution": 1}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/03956-Secure-GET-webhooks-with-query-parameter-validation-for-limited-authentication.json"}