eval/data/realworld/rw_0bf6d08585.json
{"id": "76", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:58.316Z", "startedAt": "2026-07-16T06:58:58.321Z", "stoppedAt": "2026-07-16T06:58:58.357Z", "deletedAt": null, "workflowId": "kBbuML40zsip6b8N", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 5885, "binaryDataSizeBytes": 0, "workflowVersionId": "a3860adf-d8a7-4274-a9b4-d3a24dd5ba39", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Start": [{"startTime": 1784185138329, "executionIndex": 0, "source": [], "hints": [], "executionTime": 2, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Handle JSON data": [{"startTime": 1784185138332, "executionIndex": 1, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 10, "executionStatus": "success", "data": {"main": [[{"json": {"arr": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "str": "Testing Function Item node", "num": 1337, "obj": {"attr1": "Testing", "attr2": [1, 2, 3, 4, 5], "attr3": 7331, "attr4": {"subattr1": "Test", "subattr2": [1, 2, 3], "subattr3": 8, "subattr4": {}}}}, "pairedItem": {"item": 0}}]]}}], "Handle Binary data": [{"startTime": 1784185138342, "executionIndex": 2, "source": [{"previousNode": "Handle JSON data", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"arr": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "str": "Testing Function Item node", "num": 1337, "obj": {"attr1": "Testing", "attr2": [1, 2, 3, 4, 5], "attr3": 7331, "attr4": {"subattr1": "Test", "subattr2": [1, 2, 3], "subattr3": 8, "subattr4": {}}}, "binaryData": "NIL"}, "pairedItem": {"item": 0}, "binary": {"data": {"data": "SGVsbG8gZnJvbSBuOG4gRnVuY3Rpb24gaXRlbSB0ZXN0aW5nIHdvcmtmbG93", "mimeType": "text", "fileExtension": "text", "fileName": "testfile"}}}]]}}], "Handle Static data": [{"startTime": 1784185138349, "executionIndex": 3, "source": [{"previousNode": "Handle Binary data", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"arr": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "str": "Testing Function Item node", "num": 1337, "obj": {"attr1": "Testing", "attr2": [1, 2, 3, 4, 5], "attr3": 7331, "attr4": {"subattr1": "Test", "subattr2": [1, 2, 3], "subattr3": 8, "subattr4": {}}}, "binaryData": "NIL", "globalStaticMessage": "Hello, Global Static Data", "nodeStaticMessage": "Hello, Node Static Data"}, "pairedItem": {"item": 0}, "binary": {"data": {"data": "SGVsbG8gZnJvbSBuOG4gRnVuY3Rpb24gaXRlbSB0ZXN0aW5nIHdvcmtmbG93", "mimeType": "text", "fileExtension": "text", "fileName": "testfile"}}}]]}}]}, "pinData": null, "lastNodeExecuted": "Handle Static data"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185138327, "source": "manual", "triggerNode": {"name": "Start", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/mGtc2LFFy8Xw0nmWL6lW75yDGfnpynULuz3HtCSMYByF5TXwhH2V/0bS3O2bTWmqXkuAy3mWCp5+Lx68uFWGQhleho5P9IMJiYEgf/JOjGsHHikZ4nzzT4v6LoeWEv1nxZ5wOEzTsBAaXrIBBNa2JxqJkbqgbOjFBhl6CRndnjV/uT1Y/Kthqer37x8lR3duZRnrVDfTX/X8Sw3OD21KHdAbbux5dniDr/jTsM4MBPmU+zeETr8sBZ6+MMIy//pGqqGDNv9EqlPTASNnKEStg5E87FczrfLI8RqhcNoIEfd4a9xuTjeu4fLPgdKJhOiIRsUmo3dvTsuAzo0s377GWIeqLdLm58G7Jugsp1j9WtXFpKkTXWjdV34Bna52J51SunHpFs+t6dbPT90EksD1Z8SeO3+hQ+gI="}}, "resumeToken": "d341e88b6a3fcfa108270f6517c41f4602cc13df34bc901c836f436f13ba899b"}, "workflowData": {"id": "kBbuML40zsip6b8N", "name": "rw_0bf6d08585", "nodes": [{"parameters": {"notice": ""}, "name": "Start", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [250, 300], "id": "83a507fd-bf96-45fd-8513-1c0ef484ec76"}, {"parameters": {"notice": "", "functionCode": "// interact with item JSON attributes\n\n// array\nitem.arr = [1,2,3,4,5,6,7,8,9,10]\n// string\nitem.str= \"Testing Function Item node\"\n// number\nitem.num = 1337 \n// object\nitem.obj = {\n  attr1: \"Testing\",\n  attr2: [1,2,3,4,5],\n  attr3: 7331,\n  attr4: {\n    subattr1: \"Test\",\n    subattr2: [1,2,3],\n    subattr3: 8,\n    subattr4: {\n    }\n  }\n};\n\nreturn item;"}, "name": "Handle JSON data", "type": "n8n-nodes-base.functionItem", "typeVersion": 1, "position": [450, 300], "id": "2f7fca94-f885-4f41-90e0-5455afe8266d"}, {"parameters": {"notice": "", "functionCode": "// interact with item Binary data\n\nitem.binaryData = getBinaryData() ?? 'NIL' ;\n\nbinaryData = {\n      data: {\n\t\t\t\tdata: 'SGVsbG8gZnJvbSBuOG4gRnVuY3Rpb24gaXRlbSB0ZXN0aW5nIHdvcmtmbG93', // Base64 encoded binary data (required)\n\t\t\t\tmimeType: 'text', // Optional but should be set if possible (optional)\n\t\t\t\tfileExtension: 'text', // Optional but should be set if possible (optional)\n\t\t\t\tfileName: 'testfile', // Optional but should be set if possible (optional)\n\t\t\t}\n}\nsetBinaryData(binaryData);\n\n\nreturn item;"}, "name": "Handle Binary data", "type": "n8n-nodes-base.functionItem", "typeVersion": 1, "position": [650, 300], "id": "28f7d4f0-a2d7-46d5-8683-4f624588fc32"}, {"parameters": {"notice": "", "functionCode": "// interact with static data\n\n\n// Global\n\nconst GSD = getWorkflowStaticData('global');\n\nif ( GSD && GSD.message ){\n  console.log(GSD);\n} else {\n  GSD.message = \"Hello, Global Static Data\";\n}\n\n// Local (node)\n\nconst LSD = getWorkflowStaticData('node');\n\nif ( LSD && LSD.message ){\n  console.log(LSD);\n} else {\n  LSD.message = \"Hello, Node Static Data\";\n}\n\nitem.globalStaticMessage = GSD.message;\nitem.nodeStaticMessage = LSD.message;\n\n\nreturn item;"}, "name": "Handle Static data", "type": "n8n-nodes-base.functionItem", "typeVersion": 1, "position": [850, 300], "id": "8794c6b1-1149-4b6d-96cb-0e3d5fd0ffbd"}], "connections": {"Start": {"main": [[{"node": "Handle JSON data", "type": "main", "index": 0}]]}, "Handle JSON data": {"main": [[{"node": "Handle Binary data", "type": "main", "index": 0}]]}, "Handle Binary data": {"main": [[{"node": "Handle Static data", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/n8n-io_test-workflows/workflows/216.json"}