eval/data/realworld/rw_09c44b9df4.json
{"id": "51", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:14.680Z", "startedAt": "2026-07-16T06:58:14.689Z", "stoppedAt": "2026-07-16T06:58:14.717Z", "deletedAt": null, "workflowId": "lQGXx7Lx0JUwOutA", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 4371, "binaryDataSizeBytes": 0, "workflowVersionId": "7eac6c05-d0e8-4c94-a9a5-29b3d1cba06b", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Receive Timestamp Webhook": [{"startTime": 1784185094706, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Convert to ISO 8601": [{"startTime": 1784185094707, "executionIndex": 1, "source": [{"previousNode": "Receive Timestamp Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"convertedTime": null}, "pairedItem": {"item": 0}}]]}}], "Respond with Converted Time": [{"startTime": 1784185094717, "executionIndex": 2, "source": [{"previousNode": "Convert to ISO 8601", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Respond with Converted Time"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185094703, "source": "manual", "triggerNode": {"name": "Receive Timestamp Webhook", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19/gsc1jglzBfhHbdwPRundb2qrhh2VMT0QTovdGJlvIyAEETlpSd/DSgwkcD6RRe6Wg6MLPoOsUbHWiExQOsh+xqg1Z2PBHd68/mFSYK7n9oUIJZwmB/0v3NTEJ47JW5p220YdR6CaN7zUrKQ7Zg9ajmz+6JntInzuL6Sbx0oYUZSP5fnehSED+zknbAchVmU15MJw4M84QP2i18p0qd/+rwJZGEX4OJnnhLLrXNXvILvnSX0SCpKVo/3DwopCOz8Xddb6xCsQS8qT1rwyAaeI7WkkgO9z/0NmdCx0RN2dY5iZ1nNhqWIsryFjf+Hb9wkL+Bs5RJ9rpOWhbzznRGRHA8fZkZ2/hzyKKu3Wxw1YknlAcPt4sqptjlUTr6n3FGxUQA/35Zd1cfIIpDxraGHeLHhj5jZUNKo="}}, "resumeToken": "3a7a35ef6b8b29e6cdec747cc34b55576e77d922497a930a14e7e0e2fb647e27"}, "workflowData": {"id": "lQGXx7Lx0JUwOutA", "name": "rw_09c44b9df4", "nodes": [{"id": "9842c1bc-2ec3-467c-93d4-5ca7366b666a", "name": "Note: Webhook Input", "type": "n8n-nodes-base.stickyNote", "position": [720, -60], "parameters": {"content": "This node listens for incoming POST requests. It expects a JSON body with a single property: 'timestamp' (a Unix timestamp in seconds, e.g., 1678886400 for March 15, 2023, 12:00:00 AM UTC).", "height": 320, "width": 300, "color": 1}, "typeVersion": 1}, {"id": "424230de-0342-4d07-baae-8eece921d9b5", "name": "Note: Conversion Logic", "type": "n8n-nodes-base.stickyNote", "position": [1060, -60], "parameters": {"content": "This node takes the 'timestamp' from the webhook, multiplies it by 1000 (to convert seconds to milliseconds), and then converts it to an ISO 8601 formatted string (e.g., '2023-03-15T00:00:00.000Z'). This new string is added as 'convertedTime'.", "height": 320, "width": 300, "color": 2}, "typeVersion": 1}, {"id": "2a945204-1f21-48ed-baac-ac7f0c14424f", "name": "Note: Webhook Response", "type": "n8n-nodes-base.stickyNote", "position": [1400, -60], "parameters": {"content": "This node sends the 'convertedTime' back as the response to the original webhook caller. It's the final output of the workflow.", "height": 320, "width": 260, "color": 3}, "typeVersion": 1}, {"id": "fe220a53-89d9-4ab0-ab22-67604c27c413", "name": "Receive Timestamp Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [820, 100], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "a7d7236a-1ee4-4432-bbd6-714f69c7049b", "name": "Convert to ISO 8601", "type": "n8n-nodes-base.set", "position": [1160, 100], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "a5991bc4-428d-4f2e-8c94-8943d90eac3d", "name": "convertedTime", "type": "string", "value": "={{ new Date($json.body.timestamp * 1000).toISOString() }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "08ebbb83-e4b0-41c2-9390-3a03b31f5396", "name": "Respond with Converted Time", "type": "n8n-nodes-base.manualTrigger", "position": [1480, 100], "parameters": {"notice": ""}, "typeVersion": 1}], "connections": {"Convert to ISO 8601": {"main": [[{"node": "Respond with Converted Time", "type": "main", "index": 0}]]}, "Receive Timestamp Webhook": {"main": [[{"node": "Convert to ISO 8601", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/06065-Unix-timestamp-to-ISO-date-converter.json"}