eval/data/realworld/rw_2c7a33099f.json
{"id": "25", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:57:32.803Z", "startedAt": "2026-07-16T06:57:32.810Z", "stoppedAt": "2026-07-16T06:57:32.843Z", "deletedAt": null, "workflowId": "n1BulKSRTNvmC61W", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 10284, "binaryDataSizeBytes": 0, "workflowVersionId": "d4d38371-53ee-4538-8536-de8d2b9d9c25", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "info", "shouldReport": false, "description": "Internal mode is intended only for debugging. For production, deploy in external mode: https://docs.n8n.io/hosting/configuration/task-runners/#setting-up-external-mode", "tags": {}, "message": "Python runner unavailable: Python 3 is missing from this system", "stack": "Error: Python runner unavailable: Python 3 is missing from this system\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:222:11)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"When clicking \u2018Test workflow\u2019": [{"startTime": 1784185052820, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "EXAMPLE FIELDS": [{"startTime": 1784185052820, "executionIndex": 1, "source": [{"previousNode": "When clicking \u2018Test workflow\u2019", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 3, "executionStatus": "success", "data": {"main": [[{"json": {"code_to_verify_example": "516620", "totp_secret_example": "CNSUKUMZLQJEZJ3"}, "pairedItem": {"item": 0}}]]}}], "TOTP VALIDATION": [{"startTime": 1784185052823, "executionIndex": 2, "source": [{"previousNode": "EXAMPLE FIELDS", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 20, "executionStatus": "error", "error": {"level": "info", "shouldReport": false, "description": "Internal mode is intended only for debugging. For production, deploy in external mode: https://docs.n8n.io/hosting/configuration/task-runners/#setting-up-external-mode", "tags": {}, "message": "Python runner unavailable: Python 3 is missing from this system", "stack": "Error: Python runner unavailable: Python 3 is missing from this system\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:222:11)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "TOTP VALIDATION"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "4f562819-ee42-42ad-b821-aff2cbebbc0f", "name": "TOTP VALIDATION", "type": "n8n-nodes-base.code", "position": [920, 680], "parameters": {"mode": "runOnceForAllItems", "language": "python", "pythonCode": "import hmac\nimport hashlib\nimport time\nimport base64\n\ndef base32_decode(key):\n    \"\"\"Decodes a base32 key into bytes\"\"\"\n    key += '=' * (-len(key) % 8)  # Add necessary '=' for valid length\n    return base64.b32decode(key.upper(), casefold=True)\n\ndef generate_totp(secret, interval=30, digits=6):\n    \"\"\"Generates a TOTP code based on a secret key\"\"\"\n    interval_count = int(time.time() // interval)\n    interval_bytes = interval_count.to_bytes(8, byteorder='big')\n\n    hmac_hash = hmac.new(secret, interval_bytes, hashlib.sha1).digest()\n    \n    offset = hmac_hash[-1] & 0x0F\n    binary_code = ((hmac_hash[offset] & 0x7F) << 24 |\n                   (hmac_hash[offset + 1] & 0xFF) << 16 |\n                   (hmac_hash[offset + 2] & 0xFF) << 8 |\n                   (hmac_hash[offset + 3] & 0xFF))\n    \n    otp_code = binary_code % (10 ** digits)\n    \n    # Format with leading zeros if necessary\n    otp_code_str = str(otp_code).zfill(digits)\n    \n    return otp_code_str\n\ndef verify_totp(secret, code, interval=30, digits=6):\n    \"\"\"Checks whether the TOTP code is valid\"\"\"\n    secret_bytes = base32_decode(secret)\n    generated_code = generate_totp(secret_bytes, interval, digits)\n    \n    return generated_code == code\n\n# Example of use\nsecret = _input.item.json.totp_secret_example  # Secret key base32 (example)\ncode =  _input.item.json.code_to_verify_example # Code to check (example)\n\n# Return 1 if code is valid. Return 0 if invalid\nif verify_totp(secret, code):\n    return [{\"status\": 1}]\nelse:\n    return [{\"status\": 0}]", "notice": ""}, "typeVersion": 2}, "data": {"main": [[{"json": {"code_to_verify_example": "516620", "totp_secret_example": "CNSUKUMZLQJEZJ3"}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "EXAMPLE FIELDS", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185052817, "source": "manual", "triggerNode": {"name": "When clicking \u2018Test workflow\u2019", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+JwAag1gIpqL3ovCcEDuEMx9rK0iaH/2x3DwXBfjGTItG6ZeVEcJGIH3AxeVc/o4aC2jGLOZqaKDYL6DG+Uqbe+NOjnfdXYy56fmoCHj9kP3bLw3Mbo2teGUdoSh3yfy4dXQrVvtvs9bk2kTAmriQWNMjMeZx9YQwerVbeAVBh5gVaYK/BVfOffSpcLh3GddGh7Dh1IWAIio7BuhB0qxewx6k4Q3dTragAHR9a6vaPzjrOUNBk8lhKhqDo3L7wWYkMq4RFgd6O3hsdeCK2XHb2GAqGFhgRtDd72j0hG9clYlClYwbBUsdjF/UTkKzctjR51J1L/TUNjQIrXxqMJ2Qi7ViF+6AS9jWx1SM28Y6v7hc918kdMOY6HEz6aK23JvlmyaMGkKiR4wvL4PqD94fXBLORRpwpwCg="}}, "resumeToken": "c82465e94ec46e8fa67789eaf53b3d1d926f583d58a9d1f193df101fca4f4ace"}, "workflowData": {"id": "n1BulKSRTNvmC61W", "name": "rw_2c7a33099f", "nodes": [{"id": "56f102c4-5b84-4e30-955c-0ea1221c328f", "name": "When clicking \u2018Test workflow\u2019", "type": "n8n-nodes-base.manualTrigger", "position": [480, 680], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "4f562819-ee42-42ad-b821-aff2cbebbc0f", "name": "TOTP VALIDATION", "type": "n8n-nodes-base.code", "position": [920, 680], "parameters": {"mode": "runOnceForAllItems", "language": "python", "pythonCode": "import hmac\nimport hashlib\nimport time\nimport base64\n\ndef base32_decode(key):\n    \"\"\"Decodes a base32 key into bytes\"\"\"\n    key += '=' * (-len(key) % 8)  # Add necessary '=' for valid length\n    return base64.b32decode(key.upper(), casefold=True)\n\ndef generate_totp(secret, interval=30, digits=6):\n    \"\"\"Generates a TOTP code based on a secret key\"\"\"\n    interval_count = int(time.time() // interval)\n    interval_bytes = interval_count.to_bytes(8, byteorder='big')\n\n    hmac_hash = hmac.new(secret, interval_bytes, hashlib.sha1).digest()\n    \n    offset = hmac_hash[-1] & 0x0F\n    binary_code = ((hmac_hash[offset] & 0x7F) << 24 |\n                   (hmac_hash[offset + 1] & 0xFF) << 16 |\n                   (hmac_hash[offset + 2] & 0xFF) << 8 |\n                   (hmac_hash[offset + 3] & 0xFF))\n    \n    otp_code = binary_code % (10 ** digits)\n    \n    # Format with leading zeros if necessary\n    otp_code_str = str(otp_code).zfill(digits)\n    \n    return otp_code_str\n\ndef verify_totp(secret, code, interval=30, digits=6):\n    \"\"\"Checks whether the TOTP code is valid\"\"\"\n    secret_bytes = base32_decode(secret)\n    generated_code = generate_totp(secret_bytes, interval, digits)\n    \n    return generated_code == code\n\n# Example of use\nsecret = _input.item.json.totp_secret_example  # Secret key base32 (example)\ncode =  _input.item.json.code_to_verify_example # Code to check (example)\n\n# Return 1 if code is valid. Return 0 if invalid\nif verify_totp(secret, code):\n    return [{\"status\": 1}]\nelse:\n    return [{\"status\": 0}]", "notice": ""}, "typeVersion": 2}, {"id": "9760b31c-5ba8-4001-9cbe-2be2ae58d58e", "name": "IF CODE IS VALID", "type": "n8n-nodes-base.if", "position": [1140, 680], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "combinator": "and", "conditions": [{"id": "470cf368-daee-4136-b907-a3539765871d", "operator": {"type": "number", "operation": "equals"}, "leftValue": "={{ $json.status }}", "rightValue": 1}]}, "looseTypeValidation": false, "options": {}}, "typeVersion": 2.1}, {"id": "3a029863-8fd0-42ef-b8ff-9f7cdf6e8d94", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [440, 180], "parameters": {"content": "## TOTP Validation with Function Node\n\nThis template allows you to verify if a 6-digit TOTP code is valid using the corresponding TOTP secret. It can be used in an authentication system.\n### Example usage:\n- You retrieve the user's TOTP secret from a database, then you want to verify if the 2FA code provided by the user is valid.\n\n## Setup Guidelines\n\nYou only need the \"TOTP VALIDATION\" node.\nYou will need to modify lines 39 and 40 of the \"TOTP VALIDATION\" node with the correct values for your specific context.\n\n## Testing the Template\nYou can define a sample secret and code in the \"EXAMPLE FIELDS\" node below, then click \"Test Workflow\".\nIf the code is valid for the provided secret, the flow will proceed to the \"true\" branch of the \"IF CODE IS VALID\" node. Otherwise, it will go to the \"false\" branch.", "height": 430, "width": 883, "color": 1}, "typeVersion": 1}, {"id": "f660a50f-2c33-49bb-b975-8d51e9bf24ed", "name": "EXAMPLE FIELDS", "type": "n8n-nodes-base.set", "position": [700, 680], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "03a66bf9-1bf4-44c0-92e0-edd45929e467", "name": "code_to_verify_example", "type": "string", "value": "516620"}, {"id": "7bb18b0a-1851-4f27-a91f-5f93b663cfd0", "name": "totp_secret_example", "type": "string", "value": "CNSUKUMZLQJEZJ3"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}], "connections": {"EXAMPLE FIELDS": {"main": [[{"node": "TOTP VALIDATION", "type": "main", "index": 0}]]}, "TOTP VALIDATION": {"main": [[{"node": "IF CODE IS VALID", "type": "main", "index": 0}]]}, "When clicking \u2018Test workflow\u2019": {"main": [[{"node": "EXAMPLE FIELDS", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00407-n8n-totp-authentication.json"}