eval/data/realworld/rw_2eb18f5a43.json
{"id": "17", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:19.096Z", "startedAt": "2026-07-16T06:57:19.101Z", "stoppedAt": "2026-07-16T06:57:19.111Z", "deletedAt": null, "workflowId": "dc7GCLVXUUEe2BM2", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 2401, "binaryDataSizeBytes": 0, "workflowVersionId": "2d59c44e-f397-477b-aec2-58053abbca33", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185039109, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set": [{"startTime": 1784185039110, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"boolean": true, "number": 20, "string": "From n8n with love"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Set"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185039107, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+kvngJNRsQL0bTKEG856gA9V2QpWf2pLE4IYrAlGphCqZYmoekaOTKVmv8jLDUAHb5OUeqraC+oMsktXKRlPE5DOgxM/Cq1l5AHXyevlvxdt9CoFp78q3zxRVM0+toZBpcd3mApHb6gQzkPhARlmOlmOQQMIZ1vGK7pWMBcH4sBjf7M4vBbRXPuej+3QhRb5WSVc915ebiigMH5nQU7acQc5pmK3CY8l53xfVkDSyU/CibVpmQRR4GiUjvfJmYUW2pEnuiCWVRXQjbHQTcJCk4+LHl+t4iKbQOcLB1QlD+9XXrM04X3j628P3gpEEc2en16DJMx68QiQmD0D+dvgepBrh9a3FfLGxmV6nSCeX98r0Qae9puOIaHKndmnUsuoUfkC1QPTxI3sKwx+u7jEA5F9n9Eu9+VV0="}}, "resumeToken": "85ee858d9589ae3db6f9471ac7bf0ec976745c48ed7c06a928f9c0597542de55"}, "workflowData": {"id": "dc7GCLVXUUEe2BM2", "name": "rw_2eb18f5a43", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "c43639d4-7431-4c4e-ba5c-0eb3693d17f5"}, {"name": "Set", "type": "n8n-nodes-base.set", "position": [450, 300], "parameters": {"keepOnlySet": false, "values": {"number": [{"name": "number", "value": 20}], "string": [{"name": "string", "value": "From n8n with love"}], "boolean": [{"name": "boolean", "value": true}]}, "options": {}}, "typeVersion": 1, "id": "aaadea46-15c0-4041-9e74-3560bce3574e"}], "connections": {"On clicking 'execute'": {"main": [[{"node": "Set", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00147-set-variables-flujo.json"}