eval/data/realworld/rw_297ec57faa.json
{"id": "80", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:59:05.052Z", "startedAt": "2026-07-16T06:59:05.055Z", "stoppedAt": "2026-07-16T06:59:05.068Z", "deletedAt": null, "workflowId": "VYgH4Dp7ive4H02f", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 2989, "binaryDataSizeBytes": 0, "workflowVersionId": "e11e34ad-5337-4cb9-ad90-281a1359ba7c", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Start": [{"startTime": 1784185145060, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set": [{"startTime": 1784185145061, "executionIndex": 1, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"name": "test"}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185145061, "executionIndex": 2, "source": [{"previousNode": "Set", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"name": "test"}, "pairedItem": {"item": 0}, "index": 0}]]}}]}, "pinData": null, "lastNodeExecuted": "Function"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185145059, "source": "manual", "triggerNode": {"name": "Start", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/1VMDnhqMUBGCsQADQYlR9+NQpO/yV7X1noRngsIWs7/K6qGp2KD8MuD5VqBymwQdusaUNkwK4749dHRPAHJUXvneV7Ud9IUeiUBbDMef5q3gRwdLKBx0/xa/DclgNHAYAx4MDN4OwkcrMeL829Gvzpc2WwF+34mIYi0ce7m9xfdXNkv4XKZjlTt/oXODuecS36ZszDDKoelB341TgUf0K5JvnpKLnULqB513DOfSline5q5SqPRuyDiXe7iAU/ZbEHfH8x8t3uiO4h2j7OaIuTZkJee99rNxBxCXX/gYp0kthXpNsuCstfiLKGTMPGWqBw4DDgM4+F1poQgkRzhlp5StWfP7/kTp3AEK7jTT8SQ4acOZ6lTZu6bNUvjICQU01Ruw3hceseIZRD934ryqsgDo4OVhvVEE="}}, "resumeToken": "f6dd8b468e7591e1e1216dc48f9704c8d01b5a02389438ed26c2c835d283bc71"}, "workflowData": {"id": "VYgH4Dp7ive4H02f", "name": "rw_297ec57faa", "nodes": [{"parameters": {"notice": ""}, "name": "Start", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [250, 300], "id": "32be2fcf-b143-442e-877f-96b51b0b5148"}, {"parameters": {"keepOnlySet": false, "values": {"string": [{"name": "name", "value": "test"}]}, "options": {}}, "name": "Set", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [430, 300], "id": "17c6fa30-1a0e-4d29-8c73-ef9357d5f877"}, {"parameters": {"notice": "", "functionCode": "testData =  JSON.stringify({\n  name: \"test\"\n});\n\nif(JSON.stringify($node['Set'].json)!==testData){\n  throw new Error('Error in Set node');\n}\nreturn items;"}, "name": "Function", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [600, 300], "notesInFlow": true, "notes": "Verify the result of set node", "id": "c6e9a289-5551-4db5-8d32-a11953bc92d6"}], "connections": {"Set": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}, "Start": {"main": [[{"node": "Set", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/n8n-io_test-workflows/workflows/95.json"}