eval/data/realworld/rw_281b1e3e33.json
{"id": "64", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:38.187Z", "startedAt": "2026-07-16T06:58:38.203Z", "stoppedAt": "2026-07-16T06:58:38.502Z", "deletedAt": null, "workflowId": "udFFzYMXhlcxRITG", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 19219, "binaryDataSizeBytes": 0, "workflowVersionId": "e96321aa-4ad3-452f-828d-85e72318d3ab", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185118225, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Code": [{"startTime": 1784185118227, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 37, "executionStatus": "success", "data": {"main": [[{"json": {"firsname": "Name 1", "lastname": "Surname 1", "occupation": "Job 1"}, "pairedItem": {"item": 0}}, {"json": {"firsname": "Name 2", "lastname": "Surname 2", "occupation": "Job 2"}, "pairedItem": {"item": 0}}, {"json": {"firsname": "Name 3", "lastname": "Surname 3", "occupation": "Job 3"}, "pairedItem": {"item": 0}}]]}}], "Firstname1": [{"startTime": 1784185118266, "executionIndex": 2, "source": [{"previousNode": "Code", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 34, "executionStatus": "success", "data": {"main": [[{"json": {"firsname": "Name 1"}, "pairedItem": {"item": 0}}, {"json": {"firsname": "Name 2"}, "pairedItem": {"item": 1}}, {"json": {"firsname": "Name 3"}, "pairedItem": {"item": 2}}]]}}], "Lastname": [{"startTime": 1784185118303, "executionIndex": 3, "source": [{"previousNode": "Code", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 30, "executionStatus": "success", "data": {"main": [[{"json": {"lastname": "Surname 1"}, "pairedItem": {"item": 0}}, {"json": {"lastname": "Surname 2"}, "pairedItem": {"item": 1}}, {"json": {"lastname": "Surname 3"}, "pairedItem": {"item": 2}}]]}}], "Merge": [{"startTime": 1784185118334, "executionIndex": 4, "source": [{"previousNode": "Firstname1", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Lastname", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 6, "executionStatus": "success", "data": {"main": [[{"json": {"firsname": "Name 1", "lastname": "Surname 1"}, "binary": {}, "pairedItem": [{"item": 0}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 2"}, "binary": {}, "pairedItem": [{"item": 0}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 3"}, "binary": {}, "pairedItem": [{"item": 0}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 1"}, "binary": {}, "pairedItem": [{"item": 1}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 2"}, "binary": {}, "pairedItem": [{"item": 1}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 3"}, "binary": {}, "pairedItem": [{"item": 1}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 1"}, "binary": {}, "pairedItem": [{"item": 2}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 2"}, "binary": {}, "pairedItem": [{"item": 2}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 3"}, "binary": {}, "pairedItem": [{"item": 2}, {"item": 2, "input": 1}]}]]}}], "Occupation": [{"startTime": 1784185118342, "executionIndex": 5, "source": [{"previousNode": "Code", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 46, "executionStatus": "success", "data": {"main": [[{"json": {"occupation": "Job 1"}, "pairedItem": {"item": 0}}, {"json": {"occupation": "Job 2"}, "pairedItem": {"item": 1}}, {"json": {"occupation": "Job 3"}, "pairedItem": {"item": 2}}]]}}], "Merge1": [{"startTime": 1784185118389, "executionIndex": 6, "source": [{"previousNode": "Merge", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Occupation", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 5, "executionStatus": "success", "data": {"main": [[{"json": {"firsname": "Name 1", "lastname": "Surname 1", "occupation": "Job 1"}, "binary": {}, "pairedItem": [{"item": 0}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 1", "occupation": "Job 2"}, "binary": {}, "pairedItem": [{"item": 0}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 1", "occupation": "Job 3"}, "binary": {}, "pairedItem": [{"item": 0}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 2", "occupation": "Job 1"}, "binary": {}, "pairedItem": [{"item": 1}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 2", "occupation": "Job 2"}, "binary": {}, "pairedItem": [{"item": 1}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 2", "occupation": "Job 3"}, "binary": {}, "pairedItem": [{"item": 1}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 1"}, "binary": {}, "pairedItem": [{"item": 2}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 2"}, "binary": {}, "pairedItem": [{"item": 2}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 3"}, "binary": {}, "pairedItem": [{"item": 2}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 1"}, "binary": {}, "pairedItem": [{"item": 3}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 2"}, "binary": {}, "pairedItem": [{"item": 3}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 3"}, "binary": {}, "pairedItem": [{"item": 3}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 2", "occupation": "Job 1"}, "binary": {}, "pairedItem": [{"item": 4}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 2", "occupation": "Job 2"}, "binary": {}, "pairedItem": [{"item": 4}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 2", "occupation": "Job 3"}, "binary": {}, "pairedItem": [{"item": 4}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 3", "occupation": "Job 1"}, "binary": {}, "pairedItem": [{"item": 5}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 3", "occupation": "Job 2"}, "binary": {}, "pairedItem": [{"item": 5}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 2", "lastname": "Surname 3", "occupation": "Job 3"}, "binary": {}, "pairedItem": [{"item": 5}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 1"}, "binary": {}, "pairedItem": [{"item": 6}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 2"}, "binary": {}, "pairedItem": [{"item": 6}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 3"}, "binary": {}, "pairedItem": [{"item": 6}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 2", "occupation": "Job 1"}, "binary": {}, "pairedItem": [{"item": 7}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 2", "occupation": "Job 2"}, "binary": {}, "pairedItem": [{"item": 7}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 2", "occupation": "Job 3"}, "binary": {}, "pairedItem": [{"item": 7}, {"item": 2, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 3", "occupation": "Job 1"}, "binary": {}, "pairedItem": [{"item": 8}, {"item": 0, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 3", "occupation": "Job 2"}, "binary": {}, "pairedItem": [{"item": 8}, {"item": 1, "input": 1}]}, {"json": {"firsname": "Name 3", "lastname": "Surname 3", "occupation": "Job 3"}, "binary": {}, "pairedItem": [{"item": 8}, {"item": 2, "input": 1}]}]]}}], "Random": [{"startTime": 1784185118394, "executionIndex": 7, "source": [{"previousNode": "Merge1", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 20, "executionStatus": "success", "data": {"main": [[{"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 18}}, {"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 19}}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 8}}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 11}}, {"json": {"firsname": "Name 3", "lastname": "Surname 3", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 25}}, {"json": {"firsname": "Name 3", "lastname": "Surname 2", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 22}}, {"json": {"firsname": "Name 2", "lastname": "Surname 2", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 13}}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 10}}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 7}}, {"json": {"firsname": "Name 2", "lastname": "Surname 3", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 17}}, {"json": {"firsname": "Name 3", "lastname": "Surname 3", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 26}}, {"json": {"firsname": "Name 1", "lastname": "Surname 2", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 3}}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 9}}, {"json": {"firsname": "Name 2", "lastname": "Surname 3", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 16}}, {"json": {"firsname": "Name 1", "lastname": "Surname 1", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 2}}, {"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 20}}, {"json": {"firsname": "Name 1", "lastname": "Surname 1", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 1}}, {"json": {"firsname": "Name 1", "lastname": "Surname 2", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 5}}, {"json": {"firsname": "Name 3", "lastname": "Surname 3", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 24}}, {"json": {"firsname": "Name 2", "lastname": "Surname 2", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 14}}, {"json": {"firsname": "Name 1", "lastname": "Surname 2", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 4}}, {"json": {"firsname": "Name 3", "lastname": "Surname 2", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 21}}, {"json": {"firsname": "Name 3", "lastname": "Surname 2", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 23}}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 6}}, {"json": {"firsname": "Name 2", "lastname": "Surname 3", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 15}}, {"json": {"firsname": "Name 1", "lastname": "Surname 1", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 0}}, {"json": {"firsname": "Name 2", "lastname": "Surname 2", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 12}}]]}}], "Limit": [{"startTime": 1784185118414, "executionIndex": 8, "source": [{"previousNode": "Random", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 1"}, "binary": {}, "pairedItem": {"item": 0}}, {"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 1}}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 2}}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 3}}, {"json": {"firsname": "Name 3", "lastname": "Surname 3", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 4}}, {"json": {"firsname": "Name 3", "lastname": "Surname 2", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 5}}, {"json": {"firsname": "Name 2", "lastname": "Surname 2", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 6}}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 7}}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 2"}, "binary": {}, "pairedItem": {"item": 8}}, {"json": {"firsname": "Name 2", "lastname": "Surname 3", "occupation": "Job 3"}, "binary": {}, "pairedItem": {"item": 9}}]]}}], "Email": [{"startTime": 1784185118422, "executionIndex": 9, "source": [{"previousNode": "Limit", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 80, "executionStatus": "success", "data": {"main": [[{"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 1", "email": "Name3.Surname1@gmail.com"}, "pairedItem": {"item": 0}}, {"json": {"firsname": "Name 3", "lastname": "Surname 1", "occupation": "Job 2", "email": "Name3.Surname1@gmail.com"}, "pairedItem": {"item": 1}}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 3", "email": "Name1.Surname3@gmail.com"}, "pairedItem": {"item": 2}}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 3", "email": "Name2.Surname1@gmail.com"}, "pairedItem": {"item": 3}}, {"json": {"firsname": "Name 3", "lastname": "Surname 3", "occupation": "Job 2", "email": "Name3.Surname3@gmail.com"}, "pairedItem": {"item": 4}}, {"json": {"firsname": "Name 3", "lastname": "Surname 2", "occupation": "Job 2", "email": "Name3.Surname2@gmail.com"}, "pairedItem": {"item": 5}}, {"json": {"firsname": "Name 2", "lastname": "Surname 2", "occupation": "Job 2", "email": "Name2.Surname2@gmail.com"}, "pairedItem": {"item": 6}}, {"json": {"firsname": "Name 2", "lastname": "Surname 1", "occupation": "Job 2", "email": "Name2.Surname1@gmail.com"}, "pairedItem": {"item": 7}}, {"json": {"firsname": "Name 1", "lastname": "Surname 3", "occupation": "Job 2", "email": "Name1.Surname3@gmail.com"}, "pairedItem": {"item": 8}}, {"json": {"firsname": "Name 2", "lastname": "Surname 3", "occupation": "Job 3", "email": "Name2.Surname3@gmail.com"}, "pairedItem": {"item": 9}}]]}}]}, "pinData": null, "lastNodeExecuted": "Email"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185118221, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19LO03pQFCSwYEs2PjCGzzl4QiPCyQL1b6MAeWy2qmIgvf4y92f96xUm7qf3ITIGgGjZR6ZcnBIq7blu2e9LdYso3b+AnjLNb6O7jlnAOB16L7gnQHS9kz+uFLu2z4NsypNBbnBw8QxVuGMO+/YuGND+NIet6clZ0cbUoPZ1j+oNGVfhG+kPX+1/U/k7FMptDYZbF78uYqOHhHBmJYoftlREefO854NkCEfAUYFQwbEGpgnKzGhd84M8S1r9W94hpV49szHpE+u0u/pc8vKNjVm+WkRgwKUQnTcPs3lJzQKFBj5fNaqQvfiF+0iz3dK9eCeCcATymnN911ePTnwUVNJt5NpLB7n85by2Dn4wX5k5XJ5r8uUwkNAtmVSI8jbWbFBeHAM/fvgFUpknE9nKuE6gO5Z7UDhjVo="}}, "resumeToken": "8503eb51ecf9b6419069be1e57d65c72b480b4abeb814c17c5a7f9acbc186099"}, "workflowData": {"id": "udFFzYMXhlcxRITG", "name": "rw_281b1e3e33", "nodes": [{"id": "c00b9aef-a308-430c-9d89-09d29f9dd7ea", "name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [-300, 780], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "5bce473f-7e3a-4d54-8030-14c3ab68546e", "name": "Code", "type": "n8n-nodes-base.code", "position": [-20, 780], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return [\n  {firsname:\"Name 1\",lastname:\"Surname 1\", occupation:\"Job 1\"},\n  {firsname:\"Name 2\",lastname:\"Surname 2\", occupation:\"Job 2\"},\n  {firsname:\"Name 3\",lastname:\"Surname 3\", occupation:\"Job 3\"}\n];", "notice": ""}, "typeVersion": 2}, {"id": "a7562be8-ca09-46c9-88ea-c82d41cee667", "name": "Firstname1", "type": "n8n-nodes-base.set", "position": [340, 420], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "516e4f30-bfe7-4891-8ff5-cd0ce70c5419", "name": "firsname", "type": "string", "value": "={{ $json[\"firsname\"] }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.3}, {"id": "6e23cc25-00b2-4ce3-ab94-dbf7141c1cb6", "name": "Lastname", "type": "n8n-nodes-base.set", "position": [340, 600], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "68d28ab6-d7c5-4110-86a2-a098443c64c4", "name": "lastname", "type": "string", "value": "={{ $json[\"lastname\"] }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.3}, {"id": "984d93b7-af7c-4545-bebe-baf6b4795954", "name": "Occupation", "type": "n8n-nodes-base.set", "position": [340, 760], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "e649e881-cc76-494e-adc2-51865ed87a68", "name": "occupation", "type": "string", "value": "={{ $json[\"occupation\"] }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.3}, {"id": "f957e7a5-7521-4408-adc7-eb853b05465f", "name": "Random", "type": "n8n-nodes-base.sort", "position": [980, 600], "parameters": {"type": "random"}, "typeVersion": 1}, {"id": "537a21dd-81a5-47f6-9cc8-41d838fd72bb", "name": "Limit", "type": "n8n-nodes-base.limit", "position": [1160, 600], "parameters": {"maxItems": 10, "keep": "firstItems"}, "typeVersion": 1}, {"id": "bdfcfd8e-273d-4473-b442-47eb206d3e4d", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-320, 120], "parameters": {"content": "## Random data generator\n### Beginner-level workflow, revamped version\n### Zero coding and no external dependencies\nSometimes you need mock data to test your workflows. Here's the most simple and bullet-proof example: no coding and zero external dependencies.\n\n*Click on the image to watch the full tutorial*\n[![Click to watch the video](https://i.ytimg.com/vi/3AVJFk3uXBg/hqdefault.jpg)](https://www.youtube.com/watch?v=3AVJFk3uXBg)", "height": 486.6950298104135, "width": 510.4010876954434, "color": 5}, "typeVersion": 1}, {"id": "fb58a167-f5ce-48c8-b95b-37075e714fcf", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [260, 346.1590754588717], "parameters": {"content": "### These nodes create a combination of all possible values.\nWatch the YouTube video for details", "height": 584.745071380013, "width": 639.6193065941536, "color": 1}, "typeVersion": 1}, {"id": "951d6efe-95d1-4c26-bad9-10aaa796d3a0", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [940, 536.5601631543165], "parameters": {"content": "### Sort and limit the number of output items", "height": 222.21617946974848, "width": 362.039428959891, "color": 1}, "typeVersion": 1}, {"id": "a883e636-2fc8-4e54-8936-de4a3bb0219b", "name": "Sticky Note3", "type": "n8n-nodes-base.stickyNote", "position": [1360, 487.5186947654655], "parameters": {"content": "### You can do some additional post-processing here\nFor example, derive Email address based on the user name and surname", "height": 265.28891910265116, "width": 277.09041468388835, "color": 1}, "typeVersion": 1}, {"id": "1847465d-4206-403a-abc5-63a89d0b8f76", "name": "Email", "type": "n8n-nodes-base.set", "position": [1440, 600], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "be85a167-8fdb-476d-a1e6-af91546a75be", "name": "email", "type": "string", "value": "={{$json[\"firsname\"].replaceAll(\" \",\"\")}}.{{$json[\"lastname\"].replaceAll(\" \",\"\")}}@gmail.com"}]}, "includeOtherFields": true, "include": "all", "options": {}}, "typeVersion": 3.3}, {"id": "80863d62-04bf-4467-869c-5144ed2af722", "name": "Sticky Note4", "type": "n8n-nodes-base.stickyNote", "position": [-160, 620], "parameters": {"content": "## Create source values for for the random generator\n\n**PRO TIP**: you can use [Ask AI](https://docs.n8n.io/code/ai-code/) in the cloud version to generate mock values once and then re-use them.", "height": 310.6267881974685, "width": 356.0571040108765, "color": 1}, "typeVersion": 1}, {"id": "7e577e25-6bf3-40c8-bf52-ce1ba141698f", "name": "Merge", "type": "n8n-nodes-base.merge", "position": [560, 520], "parameters": {"mode": "combine", "combineBy": "combineAll", "options": {}}, "typeVersion": 3}, {"id": "69156809-40f3-4d59-ab47-8621f5bcac0e", "name": "Merge1", "type": "n8n-nodes-base.merge", "position": [760, 600], "parameters": {"mode": "combine", "combineBy": "combineAll", "options": {}}, "typeVersion": 3}], "connections": {"Code": {"main": [[{"node": "Lastname", "type": "main", "index": 0}, {"node": "Firstname1", "type": "main", "index": 0}, {"node": "Occupation", "type": "main", "index": 0}]]}, "Limit": {"main": [[{"node": "Email", "type": "main", "index": 0}]]}, "Merge": {"main": [[{"node": "Merge1", "type": "main", "index": 0}]]}, "Merge1": {"main": [[{"node": "Random", "type": "main", "index": 0}]]}, "Random": {"main": [[{"node": "Limit", "type": "main", "index": 0}]]}, "Lastname": {"main": [[{"node": "Merge", "type": "main", "index": 1}]]}, "Firstname1": {"main": [[{"node": "Merge", "type": "main", "index": 0}]]}, "Occupation": {"main": [[{"node": "Merge1", "type": "main", "index": 1}]]}, "On clicking 'execute'": {"main": [[{"node": "Code", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/08654-Generate-random-mock-data-with-no-code-and-zero-dependencies.json"}