eval/data/realworld/rw_23e7cf23a7.json
{"id": "27", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:36.231Z", "startedAt": "2026-07-16T06:57:36.238Z", "stoppedAt": "2026-07-16T06:57:36.249Z", "deletedAt": null, "workflowId": "g4BDcXhx9YQvufxy", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 2327, "binaryDataSizeBytes": 0, "workflowVersionId": "0e64ba16-6ce7-4ec5-9320-ec60e303fdfa", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185056247, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Crypto": [{"startTime": 1784185056248, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"data": "d592d8613598bf922d34549fafbc811d"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Crypto"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185056246, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX18Wj0+jYXVXuMjvGQpwp7X8cYxj3M7Ye+b6xvmN7R4x65xeirg1IAHb1wj6TFOxR+93zixyPR+R4PdslqmPjEUqY0UV4k/DlLQK3M7ao/4TUx6oDWw5ij70RArYB8j7VkL7oDB46cFAfBUAXJ4/hGBJ7raiqP4eIz760HX9POOR7Zb4wtXuauBE5PEm2ibv8toTd8zGGNFuPadV5VJSicHoKDi1/75fWcKeh8EeRUlBP72ARSBmZQs8VEN3v59a0Tl3kQQGAHnaCplQ6r0oNoTDHDPFZeKqB/8zMBYEAb5KIjzvwHbtYPR4d3gWWPFjje2Ip8nW46jFbyHi5lun+ZBIMPxmn0YOACquZrL7UkOFs1ohQpUMWUvVDE/uti7ISHTlbXXjIkRYRboGOkETGFJBwKiyAgAA1+E="}}, "resumeToken": "92d927333451f7a7a7569e11e4e3de5dcb34339c7fb39be0498d6878af2687b5"}, "workflowData": {"id": "g4BDcXhx9YQvufxy", "name": "rw_23e7cf23a7", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "6d7d301e-e7a5-4aa4-9e47-a48410815348"}, {"name": "Crypto", "type": "n8n-nodes-base.crypto", "position": [450, 300], "parameters": {"action": "hash", "binaryData": false, "type": "MD5", "value": "n8n rocks!", "dataPropertyName": "data", "encoding": "hex"}, "typeVersion": 1, "id": "284ea40e-c36d-40bb-8e2a-810f64d2ec48"}], "connections": {"On clicking 'execute'": {"main": [[{"node": "Crypto", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00606-n8n-rocks-crypto-example.json"}