eval/data/realworld/rw_34c6a81c19.json
{"id": "77", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:59.988Z", "startedAt": "2026-07-16T06:58:59.994Z", "stoppedAt": "2026-07-16T06:59:00.035Z", "deletedAt": null, "workflowId": "Z5x97kETPMUCJ36D", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 7443, "binaryDataSizeBytes": 0, "workflowVersionId": "c9023483-3907-468e-96bd-c2eb95336026", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Start": [{"startTime": 1784185140012, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Date & Time": [{"startTime": 1784185140013, "executionIndex": 1, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "03/03/2021"}, "pairedItem": {"item": 0}}]]}}], "Date & Time1": [{"startTime": 1784185140014, "executionIndex": 2, "source": [{"previousNode": "Date & Time", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "2021/03/03"}, "pairedItem": {"item": 0}}]]}}], "Date & Time2": [{"startTime": 1784185140016, "executionIndex": 3, "source": [{"previousNode": "Date & Time1", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "March 03 2021"}, "pairedItem": {"item": 0}}]]}}], "Date & Time3": [{"startTime": 1784185140017, "executionIndex": 4, "source": [{"previousNode": "Date & Time2", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "03-03-2021"}, "pairedItem": {"item": 0}}]]}}], "Date & Time4": [{"startTime": 1784185140018, "executionIndex": 5, "source": [{"previousNode": "Date & Time3", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "2021-03-03"}, "pairedItem": {"item": 0}}]]}}], "Date & Time5": [{"startTime": 1784185140019, "executionIndex": 6, "source": [{"previousNode": "Date & Time4", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"data": "1614764492"}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185140020, "executionIndex": 7, "source": [{"previousNode": "Date & Time5", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 14, "executionStatus": "success", "data": {"main": [[{"json": {"data": "1614764492"}, "pairedItem": {"item": 0}, "index": 0}]]}}]}, "pinData": null, "lastNodeExecuted": "Function"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185140009, "source": "manual", "triggerNode": {"name": "Start", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+zcK52GbgHLRcvmjb9Mv01WC7xbqRVluNHSMSFiKWFHeOD7b0lwgLO+eQiUGPd6IsVI5ZWvAMqUnZepJdRe2hKxw/TedFg5K6uSPkReC3FRvg2GBZvsY5FGsDjU21k61it8b1n4khnS7yxDyCA5AXpcwaUZ88itirQj+CypqY6N8NVS6KPFYOuBPpfH3fxY/M5gLaPWk6SSrQAEyaPLeIWEzWQhylUCNUX2Q5nClUlRhAOpzVqDPAg4JiAaOZzXWT2NAzNV9PFvrvIvAg3gwECxYhLkkTgajLUmUCfKmkOu1fSAYCzChA7zRvHkpvMWPPUL+zMkSxiYNK+rTL7vPL2od3Li4FLhYmW16fw1wbVyBHteZBTx8bl/+qAtYZ/SvZXwn/TMowQ6QArzkzwpDLTckzj4EMDgJs="}}, "resumeToken": "617253945ed2f2dfb4fefaf6d8574b36cbac509d931cdc1936d82241c7a36872"}, "workflowData": {"id": "Z5x97kETPMUCJ36D", "name": "rw_34c6a81c19", "nodes": [{"parameters": {"notice": ""}, "name": "Start", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [250, 300], "id": "9f4c1cf1-66f7-4a2e-86a3-0ef54cff1666"}, {"parameters": {"noticeDateTime": "", "action": "format", "value": "1614764492648", "dataPropertyName": "data", "custom": false, "toFormat": "MM/DD/YYYY", "options": {"fromFormat": "x"}}, "name": "Date & Time", "type": "n8n-nodes-base.dateTime", "typeVersion": 1, "position": [400, 300], "id": "c1251fbd-cd97-4d51-bbf0-4ecce33e588a"}, {"parameters": {"noticeDateTime": "", "action": "format", "value": "1614764492648", "dataPropertyName": "data", "custom": false, "toFormat": "YYYY/MM/DD", "options": {"fromFormat": "x"}}, "name": "Date & Time1", "type": "n8n-nodes-base.dateTime", "typeVersion": 1, "position": [550, 300], "id": "57ab6614-af49-4555-8158-11ee5771b2e7"}, {"parameters": {"noticeDateTime": "", "action": "format", "value": "1614764492648", "dataPropertyName": "data", "custom": false, "toFormat": "MMMM DD YYYY", "options": {"fromFormat": "x"}}, "name": "Date & Time2", "type": "n8n-nodes-base.dateTime", "typeVersion": 1, "position": [700, 300], "id": "bf0a4b07-62ce-4234-8dfe-a2f582d40bd8"}, {"parameters": {"noticeDateTime": "", "action": "format", "value": "1614764492648", "dataPropertyName": "data", "custom": false, "toFormat": "MM-DD-YYYY", "options": {"fromFormat": "x"}}, "name": "Date & Time3", "type": "n8n-nodes-base.dateTime", "typeVersion": 1, "position": [850, 300], "id": "8b429a06-bce9-49d0-9277-038bc06c8463"}, {"parameters": {"noticeDateTime": "", "action": "format", "value": "1614764492648", "dataPropertyName": "data", "custom": false, "toFormat": "YYYY-MM-DD", "options": {"fromFormat": "x"}}, "name": "Date & Time4", "type": "n8n-nodes-base.dateTime", "typeVersion": 1, "position": [1000, 300], "id": "8e0681ff-dd9f-4e6d-83cf-18a1e72fe1e1"}, {"parameters": {"noticeDateTime": "", "action": "format", "value": "1614764492648", "dataPropertyName": "data", "custom": false, "toFormat": "X", "options": {"fromFormat": "x"}}, "name": "Date & Time5", "type": "n8n-nodes-base.dateTime", "typeVersion": 1, "position": [1150, 300], "id": "4917a56c-7455-4354-a018-cec74552e203"}, {"parameters": {"notice": "", "functionCode": "\n// mm/dd/yyyy\nif($node[\"Date & Time\"].json[\"data\"] !== \"03/03/2021\")\n{\n    throw new Error(\"Error convert date to mm/dd/yyyy\");\n}\n// yyyy/mm/dd\nif($node[\"Date & Time1\"].json[\"data\"] !== \"2021/03/03\")\n{\n    throw new Error(\"Error convert date to yyyy/mm/dd\");\n}\n// mmmm dd yyyy\nif($node[\"Date & Time2\"].json[\"data\"] !== \"March 03 2021\")\n{\n    throw new Error(\"Error convert date to mmmm dd yyyy\");\n}\n// mm-dd-yyyy\nif($node[\"Date & Time3\"].json[\"data\"] !== \"03-03-2021\")\n{\n    throw new Error(\"Error convert date to mm-dd-yyyy\");\n}\n// yyyy-mm-dd\nif($node[\"Date & Time4\"].json[\"data\"] !== \"2021-03-03\")\n{   \n    throw new Error(\"Error convert date to yyyy-mm-dd\");\n}\n// unix timestamp\nif($node[\"Date & Time5\"].json[\"data\"] !== \"1614764492\")\n{   \n    throw new Error(\"Error convert date to unix timestamp\");\n}\nreturn items;"}, "name": "Function", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1350, 300], "id": "fe192bd8-40ce-4b2d-b467-837c1c208ee3"}], "connections": {"Date & Time": {"main": [[{"node": "Date & Time1", "type": "main", "index": 0}]]}, "Date & Time1": {"main": [[{"node": "Date & Time2", "type": "main", "index": 0}]]}, "Date & Time2": {"main": [[{"node": "Date & Time3", "type": "main", "index": 0}]]}, "Date & Time3": {"main": [[{"node": "Date & Time4", "type": "main", "index": 0}]]}, "Date & Time4": {"main": [[{"node": "Date & Time5", "type": "main", "index": 0}]]}, "Date & Time5": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}, "Start": {"main": [[{"node": "Date & Time", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/n8n-io_test-workflows/workflows/90.json"}