eval/data/realworld/rw_35539864fc.json
{"id": "70", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:48.439Z", "startedAt": "2026-07-16T06:58:48.446Z", "stoppedAt": "2026-07-16T06:58:48.519Z", "deletedAt": null, "workflowId": "Dk5p2tBZJvhfVpiv", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 28261, "binaryDataSizeBytes": 0, "workflowVersionId": "26aad492-b63e-492d-9586-a05e73b0ca02", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"\ud83c\udfaf Start Game": [{"startTime": 1784185128455, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Initialize Game": [{"startTime": 1784185128456, "executionIndex": 1, "source": [{"previousNode": "\ud83c\udfaf Start Game", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 24, "executionStatus": "success", "data": {"main": [[{"json": {"title": "\ud83c\udfae Welcome to Code Challenge Adventure!", "story": "The n8n kingdom is under attack by chaotic data! As a brave code warrior, you must complete challenges to restore order and become the ultimate Automation Master!", "objective": "Complete all 3 levels to save the kingdom!", "player": {"name": "n8n Apprentice", "level": 1, "xp": 0, "health": 100, "inventory": [], "achievements": []}, "gameState": {"currentLevel": 1, "totalLevels": 3, "startTime": "2026-07-16T06:58:48.479Z", "challenges": [{"id": 1, "name": "Data Warrior Challenge", "description": "Deduplicate the corrupted database", "difficulty": "Beginner", "xpReward": 100, "powerUp": "Data Shield \ud83d\udee1\ufe0f"}, {"id": 2, "name": "API Ninja Challenge", "description": "Transform and validate API responses", "difficulty": "Intermediate", "xpReward": 200, "powerUp": "Speed Boost \u26a1"}, {"id": 3, "name": "Automation Master Boss", "description": "Build a complete workflow system", "difficulty": "Expert", "xpReward": 500, "powerUp": "Master Badge \ud83c\udfc5"}]}, "message": "Game initialized! Ready to start your adventure?"}, "pairedItem": {"item": 0}}]]}}], "\ud83c\udfb2 Level 1: Data Warrior": [{"startTime": 1784185128480, "executionIndex": 2, "source": [{"previousNode": "Initialize Game", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"level": 1, "challengeName": "Data Warrior Challenge", "success": true, "stats": {"originalRecords": 8, "cleanedRecords": 1, "duplicatesRemoved": 7}, "rewards": {"xp": 100, "powerUp": "Data Shield \ud83d\udee1\ufe0f"}, "message": "\ud83c\udf89 SUCCESS! You've cleaned the corrupted database and earned 100 XP!", "player": {"name": "n8n Apprentice", "level": 2, "xp": 100, "health": 100, "inventory": ["Data Shield \ud83d\udee1\ufe0f"], "achievements": ["Data Warrior"]}, "cleanedData": [{"id": 1, "name": "Knight Arthur", "email": "user@example.com", "class": "Warrior"}], "nextLevel": 2}, "pairedItem": {"item": 0}}]]}}], "\u2694\ufe0f Level 2: API Ninja": [{"startTime": 1784185128489, "executionIndex": 3, "source": [{"previousNode": "\ud83c\udfb2 Level 1: Data Warrior", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"level": 2, "challengeName": "API Ninja Challenge", "success": true, "stats": {"totalUsers": 5, "validUsers": 3, "invalidUsers": 2, "transformationAccuracy": 60}, "rewards": {"xp": 200, "powerUp": "Speed Boost \u26a1"}, "message": "\u26a1 SUCCESS! You've mastered data transformation and earned 200 XP!", "player": {"name": "n8n Apprentice", "level": 4, "xp": 300, "health": 100, "inventory": ["Data Shield \ud83d\udee1\ufe0f", "Speed Boost \u26a1"], "achievements": ["Data Warrior", "API Ninja"]}, "validUsers": [{"id": 1, "name": "John Doe", "email": "user@example.com", "age": 25, "status": "active", "isValid": true}, {"id": 3, "name": "Bob Johnson", "email": "user@example.com", "age": 30, "status": "active", "isValid": true}, {"id": 5, "name": "Alice Brown", "email": "user@example.com", "age": 28, "status": "active", "isValid": true}], "invalidUsers": [{"id": 2, "name": "jane smith", "email": "user@example.com", "age": 0, "status": "inactive", "isValid": false, "errors": ["Invalid age"]}, {"id": 4, "name": "", "email": "user@example.com", "age": 22, "status": "pending", "isValid": false, "errors": ["Invalid name"]}], "nextLevel": 3}, "pairedItem": {"item": 0}}]]}}], "\ud83c\udfc6 Final Boss: Automation Master": [{"startTime": 1784185128498, "executionIndex": 4, "source": [{"previousNode": "\u2694\ufe0f Level 2: API Ninja", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 12, "executionStatus": "success", "data": {"main": [[{"json": {"level": 3, "challengeName": "Automation Master Boss Battle", "success": true, "workflowResult": {"results": [{"id": 1, "name": "Data Ingestion", "status": "completed", "priority": "high", "assignee": "system", "completedAt": "2026-07-16T06:58:48.507Z", "processingTime": 1131.6072758214082, "fastTrack": true}, {"id": 2, "name": "Data Validation", "status": "completed", "priority": "high", "assignee": "validator", "completedAt": "2026-07-16T06:58:48.507Z", "processingTime": 1354.647689576601, "fastTrack": true}, {"id": 4, "name": "Error Handling", "status": "completed", "priority": "high", "assignee": "error_handler", "completedAt": "2026-07-16T06:58:48.507Z", "processingTime": 780.3052946566754, "errorHandlingActive": true, "fastTrack": true}, {"id": 3, "name": "Data Transformation", "status": "completed", "priority": "medium", "assignee": "transformer", "completedAt": "2026-07-16T06:58:48.507Z", "processingTime": 1365.4994073316866}, {"id": 6, "name": "Notification", "status": "completed", "priority": "medium", "assignee": "notifier", "completedAt": "2026-07-16T06:58:48.507Z", "processingTime": 761.3102014697427}, {"id": 5, "name": "Data Output", "status": "completed", "priority": "low", "assignee": "output", "completedAt": "2026-07-16T06:58:48.507Z", "processingTime": 970.5221536570102}], "errors": [], "summary": {"totalTasks": 6, "completedTasks": 6, "failedTasks": 0, "highPriorityTasks": 3, "averageProcessingTime": 1061, "workflowEfficiency": 100}}, "rewards": {"xp": 500, "powerUp": "Master Badge \ud83c\udfc5", "title": "\ud83c\udfc6 AUTOMATION MASTER"}, "finalStats": {"totalXP": 800, "finalLevel": 9, "achievements": 3, "finalScore": 950, "inventory": ["Data Shield \ud83d\udee1\ufe0f", "Speed Boost \u26a1", "Master Badge \ud83c\udfc5"]}, "message": "\ud83c\udf89 VICTORY! You've become the ultimate Automation Master with 950 points!", "player": {"name": "n8n Apprentice", "level": 9, "xp": 800, "health": 100, "inventory": ["Data Shield \ud83d\udee1\ufe0f", "Speed Boost \u26a1", "Master Badge \ud83c\udfc5"], "achievements": ["Data Warrior", "API Ninja", "Automation Master"], "title": "\ud83c\udfc6 AUTOMATION MASTER"}, "gameComplete": true, "playAgain": "Click 'Start Game' to play again!"}, "pairedItem": {"item": 0}}]]}}], "\ud83c\udf8a Game Over Screen": [{"startTime": 1784185128510, "executionIndex": 5, "source": [{"previousNode": "\ud83c\udfc6 Final Boss: Automation Master", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"title": "\ud83c\udfae Code Challenge Adventure - Game Over!", "subtitle": "Final Score: 950 Points", "achievementShowcase": {"playerName": "n8n Apprentice", "finalTitle": "\ud83c\udfc6 AUTOMATION MASTER", "totalXP": 800, "finalLevel": 9, "achievements": ["Data Warrior", "API Ninja", "Automation Master"], "inventory": ["Data Shield \ud83d\udee1\ufe0f", "Speed Boost \u26a1", "Master Badge \ud83c\udfc5"], "gameComplete": true}, "performanceReport": {"levelsCompleted": 3, "totalChallenges": 3, "completionRate": 100, "skillsLearned": ["Data Deduplication", "API Response Transformation", "Workflow Automation", "Error Handling", "JavaScript Array Methods", "n8n Code Node Mastery"], "nextSteps": ["Explore advanced n8n nodes", "Build real-world automations", "Learn webhook integrations", "Master database operations", "Implement error handling patterns"]}, "specialRewards": ["\ud83c\udfc6 Perfect Score Bonus", "\ud83d\udee1\ufe0f Data Protection Expert", "\u26a1 Speed Optimization Master", "\ud83c\udf96\ufe0f Workflow Architect"], "motivationalMessage": "\ud83c\udf1f Congratulations! You've mastered the art of automation and proven yourself worthy of the title '\ud83c\udfc6 AUTOMATION MASTER'. Your journey in n8n has just begun!", "coachingOffer": {"message": "Want to level up your n8n skills in real life?", "coaching": "\ud83d\udc49 Book a coaching session: user@example.com", "consulting": "\ud83d\udce9 Get custom automation help: user@example.com"}, "playAgain": "\ud83d\udd04 Ready for another adventure? Click 'Start Game' to play again!"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "\ud83c\udf8a Game Over Screen"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185128452, "source": "manual", "triggerNode": {"name": "\ud83c\udfaf Start Game", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1956kfrWIcpH01QnXsFwpYaBpc9Oh6MfpAYhVyaNapM18rh8sRKZH1o56wuwwnsc1Dp7kPcNRBigcrCxEUWbZC+qhUoVpVnqUAtBXoGgbqkb3kXcnSkNEsVDV+DIOAeQ46dbipO0jhdMtU7amxP458OTJnHgoutSZlds6psc9xilu04NZ98ilzc5T7PzlX/vHnYhxl4MRF4bNiznNmbBtZPZzbAHC5BMXo5hhhRW0cwYAaqu4uvTfGeOgIn6feOjgiiSrMeQNZMuJV//88ziV8qOXzScABDNkD/+omPruhwn+UqjYlgJxz/xgu3HtiOyDPABa4PxdeAzLhrBkzTcTxcfpH3tw7u4xadmESk9IX1NMtypnRvD2/5NgGHYGRlNTFL4OFuKsRnU4XHgdSjlB2FcYDwOR0oCpo="}}, "resumeToken": "770ae7a7b524014e3f0895e79e29186cd009f9c3a1b053494e7cd1e00221608d"}, "workflowData": {"id": "Dk5p2tBZJvhfVpiv", "name": "rw_35539864fc", "nodes": [{"id": "ff379455-2bfc-4b10-86d3-34e6061e8e75", "name": "\ud83c\udfaf Start Game", "type": "n8n-nodes-base.manualTrigger", "position": [240, 280], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "342c8cd6-27af-4562-ba21-44576e76aa0a", "name": "Game Header", "type": "n8n-nodes-base.stickyNote", "position": [-40, -60], "parameters": {"content": "#  Code Challenge Adventure\n\n**Author:** David Olusola\n\n## \ud83c\udfaf Game Rules\n1. Complete coding challenges to earn points\n2. Each level teaches different n8n concepts\n3. Collect power-ups and achievements\n4. Beat the final boss with your coding skills!\n\n## \ud83d\ude80 n8n Coaching\nLevel up your n8n skills with personalized coaching!\n\ud83d\udc49 [Book Session](mailto:david@daexai.com?subject=n8n%20Coaching%20Request)\n\n## \ud83d\udd27 n8n Consulting\nNeed custom automation solutions?\n\ud83d\udce9 [Get Consulting](mailto:david@daexai.com?subject=n8n%20Consultation%20Request)", "height": 580, "width": 400, "color": 1}, "typeVersion": 1}, {"id": "a64d11d1-e7e1-4f08-a130-5bca37f68e09", "name": "Level 1 Info", "type": "n8n-nodes-base.stickyNote", "position": [260, 500], "parameters": {"content": "## \ud83c\udfb2 Level 1: Data Warrior\n\n**Challenge:** Deduplicate the corrupted user database!\n\n**Skills Learned:**\n- Array filtering\n- Data deduplication\n- JSON manipulation\n\n**Reward:** 100 XP + Data Shield \ud83d\udee1\ufe0f", "height": 330, "width": 250, "color": 1}, "typeVersion": 1}, {"id": "995b3576-696f-435b-a9fd-3e811e25815d", "name": "Level 2 Info", "type": "n8n-nodes-base.stickyNote", "position": [560, 500], "parameters": {"content": "## \u2694\ufe0f Level 2: API Ninja\n\n**Challenge:** Transform and validate API responses!\n\n**Skills Learned:**\n- Data transformation\n- Validation logic\n- Error handling\n\n**Reward:** 200 XP + Speed Boost \u26a1", "height": 290, "width": 250, "color": 1}, "typeVersion": 1}, {"id": "f862073b-d3e5-460e-8d4f-6c6f040d2c83", "name": "Boss Info", "type": "n8n-nodes-base.stickyNote", "position": [860, 380], "parameters": {"content": "## \ud83c\udfc6 Final Boss: Automation Master\n\n**Challenge:** Build a complete workflow system!\n\n**Skills Learned:**\n- Complex logic\n- Error handling\n- Performance optimization\n\n**Reward:** 500 XP + Master Badge \ud83c\udfc5", "height": 330, "width": 250, "color": 1}, "typeVersion": 1}, {"id": "00297d14-9d74-4a5e-a48c-3c2795aeda6a", "name": "\ud83c\udfb2 Level 1: Data Warrior", "type": "n8n-nodes-base.code", "position": [620, 280], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// \ud83c\udfb2 Level 1: Data Warrior Challenge\n// Challenge: Deduplicate corrupted user database\n\nconst gameData = items[0].json;\nconst player = gameData.player;\n\n// Corrupted database with duplicates (the challenge data)\nconst corruptedUsers = [\n  { id: 1, name: \"Knight Arthur\", email: \"user@example.com\", class: \"Warrior\" },\n  { id: 2, name: \"Wizard Merlin\", email: \"user@example.com\", class: \"Mage\" },\n  { id: 3, name: \"Knight Arthur\", email: \"user@example.com\", class: \"Warrior\" }, // Duplicate\n  { id: 4, name: \"Archer Robin\", email: \"user@example.com\", class: \"Ranger\" },\n  { id: 5, name: \"Rogue Shadow\", email: \"user@example.com\", class: \"Assassin\" },\n  { id: 6, name: \"Wizard Merlin\", email: \"user@example.com\", class: \"Mage\" }, // Duplicate\n  { id: 7, name: \"Paladin Grace\", email: \"user@example.com\", class: \"Healer\" },\n  { id: 8, name: \"Archer Robin\", email: \"user@example.com\", class: \"Ranger\" } // Duplicate\n];\n\n// THE CHALLENGE: Deduplicate based on email (player must implement this logic)\n// This is the solution - in a real game, the player would need to write this\nconst cleanedUsers = corruptedUsers.filter(\n  (user, index, self) => \n    index === self.findIndex(u => u.email === user.email)\n);\n\n// Calculate challenge results\nconst originalCount = corruptedUsers.length;\nconst cleanedCount = cleanedUsers.length;\nconst duplicatesRemoved = originalCount - cleanedCount;\n\n// Determine success and rewards\nconst isSuccess = duplicatesRemoved > 0;\nconst xpGained = isSuccess ? 100 : 0;\nconst powerUp = isSuccess ? \"Data Shield \ud83d\udee1\ufe0f\" : null;\n\n// Update player stats\nif (isSuccess) {\n  player.xp += xpGained;\n  player.level = Math.floor(player.xp / 100) + 1;\n  if (powerUp) player.inventory.push(powerUp);\n  player.achievements.push(\"Data Warrior\");\n}\n\nconst challengeResult = {\n  level: 1,\n  challengeName: \"Data Warrior Challenge\",\n  success: isSuccess,\n  stats: {\n    originalRecords: originalCount,\n    cleanedRecords: cleanedCount,\n    duplicatesRemoved: duplicatesRemoved\n  },\n  rewards: {\n    xp: xpGained,\n    powerUp: powerUp\n  },\n  message: isSuccess ? \n    `\ud83c\udf89 SUCCESS! You've cleaned the corrupted database and earned ${xpGained} XP!` :\n    \"\ud83d\udc80 FAILED! The database is still corrupted. Try again!\"\n};\n\nreturn [{\n  json: {\n    ...challengeResult,\n    player,\n    cleanedData: cleanedUsers,\n    nextLevel: isSuccess ? 2 : 1\n  }\n}];", "notice": ""}, "typeVersion": 2}, {"id": "98162e1a-8f3e-418d-b1d5-e1b03f518e1d", "name": "\u2694\ufe0f Level 2: API Ninja", "type": "n8n-nodes-base.code", "position": [900, 280], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// \u2694\ufe0f Level 2: API Ninja Challenge\n// Challenge: Transform and validate API responses\n\nconst gameData = items[0].json;\nconst player = gameData.player;\n\n// Mock API response with messy data (the challenge)\nconst apiResponse = {\n  users: [\n    { id: \"1\", full_name: \"  John Doe  \", email_address: \"user@example.com\", age: \"25\", status: \"active\" },\n    { id: \"2\", full_name: \"jane smith\", email_address: \"user@example.com\", age: \"invalid\", status: \"INACTIVE\" },\n    { id: \"3\", full_name: \"Bob Johnson\", email_address: \"user@example.com\", age: \"30\", status: \"active\" },\n    { id: \"4\", full_name: \"\", email_address: \"user@example.com\", age: \"22\", status: \"pending\" },\n    { id: \"5\", full_name: \"Alice Brown\", email_address: \"user@example.com\", age: \"28\", status: \"active\" }\n  ]\n};\n\n// THE CHALLENGE: Transform and validate the data\n// This is the solution - in a real game, player would implement this\nconst transformedUsers = apiResponse.users.map(user => {\n  const transformed = {\n    id: parseInt(user.id),\n    name: user.full_name.trim(),\n    email: user.email_address.toLowerCase(),\n    age: parseInt(user.age) || 0,\n    status: user.status.toLowerCase(),\n    isValid: true\n  };\n  \n  // Validation rules\n  if (!transformed.name || transformed.name.length < 2) {\n    transformed.isValid = false;\n    transformed.errors = (transformed.errors || []).concat(['Invalid name']);\n  }\n  \n  if (!transformed.email.includes('@')) {\n    transformed.isValid = false;\n    transformed.errors = (transformed.errors || []).concat(['Invalid email']);\n  }\n  \n  if (transformed.age < 18 || transformed.age > 120) {\n    transformed.isValid = false;\n    transformed.errors = (transformed.errors || []).concat(['Invalid age']);\n  }\n  \n  return transformed;\n});\n\n// Calculate challenge results\nconst validUsers = transformedUsers.filter(user => user.isValid);\nconst invalidUsers = transformedUsers.filter(user => !user.isValid);\n\nconst isSuccess = validUsers.length >= 3; // Need at least 3 valid users to pass\nconst xpGained = isSuccess ? 200 : 0;\nconst powerUp = isSuccess ? \"Speed Boost \u26a1\" : null;\n\n// Update player stats\nif (isSuccess) {\n  player.xp += xpGained;\n  player.level = Math.floor(player.xp / 100) + 1;\n  if (powerUp) player.inventory.push(powerUp);\n  player.achievements.push(\"API Ninja\");\n}\n\nconst challengeResult = {\n  level: 2,\n  challengeName: \"API Ninja Challenge\",\n  success: isSuccess,\n  stats: {\n    totalUsers: transformedUsers.length,\n    validUsers: validUsers.length,\n    invalidUsers: invalidUsers.length,\n    transformationAccuracy: Math.round((validUsers.length / transformedUsers.length) * 100)\n  },\n  rewards: {\n    xp: xpGained,\n    powerUp: powerUp\n  },\n  message: isSuccess ? \n    `\u26a1 SUCCESS! You've mastered data transformation and earned ${xpGained} XP!` :\n    \"\ud83e\udd77 FAILED! Your ninja skills need more practice. Try again!\"\n};\n\nreturn [{\n  json: {\n    ...challengeResult,\n    player,\n    validUsers,\n    invalidUsers,\n    nextLevel: isSuccess ? 3 : 2\n  }\n}];", "notice": ""}, "typeVersion": 2}, {"id": "3042b31c-2dec-45d3-8bdb-7487d8f22eaf", "name": "\ud83c\udfc6 Final Boss: Automation Master", "type": "n8n-nodes-base.code", "position": [1200, 280], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// \ud83c\udfc6 Final Boss: Automation Master Challenge\n// Challenge: Build a complete workflow system\n\nconst gameData = items[0].json;\nconst player = gameData.player;\n\n// Complex workflow challenge data\nconst workflowChallenge = {\n  tasks: [\n    { id: 1, name: \"Data Ingestion\", status: \"pending\", priority: \"high\", assignee: \"system\" },\n    { id: 2, name: \"Data Validation\", status: \"pending\", priority: \"high\", assignee: \"validator\" },\n    { id: 3, name: \"Data Transformation\", status: \"pending\", priority: \"medium\", assignee: \"transformer\" },\n    { id: 4, name: \"Error Handling\", status: \"pending\", priority: \"high\", assignee: \"error_handler\" },\n    { id: 5, name: \"Data Output\", status: \"pending\", priority: \"low\", assignee: \"output\" },\n    { id: 6, name: \"Notification\", status: \"pending\", priority: \"medium\", assignee: \"notifier\" }\n  ],\n  workflow: {\n    name: \"Master Automation Pipeline\",\n    steps: 6,\n    complexity: \"Expert\",\n    timeLimit: \"5 minutes\"\n  }\n};\n\n// THE FINAL CHALLENGE: Process tasks in correct order with error handling\n// This is the solution - the ultimate test of n8n skills\nconst processWorkflow = (tasks) => {\n  const results = [];\n  const errors = [];\n  \n  try {\n    // Step 1: Sort by priority (high -> medium -> low)\n    const priorityOrder = { 'high': 3, 'medium': 2, 'low': 1 };\n    const sortedTasks = tasks.sort((a, b) => priorityOrder[b.priority] - priorityOrder[a.priority]);\n    \n    // Step 2: Process each task with error handling\n    sortedTasks.forEach(task => {\n      try {\n        // Simulate processing\n        const processed = {\n          ...task,\n          status: 'completed',\n          completedAt: new Date().toISOString(),\n          processingTime: Math.random() * 1000 + 500 // Random processing time\n        };\n        \n        // Add some business logic\n        if (task.name.includes('Error')) {\n          processed.errorHandlingActive = true;\n        }\n        \n        if (task.priority === 'high') {\n          processed.fastTrack = true;\n        }\n        \n        results.push(processed);\n      } catch (error) {\n        errors.push({\n          taskId: task.id,\n          error: error.message,\n          timestamp: new Date().toISOString()\n        });\n      }\n    });\n    \n    // Step 3: Generate workflow summary\n    const summary = {\n      totalTasks: tasks.length,\n      completedTasks: results.length,\n      failedTasks: errors.length,\n      highPriorityTasks: results.filter(t => t.priority === 'high').length,\n      averageProcessingTime: Math.round(results.reduce((sum, t) => sum + t.processingTime, 0) / results.length),\n      workflowEfficiency: Math.round((results.length / tasks.length) * 100)\n    };\n    \n    return { results, errors, summary };\n  } catch (error) {\n    return { results: [], errors: [{ general: error.message }], summary: null };\n  }\n};\n\n// Execute the workflow\nconst workflowResult = processWorkflow(workflowChallenge.tasks);\n\n// Determine success (need 100% completion and efficiency > 80%)\nconst isSuccess = workflowResult.summary && \n                  workflowResult.summary.completedTasks === workflowChallenge.tasks.length &&\n                  workflowResult.summary.workflowEfficiency >= 80;\n\nconst xpGained = isSuccess ? 500 : 0;\nconst powerUp = isSuccess ? \"Master Badge \ud83c\udfc5\" : null;\nconst finalTitle = isSuccess ? \"\ud83c\udfc6 AUTOMATION MASTER\" : \"\ud83c\udfaf Aspiring Automator\";\n\n// Update player stats for final time\nif (isSuccess) {\n  player.xp += xpGained;\n  player.level = Math.floor(player.xp / 100) + 1;\n  if (powerUp) player.inventory.push(powerUp);\n  player.achievements.push(\"Automation Master\");\n  player.title = finalTitle;\n}\n\n// Calculate final game score\nconst finalScore = player.xp + (player.achievements.length * 50);\n\nconst bossResult = {\n  level: 3,\n  challengeName: \"Automation Master Boss Battle\",\n  success: isSuccess,\n  workflowResult,\n  rewards: {\n    xp: xpGained,\n    powerUp: powerUp,\n    title: finalTitle\n  },\n  finalStats: {\n    totalXP: player.xp,\n    finalLevel: player.level,\n    achievements: player.achievements.length,\n    finalScore: finalScore,\n    inventory: player.inventory\n  },\n  message: isSuccess ? \n    `\ud83c\udf89 VICTORY! You've become the ultimate Automation Master with ${finalScore} points!` :\n    \"\u2694\ufe0f The boss was too powerful! Train more and try again!\"\n};\n\nreturn [{\n  json: {\n    ...bossResult,\n    player,\n    gameComplete: isSuccess,\n    playAgain: \"Click 'Start Game' to play again!\"\n  }\n}];", "notice": ""}, "typeVersion": 2}, {"id": "858b4392-6eb0-4e2d-a5a5-bcdc31f38fa8", "name": "\ud83c\udf8a Game Over Screen", "type": "n8n-nodes-base.code", "position": [1500, 280], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// \ud83c\udf8a Game Over Screen\n// Display final results and achievements\n\nconst gameData = items[0].json;\nconst player = gameData.player;\n\n// Create achievement showcase\nconst achievementShowcase = {\n  playerName: player.name,\n  finalTitle: player.title || \"n8n Apprentice\",\n  totalXP: player.xp,\n  finalLevel: player.level,\n  achievements: player.achievements,\n  inventory: player.inventory,\n  gameComplete: gameData.gameComplete\n};\n\n// Generate performance report\nconst performanceReport = {\n  levelsCompleted: player.achievements.length,\n  totalChallenges: 3,\n  completionRate: Math.round((player.achievements.length / 3) * 100),\n  skillsLearned: [\n    \"Data Deduplication\",\n    \"API Response Transformation\",\n    \"Workflow Automation\",\n    \"Error Handling\",\n    \"JavaScript Array Methods\",\n    \"n8n Code Node Mastery\"\n  ],\n  nextSteps: [\n    \"Explore advanced n8n nodes\",\n    \"Build real-world automations\",\n    \"Learn webhook integrations\",\n    \"Master database operations\",\n    \"Implement error handling patterns\"\n  ]\n};\n\n// Create motivational message based on performance\nlet motivationalMessage = \"\";\nif (gameData.gameComplete) {\n  motivationalMessage = `\ud83c\udf1f Congratulations! You've mastered the art of automation and proven yourself worthy of the title '${player.title}'. Your journey in n8n has just begun!`;\n} else {\n  motivationalMessage = `\ud83c\udfaf Great effort! You've learned valuable skills and earned ${player.xp} XP. Keep practicing to become the ultimate Automation Master!`;\n}\n\n// Special rewards based on performance\nconst specialRewards = [];\nif (player.xp >= 800) specialRewards.push(\"\ud83c\udfc6 Perfect Score Bonus\");\nif (player.achievements.includes(\"Data Warrior\")) specialRewards.push(\"\ud83d\udee1\ufe0f Data Protection Expert\");\nif (player.achievements.includes(\"API Ninja\")) specialRewards.push(\"\u26a1 Speed Optimization Master\");\nif (player.achievements.includes(\"Automation Master\")) specialRewards.push(\"\ud83c\udf96\ufe0f Workflow Architect\");\n\n// Create final game summary\nconst gameSummary = {\n  title: \"\ud83c\udfae Code Challenge Adventure - Game Over!\",\n  subtitle: `Final Score: ${gameData.finalStats ? gameData.finalStats.finalScore : player.xp} Points`,\n  achievementShowcase,\n  performanceReport,\n  specialRewards,\n  motivationalMessage,\n  coachingOffer: {\n    message: \"Want to level up your n8n skills in real life?\",\n    coaching: \"\ud83d\udc49 Book a coaching session: user@example.com\",\n    consulting: \"\ud83d\udce9 Get custom automation help: user@example.com\"\n  },\n  playAgain: \"\ud83d\udd04 Ready for another adventure? Click 'Start Game' to play again!\"\n};\n\nreturn [{\n  json: gameSummary\n}];", "notice": ""}, "typeVersion": 2}, {"id": "4d626c17-abaf-40e1-bebb-37e9f0861515", "name": "Game Features", "type": "n8n-nodes-base.stickyNote", "position": [920, -220], "parameters": {"content": "## Game Features\n\n**\ud83c\udfaf 3 Challenging Levels**\n- Progressive difficulty\n- Real n8n scenarios\n- Practical coding challenges\n\n**\ud83c\udfc6 Reward System**\n- XP and level progression\n- Power-ups and achievements\n- Performance tracking\n\n**\ud83d\udcda Learning Outcomes**\n- Data deduplication\n- API transformation\n- Error handling\n- Workflow design\n\n**\ud83c\udfaa Fun Elements**\n- RPG-style progression\n- Story-driven challenges\n- Achievement badges\n- Leaderboard scoring", "height": 540, "width": 460, "color": 1}, "typeVersion": 1}, {"id": "7cba2d2f-3838-4a9f-abd0-7e4cd0686f32", "name": "Initialize Game", "type": "n8n-nodes-base.code", "position": [460, 280], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// \ud83c\udfae Game Initialization\n// Create player profile and game state\n\nconst player = {\n  name: \"n8n Apprentice\",\n  level: 1,\n  xp: 0,\n  health: 100,\n  inventory: [],\n  achievements: []\n};\n\nconst gameState = {\n  currentLevel: 1,\n  totalLevels: 3,\n  startTime: new Date().toISOString(),\n  challenges: [\n    {\n      id: 1,\n      name: \"Data Warrior Challenge\",\n      description: \"Deduplicate the corrupted database\",\n      difficulty: \"Beginner\",\n      xpReward: 100,\n      powerUp: \"Data Shield \ud83d\udee1\ufe0f\"\n    },\n    {\n      id: 2,\n      name: \"API Ninja Challenge\",\n      description: \"Transform and validate API responses\",\n      difficulty: \"Intermediate\",\n      xpReward: 200,\n      powerUp: \"Speed Boost \u26a1\"\n    },\n    {\n      id: 3,\n      name: \"Automation Master Boss\",\n      description: \"Build a complete workflow system\",\n      difficulty: \"Expert\",\n      xpReward: 500,\n      powerUp: \"Master Badge \ud83c\udfc5\"\n    }\n  ]\n};\n\n// Game introduction\nconst gameIntro = {\n  title: \"\ud83c\udfae Welcome to Code Challenge Adventure!\",\n  story: \"The n8n kingdom is under attack by chaotic data! As a brave code warrior, you must complete challenges to restore order and become the ultimate Automation Master!\",\n  objective: \"Complete all 3 levels to save the kingdom!\"\n};\n\nreturn [{\n  json: {\n    ...gameIntro,\n    player,\n    gameState,\n    message: \"Game initialized! Ready to start your adventure?\"\n  }\n}];", "notice": ""}, "typeVersion": 2}], "connections": {"Initialize Game": {"main": [[{"node": "\ud83c\udfb2 Level 1: Data Warrior", "type": "main", "index": 0}]]}, "\ud83c\udfaf Start Game": {"main": [[{"node": "Initialize Game", "type": "main", "index": 0}]]}, "\u2694\ufe0f Level 2: API Ninja": {"main": [[{"node": "\ud83c\udfc6 Final Boss: Automation Master", "type": "main", "index": 0}]]}, "\ud83c\udfb2 Level 1: Data Warrior": {"main": [[{"node": "\u2694\ufe0f Level 2: API Ninja", "type": "main", "index": 0}]]}, "\ud83c\udfc6 Final Boss: Automation Master": {"main": [[{"node": "\ud83c\udf8a Game Over Screen", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/10099-Learn-JavaScript-coding-with-an-interactive-RPG-style-tutorial-game.json"}