eval/data/realworld/rw_3d2b7d96af.json
{"id": "30", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:41.030Z", "startedAt": "2026-07-16T06:57:41.036Z", "stoppedAt": "2026-07-16T06:57:41.049Z", "deletedAt": null, "workflowId": "HHfsX3velRqR7Hjn", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 2894, "binaryDataSizeBytes": 0, "workflowVersionId": "16399451-9f51-4a9c-9f92-c6033a33f809", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185061046, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set": [{"startTime": 1784185061047, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"key": "somevalue"}, "pairedItem": {"item": 0}}]]}}], "Rename Keys": [{"startTime": 1784185061048, "executionIndex": 2, "source": [{"previousNode": "Set", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"newkey": "somevalue"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Rename Keys"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185061044, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX18YLXstj8LHNjf1KtDqcD8Z3ieFtCeY8sIQ3tLidFjXgHxvkhmTLvqvBlTzEUOd0QCIpHAWaVCafxxDqZQfl2EC1+m/lEvVHmqyIVjhQ7eZDW9+nvwFhs0SM4NE5TbqfWe1Q8QpBRdUWk/cIBpn/tJ269FtJB/EWx4dxD9yXQ6nFqW28NZqWFRU2J49bDc0fkSkpjoxjgKdCFHVi1FFD8DPWpMo4rQhtd/K5rCOrpMGTJOBfMGAAEo3564IWf9+sLm5ANtsI8xfJ7T/r5ZYGj73X9dQcuyjfCcZW1iRmD5wS4zqKbHR5rbsXUqkTRK93wseqMnBOiiFeA92qtzrksAANDLVJ8c7dE4VztOUv/z9+VQiNGcVqPs9wx0h7iR26axR/oWtGVVMYlmshkXy4sbphppRBzwW4BA="}}, "resumeToken": "118317662ebedb2f3d118fbf34cc68180ed71e14765875d416509e67160a3d19"}, "workflowData": {"id": "HHfsX3velRqR7Hjn", "name": "rw_3d2b7d96af", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 320], "parameters": {"notice": ""}, "typeVersion": 1, "id": "86f0092f-da66-47e9-b8fd-c8d3258a78cd"}, {"name": "Set", "type": "n8n-nodes-base.set", "position": [450, 320], "parameters": {"keepOnlySet": false, "values": {"string": [{"name": "key", "value": "somevalue"}]}, "options": {}}, "typeVersion": 1, "id": "ce6033d8-7d0a-490d-94d3-238ba38adf5a"}, {"name": "Rename Keys", "type": "n8n-nodes-base.renameKeys", "position": [650, 320], "parameters": {"keys": {"key": [{"currentKey": "key", "newKey": "newkey"}]}, "additionalOptions": {}}, "typeVersion": 1, "id": "57d000d9-d29f-4219-aa55-b8d0c8d98cbe"}], "connections": {"Set": {"main": [[{"node": "Rename Keys", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Set", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00613-manual-trigger-renamer.json"}