eval/data/realworld/rw_419cda5f03.json
{"id": "20", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:57:24.226Z", "startedAt": "2026-07-16T06:57:24.231Z", "stoppedAt": "2026-07-16T06:57:24.253Z", "deletedAt": null, "workflowId": "OhpbqTaQno7eqvJ1", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 5980, "binaryDataSizeBytes": 0, "workflowVersionId": "17be6467-e4fe-4e63-bef5-96c641d8fe0f", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"message": "Cannot read properties of undefined (reading 'split')", "stack": "TypeError: Cannot read properties of undefined (reading 'split')\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Function/Function.node.ts:215:84)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"POST": [{"startTime": 1784185044238, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185044239, "executionIndex": 1, "source": [{"previousNode": "POST", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 13, "executionStatus": "error", "error": {"message": "Cannot read properties of undefined (reading 'split')", "stack": "TypeError: Cannot read properties of undefined (reading 'split')\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Function/Function.node.ts:215:84)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Function"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"name": "Function", "type": "n8n-nodes-base.function", "position": [-280, -80], "parameters": {"notice": "", "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nc_id = items[0].json.headers['x-adobesign-clientid'];\n\nfor (item of items) {\n  item.json.myNewField = 1;\n  item.json.clientID = c_id;\n}\n\nreturn items;"}, "typeVersion": 1, "id": "4c4461ee-fe36-43bd-9691-2e33f4769f4f"}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "POST", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185044236, "source": "manual", "triggerNode": {"name": "POST", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+Dyx5vJn5CgqWxfGWiK7w37KEdz3wk7uHt7c5weXR2ZZyR0OirpBCI5OXv7BRrnU01Kt1B8ti+B0gQisXT9H55JslL76ahmEog5pGjh/0uSPzKixrd6TMHzAbi4Q6GqpjoLqxLA26Zr8E89M35F2xjbPgEEHxCH8emrwodaduKuT0ShsBuDdnN1Mp01F48YYOHkFbwD+yZkvN2Ln3QQ6eTl3iJdof08Irkmo/Lis4harqNw/b+UgRfx3IW+7CBLqu2Heq5Bjck9b8SnxmsJ9IPaCI4D+xVrFBp3DZCUy4fw3EWsoIjPZdjAVDHYUpR7B286RMbvEwmbdBqMgrm8gNpnTGuw8UjFNZdErNh4x6HBb08lYS5aY6vnm6rx1h07UtVpDODZVnjBHVyFGsotWsqnteaOivfX9I="}}, "resumeToken": "00c72ef7c481e9ab8bc9a953f07f4b1b4da38a1fb9bf1fe328847f7afde7d7cc"}, "workflowData": {"id": "OhpbqTaQno7eqvJ1", "name": "rw_419cda5f03", "nodes": [{"name": "Function", "type": "n8n-nodes-base.function", "position": [-280, -80], "parameters": {"notice": "", "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nc_id = items[0].json.headers['x-adobesign-clientid'];\n\nfor (item of items) {\n  item.json.myNewField = 1;\n  item.json.clientID = c_id;\n}\n\nreturn items;"}, "typeVersion": 1, "id": "4c4461ee-fe36-43bd-9691-2e33f4769f4f"}, {"name": "POST", "type": "n8n-nodes-base.manualTrigger", "position": [-540, -160], "parameters": {"notice": ""}, "typeVersion": 1, "id": "e110fab1-5283-4cd0-9690-b5d4bdcbda1e"}, {"name": "reg-GET", "type": "n8n-nodes-base.manualTrigger", "position": [-540, 20], "parameters": {"notice": ""}, "typeVersion": 1, "id": "e95019ac-e0b1-4e6e-a019-bba76e51414a"}, {"name": "webhook-response", "type": "n8n-nodes-base.manualTrigger", "position": [-100, -80], "parameters": {"notice": ""}, "typeVersion": 1, "id": "1a059158-2148-47cc-9c18-b73ac702d862"}, {"name": "SetWebhookData", "type": "n8n-nodes-base.set", "position": [60, -80], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "webhookData", "value": "={{ $item(\"0\").$node[\"webhook-response\"].json[\"body\"] }}"}, {"name": "agreement_ID", "value": "={{ $item(\"0\").$node[\"webhook-response\"].json[\"body\"][\"agreement\"][\"id\"] }}"}, {"name": "all_participants", "value": "={{ $item(\"0\").$node[\"webhook-response\"].json[\"body\"][\"agreement\"][\"participantSetsInfo\"] }}"}, {"name": "agreement_status", "value": "={{ $item(\"0\").$node[\"webhook-response\"].json[\"body\"][\"agreement\"][\"status\"] }}"}]}, "options": {}}, "typeVersion": 1, "id": "77f4e8b0-f946-4bbd-9c2f-e5afecab76c0"}], "connections": {"POST": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}, "reg-GET": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}, "Function": {"main": [[{"node": "webhook-response", "type": "main", "index": 0}]]}, "webhook-response": {"main": [[{"node": "SetWebhookData", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00174-adobesign-webhook-data.json"}