eval/data/realworld/rw_449bfdfefe.json
{"id": "69", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:46.792Z", "startedAt": "2026-07-16T06:58:46.806Z", "stoppedAt": "2026-07-16T06:58:46.839Z", "deletedAt": null, "workflowId": "T5hVX2KiCAE509U9", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 10030, "binaryDataSizeBytes": 0, "workflowVersionId": "e1e0f41b-0179-46fb-94d0-9a88faf56225", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"When clicking 'Test workflow'": [{"startTime": 1784185126815, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Create Sample Data": [{"startTime": 1784185126816, "executionIndex": 1, "source": [{"previousNode": "When clicking 'Test workflow'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"usersJson": "[{\"id\":1,\"name\":\"John Doe\",\"email\":\"user@example.com\",\"department\":\"Engineering\"},{\"id\":2,\"name\":\"Jane Smith\",\"email\":\"user@example.com\",\"department\":\"Marketing\"},{\"id\":3,\"name\":\"John Doe\",\"email\":\"user@example.com\",\"department\":\"Engineering\"},{\"id\":4,\"name\":\"Bob Johnson\",\"email\":\"user@example.com\",\"department\":\"Sales\"},{\"id\":5,\"name\":\"Alice Brown\",\"email\":\"user@example.com\",\"department\":\"HR\"},{\"id\":6,\"name\":\"Jane Smith Updated\",\"email\":\"user@example.com\",\"department\":\"Marketing\"}]", "totalCount": 6, "message": "Sample data with duplicates created"}, "pairedItem": {"item": 0}}]]}}], "Deduplicate Users": [{"startTime": 1784185126825, "executionIndex": 2, "source": [{"previousNode": "Create Sample Data", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"id": 1, "name": "John Doe", "email": "user@example.com", "department": "Engineering"}, "pairedItem": {"item": 0}}]]}}], "Display Results": [{"startTime": 1784185126832, "executionIndex": 3, "source": [{"previousNode": "Deduplicate Users", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"deduplicated_users": [{"id": 1, "name": "John Doe", "email": "user@example.com", "department": "Engineering"}], "statistics": {"unique_users_count": 1, "process_completed": true, "timestamp": "2026-07-16T06:58:46.837Z"}, "message": "Successfully deduplicated data - 1 unique users remaining"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Display Results"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185126814, "source": "manual", "triggerNode": {"name": "When clicking 'Test workflow'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/Ev683ZxDH/VhwPo1sYuIm56LsqoM1598EVzV4EVF6FExvaxvQuhOydtqceOuT4htM1eOyqPCwLgGonVrX/G2veCztMPsJhj5yl/UgRxy19TFv7nPO35K0N9r+zMiwhiJ2WnKcu6btR8hEyDJciLYylBojkw4JmrHs0aRH1xXf2Eoz4MUsHtiLQIxZJho0aQrgW5kTovBry7T/YBMUozxN7FHGCoRyATQvJRv5ljr9ifhOs9F0cJIpfHOxOpaLjDWAqKDSOLuFlENqI50lqrhxVZKSd53Mhtjaj6qolZKAz4bEx/Qie/EZcsAX6XQqinLfFsX4oxuepNXlBrmy2xG93G5oAuqdMi8G0ShnC8RbUVj/pc2iXHPbgdbIKCVFvTQqjRkAG+/tEE1j+hAj7MlqkFHneWfB2Bc="}}, "resumeToken": "24711974d3e0cbce1e49566860e2a2c765f4e3f0ada11248802ea946097a64a8"}, "workflowData": {"id": "T5hVX2KiCAE509U9", "name": "rw_449bfdfefe", "nodes": [{"id": "81dd117a-81f3-4dff-a7c7-664bc161987e", "name": "When clicking 'Test workflow'", "type": "n8n-nodes-base.manualTrigger", "position": [-420, 80], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "6f507b8c-8a8d-4c89-acdf-f0f4eda9fa94", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-660, -260], "parameters": {"content": "# \ud83e\uddf1 Data Deduplication Tutorial\n\n**Author:** David Olusola\n\n## \ud83d\ude80 n8n Coaching\nUnlock the full potential of n8n with personalized, one-on-one coaching. Whether you're just getting started or need help solving a specific challenge, I'll guide you step-by-step so you can build confidently and efficiently.\n\n\ud83d\udc49 [Book Coaching Session](mailto:david@daexai.com?subject=n8n%20Coaching%20Request)\n\n## \ud83d\udd27 n8n Consulting\nHave a complex automation project, unique integration needs, or want a custom workflow built from scratch? Let's collaborate to design and implement a robust solution tailored to your business.\n\n\ud83d\udce9 [Inquire About Consulting Services](mailto:david@daexai.com?subject=n8n%20Consultation%20Request)", "height": 580, "width": 400, "color": 7}, "typeVersion": 1}, {"id": "eadab384-f0d6-48b1-b4dd-e0eb106228ac", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [-240, 220], "parameters": {"content": "## \ud83d\udcca Sample Data\n\nThis node creates sample user data with intentional duplicates based on email addresses.\n\n**What it does:**\n- Creates an array of users\n- Includes duplicate entries (same email)\n- Simulates real-world messy data\n\n**Next Step:** Pass this data to the deduplication code node", "height": 360, "width": 300, "color": 7}, "typeVersion": 1}, {"id": "745ba692-ffa8-4ac6-851f-fb9dde8392f2", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [100, 220], "parameters": {"content": "## \ud83e\uddf9 Deduplication Logic\n\n**Key Concepts:**\n- `filter()` - Creates new array with filtered elements\n- `findIndex()` - Returns index of first matching element\n- `index === self.findIndex()` - Keeps only first occurrence\n\n**Algorithm:**\n1. Parse JSON data\n2. Filter array keeping first occurrence of each email\n3. Transform back to n8n format\n4. Return deduplicated results", "height": 380, "width": 300, "color": 7}, "typeVersion": 1}, {"id": "8bc4bd06-b031-4909-8210-5ec1f11366ff", "name": "Sticky Note3", "type": "n8n-nodes-base.stickyNote", "position": [460, 220], "parameters": {"content": "## \ud83d\udcc8 Results\n\n**What you'll see:**\n- Original count: 6 items\n- Deduplicated count: 4 items\n- Duplicates removed: 2 items\n\n**Use Cases:**\n- Clean data before CRM import\n- Prevent duplicate database entries\n- Data quality improvement\n- ETL pipeline cleanup", "height": 380, "width": 300, "color": 7}, "typeVersion": 1}, {"id": "75a624be-73e9-4b35-ae58-33bc45a0208c", "name": "Create Sample Data", "type": "n8n-nodes-base.code", "position": [-200, 80], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// Create sample data with intentional duplicates\nconst usersWithDuplicates = [\n  { id: 1, name: \"John Doe\", email: \"user@example.com\", department: \"Engineering\" },\n  { id: 2, name: \"Jane Smith\", email: \"user@example.com\", department: \"Marketing\" },\n  { id: 3, name: \"John Doe\", email: \"user@example.com\", department: \"Engineering\" }, // Duplicate\n  { id: 4, name: \"Bob Johnson\", email: \"user@example.com\", department: \"Sales\" },\n  { id: 5, name: \"Alice Brown\", email: \"user@example.com\", department: \"HR\" },\n  { id: 6, name: \"Jane Smith Updated\", email: \"user@example.com\", department: \"Marketing\" } // Duplicate\n];\n\n// Return the sample data as a single item with usersJson property\nreturn [{\n  json: {\n    usersJson: JSON.stringify(usersWithDuplicates),\n    totalCount: usersWithDuplicates.length,\n    message: \"Sample data with duplicates created\"\n  }\n}];", "notice": ""}, "typeVersion": 2}, {"id": "909634f2-52ad-4f98-aad0-7c3d8a8b8e43", "name": "Deduplicate Users", "type": "n8n-nodes-base.code", "position": [140, 80], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// \ud83e\uddf1 Data Deduplication Code Node\n// Use Case: Clean up duplicates before inserting into DB or CRM\n\n// Parse the users JSON from the previous node\nconst users = JSON.parse(items[0].json.usersJson);\n\n// Deduplicate users based on email address\n// This keeps the first occurrence of each unique email\nconst uniqueUsers = users.filter(\n  (user, index, self) => \n    index === self.findIndex(u => u.email === user.email)\n);\n\n// Log the deduplication results\nconsole.log(`Original count: ${users.length}`);\nconsole.log(`Deduplicated count: ${uniqueUsers.length}`);\nconsole.log(`Duplicates removed: ${users.length - uniqueUsers.length}`);\n\n// Return the deduplicated users in n8n format\n// Each user becomes a separate item in the workflow\nreturn uniqueUsers.map(user => ({ json: user }));", "notice": ""}, "typeVersion": 2}, {"id": "59855549-51e4-42df-b586-730ff1e59e67", "name": "Display Results", "type": "n8n-nodes-base.code", "position": [500, 80], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// Display the final results with statistics\nconst currentItems = items;\nconst uniqueCount = currentItems.length;\n\n// Create a summary of the deduplication process\nconst summary = {\n  deduplicated_users: currentItems.map(item => item.json),\n  statistics: {\n    unique_users_count: uniqueCount,\n    process_completed: true,\n    timestamp: new Date().toISOString()\n  },\n  message: `Successfully deduplicated data - ${uniqueCount} unique users remaining`\n};\n\nreturn [{ json: summary }];", "notice": ""}, "typeVersion": 2}, {"id": "2a5c40fc-ff56-4e54-b06e-4c56e2c4da0e", "name": "Sticky Note4", "type": "n8n-nodes-base.stickyNote", "position": [-140, -240], "parameters": {"content": "## \ud83c\udfaf Learning Objectives\n\n**After this tutorial you'll understand:**\n\n\u2705 How to use JavaScript array methods in n8n\n\u2705 Data deduplication techniques\n\u2705 Working with JSON data in Code nodes\n\u2705 Transforming data between n8n items\n\u2705 Practical use cases for data cleaning\n\n**Best Practices:**\n- Always validate input data\n- Consider performance for large datasets\n- Test with various duplicate scenarios\n- Add error handling for production use", "height": 330, "width": 430, "color": 7}, "typeVersion": 1}], "connections": {"Deduplicate Users": {"main": [[{"node": "Display Results", "type": "main", "index": 0}]]}, "Create Sample Data": {"main": [[{"node": "Deduplicate Users", "type": "main", "index": 0}]]}, "When clicking 'Test workflow'": {"main": [[{"node": "Create Sample Data", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/10098-Deduplicate-data-records-using-JavaScript-array-methods.json"}