eval/data/realworld/rw_46d88d712a.json
{"id": "36", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:57:50.889Z", "startedAt": "2026-07-16T06:57:50.892Z", "stoppedAt": "2026-07-16T06:57:50.913Z", "deletedAt": null, "workflowId": "W4PMXWO7NmblRV08", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 5487, "binaryDataSizeBytes": 0, "workflowVersionId": "44f4b90c-ba51-4dcc-8081-2cd7ae94c53e", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"name": "VMError", "code": "ENOTFOUND", "message": "Cannot find module 'moment' [Line 1]", "stack": "VMError: Cannot find module 'moment'\n    at Resolver.resolveFull (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/resolver.js:126:9)\n    at Resolver.resolve (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/resolver.js:121:15)\n    at resolve (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/nodevm.js:383:21)\n    at VM2 Wrapper.apply (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/bridge.js:1664:11)\n    at requireImpl (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/setup-node-sandbox.js:90:19)\n    at require (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/setup-node-sandbox.js:171:10)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/dist/nodes/Function:1:113\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/dist/nodes/Function:30:2\n    at VM2 Wrapper.apply (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/bridge.js:1664:11)\n    at NodeVM.run (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/nodevm.js:563:23)"}, "runData": {"On clicking 'execute'": [{"startTime": 1784185070897, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Get Local Datetime": [{"startTime": 1784185070898, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 15, "executionStatus": "error", "error": {"name": "VMError", "code": "ENOTFOUND", "message": "Cannot find module 'moment' [Line 1]", "stack": "VMError: Cannot find module 'moment'\n    at Resolver.resolveFull (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/resolver.js:126:9)\n    at Resolver.resolve (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/resolver.js:121:15)\n    at resolve (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/nodevm.js:383:21)\n    at VM2 Wrapper.apply (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/bridge.js:1664:11)\n    at requireImpl (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/setup-node-sandbox.js:90:19)\n    at require (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/setup-node-sandbox.js:171:10)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/dist/nodes/Function:1:113\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/dist/nodes/Function:30:2\n    at VM2 Wrapper.apply (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/bridge.js:1664:11)\n    at NodeVM.run (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/vm2@3.11.5/node_modules/vm2/lib/nodevm.js:563:23)"}}]}, "pinData": null, "lastNodeExecuted": "Get Local Datetime"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"name": "Get Local Datetime", "type": "n8n-nodes-base.function", "position": [450, 300], "parameters": {"notice": "", "functionCode": "const moment = require('moment');\n\nlet date = moment().tz($env['GENERIC_TIMEZONE']);\n\nlet year = date.year();\nlet month = date.month(); // zero-indexed!\nlet day = date.date();\nlet hour = date.hours();\nlet minute = date.minutes();\nlet second = date.seconds();\nlet millisecond = date.millisecond();\nlet formatted = date.format('YYYY-MM-DD HH:mm:ss.SSS Z');\n\nreturn [\n  {\n    json: {\n      utc: date,\n      year: year,\n      month: month, // zero-indexed!\n      day: day,\n      hour: hour,\n      minute: minute,\n      second: second,\n      millisecond: millisecond,\n      formatted: formatted\n    }\n  }\n];\n"}, "typeVersion": 1, "id": "333a3c59-66f1-434e-a3d3-637cf3d69640"}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185070896, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/no6mp3GsN+0SPNJ1aNkj27YvADMKQ1koOlCnD1xD8CJSCE33Mm96jFmWZFksz50I+8pL2eLSCqDOalRleSqF3bh0ZqfAOeqZUq6rC5PwLAb6ZnookQJh21x2EdMBGrprIy3zu1vVpiGpIuf8o14sYh9avbqF4Tsy5DKzHWPEOrBUfSDWMs7TWR0LsLyL4bdHiSpYGxzTN2DGC9/0soarC40Oz0G61UZn0mX2xX7LNFDJ+NIMAqwd12EM0rl4I+U5w5xtoMzHKzNvSG46q/9Ka1Z2y16QcbEmDFOZ8C9BNzXHJiHPBjPYjIQXavGypWzblhoiMWIcqOvh+4s9bxOlKHnQAh6wDLfPn96WzZAfm6Ppsvf1wBZ+O6Jakv7Ak0dMMXe+k21sF1gRO57A8l+ypEaneU8lORTM="}}, "resumeToken": "36b6f12a4ca966a12d735b0b69f1b8228e521b132f21bf8ce0a520677286c258"}, "workflowData": {"id": "W4PMXWO7NmblRV08", "name": "rw_46d88d712a", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "23789af2-ef16-4aa4-96f4-7b1641612eb8"}, {"name": "Get Local Datetime", "type": "n8n-nodes-base.function", "position": [450, 300], "parameters": {"notice": "", "functionCode": "const moment = require('moment');\n\nlet date = moment().tz($env['GENERIC_TIMEZONE']);\n\nlet year = date.year();\nlet month = date.month(); // zero-indexed!\nlet day = date.date();\nlet hour = date.hours();\nlet minute = date.minutes();\nlet second = date.seconds();\nlet millisecond = date.millisecond();\nlet formatted = date.format('YYYY-MM-DD HH:mm:ss.SSS Z');\n\nreturn [\n  {\n    json: {\n      utc: date,\n      year: year,\n      month: month, // zero-indexed!\n      day: day,\n      hour: hour,\n      minute: minute,\n      second: second,\n      millisecond: millisecond,\n      formatted: formatted\n    }\n  }\n];\n"}, "typeVersion": 1, "id": "333a3c59-66f1-434e-a3d3-637cf3d69640"}], "connections": {"On clicking 'execute'": {"main": [[{"node": "Get Local Datetime", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/01190-captura-tiempo-automatica.json"}