eval/data/realworld/rw_47b20d5ae0.json
{"id": "53", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:58:17.933Z", "startedAt": "2026-07-16T06:58:17.939Z", "stoppedAt": "2026-07-16T06:58:17.966Z", "deletedAt": null, "workflowId": "peK9ULlG8VX3fyyD", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 6941, "binaryDataSizeBytes": 0, "workflowVersionId": "7fa66126-6a43-49cc-97d0-9ccd13451391", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "info", "shouldReport": false, "tags": {}, "code": "ERR_INVALID_ARG_TYPE", "message": "The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined", "stack": "TypeError [ERR_INVALID_ARG_TYPE]: The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined\n    at Buffer.from (node:buffer:362:9)\n    at xorDecrypt (evalmachine.<anonymous>:5:23)\n    at VmCodeWrapper (evalmachine.<anonymous>:17:18)\n    at evalmachine.<anonymous>:22:2\n    at Script.runInContext (node:vm:149:12)\n    at runInContext (node:vm:301:6)\n    at result (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:215:61)\n    at new Promise (<anonymous>)\n    at JsTaskRunner.runForAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:208:34)\n    at JsTaskRunner.executeTask (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:143:26)"}, "runData": {"When Executed by Another Workflow": [{"startTime": 1784185097947, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "If": [{"startTime": 1784185097947, "executionIndex": 1, "source": [{"previousNode": "When Executed by Another Workflow", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[], [{"json": {}, "pairedItem": {"item": 0}}]]}}], "decrypt": [{"startTime": 1784185097954, "executionIndex": 2, "source": [{"previousNode": "If", "previousNodeOutput": 1, "previousNodeRun": 0}], "hints": [], "executionTime": 12, "executionStatus": "error", "error": {"level": "info", "shouldReport": false, "tags": {}, "code": "ERR_INVALID_ARG_TYPE", "message": "The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined", "stack": "TypeError [ERR_INVALID_ARG_TYPE]: The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined\n    at Buffer.from (node:buffer:362:9)\n    at xorDecrypt (evalmachine.<anonymous>:5:23)\n    at VmCodeWrapper (evalmachine.<anonymous>:17:18)\n    at evalmachine.<anonymous>:22:2\n    at Script.runInContext (node:vm:149:12)\n    at runInContext (node:vm:301:6)\n    at result (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:215:61)\n    at new Promise (<anonymous>)\n    at JsTaskRunner.runForAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:208:34)\n    at JsTaskRunner.executeTask (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:143:26)"}}]}, "pinData": null, "lastNodeExecuted": "decrypt"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "9376e4af-0923-404d-a596-8090cc0f9c8f", "name": "decrypt", "type": "n8n-nodes-base.code", "position": [300, 120], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "const encrypted = $input.first().json.data;\nconst key = $input.first().json.key; // Must be the same key used to encrypt\n\nfunction xorDecrypt(base64Text, key) {\n  const text = Buffer.from(base64Text, 'base64').toString();\n  let decrypted = \"\";\n  for (let i = 0; i < text.length; i++) {\n    const charCode = text.charCodeAt(i) ^ key.charCodeAt(i % key.length);\n    decrypted += String.fromCharCode(charCode);\n  }\n  return decrypted;\n}\n\nreturn [\n  {\n    json: {\n      decrypted: xorDecrypt(encrypted, key)\n    }\n  }\n];\n", "notice": ""}, "typeVersion": 2}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "If", "previousNodeOutput": 1, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185097945, "source": "manual", "triggerNode": {"name": "When Executed by Another Workflow", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19IIT9bcDq5XZuTp0SLHGWIcizo1xTTVm2nFDK7M8+wA+DqhFgm+6sz9+p+6A7xsIshoj2EZSNPL9HGSzWO6kuWfF12FyUUggn+Ejk5hWQJgXxFNiauuWCK6Efu7YUAouiJm2rwZ8huevYvSR2nlU4oKLLxX8bJCNac//EbPfQ2WEU2+Xj+fUet48tGowAT0f5o7POl79wnAl1AkOnvGIB03oRiw/SWUiGssdaoaBBhW/6klVX7H4s4rtw0WxSjSHAZPrHL8xESHNbdwDAPYnkcfG9bYLyekbx2zrkPE6HXEi5LroCC4AQva813F/VXyMQI3cZb1RvkhlcCALDqAfJNU5Jlgl97SDo64NTECk2vWwhgB4m72hecOT7/EANsTGmj8P/bA5uh2gJDvaspcxu4tdAFWwyWSME="}}, "resumeToken": "9fa234c6ea68d9960307f56b3a7196ad151bcd66faa6d80b419b81eb59d52b54"}, "workflowData": {"id": "peK9ULlG8VX3fyyD", "name": "rw_47b20d5ae0", "nodes": [{"id": "61c0e04b-bbac-4c1f-8dee-d2e8096cecc9", "name": "When Executed by Another Workflow", "type": "n8n-nodes-base.manualTrigger", "position": [-140, 20], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "29fec805-be45-40bf-a7a5-52dcdc6a4e9e", "name": "If", "type": "n8n-nodes-base.if", "position": [80, 20], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "8f844b57-5893-44f8-a1c8-de653bfbac9e", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json['action-type'] }}", "rightValue": "encrypt"}]}, "looseTypeValidation": false, "options": {}}, "typeVersion": 2.2}, {"id": "9c293a9b-7d52-4d97-a0b5-578e9f228b89", "name": "encrypt", "type": "n8n-nodes-base.code", "position": [300, -80], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "const message =$input.first().json.data || \"No Data\";\nconst key = $input.first().json.key;\n\nfunction xorEncrypt(text, key) {\n  let encrypted = \"\";\n  for (let i = 0; i < text.length; i++) {\n    const charCode = text.charCodeAt(i) ^ key.charCodeAt(i % key.length);\n    encrypted += String.fromCharCode(charCode);\n  }\n  return Buffer.from(encrypted).toString('base64'); \n}\n\nreturn [\n  {\n    json: {\n      encrypted: xorEncrypt(message, key)\n    }\n  }\n];\n", "notice": ""}, "typeVersion": 2}, {"id": "9376e4af-0923-404d-a596-8090cc0f9c8f", "name": "decrypt", "type": "n8n-nodes-base.code", "position": [300, 120], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "const encrypted = $input.first().json.data;\nconst key = $input.first().json.key; // Must be the same key used to encrypt\n\nfunction xorDecrypt(base64Text, key) {\n  const text = Buffer.from(base64Text, 'base64').toString();\n  let decrypted = \"\";\n  for (let i = 0; i < text.length; i++) {\n    const charCode = text.charCodeAt(i) ^ key.charCodeAt(i % key.length);\n    decrypted += String.fromCharCode(charCode);\n  }\n  return decrypted;\n}\n\nreturn [\n  {\n    json: {\n      decrypted: xorDecrypt(encrypted, key)\n    }\n  }\n];\n", "notice": ""}, "typeVersion": 2}], "connections": {"If": {"main": [[{"node": "encrypt", "type": "main", "index": 0}], [{"node": "decrypt", "type": "main", "index": 0}]]}, "When Executed by Another Workflow": {"main": [[{"node": "If", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/06376-XOR-encryption-and-decryption-with-Base64-encoding-for-workflow-data.json"}