eval/data/realworld/rw_4c4a24cc68.json
{"id": "22", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:27.821Z", "startedAt": "2026-07-16T06:57:27.825Z", "stoppedAt": "2026-07-16T06:57:27.930Z", "deletedAt": null, "workflowId": "cwcdvn0l83x2aoqy", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 15234, "binaryDataSizeBytes": 0, "workflowVersionId": "570aa531-35dd-4d3a-aed1-0313ef1f814c", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185047835, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "A. Ingredients Needed": [{"startTime": 1784185047836, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 36, "executionStatus": "success", "data": {"main": [[{"json": {"Name": "Flour"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Eggs"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Milk"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Lemon"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Sugar"}, "pairedItem": {"item": 0}}]]}}], "B. Ingredients in stock": [{"startTime": 1784185047873, "executionIndex": 2, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"Name": "Eggs"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Lemon"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Sugar"}, "pairedItem": {"item": 0}}]]}}], "A. Ingredients": [{"startTime": 1784185047880, "executionIndex": 3, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"Name": "Flour"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Eggs"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Milk"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Lemon"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Sugar"}, "pairedItem": {"item": 0}}]]}}], "B. Recipe quantities": [{"startTime": 1784185047889, "executionIndex": 4, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"Name": "Flour", "Quantity": "100g"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Eggs", "Quantity": 2}, "pairedItem": {"item": 0}}, {"json": {"Name": "Salt", "Quantity": "50g"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Lemon", "Quantity": 1}, "pairedItem": {"item": 0}}, {"json": {"Name": "Sugar", "Quantity": "6tbsp"}, "pairedItem": {"item": 0}}]]}}], "A. Queen": [{"startTime": 1784185047898, "executionIndex": 5, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 20, "executionStatus": "success", "data": {"main": [[{"json": {"FirstName": "John", "LastName": "Deacon", "Instrument": "Drums"}, "pairedItem": {"item": 0}}, {"json": {"FirstName": "Freddy", "LastName": "Mercury", "Instrument": "Vocals and Piano", "Superpower": "Crowd control"}, "pairedItem": {"item": 0}}, {"json": {"FirstName": "Brian", "LastName": "May", "Instrument": "Guitar"}, "pairedItem": {"item": 0}}, {"json": {"FirstName": "Roger", "LastName": "Taylor", "Instrument": "Bass"}, "pairedItem": {"item": 0}}]]}}], "B. Led Zeppelin": [{"startTime": 1784185047918, "executionIndex": 6, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 6, "executionStatus": "success", "data": {"main": [[{"json": {"FirstName": "Jimmy", "LastName": "Page", "Instrument": "Guitar"}, "pairedItem": {"item": 0}}, {"json": {"FirstName": "Robert", "LastName": "Plant", "Instrument": "Vocals"}, "pairedItem": {"item": 0}}, {"json": {"FirstName": "John", "LastName": "Bonham", "Instrument": "Drums"}, "pairedItem": {"item": 0}}, {"json": {"FirstName": "John", "LastName": "Paul Jones", "Instrument": "Bass", "Second Instrument": "Keyboard"}, "pairedItem": {"item": 0}}]]}}], "Ingredients in stock from recipe": [{"startTime": 1784185047924, "executionIndex": 7, "source": [{"previousNode": "A. Ingredients Needed", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "B. Ingredients in stock", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 4, "executionStatus": "success", "data": {"main": [[{"json": {"Name": "Eggs"}, "binary": {}, "pairedItem": [{"item": 1}, {"item": 0, "input": 1}]}, {"json": {"Name": "Lemon"}, "binary": {}, "pairedItem": [{"item": 3}, {"item": 1, "input": 1}]}, {"json": {"Name": "Sugar"}, "binary": {}, "pairedItem": [{"item": 4}, {"item": 2, "input": 1}]}]]}}], "Merge recipe": [{"startTime": 1784185047928, "executionIndex": 8, "source": [{"previousNode": "A. Ingredients", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "B. Recipe quantities", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"Name": "Flour", "Quantity": "100g"}, "binary": {}, "pairedItem": [{"item": 0}, {"item": 0, "input": 1}]}, {"json": {"Name": "Eggs", "Quantity": 2}, "binary": {}, "pairedItem": [{"item": 1}, {"item": 1, "input": 1}]}, {"json": {"Name": "Lemon", "Quantity": 1}, "binary": {}, "pairedItem": [{"item": 3}, {"item": 3, "input": 1}]}, {"json": {"Name": "Sugar", "Quantity": "6tbsp"}, "binary": {}, "pairedItem": [{"item": 4}, {"item": 4, "input": 1}]}, {"json": {"Name": "Milk"}, "pairedItem": {"item": 2}}]]}}], "Super Band": [{"startTime": 1784185047929, "executionIndex": 9, "source": [{"previousNode": "A. Queen", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "B. Led Zeppelin", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"FirstName": "John", "LastName": "Deacon", "Instrument": "Drums"}, "pairedItem": {"item": 0}}, {"json": {"FirstName": "Freddy", "LastName": "Mercury", "Instrument": "Vocals and Piano", "Superpower": "Crowd control"}, "pairedItem": {"item": 1}}, {"json": {"FirstName": "Brian", "LastName": "May", "Instrument": "Guitar"}, "pairedItem": {"item": 2}}, {"json": {"FirstName": "Roger", "LastName": "Taylor", "Instrument": "Bass"}, "pairedItem": {"item": 3}}, {"json": {"FirstName": "Jimmy", "LastName": "Page", "Instrument": "Guitar"}, "pairedItem": {"item": 0, "input": 1}}, {"json": {"FirstName": "Robert", "LastName": "Plant", "Instrument": "Vocals"}, "pairedItem": {"item": 1, "input": 1}}, {"json": {"FirstName": "John", "LastName": "Bonham", "Instrument": "Drums"}, "pairedItem": {"item": 2, "input": 1}}, {"json": {"FirstName": "John", "LastName": "Paul Jones", "Instrument": "Bass", "Second Instrument": "Keyboard"}, "pairedItem": {"item": 3, "input": 1}}]]}}]}, "pinData": null, "lastNodeExecuted": "Super Band"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185047833, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+tOrIBRgvUvj/hnJh69eNSW+3fYk+2Sv9FZcHEsCk5ZFGwLExLDBhzJz7cflFYyij/HZ5c2fwBHiCD6362b/+7mgxYpzkVF5QB8NkS+2POFvopkqmyBQZfNsdZjqQh7j9b6kH7Vn+b1vM6DAtLQ6XpNATcw3k+GNwStM/BxEcFpmAo6NOktAzu2tuyu61fKY1d2c92kGZDwXGoyvVXVG/r7nhRZAqGAxHkL1ZhfvvMw3PCbNF4jFhTPZcEWj7xvBgygcyJDGhvJMZhUlsRuKzbyYy5mBQXF02AMaIOxY4ZjTNV04ccXWGn0aBuajaa1SkGVV+V1sifN939uQZJ8S3G3Pkt+478/3OBdW9TFicfv6k++Q6IqcujD1jb43bapQsNd0od6710LkA+QmFLtu/z5eUY7TnePRY="}}, "resumeToken": "5c085e80dffee960e05be23b93afbc8691b58e9d6944ea7fda4d112fed8bd7f0"}, "workflowData": {"id": "cwcdvn0l83x2aoqy", "name": "rw_4c4a24cc68", "nodes": [{"id": "9971f7ab-ecc3-468b-8eb9-b58491b660bd", "name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [1040, 360], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "bb212963-9b6f-434c-9777-3360fb456d4b", "name": "Note", "type": "n8n-nodes-base.stickyNote", "position": [1320, 600], "parameters": {"content": "# 3. Add items from B below items from A\n", "height": 360, "width": 1020, "color": 1}, "typeVersion": 1}, {"id": "cc9461f1-1016-4ef5-bc10-525942c45047", "name": "Note1", "type": "n8n-nodes-base.stickyNote", "position": [1320, -200], "parameters": {"content": "# 1. Keep items from A if there's a match in B\n", "height": 380, "width": 1020, "color": 1}, "typeVersion": 1}, {"id": "09a68f64-5b2d-43a8-acff-7c26817cc025", "name": "Note2", "type": "n8n-nodes-base.stickyNote", "position": [1320, 200], "parameters": {"content": "# 2. Enrich items from A with matching data from B", "height": 380, "width": 1020, "color": 1}, "typeVersion": 1}, {"id": "bcf0c7df-fb64-4ef8-9d75-300ff9b55f40", "name": "Note4", "type": "n8n-nodes-base.stickyNote", "position": [175, 235], "parameters": {"content": "# Aggregating data with the Merge node\n\n## The merge node is one of the most useful nodes in n8n. In this workflow we show how to merge data from two different sources (similar to SQL joins).\n\n## The most-used operations of the merge node are presented here. For more info, browse the [merge node docs](https://docs.n8n.io/integrations/core-nodes/n8n-nodes-base.merge/)\n\n## Click the `Execute Workflow` button and double click on the nodes to see the input and output items.", "height": 460, "width": 740, "color": 1}, "typeVersion": 1}, {"id": "b418defd-f58f-4f53-9bac-b1e6611151dc", "name": "Note6", "type": "n8n-nodes-base.stickyNote", "position": [1855, 335], "parameters": {"content": "## Adds the quantity needed to each ingredient in the recipe\n\n## Similar to SQL Left join\n\n", "height": 160, "width": 480, "color": 1}, "typeVersion": 1}, {"id": "017b5902-865e-4481-98d2-0a969cc09482", "name": "Note8", "type": "n8n-nodes-base.stickyNote", "position": [1855, -65], "parameters": {"content": "## This will keep only the ingredients needed that are also in stock\n\n## Similar to SQL Inner join", "height": 160, "width": 480, "color": 1}, "typeVersion": 1}, {"id": "e2b46667-da41-4448-a74d-3aa095f72619", "name": "Note9", "type": "n8n-nodes-base.stickyNote", "position": [1855, 695], "parameters": {"content": "## This will create a super band by merging Queen and Led Zeppelin\n\n## Similar to SQL Union All \n(more flexible as not requires all fields to be the same)", "height": 200, "width": 480, "color": 1}, "typeVersion": 1}, {"id": "9726c9cc-cab1-44f8-8c62-2b80899af4aa", "name": "Ingredients in stock from recipe", "type": "n8n-nodes-base.merge", "position": [1600, -20], "parameters": {"mode": "combine", "combinationMode": "mergeByFields", "mergeByFields": {"values": [{"field1": "Name", "field2": "Name"}]}, "joinMode": "keepMatches", "outputDataFrom": "both", "options": {}}, "typeVersion": 2}, {"id": "42367b1e-8a5d-4b0c-bfd3-8bb3f1b63df9", "name": "Super Band", "type": "n8n-nodes-base.merge", "position": [1620, 760], "parameters": {"mode": "append"}, "typeVersion": 2}, {"id": "b4a756d8-a729-4add-aafa-9868738a6790", "name": "A. Ingredients Needed", "type": "n8n-nodes-base.code", "position": [1360, -100], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": " return [\n  {\n    \"Name\": \"Flour\",\n  },\n  {\n    \"Name\": \"Eggs\",\n  },\n  {\n    \"Name\": \"Milk\",\n  },\n  {\n    \"Name\": \"Lemon\",\n  },\n  {\n    \"Name\": \"Sugar\",\n  },\n];\n", "notice": ""}, "typeVersion": 1}, {"id": "eb69abdc-cb89-43c5-bcd6-5f1f6383b391", "name": "B. Ingredients in stock", "type": "n8n-nodes-base.code", "position": [1360, 40], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": " return [\n  {\n    \"Name\": \"Eggs\",\n  },\n  {\n    \"Name\": \"Lemon\",\n  },\n  {\n    \"Name\": \"Sugar\",\n  },\n];\n", "notice": ""}, "typeVersion": 1}, {"id": "b01228b8-c860-4725-a0e1-00b4c11218cc", "name": "Merge recipe", "type": "n8n-nodes-base.merge", "position": [1620, 380], "parameters": {"mode": "combine", "combinationMode": "mergeByFields", "mergeByFields": {"values": [{"field1": "Name", "field2": "Name"}]}, "joinMode": "enrichInput1", "options": {}}, "typeVersion": 2}, {"id": "fdb8a9cb-8a85-4a9a-bd2f-c9711178333f", "name": "A. Ingredients", "type": "n8n-nodes-base.code", "position": [1360, 300], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": " return [\n  {\n    \"Name\": \"Flour\",\n  },\n  {\n    \"Name\": \"Eggs\",\n  },\n  {\n    \"Name\": \"Milk\",\n  },\n  {\n    \"Name\": \"Lemon\",\n  },\n  {\n    \"Name\": \"Sugar\",\n  },\n];\n", "notice": ""}, "typeVersion": 1}, {"id": "2ca385e5-6833-49fa-b052-abc8583b4a7a", "name": "B. Recipe quantities", "type": "n8n-nodes-base.code", "position": [1360, 440], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": " return [\n  {\n    \"Name\": \"Flour\",\n    \"Quantity\": \"100g\",\n  },\n  {\n    \"Name\": \"Eggs\",\n    \"Quantity\": 2,\n  },\n  {\n    \"Name\": \"Salt\",\n    \"Quantity\": \"50g\"\n  },\n  {\n    \"Name\": \"Lemon\",\n    \"Quantity\": 1,\n  },\n  {\n    \"Name\": \"Sugar\",\n    \"Quantity\": \"6tbsp\",\n  },\n];\n", "notice": ""}, "typeVersion": 1}, {"id": "8e4c7da8-3700-4b1f-b937-739debf7aba4", "name": "A. Queen", "type": "n8n-nodes-base.code", "position": [1360, 680], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": " return [\n{\n\"FirstName\": \"John\",\n\"LastName\": \"Deacon\",\n\"Instrument\": \"Drums\",\n},\n{\n\"FirstName\": \"Freddy\",\n\"LastName\": \"Mercury\",\n\"Instrument\": \"Vocals and Piano\",\n\"Superpower\": \"Crowd control\"\n},\n{\n\"FirstName\": \"Brian\",\n\"LastName\": \"May\",\n\"Instrument\": \"Guitar\",\n},\n{\n\"FirstName\": \"Roger\",\n\"LastName\": \"Taylor\",\n\"Instrument\": \"Bass\",\n}\n];\n", "notice": ""}, "typeVersion": 1}, {"id": "260c7a0a-43ba-46aa-bfa8-cbbb66aca493", "name": "B. Led Zeppelin", "type": "n8n-nodes-base.code", "position": [1360, 820], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": " return [\n{\n\"FirstName\": \"Jimmy\",\n\"LastName\": \"Page\",\n\"Instrument\": \"Guitar\"\n},\n{\n\"FirstName\": \"Robert\",\n\"LastName\": \"Plant\",\n\"Instrument\": \"Vocals\",\n},\n{\n\"FirstName\": \"John\",\n\"LastName\": \"Bonham\",\n\"Instrument\": \"Drums\",\n},\n{\n\"FirstName\": \"John\",\n\"LastName\": \"Paul Jones\",\n\"Instrument\": \"Bass\",\n\"Second Instrument\": \"Keyboard\",\n}\n];\n", "notice": ""}, "typeVersion": 1}], "connections": {"A. Queen": {"main": [[{"node": "Super Band", "type": "main", "index": 0}]]}, "A. Ingredients": {"main": [[{"node": "Merge recipe", "type": "main", "index": 0}]]}, "B. Led Zeppelin": {"main": [[{"node": "Super Band", "type": "main", "index": 1}]]}, "B. Recipe quantities": {"main": [[{"node": "Merge recipe", "type": "main", "index": 1}]]}, "A. Ingredients Needed": {"main": [[{"node": "Ingredients in stock from recipe", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "A. Ingredients Needed", "type": "main", "index": 0}, {"node": "B. Ingredients in stock", "type": "main", "index": 0}, {"node": "A. Ingredients", "type": "main", "index": 0}, {"node": "B. Recipe quantities", "type": "main", "index": 0}, {"node": "A. Queen", "type": "main", "index": 0}, {"node": "B. Led Zeppelin", "type": "main", "index": 0}]]}, "B. Ingredients in stock": {"main": [[{"node": "Ingredients in stock from recipe", "type": "main", "index": 1}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00205-workflow-merge-demo.json"}