eval/data/realworld/rw_53215094cd.json
{"id": "21", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:25.880Z", "startedAt": "2026-07-16T06:57:25.888Z", "stoppedAt": "2026-07-16T06:57:25.914Z", "deletedAt": null, "workflowId": "nfT3CZJd9tFDEokN", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 7049, "binaryDataSizeBytes": 0, "workflowVersionId": "ee552da3-a0f0-4903-9048-7158eec78e97", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185045899, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set times": [{"startTime": 1784185045899, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 6, "executionStatus": "success", "data": {"main": [[{"json": {"Now": "2026-07-16T02:57:25.900-04:00", "Current time with seconds": "2:57:25 AM", "Today": "2026-07-16T00:00:00.000-04:00", "Tomorrow": "2026-07-17T00:00:00.000-04:00", "One hour from now": "2026-07-16T01:57:25.904-04:00", "Weekday": "Thursday"}, "pairedItem": {"item": 0}}]]}}], "12 Hours from now": [{"startTime": 1784185045905, "executionIndex": 2, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 3, "executionStatus": "success", "data": {"main": [[{"json": {"data": "2026-07-16T18:57:25.906Z"}, "pairedItem": {"item": 0}}]]}}], "Edit times": [{"startTime": 1784185045908, "executionIndex": 3, "source": [{"previousNode": "Set times", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 4, "executionStatus": "success", "data": {"main": [[{"json": {"Current time": "2026-07-16T02:57:25.900-04:00", "Current time formatted": "2026 Jul 16"}, "pairedItem": {"item": 0}}]]}}], "Format - MMMM DD YY": [{"startTime": 1784185045912, "executionIndex": 4, "source": [{"previousNode": "12 Hours from now", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "July 16 2026"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Format - MMMM DD YY"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185045897, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX18L++rw1XT7jn6uBr+H2UAtpioq+bTMgNOn9mpfGGNeSTtJtr6tkCYhKqgHcOun47JpHVv25F4lTa+yVkY4JfMsoJw0YUfBOcZC9+AG8KgbN3SXwsIeOdPahfWOpLm1xWU00d+8qwhwR7O1/Wk1gfrzA0S46ahdbHVEbmBOlX9MnKA20aFg/hwpaa30BPAQ9yCOwxbIGgrp/AO6wFZHv+GgcezkMlmwQ/2QY5c8SDX3GVAO4GQiWIlTN1/X2ZdRmfZpW8aRh7Dv9gfR6I4fsMm5D6CXN/LK1WPutuT4HlTpkqmZZyKRtyaGRwZDWQENDMzdqUP5saeCpzPxw2klPr/Yj1/A4ioL5ulfEMCFMLhOD8aJ+E7ioyj4h9m4O0eaPIc9dIpDtpnUQX4E1DOi5A8qAS40/yYZIZw="}}, "resumeToken": "71ecfec0f6ae257b5141948c1ae90baa805c90f797fb6b9b2463eb6f4240325f"}, "workflowData": {"id": "nfT3CZJd9tFDEokN", "name": "rw_53215094cd", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [1140, 780], "parameters": {"notice": ""}, "typeVersion": 1, "id": "78da65a0-4763-45d8-831a-8251645d1da8"}, {"name": "Note", "type": "n8n-nodes-base.stickyNote", "position": [1480, 760], "parameters": {"content": "## 2. Advanced way: Using Expressions\nIn this `Set` node, we set dates using [Luxon expressions](https://docs.n8n.io/code-examples/expressions/luxon/) for the following formats:\n\nNow - `{{$now}}`\nCurrent time with seconds - `{{$now.toLocaleString(DateTime.TIME_WITH_SECONDS)}}`\nToday - `{{$today}}`\nTomorrow - `{{$today.plus({days: 1})}}`\nOne hour ago - `{{$now.minus({hours: 1})}}`\nWeekday name - `{{$today.weekdayLong}}`\n\n", "height": 400, "width": 560, "color": 1}, "typeVersion": 1, "id": "858f82a4-8195-4279-b842-d261ec8f74d3"}, {"name": "Note3", "type": "n8n-nodes-base.stickyNote", "position": [660, 780], "parameters": {"content": "### Click the `Execute Workflow` button and double click on the nodes to see the input and output items.", "height": 100, "width": 420, "color": 1}, "typeVersion": 1, "id": "67462269-311d-4807-b2dd-ca4f2ec0dbef"}, {"name": "12 Hours from now", "type": "n8n-nodes-base.dateTime", "position": [1520, 580], "parameters": {"noticeDateTime": "", "action": "calculate", "value": "={{$now}}", "operation": "add", "duration": 12, "timeUnit": "hours", "dataPropertyName": "data", "options": {}}, "typeVersion": 1, "id": "769258d7-fcd3-4320-a915-c73611cd6533"}, {"name": "Note1", "type": "n8n-nodes-base.stickyNote", "position": [1480, 400], "parameters": {"content": "## 1. Simple Way: Using the Date & Time node\nThere are two actions available within the `Date & Time` node:\n1. Calculating a date - adding/substracting minutes,hours, days, etc.\n2. Formatting a date\n\n", "height": 340, "width": 560, "color": 1}, "typeVersion": 1, "id": "b7d85701-f231-41e1-aa4b-bece97a5d724"}, {"name": "Note4", "type": "n8n-nodes-base.stickyNote", "position": [1980, 860], "parameters": {"content": "### 2.1 Working with an existing time string\nAs items pass between nodes, n8n saves dates as ISO strings. This means that in order to work with the data as a date again, we need to convert it back using `DateTime.fromISO('yyyy-mm-dd')`\n. Once doing that, we are able to apply date and time function again such as : `{{DateTime.fromISO($json[\"Now\"]).toFormat('yyyy LLL dd')}}`", "height": 320, "width": 480, "color": 1}, "typeVersion": 1, "id": "47f8e8bb-2fbe-4941-a0e2-b93dc740eeb6"}, {"name": "Set times", "type": "n8n-nodes-base.set", "position": [1520, 1020], "parameters": {"keepOnlySet": false, "values": {"string": [{"name": "Now", "value": "={{$now}}"}, {"name": "Current time with seconds", "value": "={{$now.toLocaleString(DateTime.TIME_WITH_SECONDS)}}"}, {"name": "Today", "value": "={{$today}}"}, {"name": "Tomorrow", "value": "={{$today.plus({days: 1})}}"}, {"name": "One hour from now", "value": "={{$now.minus({hours: 1})}}"}, {"name": "Weekday", "value": "={{$today.weekdayLong}}"}]}, "options": {}}, "typeVersion": 1, "id": "f041aa62-b8bd-4b8f-b01c-09a594a6df32"}, {"name": "Edit times", "type": "n8n-nodes-base.set", "position": [2080, 1020], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "Current time", "value": "={{DateTime.fromISO($json[\"Now\"])}}"}, {"name": "Current time formatted", "value": "={{DateTime.fromISO($json[\"Now\"]).toFormat('yyyy LLL dd')}}"}]}, "options": {}}, "typeVersion": 1, "id": "8da1a79b-5140-4a60-b844-cf79b9386549"}, {"name": "Format - MMMM DD YY", "type": "n8n-nodes-base.dateTime", "position": [1760, 580], "parameters": {"noticeDateTime": "", "action": "format", "value": "={{$now}}", "dataPropertyName": "data", "custom": false, "toFormat": "MMMM DD YYYY", "options": {}}, "typeVersion": 1, "id": "a761dc57-cbd3-4a9a-abd7-0fc5cddbe784"}], "connections": {"Set times": {"main": [[{"node": "Edit times", "type": "main", "index": 0}]]}, "12 Hours from now": {"main": [[{"node": "Format - MMMM DD YY", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Set times", "type": "main", "index": 0}, {"node": "12 Hours from now", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00203-n8n-fecha-dinamica.json"}