eval/data/realworld/rw_5f1727b3f4.json
{"id": "71", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:58:50.075Z", "startedAt": "2026-07-16T06:58:50.080Z", "stoppedAt": "2026-07-16T06:58:50.098Z", "deletedAt": null, "workflowId": "7NTmZ1TjZtrHWROo", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 6044, "binaryDataSizeBytes": 0, "workflowVersionId": "d1a8a6e1-dadd-452d-ad6e-e519964e9f94", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "info", "shouldReport": false, "tags": {}, "generatedMessage": false, "code": "ERR_ASSERTION", "actual": "", "expected": true, "operator": "==", "diff": "simple", "message": "Unknown error", "stack": "Error: Unknown error\n    at throwExecutionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/throw-execution-error.ts:11:9)\n    at JsTaskRunnerSandbox.runCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/JsTaskRunnerSandbox.ts:46:23)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:215:8)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"When clicking \"Test workflow\"": [{"startTime": 1784185130087, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Sample Data": [{"startTime": 1784185130087, "executionIndex": 1, "source": [{"previousNode": "When clicking \"Test workflow\"", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 11, "executionStatus": "error", "error": {"level": "info", "shouldReport": false, "tags": {}, "generatedMessage": false, "code": "ERR_ASSERTION", "actual": "", "expected": true, "operator": "==", "diff": "simple", "message": "Unknown error", "stack": "Error: Unknown error\n    at throwExecutionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/throw-execution-error.ts:11:9)\n    at JsTaskRunnerSandbox.runCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/JsTaskRunnerSandbox.ts:46:23)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:215:8)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Sample Data"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "ecdf641b-33f0-46a4-98f0-8bd8cce5b603", "name": "Sample Data", "type": "n8n-nodes-base.code", "position": [420, 0], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "When clicking \"Test workflow\"", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185130085, "source": "manual", "triggerNode": {"name": "When clicking \"Test workflow\"", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+5OHdQwMiXRkeEYHE+ovconarRYqwuFWMvYLyaykioTNzCjWjeCPPhOuQPTidXnoiktBDTcdvvE0cky2KjdZCWDc85ERoEsIp7C+Wc5W6y62WLQMeaGA2vAQVpod74hW9IAq5vKG+KkwfDQkIAYdO9f7F28l2beDMyw7LPThSmRNkybSJ9FF/pWQ6DQNvlUSR+LGxBME9wMKIC4spOErdD+ufmxNW/xjyVgKbSDk+XxdzHVEuWv7GAA+JZcxs0KVd9nV7iwtMZy0Xpau4jRBUxK2WsGw+IxV8xC0APVT23KzdY9YRCkXKiQUHwA19qc5O5JqiGENaxd0pzWwjJadiVWwRHnPGd/OlmspEA/ExVlufmbgba9KWI8LZ1VvPG6x65f6f8Tu+wITi36g1PQVhtRAOsVmpiVJY="}}, "resumeToken": "f5a23fbc11fa216c3aab5a84ea3b7beb470a3a98a0ce7fbfaa2831535ae3c8b5"}, "workflowData": {"id": "7NTmZ1TjZtrHWROo", "name": "rw_5f1727b3f4", "nodes": [{"id": "2dffdac7-13c1-4341-a122-4f9b049da158", "name": "When clicking \"Test workflow\"", "type": "n8n-nodes-base.manualTrigger", "position": [220, 0], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "ecdf641b-33f0-46a4-98f0-8bd8cce5b603", "name": "Sample Data", "type": "n8n-nodes-base.code", "position": [420, 0], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, {"id": "a07a7590-8424-4fa6-b518-cbb65c7803ff", "name": "Encrypt Emails", "type": "n8n-nodes-base.code", "position": [620, 0], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, {"id": "44f1e649-428a-48b4-bba5-49e1618b177c", "name": "Verify Encryption", "type": "n8n-nodes-base.code", "position": [820, 0], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, {"id": "892d4560-b558-4888-ad87-57503ceafe54", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-220, -100], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "c95888de-7c36-47fd-8a3c-177349302ec2", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [-220, 280], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}], "connections": {"Sample Data": {"main": [[{"node": "Encrypt Emails", "type": "main", "index": 0}]]}, "Encrypt Emails": {"main": [[{"node": "Verify Encryption", "type": "main", "index": 0}]]}, "When clicking \"Test workflow\"": {"main": [[{"node": "Sample Data", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/10100-Secure-user-emails-with-AES-256-encryption-and-verification-system.json"}