eval/data/realworld/rw_581cc14ef3.json
{"id": "67", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:58:43.448Z", "startedAt": "2026-07-16T06:58:43.453Z", "stoppedAt": "2026-07-16T06:58:43.470Z", "deletedAt": null, "workflowId": "NDjfCFVcjFoFRQ0q", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 7000, "binaryDataSizeBytes": 0, "workflowVersionId": "acd79f0a-8ce4-4419-975a-08d5716edb75", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "info", "shouldReport": false, "description": "Internal mode is intended only for debugging. For production, deploy in external mode: https://docs.n8n.io/hosting/configuration/task-runners/#setting-up-external-mode", "tags": {}, "message": "Python runner unavailable: Python 3 is missing from this system", "stack": "Error: Python runner unavailable: Python 3 is missing from this system\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:222:11)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"When clicking \u2018Test workflow\u2019": [{"startTime": 1784185123464, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Input JSON Node": [{"startTime": 1784185123465, "executionIndex": 1, "source": [{"previousNode": "When clicking \u2018Test workflow\u2019", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"myData": {"name": "Alice", "age": "30", "city": "Paris"}, "rowIndex": "1"}, "pairedItem": {"item": 0}}]]}}], "Find Key-Value Pair": [{"startTime": 1784185123467, "executionIndex": 2, "source": [{"previousNode": "Input JSON Node", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 2, "executionStatus": "error", "error": {"level": "info", "shouldReport": false, "description": "Internal mode is intended only for debugging. For production, deploy in external mode: https://docs.n8n.io/hosting/configuration/task-runners/#setting-up-external-mode", "tags": {}, "message": "Python runner unavailable: Python 3 is missing from this system", "stack": "Error: Python runner unavailable: Python 3 is missing from this system\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:222:11)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Find Key-Value Pair"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "c2a948b4-65b5-490d-8e4c-cdb6b39ad70e", "name": "Find Key-Value Pair", "type": "n8n-nodes-base.code", "position": [340, -20], "parameters": {"mode": "runOnceForAllItems", "language": "python", "pythonCode": "import json\nans=[]\nind = (_input.first().json.rowIndex)\nind=int(ind)\n\nfor i in _input.first().json.myData:\n  if ind==0:\n    ans.append(i)\n    ans.append(_input.first().json.myData[i])\n    break\n  ind=ind-1\n\n# Return in valid n8n format\nreturn [{\"json\": {\"result\": ans}}]\n\n\n\n\n", "notice": ""}, "typeVersion": 2, "alwaysOutputData": true}, "data": {"main": [[{"json": {"myData": {"name": "Alice", "age": "30", "city": "Paris"}, "rowIndex": "1"}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Input JSON Node", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185123463, "source": "manual", "triggerNode": {"name": "When clicking \u2018Test workflow\u2019", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/Noqt4vq21cSfA8+hgvEQUE/5uj4rSLXP4b+1Hzv3O/+b1L8p2+nUmrIYIi1G4VcSRUbW9jbIyF6n9tG0Oqnx/Zu+ThSgxRfinfnIguFz75lxqEJM1c5I7wXimbYfYRumeTfMHwDa8qb2vRy5CSkboV9WjcXNPU4SjLDF9U6e+dUwXsHi9IyjBgCjZVDWFJ3WCaIvzcxW68Vx+2RCueZRpVeBlXgLonp5G90jArqq04NMywmpAJCbs1K9nqWqcX+yLncLsrZob3H2iS1cYRRl0XZAF5L4Fy/QJYl5ld8ItMuk60ZvjQFlprx73CN+WMvifhI+gDiOr4gN9+p/nAt1kThqs46oHNxzPfk9fQFyrTVy4V/iBKszpMmz8i5Npmjs+kBe0eYrM37VDgsZR+s45HN3/NdM5qyY="}}, "resumeToken": "8c8500f2ce20816e347406361b2af3e6f0fdc43af5959cf17f9ea2433b9fc41b"}, "workflowData": {"id": "NDjfCFVcjFoFRQ0q", "name": "rw_581cc14ef3", "nodes": [{"id": "9ef4197b-17d8-42aa-b771-2b151763298a", "name": "When clicking \u2018Test workflow\u2019", "type": "n8n-nodes-base.manualTrigger", "position": [-40, -20], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "7fa816d2-60e4-42bc-9803-3e49ceb7a4ab", "name": "Input JSON Node", "type": "n8n-nodes-base.set", "position": [140, -20], "parameters": {"mode": "raw", "duplicateItem": false, "jsonOutput": "{\n  \"myData\": {\n    \"name\": \"Alice\",\n    \"age\": \"30\",\n    \"city\": \"Paris\"\n  },\n  \"rowIndex\": \"1\"\n}\n\n", "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "c2a948b4-65b5-490d-8e4c-cdb6b39ad70e", "name": "Find Key-Value Pair", "type": "n8n-nodes-base.code", "position": [340, -20], "parameters": {"mode": "runOnceForAllItems", "language": "python", "pythonCode": "import json\nans=[]\nind = (_input.first().json.rowIndex)\nind=int(ind)\n\nfor i in _input.first().json.myData:\n  if ind==0:\n    ans.append(i)\n    ans.append(_input.first().json.myData[i])\n    break\n  ind=ind-1\n\n# Return in valid n8n format\nreturn [{\"json\": {\"result\": ans}}]\n\n\n\n\n", "notice": ""}, "typeVersion": 2, "alwaysOutputData": true}, {"id": "c2f94136-8254-44b6-abe2-39caa814b036", "name": "Key", "type": "n8n-nodes-base.set", "position": [600, -140], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "243bbcc4-ff8a-4af5-b80b-96c524d33118", "name": "result", "type": "array", "value": "={{ $json.result[0] }}"}]}, "includeOtherFields": false, "options": {"ignoreConversionErrors": true, "dotNotation": false}}, "typeVersion": 3.4}, {"id": "1e6f42da-e376-463b-acc5-37a5454d55d3", "name": "Value", "type": "n8n-nodes-base.set", "position": [600, 120], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "5b20ed91-93b0-45b4-b555-5d7a3cff672e", "name": "result[1]", "type": "string", "value": "={{ $json.result[1] }}"}]}, "includeOtherFields": false, "options": {"ignoreConversionErrors": true, "dotNotation": false}}, "typeVersion": 3.4}], "connections": {"Key": {"main": [[]]}, "Input JSON Node": {"main": [[{"node": "Find Key-Value Pair", "type": "main", "index": 0}]]}, "Find Key-Value Pair": {"main": [[{"node": "Key", "type": "main", "index": 0}, {"node": "Value", "type": "main", "index": 0}]]}, "When clicking \u2018Test workflow\u2019": {"main": [[{"node": "Input JSON Node", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/09495-JSON-data-utility-extract-key-value-pairs-by-index.json"}