eval/data/realworld/rw_5826dc4754.json
{"id": "31", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:42.690Z", "startedAt": "2026-07-16T06:57:42.697Z", "stoppedAt": "2026-07-16T06:57:42.778Z", "deletedAt": null, "workflowId": "MIFWgIiMRPf83O3F", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 5172, "binaryDataSizeBytes": 0, "workflowVersionId": "cb3da38a-b4d5-4a1a-8d97-4b39fb9a0dc2", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"When clicking \u2018Test workflow\u2019": [{"startTime": 1784185062706, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Sample data (name + language)": [{"startTime": 1784185062707, "executionIndex": 1, "source": [{"previousNode": "When clicking \u2018Test workflow\u2019", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 25, "executionStatus": "success", "data": {"main": [[{"json": {"name": "Stefan", "language": "de"}, "pairedItem": {"item": 0}}, {"json": {"name": "Jim", "language": "en"}, "pairedItem": {"item": 0}}, {"json": {"name": "Hans", "language": "de"}, "pairedItem": {"item": 0}}]]}}], "Sample data (greeting + language)": [{"startTime": 1784185062733, "executionIndex": 2, "source": [{"previousNode": "When clicking \u2018Test workflow\u2019", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 13, "executionStatus": "success", "data": {"main": [[{"json": {"greeting": "Hello", "language": "en"}, "pairedItem": {"item": 0}}, {"json": {"greeting": "Hallo", "language": "de"}, "pairedItem": {"item": 0}}]]}}], "Merge (name + language + greeting)": [{"startTime": 1784185062746, "executionIndex": 3, "source": [{"previousNode": "Sample data (name + language)", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Sample data (greeting + language)", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 31, "executionStatus": "success", "data": {"main": [[{"json": {"name": "Stefan", "language": "de", "greeting": "Hallo"}, "binary": {}, "pairedItem": [{"item": 0}, {"item": 1, "input": 1}]}, {"json": {"name": "Jim", "language": "en", "greeting": "Hello"}, "binary": {}, "pairedItem": [{"item": 1}, {"item": 0, "input": 1}]}, {"json": {"name": "Hans", "language": "de", "greeting": "Hallo"}, "binary": {}, "pairedItem": [{"item": 2}, {"item": 1, "input": 1}]}]]}}]}, "pinData": null, "lastNodeExecuted": "Merge (name + language + greeting)"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185062704, "source": "manual", "triggerNode": {"name": "When clicking \u2018Test workflow\u2019", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+BW78YdzTRunxYLqCaATh6qno9LqiKaeHzrvU186rt3JrdvpOb1CZD9CdGnhaqORfiBfZApWqitQRuoHy36yQW9Nwylwbad0FdHqCwxTNa7+WqF7JF63l/NtmTyS9olz/KYz3D7TstSTu2WQyMzlQ4Ww57bhjI5zqsfVmln1L+rSFo2smf1t6w0twMUtrsGJBFCtaytsEv155AL1AF5UnSEZ6OitjynQm5MtTZ4ohL4cDBxtI9vwW02ueYpf7dExvhwHgXYlhrZSuCddb7wI/FcE/7gw4zFq/bC3WZ/G/HfUeLV+31gqUgxdp1ZLNEM2iiWfseHGA6VZkPN9g5ZWXwx9Fuy2RvVoXJyl/wxPOqq0Z5MDJWt6e6vEJ3qD8aq5N0on7E2MXpW930MUaehLWWniaumXsPpyg="}}, "resumeToken": "5690f8aa89f39dc8952aa10003161d77c4943894ef701bb483cdb9ed6b599a03"}, "workflowData": {"id": "MIFWgIiMRPf83O3F", "name": "rw_5826dc4754", "nodes": [{"id": "f7f8068b-52c9-4038-bd67-9ee50136e4fd", "name": "When clicking \u2018Test workflow\u2019", "type": "n8n-nodes-base.manualTrigger", "position": [380, 240], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "860e5e46-a04d-41cb-b91a-c9f02603bcdf", "name": "Sample data (name + language)", "type": "n8n-nodes-base.code", "position": [600, 160], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return [\n  {\n    json: {\n      name: 'Stefan',\n      language: 'de',\n    }\n  },\n  {\n    json: {\n      name: 'Jim',\n      language: 'en',\n    }\n  },\n  {\n    json: {\n      name: 'Hans',\n      language: 'de',\n    }\n  }\n];", "notice": ""}, "typeVersion": 2}, {"id": "5c6a867b-fd8a-49b7-ac35-ff84ed6d89f7", "name": "Sample data (greeting + language)", "type": "n8n-nodes-base.code", "position": [600, 320], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return [\n\t  {\n    json: {\n      greeting: 'Hello',\n      language: 'en',\n    }\n  },\n  {\n    json: {\n      greeting: 'Hallo',\n      language: 'de',\n    }\n  }\n];", "notice": ""}, "typeVersion": 2}, {"id": "08fca489-8f4c-4327-9919-922bd1be1cd5", "name": "Merge (name + language + greeting)", "type": "n8n-nodes-base.merge", "position": [820, 240], "parameters": {"mode": "combine", "combineBy": "combineByFields", "advanced": false, "fieldsToMatchString": "language", "joinMode": "keepMatches", "outputDataFrom": "both", "options": {}}, "typeVersion": 3}], "connections": {"Sample data (name + language)": {"main": [[{"node": "Merge (name + language + greeting)", "type": "main", "index": 0}]]}, "Sample data (greeting + language)": {"main": [[{"node": "Merge (name + language + greeting)", "type": "main", "index": 1}]]}, "When clicking \u2018Test workflow\u2019": {"main": [[{"node": "Sample data (name + language)", "type": "main", "index": 0}, {"node": "Sample data (greeting + language)", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00651-ejemplo-merge.json"}