eval/data/realworld/rw_524671d596.json
{"id": "35", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:49.299Z", "startedAt": "2026-07-16T06:57:49.304Z", "stoppedAt": "2026-07-16T06:57:49.323Z", "deletedAt": null, "workflowId": "isjcWWruTtcipnRX", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 3789, "binaryDataSizeBytes": 0, "workflowVersionId": "df78c96f-d80b-4361-ac16-79d168a1cc24", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185069312, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set values": [{"startTime": 1784185069312, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"body": "Name: Miquel\nEmail: miquel@aprenden8n.com\nSubject: Welcome aboard\nMessage: Hi Miquel!\n\nThank you for your signup!", "labels": "Name,Email,Subject,Message"}, "pairedItem": {"item": 0}}]]}}], "Email Parser Snippet": [{"startTime": 1784185069313, "executionIndex": 2, "source": [{"previousNode": "Set values", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 10, "executionStatus": "success", "data": {"main": [[{"json": {"Name": "Miquel", "Email": "miquel@aprenden8n.com", "Subject": "Welcome aboard", "Message": "Hi Miquel!\n\nThank you for your signup!"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Email Parser Snippet"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185069309, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX185rtWLoqKNV4aBjoXr1CvRSUOt8isEI6//7EZJ65qnua4orBWtpSdPKISbVFjM+ynGJ0lNF0X5juw1L4MgP93Q7inHoRKMJ9q9DOEQIfCJuxPj/4bSqMQADnCMiItrgSMSUtTjRPh2Y81CkPZIM9f9jgvmDud7vlBZt513G6dw3USsPqmQawpdgMFA6JnkWLBfPWYGLy5PhENJO23lhA/BhrkWMGwABdtKZxgBOsX2MTCiVsLsW/q+YAkxfFInbwJwdUXHn0y/kclH0uwPUBMNCdjry592CxDsOF5STsbjQaa5/ZarrExDlfVi0tT32K+BHQ2hM48GqpCCOMnrx7ODONyNPVp/Oo7+dTtx4sKY6yqQIv7MWXx3OENXtEhGgZa0stssZfMDZ7h51oHPnke0sF6gOjLZD3A="}}, "resumeToken": "e565e85e62179a5bc89b89ec5d110c6a229f1e130f2be47ed797a6e192c8c21a"}, "workflowData": {"id": "isjcWWruTtcipnRX", "name": "rw_524671d596", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "d9e0dd75-068f-4bfa-903d-6c8ae8b19213"}, {"name": "Email Parser Snippet", "type": "n8n-nodes-base.functionItem", "position": [670, 300], "parameters": {"notice": "", "functionCode": "var obj = {};\nvar labels = item.labels.split(\",\");\nitem.labels.split(\",\").forEach(function(label) {\n  var re = labels.indexOf(label) === labels.length - 1 ? \"\\\\b\" + label + \"\\\\b[: ]+([^$]+)\" : \"\\\\b\" + label + \"\\\\b[: ]+([^\\\\n$]+)\";\n  var found = item.body.match(new RegExp(re, \"i\"));\n  if (found && found.length > 1) {\n    obj[label] = found[1].trim();\n  }\n});\n\nreturn obj;"}, "typeVersion": 1, "id": "b2b424f9-f005-4f0d-adbc-aa91220aff9b"}, {"name": "Set values", "type": "n8n-nodes-base.set", "position": [460, 300], "parameters": {"keepOnlySet": false, "values": {"number": [], "string": [{"name": "body", "value": "Name: Miquel\nEmail: miquel@aprenden8n.com\nSubject: Welcome aboard\nMessage: Hi Miquel!\n\nThank you for your signup!"}, {"name": "labels", "value": "Name,Email,Subject,Message"}]}, "options": {}}, "typeVersion": 1, "id": "f0d93b3f-1944-437f-8a49-c38f37e3198f"}], "connections": {"Set values": {"main": [[{"node": "Email Parser Snippet", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Set values", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/01178-email-body-parser.json"}