eval/data/realworld/rw_68cbf01bac.json
{"id": "55", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:21.273Z", "startedAt": "2026-07-16T06:58:21.281Z", "stoppedAt": "2026-07-16T06:58:21.313Z", "deletedAt": null, "workflowId": "U36ouXwRCo8SpYEQ", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 6343, "binaryDataSizeBytes": 0, "workflowVersionId": "8a394ec6-ed5d-43ba-a1c1-361c37d66c16", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"When Executed by Another Workflow": [{"startTime": 1784185101289, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Switch": [{"startTime": 1784185101290, "executionIndex": 1, "source": [{"previousNode": "When Executed by Another Workflow", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 21, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}], [], [], []]}}], "validation_message 1": [{"startTime": 1784185101312, "executionIndex": 2, "source": [{"previousNode": "Switch", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"validation_message": "You must specify a key"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "validation_message 1"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185101288, "source": "manual", "triggerNode": {"name": "When Executed by Another Workflow", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19yrKYv8qFRc3EPhUunNb//u5eCD1k8jr0VnC+dRAeYR1bhvYR+yrt8biGMcKfr5c41VdXRWaYKeqmCrh049wex0kS4muyKZnlfYtZbpRngsGDx62NKAO+MuVPfasgxSfvbnu+F+S9IsE+poWsqtsgkXQuBoc9AkuuJzwvt4Ps/JWbPxdBiCgoyIH5VlnXcU/AFDFixNfD/dFQsYol2Rc4h3oPhOThhYgJdRSlT1Ijwv/gHnEbGI9jTMA1bSetjdjEGd3NZoRJEAYJmJINYZLpI+tLob9Cjoq1gZtgMnbIp/Jb0S1Ue9RkVca+nBscZ/L8fFO6PEkDwn7DXrKDyFdB7+euTUZQKSKexNGsq4TqURY8gDuXSPnUpDr1MU9n3BWUd6Fb1jovyFmLNEzZz1ELBtWNfAVMl7Pk="}}, "resumeToken": "c420c15663a01217456d33bcc521d489a31b47bf5812389602d56c99f2c3b2af"}, "workflowData": {"id": "U36ouXwRCo8SpYEQ", "name": "rw_68cbf01bac", "nodes": [{"id": "e13aefae-e377-4ebd-acd9-fb70aaefecfe", "name": "When Executed by Another Workflow", "type": "n8n-nodes-base.manualTrigger", "position": [0, 20], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "85588542-5fcb-415f-b189-bbb38f889bb5", "name": "Code", "type": "n8n-nodes-base.code", "position": [440, 320], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "const listA =$input.first().json.input_a ; \nconst listB = $input.first().json.input_b;\nconst  key = $input.first().json.key;\n\nconst aMap = new Map(listA.map(item => [item[key], item]));\nconst bMap = new Map(listB.map(item => [item[key], item]));\n\nconst common = [];\nconst onlyInA = [];\nconst onlyInB = [];\n\nfor (const [k, itemA] of aMap) {\n  if (bMap.has(k)) {\n    common.push(itemA); // \u2190 keep A's version only\n  } else {\n    onlyInA.push(itemA);\n  }\n}\n\nfor (const [k, itemB] of bMap) {\n  if (!aMap.has(k)) {\n    onlyInB.push(itemB);\n  }\n}\n\nreturn [\n  {\n    json: {\n      common: common,\n      onlyInA: onlyInA,\n      onlyInB: onlyInB\n    }\n  }\n];\n", "notice": ""}, "typeVersion": 2}, {"id": "f1bee89d-54b2-4cf7-87f6-45e2f940b763", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-140, -160], "parameters": {"content": "## Pass in two list of item that you like to compare, as well as the key", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "f04f1c66-e219-46a1-99ff-9e3df7f8d2fa", "name": "Switch", "type": "n8n-nodes-base.switch", "position": [220, -1], "parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "673a0546-03d9-44d2-95ea-aecafb41a7d9", "operator": {"type": "string", "operation": "empty", "singleValue": true}, "leftValue": "={{ $json.key }}", "rightValue": ""}]}, "renameOutput": false}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "e95886e4-4664-40de-b177-1a4d17aa88d8", "operator": {"type": "array", "operation": "empty", "singleValue": true}, "leftValue": "={{ $json.input_a }}", "rightValue": ""}]}, "renameOutput": false}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "694a102f-2421-48df-9a17-a9270da0b9aa", "operator": {"type": "array", "operation": "empty", "singleValue": true}, "leftValue": "={{ $json.input_b }}", "rightValue": ""}]}, "renameOutput": false}]}, "looseTypeValidation": false, "options": {"fallbackOutput": "extra"}}, "typeVersion": 3.2, "alwaysOutputData": true}, {"id": "4554a775-e6d4-4ae0-85ff-9564866d1464", "name": "validation_message 1", "type": "n8n-nodes-base.set", "position": [440, -280], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "39e1492c-820e-4157-963e-cfa5c7d5d0a6", "name": "validation_message", "type": "string", "value": "You must specify a key"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "0fa56f6d-3a28-4382-9916-ddaeb31e0310", "name": "validation_message 2", "type": "n8n-nodes-base.set", "position": [440, -80], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "ca870eac-56f8-4c5f-9938-1bc53bce7f26", "name": "validation_message", "type": "string", "value": "You must specify input_a"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "2c4b3b98-7a20-418c-af4e-4c2967532e31", "name": "validation_message 3", "type": "n8n-nodes-base.set", "position": [440, 120], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "ca870eac-56f8-4c5f-9938-1bc53bce7f26", "name": "validation_message", "type": "string", "value": "You must specify input_b"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}], "connections": {"Code": {"main": [[]]}, "Switch": {"main": [[{"node": "validation_message 1", "type": "main", "index": 0}], [{"node": "validation_message 2", "type": "main", "index": 0}], [{"node": "validation_message 3", "type": "main", "index": 0}], [{"node": "Code", "type": "main", "index": 0}]]}, "When Executed by Another Workflow": {"main": [[{"node": "Switch", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/06384-Compare-lists-and-identify-common-items-differences-using-custom-keys.json"}