eval/data/realworld/rw_6c1c2e6a80.json
{"id": "81", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:59:06.695Z", "startedAt": "2026-07-16T06:59:06.701Z", "stoppedAt": "2026-07-16T06:59:06.748Z", "deletedAt": null, "workflowId": "I0RLuKtvAgJL3pMN", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 24916, "binaryDataSizeBytes": 0, "workflowVersionId": "2d2b3618-c4dc-4b64-b8e7-a6117e00970c", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Start": [{"startTime": 1784185146710, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Crypto0": [{"startTime": 1784185146711, "executionIndex": 1, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"data": "5877e26c078d6409fde54d508bf25721"}, "pairedItem": {"item": 0}}]]}}], "Crypto4": [{"startTime": 1784185146711, "executionIndex": 2, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "3fb7c95bca84c0bf49045b4e6a279dc0"}, "pairedItem": {"item": 0}}]]}}], "Crypto10": [{"startTime": 1784185146712, "executionIndex": 3, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 2, "executionStatus": "success", "data": {"main": [[{"json": {"data": "9d0bc120a967882743370f715dfa90789c4d9322a4faf691d1f80b306c6bd900bfcba5f62946ef88ba7e1fdd008ff3efe8545b979299b14e0e0eccd3e33b1afa11397494526e31968f13d2ac3e3deaa2bc4a27862b7025444c91ebed5f1b98d2c0390630d8eabc6a7662a9ab069cb3aab273ae1c09f20f51fa8e04af4bcccbc6"}, "pairedItem": {"item": 0}}]]}}], "Crypto1": [{"startTime": 1784185146714, "executionIndex": 4, "source": [{"previousNode": "Crypto0", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"data": "636396f02b6571e40d8fe91cba550515c0cdc0e7d314c210e00b02256375a796"}, "pairedItem": {"item": 0}}]]}}], "Crypto5": [{"startTime": 1784185146714, "executionIndex": 5, "source": [{"previousNode": "Crypto4", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "a8066096944b87daa8d0459629d8f3958d35fa453c310e7370b619d0b81ce48e"}, "pairedItem": {"item": 0}}]]}}], "Crypto11": [{"startTime": 1784185146715, "executionIndex": 6, "source": [{"previousNode": "Crypto10", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"data": "0b494c8146f7efd7aa53b418a7057a3a57317a0380c06c7d18114077a03fc6441b57ca8c03edff4ca6fdc2394d026893258b97d34bf0c5c44bc20bd264899eb1316da1e624db1455c73c9054ff732464f775b473b3ba67250ffd74ee42b1acfdf5539bf793d7002327d8d156424444624a625f8dd3f013d40a7ba7b6726186a9"}, "pairedItem": {"item": 0}}]]}}], "Crypto2": [{"startTime": 1784185146715, "executionIndex": 7, "source": [{"previousNode": "Crypto1", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "c7049c8950ea211bec236edffb37cbecf2aa338443c5e048c1cbb4e2ee20eb60fa9a1d34699d7a86e7362b010bb4ffe7"}, "pairedItem": {"item": 0}}]]}}], "Crypto6": [{"startTime": 1784185146716, "executionIndex": 8, "source": [{"previousNode": "Crypto5", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"data": "08bec8212275cd79a1c6bf52cad5b31ccd46ec87c7a8a9d1c8589c816f8a7124313528040b138229e15c32c1b3c82b80"}, "pairedItem": {"item": 0}}]]}}], "Crypto12": [{"startTime": 1784185146716, "executionIndex": 9, "source": [{"previousNode": "Crypto11", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "0b494c8146f7efd7aa53b418a7057a3a57317a0380c06c7d18114077a03fc6441b57ca8c03edff4ca6fdc2394d026893258b97d34bf0c5c44bc20bd264899eb1316da1e624db1455c73c9054ff732464f775b473b3ba67250ffd74ee42b1acfdf5539bf793d7002327d8d156424444624a625f8dd3f013d40a7ba7b6726186a9"}, "pairedItem": {"item": 0}}]]}}], "Crypto3": [{"startTime": 1784185146718, "executionIndex": 10, "source": [{"previousNode": "Crypto2", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"data": "a8a7eec953f1f31484a479c84982d52847de602d7f220ac3903518369a7536693d60882e5eb782599e72024fb649cc03aa0a19ebce632e9039b4f604335834af"}, "pairedItem": {"item": 0}}]]}}], "Crypto7": [{"startTime": 1784185146718, "executionIndex": 11, "source": [{"previousNode": "Crypto6", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"data": "0f53f3a374314123991b32e47159ad44e1c61d1c0e96809c1f19d54a5e955c06d5b633f376f2a8419e36ea4b63346fcb39d389714c344771140fd512ac55723a"}, "pairedItem": {"item": 0}}]]}}], "Crypto13": [{"startTime": 1784185146718, "executionIndex": 12, "source": [{"previousNode": "Crypto12", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "0b494c8146f7efd7aa53b418a7057a3a57317a0380c06c7d18114077a03fc6441b57ca8c03edff4ca6fdc2394d026893258b97d34bf0c5c44bc20bd264899eb1316da1e624db1455c73c9054ff732464f775b473b3ba67250ffd74ee42b1acfdf5539bf793d7002327d8d156424444624a625f8dd3f013d40a7ba7b6726186a9"}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185146719, "executionIndex": 13, "source": [{"previousNode": "Crypto3", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 10, "executionStatus": "success", "data": {"main": [[{"json": {"data": "a8a7eec953f1f31484a479c84982d52847de602d7f220ac3903518369a7536693d60882e5eb782599e72024fb649cc03aa0a19ebce632e9039b4f604335834af"}, "pairedItem": {"item": 0}, "index": 0}]]}}], "Function1": [{"startTime": 1784185146729, "executionIndex": 14, "source": [{"previousNode": "Crypto7", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"data": "0f53f3a374314123991b32e47159ad44e1c61d1c0e96809c1f19d54a5e955c06d5b633f376f2a8419e36ea4b63346fcb39d389714c344771140fd512ac55723a"}, "pairedItem": {"item": 0}, "index": 0}]]}}], "Crypto14": [{"startTime": 1784185146737, "executionIndex": 15, "source": [{"previousNode": "Crypto13", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "b9d0c7c4acb8ef55b5c323f82755fb420e5145bafe4de34925e86c53c9f652eb08ec0d87a9be95ca0c0d90b16dd1b55f1200d87c13e4cdb1ae902f41998314f7b85ffc82f0f1d5296119bd92e23ae685b8b59a3a4ba4b8d54db2314c077b1b238c4ac582e36b51c18c0b5474f0d68c1f42e01c08985111ded4cfd3463068d89a"}, "pairedItem": {"item": 0}}]]}}], "Crypto15": [{"startTime": 1784185146738, "executionIndex": 16, "source": [{"previousNode": "Crypto14", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "1387958052cf887bd50925a8d44bbf8f138cdd23f51a3422028edf39ad413a1591f5ebd653c4f225298cd6857044648bcfb768113674e7bd11c632fb0fc40cfa646301934b8fcf4da9799272a737155a239e1f8db5e92a23bfa2aeabc6732f5be14078a5815fff542842efed681ac3b919f9d42bfc822b0fd611c0b22286f241"}, "pairedItem": {"item": 0}}]]}}], "Crypto16": [{"startTime": 1784185146739, "executionIndex": 17, "source": [{"previousNode": "Crypto15", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"data": "922659a8d40b12f81080425a8676830be06f26dd8cd18cad25d02055332c94b8b9634598ef5b172ee53e53788d33c183bf0984ae3b48d792f426a601dbf2eb4771bc844bc2464de8ca5b6746bbdc2f1713a1e1d57a6970568f033e588c759e4b179b791b7fcb75d323c98cc5c6f33c3659410b159c94bc13834e81ce297ce98d"}, "pairedItem": {"item": 0}}]]}}], "Function2": [{"startTime": 1784185146739, "executionIndex": 18, "source": [{"previousNode": "Crypto16", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"data": "922659a8d40b12f81080425a8676830be06f26dd8cd18cad25d02055332c94b8b9634598ef5b172ee53e53788d33c183bf0984ae3b48d792f426a601dbf2eb4771bc844bc2464de8ca5b6746bbdc2f1713a1e1d57a6970568f033e588c759e4b179b791b7fcb75d323c98cc5c6f33c3659410b159c94bc13834e81ce297ce98d"}, "pairedItem": {"item": 0}, "index": 0}]]}}]}, "pinData": null, "lastNodeExecuted": "Function2"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185146708, "source": "manual", "triggerNode": {"name": "Start", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX18Uknl51ttTa0PxjnF20VHPkbodjuRrKI+FLTwpQwXBVMiPiM1oQztafi8+u8urXrPmhfuuXDe1ElW/HMjCJnORObhSCt/8Wt6yGcsMOEa7/9AZYr8NZjdVXj13zQ1qGEHDwHsmC7cCDG5s7HWlupOIfMFc/+yDxlYC/XSx1h9geGDzisGa0Jfi7ecWYylmRpI1jD+B9PBXIq8T7DVF+uh78bwvyokZtCBFA4Q+kNdzF+sCwGg+PwO0IjeRXhbME/AWYSvyf9j5xPyJVDPPxdGCxf2dQUq3tMP70E1PqGDi5KFAj6vtUJBD6TH/qzYm9qAxA6Bd1AZAjNfcHEdWbnlw/s14MV4fAM7JyhzSSkwqjaCqaDhLwNxf9BqYnGigf6rWGrih92szfhUXwETa+Xsco8pkGT3LJC0="}}, "resumeToken": "8b15c919bc48c8b6ff5dd9ef0ce1f4054c7f8a43f820079799962adef6b38dd0"}, "workflowData": {"id": "I0RLuKtvAgJL3pMN", "name": "rw_6c1c2e6a80", "nodes": [{"parameters": {"notice": ""}, "name": "Start", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [880, 760], "id": "17f0290e-2fc4-4bb8-a8fe-da8b0ad82d11"}, {"parameters": {"action": "hash", "binaryData": false, "type": "SHA256", "value": "n8n", "dataPropertyName": "data", "encoding": "hex"}, "name": "Crypto1", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1380, 560], "id": "8853a37b-fcf3-4ac7-913e-964a48497339"}, {"parameters": {"action": "hash", "binaryData": false, "type": "SHA384", "value": "n8n", "dataPropertyName": "data", "encoding": "hex"}, "name": "Crypto2", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1530, 560], "id": "cf4718ee-852d-48f0-b96e-048283221cbd"}, {"parameters": {"action": "hash", "binaryData": false, "type": "SHA512", "value": "n8n", "dataPropertyName": "data", "encoding": "hex"}, "name": "Crypto3", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1680, 560], "id": "8d05e80a-e7ff-4ae8-9f04-8a4f33579308"}, {"parameters": {"notice": "", "functionCode": "testData = ['5877e26c078d6409fde54d508bf25721','636396f02b6571e40d8fe91cba550515c0cdc0e7d314c210e00b02256375a796','c7049c8950ea211bec236edffb37cbecf2aa338443c5e048c1cbb4e2ee20eb60fa9a1d34699d7a86e7362b010bb4ffe7','a8a7eec953f1f31484a479c84982d52847de602d7f220ac3903518369a7536693d60882e5eb782599e72024fb649cc03aa0a19ebce632e9039b4f604335834af']\n\nfor(let i=0;i<4;i++){\n  if($node[`Crypto${i}`].json['data'] !== testData[i]){\n    throw new Error(`Error in HASH: ${$node[`Crypto${i}`].parameter[\"type\"]} operation`);\n  }\n}\nreturn items;"}, "name": "Function", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1880, 560], "notesInFlow": true, "id": "d4232a52-6eed-494e-b99a-13668c58f05b", "notes": "Verify hash values"}, {"parameters": {"action": "hash", "binaryData": false, "type": "MD5", "value": "n8n", "dataPropertyName": "data", "encoding": "hex"}, "name": "Crypto0", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1230, 560], "id": "3c6f13f3-1202-4629-be6d-8a2ecd973752"}, {"parameters": {"action": "hmac", "binaryData": false, "type": "MD5", "value": "n8n", "dataPropertyName": "data", "secret": "secrect", "encoding": "hex"}, "name": "Crypto4", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1230, 710], "id": "9cc4ea7c-2c71-4a2c-bdb8-208576381724"}, {"parameters": {"action": "hmac", "binaryData": false, "type": "SHA256", "value": "n8n", "dataPropertyName": "data", "secret": "secrect", "encoding": "hex"}, "name": "Crypto5", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1380, 710], "id": "0b318b49-fd2f-4ad7-9927-4048ad87009d"}, {"parameters": {"action": "hmac", "binaryData": false, "type": "SHA384", "value": "n8n", "dataPropertyName": "data", "secret": "secrect", "encoding": "hex"}, "name": "Crypto6", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1530, 710], "id": "e4fc0137-576a-4401-8caf-5198ab0970e9"}, {"parameters": {"action": "hmac", "binaryData": false, "type": "SHA512", "value": "n8n", "dataPropertyName": "data", "secret": "secrect", "encoding": "hex"}, "name": "Crypto7", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1680, 710], "id": "f1193f43-762d-4659-9444-ebea098c897e"}, {"parameters": {"notice": "", "functionCode": "testData = ['3fb7c95bca84c0bf49045b4e6a279dc0','a8066096944b87daa8d0459629d8f3958d35fa453c310e7370b619d0b81ce48e','08bec8212275cd79a1c6bf52cad5b31ccd46ec87c7a8a9d1c8589c816f8a7124313528040b138229e15c32c1b3c82b80','0f53f3a374314123991b32e47159ad44e1c61d1c0e96809c1f19d54a5e955c06d5b633f376f2a8419e36ea4b63346fcb39d389714c344771140fd512ac55723a']\n\nfor(let i=4;i<8;i++){\n  if($node[`Crypto${i}`].json['data'] !== testData[i-4]){\n    throw new Error(`Error in Hmac: ${$node[`Crypto${i}`].parameter[\"type\"]} operation`);\n  }\n}\nreturn items;"}, "name": "Function1", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [1880, 710], "notesInFlow": true, "id": "b4c78dc0-9064-4de6-9c9d-1e6d6ce4b716", "notes": "Verify hmac values"}, {"parameters": {"action": "sign", "value": "n8n", "dataPropertyName": "data", "algorithm": "ripemd", "encoding": "hex", "privateKey": "-----BEGIN RSA PRIVATE KEY-----\n[REDACTED: real demo key scrubbed from this mined public-tutorial fixture; detection logic does not use key bytes]\n-----END RSA PRIVATE KEY-----"}, "name": "Crypto11", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1400, 900], "alwaysOutputData": true, "id": "95830d32-cbdc-4fe9-914b-0b799ff503a7"}, {"parameters": {"action": "sign", "value": "n8n", "dataPropertyName": "data", "algorithm": "ripemd160", "encoding": "hex", "privateKey": "-----BEGIN RSA PRIVATE KEY-----\n[REDACTED: real demo key scrubbed from this mined public-tutorial fixture; detection logic does not use key bytes]\n-----END RSA PRIVATE KEY-----"}, "name": "Crypto12", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1580, 900], "alwaysOutputData": true, "id": "66906a33-ae4d-4e65-b809-614fecbc2c56"}, {"parameters": {"action": "sign", "value": "n8n", "dataPropertyName": "data", "algorithm": "rmd160", "encoding": "hex", "privateKey": "-----BEGIN RSA PRIVATE KEY-----\n[REDACTED: real demo key scrubbed from this mined public-tutorial fixture; detection logic does not use key bytes]\n-----END RSA PRIVATE KEY-----"}, "name": "Crypto13", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1780, 900], "alwaysOutputData": true, "id": "6832df1e-f3ff-479a-ac25-f04ed8be05ac"}, {"parameters": {"action": "sign", "value": "n8n", "dataPropertyName": "data", "algorithm": "sha1", "encoding": "hex", "privateKey": "-----BEGIN RSA PRIVATE KEY-----\n[REDACTED: real demo key scrubbed from this mined public-tutorial fixture; detection logic does not use key bytes]\n-----END RSA PRIVATE KEY-----"}, "name": "Crypto14", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [2040, 900], "alwaysOutputData": true, "id": "4549f4f2-eadb-4df0-8e27-701d62f7d750"}, {"parameters": {"action": "sign", "value": "n8n", "dataPropertyName": "data", "algorithm": "sha224", "encoding": "hex", "privateKey": "-----BEGIN RSA PRIVATE KEY-----\n[REDACTED: real demo key scrubbed from this mined public-tutorial fixture; detection logic does not use key bytes]\n-----END RSA PRIVATE KEY-----"}, "name": "Crypto15", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [2170, 900], "alwaysOutputData": true, "id": "07643489-a8fa-40c7-a1df-b3b910a5c83a"}, {"parameters": {"action": "sign", "value": "n8n", "dataPropertyName": "data", "algorithm": "sha256", "encoding": "hex", "privateKey": "-----BEGIN RSA PRIVATE KEY-----\n[REDACTED: real demo key scrubbed from this mined public-tutorial fixture; detection logic does not use key bytes]\n-----END RSA PRIVATE KEY-----"}, "name": "Crypto16", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [2300, 900], "alwaysOutputData": true, "id": "bde3009c-b253-4ff6-b7bc-89d3b02ef2b6"}, {"parameters": {"notice": "", "functionCode": "testData = [\n  '9d0bc120a967882743370f715dfa90789c4d9322a4faf691d1f80b306c6bd900bfcba5f62946ef88ba7e1fdd008ff3efe8545b979299b14e0e0eccd3e33b1afa11397494526e31968f13d2ac3e3deaa2bc4a27862b7025444c91ebed5f1b98d2c0390630d8eabc6a7662a9ab069cb3aab273ae1c09f20f51fa8e04af4bcccbc6',\n  '0b494c8146f7efd7aa53b418a7057a3a57317a0380c06c7d18114077a03fc6441b57ca8c03edff4ca6fdc2394d026893258b97d34bf0c5c44bc20bd264899eb1316da1e624db1455c73c9054ff732464f775b473b3ba67250ffd74ee42b1acfdf5539bf793d7002327d8d156424444624a625f8dd3f013d40a7ba7b6726186a9',\n  '0b494c8146f7efd7aa53b418a7057a3a57317a0380c06c7d18114077a03fc6441b57ca8c03edff4ca6fdc2394d026893258b97d34bf0c5c44bc20bd264899eb1316da1e624db1455c73c9054ff732464f775b473b3ba67250ffd74ee42b1acfdf5539bf793d7002327d8d156424444624a625f8dd3f013d40a7ba7b6726186a9',\n  '0b494c8146f7efd7aa53b418a7057a3a57317a0380c06c7d18114077a03fc6441b57ca8c03edff4ca6fdc2394d026893258b97d34bf0c5c44bc20bd264899eb1316da1e624db1455c73c9054ff732464f775b473b3ba67250ffd74ee42b1acfdf5539bf793d7002327d8d156424444624a625f8dd3f013d40a7ba7b6726186a9',\n  'b9d0c7c4acb8ef55b5c323f82755fb420e5145bafe4de34925e86c53c9f652eb08ec0d87a9be95ca0c0d90b16dd1b55f1200d87c13e4cdb1ae902f41998314f7b85ffc82f0f1d5296119bd92e23ae685b8b59a3a4ba4b8d54db2314c077b1b238c4ac582e36b51c18c0b5474f0d68c1f42e01c08985111ded4cfd3463068d89a',\n  '1387958052cf887bd50925a8d44bbf8f138cdd23f51a3422028edf39ad413a1591f5ebd653c4f225298cd6857044648bcfb768113674e7bd11c632fb0fc40cfa646301934b8fcf4da9799272a737155a239e1f8db5e92a23bfa2aeabc6732f5be14078a5815fff542842efed681ac3b919f9d42bfc822b0fd611c0b22286f241',\n  '922659a8d40b12f81080425a8676830be06f26dd8cd18cad25d02055332c94b8b9634598ef5b172ee53e53788d33c183bf0984ae3b48d792f426a601dbf2eb4771bc844bc2464de8ca5b6746bbdc2f1713a1e1d57a6970568f033e588c759e4b179b791b7fcb75d323c98cc5c6f33c3659410b159c94bc13834e81ce297ce98d'\n]\n\nfor(let i=10;i<17;i++){\n  if($node[`Crypto${i}`].json['data'] !== testData[i-10]){\n    throw new Error(`Error in Hmac: ${$node[`Crypto${i}`].parameter[\"algorithm\"]} operation (node:Crypto${i})`);\n  }\n}\nreturn items;"}, "name": "Function2", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [2470, 900], "alwaysOutputData": true, "notesInFlow": true, "id": "ae850710-ba68-44a1-892f-62dc2f270e53", "notes": "Verify signing values"}, {"parameters": {"action": "sign", "value": "n8n", "dataPropertyName": "data", "algorithm": "md5", "encoding": "hex", "privateKey": "-----BEGIN RSA PRIVATE KEY-----\n[REDACTED: real demo key scrubbed from this mined public-tutorial fixture; detection logic does not use key bytes]\n-----END RSA PRIVATE KEY-----"}, "name": "Crypto10", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1220, 900], "alwaysOutputData": true, "id": "1c33cc3f-7124-4156-99ce-47c8d79408da"}], "connections": {"Start": {"main": [[{"node": "Crypto0", "type": "main", "index": 0}, {"node": "Crypto4", "type": "main", "index": 0}, {"node": "Crypto10", "type": "main", "index": 0}]]}, "Crypto1": {"main": [[{"node": "Crypto2", "type": "main", "index": 0}]]}, "Crypto2": {"main": [[{"node": "Crypto3", "type": "main", "index": 0}]]}, "Crypto3": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}, "Crypto0": {"main": [[{"node": "Crypto1", "type": "main", "index": 0}]]}, "Crypto4": {"main": [[{"node": "Crypto5", "type": "main", "index": 0}]]}, "Crypto5": {"main": [[{"node": "Crypto6", "type": "main", "index": 0}]]}, "Crypto6": {"main": [[{"node": "Crypto7", "type": "main", "index": 0}]]}, "Crypto7": {"main": [[{"node": "Function1", "type": "main", "index": 0}]]}, "Crypto11": {"main": [[{"node": "Crypto12", "type": "main", "index": 0}]]}, "Crypto12": {"main": [[{"node": "Crypto13", "type": "main", "index": 0}]]}, "Crypto13": {"main": [[{"node": "Crypto14", "type": "main", "index": 0}]]}, "Crypto14": {"main": [[{"node": "Crypto15", "type": "main", "index": 0}]]}, "Crypto15": {"main": [[{"node": "Crypto16", "type": "main", "index": 0}]]}, "Crypto16": {"main": [[{"node": "Function2", "type": "main", "index": 0}]]}, "Crypto10": {"main": [[{"node": "Crypto11", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/n8n-io_test-workflows/workflows/97.json"}