eval/data/realworld/rw_7cf025b2ab.json
{"id": "45", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:04.248Z", "startedAt": "2026-07-16T06:58:04.253Z", "stoppedAt": "2026-07-16T06:58:04.284Z", "deletedAt": null, "workflowId": "oXiCyHCwYBPjK4Ju", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 8700, "binaryDataSizeBytes": 0, "workflowVersionId": "917f6c55-896b-4df9-a931-9bf74a5ba29c", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185084260, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Mock data (CRM Contacts)": [{"startTime": 1784185084260, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 21, "executionStatus": "success", "data": {"main": [[{"json": {"addedAt": 1606827045601, "vid": 1, "canonical-vid": 1, "merged-vids": [], "portal-id": 8924380, "is-contact": true, "profile-token": "AO_T-mMZqmgHPI5CLLlw2qE24AlgWOJUL0LdMb2CegxeMzQK1LXyh7iZAgjNd-00ZdPAfnFU9Lv_7nq6qlrKvfAh8hr_cw-VBH1RCCMgHHYQ06DOXoIGAlViWmMKY-0lF9dv7lBVOMf5", "profile-url": "https://app.hubspot.com/contacts/8924380/contact/1", "properties": {"firstname": {"value": "Maria"}, "lastmodifieddate": {"value": "1606827057310"}, "company": {"value": "HubSpot"}, "lastname": {"value": "Johnson (Sample Contact)"}}, "form-submissions": [], "identity-profiles": [{"vid": 1, "saved-at-timestamp": 1606827045478, "deleted-changed-timestamp": 0, "identities": [{"type": "EMAIL", "value": "user@example.com", "timestamp": 1606827045444, "is-primary": true}, {"type": "LEAD_GUID", "value": "cfa8b21f-164e-4c9a-aab1-1235c81a7d26", "timestamp": 1606827045475}]}], "merge-audits": []}, "pairedItem": {"item": 0}}, {"json": {"addedAt": 1606827045834, "vid": 51, "canonical-vid": 51, "merged-vids": [], "portal-id": 8924380, "is-contact": true, "profile-token": "AO_T-mMX1jbZjaachMJ8t1F2yRdvyAvsir5RMvooW7XjbPZTdAv8hc24U0Rnc_PDF1gp1qmc8Tg2hDytOaRXRiWVyg-Eg8rbPFEiXNdU6jfMneow46tsSiQH1yyRf03mMi5ALZXMVfyA", "profile-url": "https://app.hubspot.com/contacts/8924380/contact/51", "properties": {"firstname": {"value": "Brian"}, "lastmodifieddate": {"value": "1606827060106"}, "company": {"value": "HubSpot"}, "lastname": {"value": "Halligan (Sample Contact)"}}, "form-submissions": [], "identity-profiles": [{"vid": 51, "saved-at-timestamp": 1606827045720, "deleted-changed-timestamp": 0, "identities": [{"type": "EMAIL", "value": "user@example.com", "timestamp": 1606827045444, "is-primary": true}, {"type": "LEAD_GUID", "value": "d3749acc-06e1-4511-84fd-7b0d847f6eff", "timestamp": 1606827045717}]}], "merge-audits": []}, "pairedItem": {"item": 0}}]]}}], "Set": [{"startTime": 1784185084281, "executionIndex": 2, "source": [{"previousNode": "Mock data (CRM Contacts)", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 2, "executionStatus": "success", "data": {"main": [[{"json": {"Name": "Maria Johnson (Sample Contact)", "Email": "user@example.com"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Brian Halligan (Sample Contact)", "Email": "user@example.com"}, "pairedItem": {"item": 1}}]]}}], "Replace me": [{"startTime": 1784185084283, "executionIndex": 3, "source": [{"previousNode": "Set", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"Name": "Maria Johnson (Sample Contact)", "Email": "user@example.com"}, "pairedItem": {"item": 0}}, {"json": {"Name": "Brian Halligan (Sample Contact)", "Email": "user@example.com"}, "pairedItem": {"item": 1}}]]}}]}, "pinData": null, "lastNodeExecuted": "Replace me"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185084257, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/PpsoJmwp0BSB0W6jTpzieOtGeW8rGf/MpM3kN7LFrHYxjPLNfBhbnB1dyFbr3sSCSrlZqfST22O3FoYsUgdrnOgVgvnjkSJ06s9vLkmjofw5zrZ4cFN9lXMiimm2EIJwpyPtsKxJVWSzZJbcgXbEKXkoIl94lpqTw+40nbgbWpOp0GSLWyy42AGs6JGwjSqBcll7wzM26I0sJsDDhX+zuHgxQkrZnAYK1lho4bB3pLyfdcosRrJ2kSMPWIWQujx5lcyx+7y2+zwAuVhsdituVRX4OGZQmFgjQRBp4chMJ7FHTrUuaWFAJrS+P8t+x91vVod3lyAJrCBcnFHd4R5GilrKqVSlxB2v4GGyBRjL0lB10VSi9wju16AjPen7ADd4nPwNCjFurWNkwS9VuJKim6eKrDsSPS7o="}}, "resumeToken": "50e9a0cc0bbbe2edf716efbfcd2a1aeef412e0b879eb89ca27a06960e1f766f1"}, "workflowData": {"id": "oXiCyHCwYBPjK4Ju", "name": "rw_7cf025b2ab", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [160, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "7d38091a-f7af-4a36-b36e-f165df989421"}, {"name": "Set", "type": "n8n-nodes-base.set", "position": [650, 300], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "Name", "value": "={{$json[\"properties\"][\"firstname\"][\"value\"]}} {{$json[\"properties\"][\"lastname\"][\"value\"]}}"}, {"name": "Email", "value": "={{$json[\"identity-profiles\"][0][\"identities\"][0][\"value\"]}}"}]}, "options": {}}, "typeVersion": 1, "id": "d7b95dce-95c8-43c4-a6d3-f7e9dc0a3548"}, {"name": "Mock data (CRM Contacts)", "type": "n8n-nodes-base.function", "notes": "\"Get contacts\" data from Hubspot node. ", "position": [400, 300], "parameters": {"notice": "", "functionCode": "var newItems = [];\nnewItems.push({json:{\n    \"addedAt\": 1606827045601,\n    \"vid\": 1,\n    \"canonical-vid\": 1,\n    \"merged-vids\": [],\n    \"portal-id\": 8924380,\n    \"is-contact\": true,\n    \"profile-token\": \"AO_T-mMZqmgHPI5CLLlw2qE24AlgWOJUL0LdMb2CegxeMzQK1LXyh7iZAgjNd-00ZdPAfnFU9Lv_7nq6qlrKvfAh8hr_cw-VBH1RCCMgHHYQ06DOXoIGAlViWmMKY-0lF9dv7lBVOMf5\",\n    \"profile-url\": \"https://app.hubspot.com/contacts/8924380/contact/1\",\n    \"properties\": {\n      \"firstname\": {\n        \"value\": \"Maria\"\n      },\n      \"lastmodifieddate\": {\n        \"value\": \"1606827057310\"\n      },\n      \"company\": {\n        \"value\": \"HubSpot\"\n      },\n      \"lastname\": {\n        \"value\": \"Johnson (Sample Contact)\"\n      }\n    },\n    \"form-submissions\": [],\n    \"identity-profiles\": [\n      {\n        \"vid\": 1,\n        \"saved-at-timestamp\": 1606827045478,\n        \"deleted-changed-timestamp\": 0,\n        \"identities\": [\n          {\n            \"type\": \"EMAIL\",\n            \"value\": \"user@example.com\",\n            \"timestamp\": 1606827045444,\n            \"is-primary\": true\n          },\n          {\n            \"type\": \"LEAD_GUID\",\n            \"value\": \"cfa8b21f-164e-4c9a-aab1-1235c81a7d26\",\n            \"timestamp\": 1606827045475\n          }\n        ]\n      }\n    ],\n    \"merge-audits\": []\n  }});\nnewItems.push({json:{\n    \"addedAt\": 1606827045834,\n    \"vid\": 51,\n    \"canonical-vid\": 51,\n    \"merged-vids\": [],\n    \"portal-id\": 8924380,\n    \"is-contact\": true,\n    \"profile-token\": \"AO_T-mMX1jbZjaachMJ8t1F2yRdvyAvsir5RMvooW7XjbPZTdAv8hc24U0Rnc_PDF1gp1qmc8Tg2hDytOaRXRiWVyg-Eg8rbPFEiXNdU6jfMneow46tsSiQH1yyRf03mMi5ALZXMVfyA\",\n    \"profile-url\": \"https://app.hubspot.com/contacts/8924380/contact/51\",\n    \"properties\": {\n      \"firstname\": {\n        \"value\": \"Brian\"\n      },\n      \"lastmodifieddate\": {\n        \"value\": \"1606827060106\"\n      },\n      \"company\": {\n        \"value\": \"HubSpot\"\n      },\n      \"lastname\": {\n        \"value\": \"Halligan (Sample Contact)\"\n      }\n    },\n    \"form-submissions\": [],\n    \"identity-profiles\": [\n      {\n        \"vid\": 51,\n        \"saved-at-timestamp\": 1606827045720,\n        \"deleted-changed-timestamp\": 0,\n        \"identities\": [\n          {\n            \"type\": \"EMAIL\",\n            \"value\": \"user@example.com\",\n            \"timestamp\": 1606827045444,\n            \"is-primary\": true\n          },\n          {\n            \"type\": \"LEAD_GUID\",\n            \"value\": \"d3749acc-06e1-4511-84fd-7b0d847f6eff\",\n            \"timestamp\": 1606827045717\n          }\n        ]\n      }\n    ],\n    \"merge-audits\": []\n  } });\nreturn newItems;"}, "notesInFlow": true, "typeVersion": 1, "id": "df87e883-5681-4de2-8739-936a70c3f139"}, {"name": "Replace me", "type": "n8n-nodes-base.noOp", "notes": "Google Sheet/ Airtable/ Database with an \"append\" or \"Add row\" operation", "position": [910, 300], "parameters": {}, "notesInFlow": true, "typeVersion": 1, "id": "324702da-48e0-4d07-b5a9-c7a298fb9dd4"}], "connections": {"Set": {"main": [[{"node": "Replace me", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Mock data (CRM Contacts)", "type": "main", "index": 0}]]}, "Mock data (CRM Contacts)": {"main": [[{"node": "Set", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/04102-Load-data-into-spreadsheet-or-database.json"}