eval/data/realworld/rw_7e1b541e29.json
{"id": "44", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:58:02.632Z", "startedAt": "2026-07-16T06:58:02.639Z", "stoppedAt": "2026-07-16T06:58:02.671Z", "deletedAt": null, "workflowId": "En4EwYB5qIXARbVH", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 13367, "binaryDataSizeBytes": 0, "workflowVersionId": "f37f75ac-c490-4039-b46d-8c91dcd39e4b", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "warning", "shouldReport": true, "description": "\n<p>Try either:</p>\n<ol>\n  <li>Enabling 'Convert types where required'</li>\n  <li>Converting the first field to a number by adding <code>.toNumber()</code></li>\n</ol>\n\t\t\t", "tags": {}, "timestamp": 1784185082653, "context": {"itemIndex": 0}, "functionality": "regular", "name": "NodeOperationError", "node": {"id": "e6feed01-0eb5-4ff0-b11c-209f871770ab", "name": "Switch Best Practice", "type": "n8n-nodes-base.switch", "position": [528, -704], "parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "c9d2e4fd-2fb6-459d-8eb5-ed49d27f1054", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 1}]}, "renameOutput": true, "outputKey": "caseOne"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "dacab787-df1c-4b26-bdcd-ea1d169b7935", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 2}]}, "renameOutput": true, "outputKey": "caseTwo"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "cf5fe10c-beb5-43ba-85aa-6e8f693df9a3", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 3}]}, "renameOutput": true, "outputKey": "caseThree"}]}, "looseTypeValidation": false, "options": {"fallbackOutput": "extra"}}, "typeVersion": 3.3}, "messages": [], "message": "Wrong type: '[object Object]' is an object but was expecting a number [condition 0, item 0]", "stack": "NodeOperationError: Wrong type: '[object Object]' is an object but was expecting a number [condition 0, item 0]\n    at extractValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/extract-value.ts:179:9)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:556:29)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:132:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Switch/V3/SwitchV3.node.ts:434:29)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"When clicking \u2018Execute workflow\u2019": [{"startTime": 1784185082650, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Dummy Data": [{"startTime": 1784185082652, "executionIndex": 1, "source": [{"previousNode": "When clicking \u2018Execute workflow\u2019", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"caseOne": 42, "caseTwo": 42, "caseThree": 42}, "pairedItem": {"item": 0}}]]}}], "Switch Best Practice": [{"startTime": 1784185082653, "executionIndex": 2, "source": [{"previousNode": "Dummy Data", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 18, "executionStatus": "error", "error": {"level": "warning", "shouldReport": true, "description": "\n<p>Try either:</p>\n<ol>\n  <li>Enabling 'Convert types where required'</li>\n  <li>Converting the first field to a number by adding <code>.toNumber()</code></li>\n</ol>\n\t\t\t", "tags": {}, "timestamp": 1784185082653, "context": {"itemIndex": 0}, "functionality": "regular", "name": "NodeOperationError", "node": {"id": "e6feed01-0eb5-4ff0-b11c-209f871770ab", "name": "Switch Best Practice", "type": "n8n-nodes-base.switch", "position": [528, -704], "parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "c9d2e4fd-2fb6-459d-8eb5-ed49d27f1054", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 1}]}, "renameOutput": true, "outputKey": "caseOne"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "dacab787-df1c-4b26-bdcd-ea1d169b7935", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 2}]}, "renameOutput": true, "outputKey": "caseTwo"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "cf5fe10c-beb5-43ba-85aa-6e8f693df9a3", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 3}]}, "renameOutput": true, "outputKey": "caseThree"}]}, "looseTypeValidation": false, "options": {"fallbackOutput": "extra"}}, "typeVersion": 3.3}, "messages": [], "message": "Wrong type: '[object Object]' is an object but was expecting a number [condition 0, item 0]", "stack": "NodeOperationError: Wrong type: '[object Object]' is an object but was expecting a number [condition 0, item 0]\n    at extractValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/extract-value.ts:179:9)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:556:29)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:132:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Switch/V3/SwitchV3.node.ts:434:29)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Switch Best Practice"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "e6feed01-0eb5-4ff0-b11c-209f871770ab", "name": "Switch Best Practice", "type": "n8n-nodes-base.switch", "position": [528, -704], "parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "c9d2e4fd-2fb6-459d-8eb5-ed49d27f1054", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 1}]}, "renameOutput": true, "outputKey": "caseOne"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "dacab787-df1c-4b26-bdcd-ea1d169b7935", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 2}]}, "renameOutput": true, "outputKey": "caseTwo"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "cf5fe10c-beb5-43ba-85aa-6e8f693df9a3", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 3}]}, "renameOutput": true, "outputKey": "caseThree"}]}, "looseTypeValidation": false, "options": {"fallbackOutput": "extra"}}, "typeVersion": 3.3}, "data": {"main": [[{"json": {"caseOne": 42, "caseTwo": 42, "caseThree": 42}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Dummy Data", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185082649, "source": "manual", "triggerNode": {"name": "When clicking \u2018Execute workflow\u2019", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+krk7xhzbaNn8aGQLY+9bbl2/+8jZOSGenvtOqk8D1Ukg9mXljyGzTEMLQdupsnFnesVSAywjDip283HGYmt7pelxCS1CKqFsqG2g7lva4CqI7TfRvH+d32c+Iapc6YvfQWGs8+l8spQAFXMXjQXD8fdCzc4cu+tNKgA56N3SQApYv1j4Q8O3R4BawnyuxCcmlKbnBIVcwBSWOSVvPAOK72HybZr6QCeAsnBMpvsyhHr8cSgJJcCargGn6mWvYHRaA95CJsvNfadvsz5Tu44V64ljOHJZuxx374KtFvLWWHj90V3X/5rjV+GiHuLTlsjj9BRNLmn6vlZ7V78h7ltmzGwuMoEKGbccPirpCtBt3dWJ19n1W57DW6rHANmqVv4kYiMgiWup6cixkP7fuZ63VLSdrAOtgESM="}}, "resumeToken": "5793b127b7cb0108048ae054ff8e6e32cbcdd1b8bd4aa27f0f0db0fb9f0b89ee"}, "workflowData": {"id": "En4EwYB5qIXARbVH", "name": "rw_7e1b541e29", "nodes": [{"id": "5432e67b-4dc8-4675-bd4f-9791180856af", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-96, -880], "parameters": {"content": "## Webhook trigger\n- freely accessible in the internet if not protected\n- **SHOULD be protected** as good as possible for any serious n8n usage!!!\n", "height": 576, "width": 224, "color": 7}, "typeVersion": 1}, {"id": "94ab34de-3164-49ae-9601-97bebcf72e1d", "name": "Sticky Note7", "type": "n8n-nodes-base.stickyNote", "position": [-192, -1216], "parameters": {"content": "# Example Setup\n- For any Switch node the \"ohter\"/ fallback option should allways be used unless you really know what you do", "height": 992, "width": 1488, "color": 4}, "typeVersion": 1}, {"id": "17311961-275d-49de-88d0-50cd58378959", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [432, -1056], "parameters": {"content": "## Allways activate the Fallback Option!\n\nIf you have considered **ALL** cases (even if things change in future)\n- **all OK:** the fallback will never fire \n- **if things go wrong:** the fallback saves you hours of debugging work as is will not fail silently!\n\nAnd believe me: \nat some point things will go wrong sooner or later", "height": 752, "width": 528, "color": 7}, "typeVersion": 1}, {"id": "e080f5df-0dc5-4759-a454-dbdefd09ba82", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [-544, -1216], "parameters": {"content": "# \ud83d\udea6 START Here\n\n## Switch Node Best Practice\n\nThe Switch node is powerful \u2014 but easy to misconfigure. Without a proper fallback, things can silently break. \ud83e\udde8\n\nCommon pitfalls:\n- The value is null or undefined due to earlier workflow errors\n- Case mismatches (\"Yes\" vs \"yes\")\n- Type mismatches (3 as number vs \"3\" as string)\n- Forgotten or outdated conditions\n\n## \u27a1\ufe0f Best Practice:\nAlways enable the **\u201cFallback\u201d option** and connect it to an Error or Notify node. This ensures misrouted executions don't silently fail \u2014 they alert you instead.\n\n**Protect your workflow logic, and save yourself hours of debugging. \ud83d\udee0\ufe0f**", "height": 992, "width": 288, "color": 1}, "typeVersion": 1}, {"id": "e6feed01-0eb5-4ff0-b11c-209f871770ab", "name": "Switch Best Practice", "type": "n8n-nodes-base.switch", "position": [528, -704], "parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "c9d2e4fd-2fb6-459d-8eb5-ed49d27f1054", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 1}]}, "renameOutput": true, "outputKey": "caseOne"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "dacab787-df1c-4b26-bdcd-ea1d169b7935", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 2}]}, "renameOutput": true, "outputKey": "caseTwo"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "cf5fe10c-beb5-43ba-85aa-6e8f693df9a3", "operator": {"type": "number", "operation": "equals"}, "leftValue": {}, "rightValue": 3}]}, "renameOutput": true, "outputKey": "caseThree"}]}, "looseTypeValidation": false, "options": {"fallbackOutput": "extra"}}, "typeVersion": 3.3}, {"id": "48a3601f-f1b1-4702-aee0-e3170448398c", "name": "Case 1 - Do whatever your workflow should do", "type": "n8n-nodes-base.noOp", "position": [1056, -960], "parameters": {}, "typeVersion": 1}, {"id": "f24d8323-21dd-4a46-8b46-7963e3117ba6", "name": "Case 2 - Do whatever your workflow should do", "type": "n8n-nodes-base.noOp", "position": [1056, -768], "parameters": {}, "typeVersion": 1}, {"id": "79fdfe12-88d2-4ead-b309-80ba869e7673", "name": "Case 3 - Do whatever your workflow should do", "type": "n8n-nodes-base.noOp", "position": [1056, -576], "parameters": {}, "typeVersion": 1}, {"id": "c6011620-2dfb-4e0e-8770-18589b58dd0d", "name": "When clicking \u2018Execute workflow\u2019", "type": "n8n-nodes-base.manualTrigger", "position": [-32, -672], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "ffc767d3-b651-4f9f-b0ae-ea1b0b80eccf", "name": "Dummy Data", "type": "n8n-nodes-base.set", "position": [272, -672], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "93be0a9f-15d8-4265-ae3e-f6ffcdefd794", "name": "caseOne", "type": "number", "value": 42}, {"id": "87cc796c-376d-428a-abdc-9de092f3577c", "name": "caseTwo", "type": "number", "value": 42}, {"id": "7812fa72-6bb2-46f3-b437-a0100b40a43b", "name": "caseThree", "type": "number", "value": 42}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "5dcddab3-babe-4694-837d-b0831b63c9bd", "name": "Switch Case NOT defined", "type": "n8n-nodes-base.stopAndError", "position": [752, -480], "parameters": {"errorType": "errorMessage", "errorMessage": "=The Switch Case in Workflow \"{{ $workflow.name }}\" was not defined during Excecution {{ $execution.id }}."}, "typeVersion": 1}], "connections": {"Dummy Data": {"main": [[{"node": "Switch Best Practice", "type": "main", "index": 0}]]}, "Switch Best Practice": {"main": [[{"node": "Case 1 - Do whatever your workflow should do", "type": "main", "index": 0}], [{"node": "Case 2 - Do whatever your workflow should do", "type": "main", "index": 0}], [{"node": "Case 3 - Do whatever your workflow should do", "type": "main", "index": 0}], [{"node": "Switch Case NOT defined", "type": "main", "index": 0}]]}, "When clicking \u2018Execute workflow\u2019": {"main": [[{"node": "Dummy Data", "type": "main", "index": 0}]]}}, "settings": {"callerPolicy": "workflowsFromSameOwner", "errorWorkflow": "YEvXt4fjXiqx3zZt", "executionOrder": "v1", "executionTimeout": 180, "timeSavedPerExecution": 1}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/03957-Implement-error-proof-switch-node-fallbacks-for-reliable-workflow-control.json"}