eval/data/realworld/rw_7948809a8a.json
{"id": "79", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:59:03.434Z", "startedAt": "2026-07-16T06:59:03.439Z", "stoppedAt": "2026-07-16T06:59:03.476Z", "deletedAt": null, "workflowId": "tn9X59SaTMcYOFMZ", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 7146, "binaryDataSizeBytes": 0, "workflowVersionId": "4b338d0e-7459-44af-82cb-818a9f826acc", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"message": "Cannot read properties of undefined (reading 'split')", "stack": "TypeError: Cannot read properties of undefined (reading 'split')\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Function/Function.node.ts:215:84)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"Start": [{"startTime": 1784185143446, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "FunctionItem": [{"startTime": 1784185143447, "executionIndex": 1, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"name": "testing xml", "arr": [{"key": "item1"}, {"key": "item2"}], "subobj": {"arr": [1, 2, 3, 4, 5], "secondarr": [{"key": "subitem1"}, {"key": "subitem2"}, {"key": "subitem3"}]}}, "pairedItem": {"item": 0}}]]}}], "XML": [{"startTime": 1784185143456, "executionIndex": 2, "source": [{"previousNode": "FunctionItem", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"data": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<root>\n  <name>testing xml</name>\n  <arr>\n    <key>item1</key>\n  </arr>\n  <arr>\n    <key>item2</key>\n  </arr>\n  <subobj>\n    <arr>1</arr>\n    <arr>2</arr>\n    <arr>3</arr>\n    <arr>4</arr>\n    <arr>5</arr>\n    <secondarr>\n      <key>subitem1</key>\n    </secondarr>\n    <secondarr>\n      <key>subitem2</key>\n    </secondarr>\n    <secondarr>\n      <key>subitem3</key>\n    </secondarr>\n  </subobj>\n</root>"}, "pairedItem": {"item": 0}}]]}}], "XML1": [{"startTime": 1784185143464, "executionIndex": 3, "source": [{"previousNode": "XML", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"name": "testing xml", "arr": [{"key": "item1"}, {"key": "item2"}], "subobj": {"arr": ["1", "2", "3", "4", "5"], "secondarr": [{"key": "subitem1"}, {"key": "subitem2"}, {"key": "subitem3"}]}}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185143465, "executionIndex": 4, "source": [{"previousNode": "XML1", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 10, "executionStatus": "error", "error": {"message": "Cannot read properties of undefined (reading 'split')", "stack": "TypeError: Cannot read properties of undefined (reading 'split')\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Function/Function.node.ts:215:84)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Function"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"parameters": {"notice": "", "functionCode": "if(JSON.stringify($node['FunctionItem'].json) !== JSON.stringify($node['XML1'].json) ){\n    throw new Error('Problem in XML conversion');\n}\nreturn items;"}, "name": "Function", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [990, 350], "id": "f03b8331-fa37-4aeb-97c9-0a3514942f96"}, "data": {"main": [[{"json": {"name": "testing xml", "arr": [{"key": "item1"}, {"key": "item2"}], "subobj": {"arr": ["1", "2", "3", "4", "5"], "secondarr": [{"key": "subitem1"}, {"key": "subitem2"}, {"key": "subitem3"}]}}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "XML1", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185143445, "source": "manual", "triggerNode": {"name": "Start", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX196jrt8bmOi8/DktzncW/cdDTIodT2n8xkHZdj4W26+aEasw4wYmi58kDdX8XP084+xY5/1EBC5vq4PjiwrAFpQXPiOHJxyhiecDIvzmn9QiQAvvKzhNjldJAlZ3cPVwhf6Hr5I99aP/rrfB+0mF8BlQR5NiOzuahQRZp4ml/ey4WJPhswrhPSM+UaYLYGhg2qTPeQZe1MxvIm1kSMFuPmi8lktuxsjSZsSMZi1aDnzKVOGYDKUQw3jTjvZspxqPNbGYi/1h6WRjtkAp/kk/xKlwKDM5uJ0/HKSU2kj58qWoq4PKommdgtvx+spq6dWiFOvsJbwEJZ00Ur9gRuvwTpOoOIEiMG1UuWA/gDuIV0DIYhGVyvoyrYexTamx9rtaorXnd17tnDYyqbJFW1cp6c7MX+kfIZ2t5M="}}, "resumeToken": "8232b5dead615c60407e85177954c50000485efcecbb6146222ea4ddf8948bac"}, "workflowData": {"id": "tn9X59SaTMcYOFMZ", "name": "rw_7948809a8a", "nodes": [{"parameters": {"notice": ""}, "name": "Start", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [250, 300], "id": "50d8428b-c132-49cb-8f4c-2eeba448d666"}, {"parameters": {"mode": "jsonToxml", "dataPropertyName": "data", "options": {}}, "name": "XML", "type": "n8n-nodes-base.xml", "typeVersion": 1, "position": [650, 300], "id": "664b8c25-5107-4715-a463-9a954965c096"}, {"parameters": {"notice": "", "functionCode": "item= {\n  name:'testing xml',\n  arr:[{key:'item1'},{key:'item2'}],\n  subobj:{\n    arr:[1,2,3,4,5],\n    secondarr:[{key:'subitem1'},{key:'subitem2'},{key:'subitem3'}]\n  }\n};\nreturn item;"}, "name": "FunctionItem", "type": "n8n-nodes-base.functionItem", "typeVersion": 1, "position": [450, 300], "id": "dfb38369-2fb3-4d92-b843-b663b3a4675a"}, {"parameters": {"mode": "xmlToJson", "xmlNotice": "", "dataPropertyName": "data", "options": {"explicitRoot": false}}, "name": "XML1", "type": "n8n-nodes-base.xml", "typeVersion": 1, "position": [800, 350], "id": "7085c1d8-a216-47a7-98d1-2f5e9e3eda47"}, {"parameters": {"notice": "", "functionCode": "if(JSON.stringify($node['FunctionItem'].json) !== JSON.stringify($node['XML1'].json) ){\n    throw new Error('Problem in XML conversion');\n}\nreturn items;"}, "name": "Function", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [990, 350], "id": "f03b8331-fa37-4aeb-97c9-0a3514942f96"}], "connections": {"XML": {"main": [[{"node": "XML1", "type": "main", "index": 0}]]}, "FunctionItem": {"main": [[{"node": "XML", "type": "main", "index": 0}]]}, "XML1": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}, "Start": {"main": [[{"node": "FunctionItem", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/n8n-io_test-workflows/workflows/94.json"}