eval/data/realworld/rw_8f470b8c2b.json
{"id": "15", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:15.869Z", "startedAt": "2026-07-16T06:57:15.875Z", "stoppedAt": "2026-07-16T06:57:15.892Z", "deletedAt": null, "workflowId": "S6nTRRDElrS2TyYO", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 3233, "binaryDataSizeBytes": 0, "workflowVersionId": "2eed160f-7637-49d7-9e45-d1900ad92e17", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185035884, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Sample email": [{"startTime": 1784185035885, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"email": "email@domain2.com"}, "pairedItem": {"item": 0}}]]}}], "Extract domain name": [{"startTime": 1784185035885, "executionIndex": 2, "source": [{"previousNode": "Sample email", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"domain": "domain2.com"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Extract domain name"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185035882, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19nDUafL7llfVlqMQvRq4OejVWaph0c5WIGICJOx1OvKqqok7Pv4YmpoZBbri2m1VkB85XnXBRtGf8Erf9AaYzF0We8+XX+Y2IsvPd3Wkw4Ih/we3FdXBmmVhFXNs6U2QNsUSBDWdxRPWpA/hT2r20iEviSfrAIJHhbcuEtAG5sci3bnH7JeLCI5fqY6VzjBLR9oSAKYNeTPraY4xnPmLa5DX7Sm8riqnzJge7do1UOQMiY+mvDupdsMM5XZsCKusBXsYRF854/FgYD1eF+RcXG86AZ29c376tKH4JOOCrqSUyCKoztH2/TkTM2F87tkhtyu/ctQ6kgVF+Tib/dDxIGPQ7F9gMwUCCuDfjIc8EZcv511MLYlbXN7z6tozGrxxdeYlBTKrjhrwMAMKhSb7oDysKdtUpHkk4="}}, "resumeToken": "2473bfeba97978f1a0ee90ad20f1b921c66e551db4b0f424cff0f110009f9d6b"}, "workflowData": {"id": "S6nTRRDElrS2TyYO", "name": "rw_8f470b8c2b", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [240, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "c4c0e85e-1aa1-4562-8a86-510f6e4801f3"}, {"name": "Extract domain name", "type": "n8n-nodes-base.function", "position": [700, 300], "parameters": {"notice": "", "functionCode": "// Take email and extract the domain name \nvar email = ($json[\"email\"]);\nvar name   = email.substring(0, email.lastIndexOf(\"@\"));\nvar domain = email.substring(email.lastIndexOf(\"@\") +1);\n\n//To display the final domain name. (result)\n\nreturn [{\n  json: { domain }\n}]"}, "typeVersion": 1, "id": "7d89c2a8-2a38-43a4-a63a-113ec02f52a7"}, {"name": "Sample email", "type": "n8n-nodes-base.set", "position": [460, 300], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "email", "value": "email@domain2.com"}]}, "options": {}}, "typeVersion": 1, "id": "03fc0ed1-4461-438e-9470-33c1d36d124f"}], "connections": {"Sample email": {"main": [[{"node": "Extract domain name", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Sample email", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00135-dominio-email-extractor.json"}