eval/data/realworld/rw_8ccc1468af.json
{"id": "40", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:57:55.995Z", "startedAt": "2026-07-16T06:57:56.000Z", "stoppedAt": "2026-07-16T06:57:56.053Z", "deletedAt": null, "workflowId": "yi0kaFLDMx8HtCOn", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 14353, "binaryDataSizeBytes": 0, "workflowVersionId": "1b59ea30-7f80-4506-bc35-0e8d83ae8d46", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "warning", "shouldReport": true, "tags": {}, "timestamp": 1784185076048, "context": {}, "functionality": "regular", "name": "NodeOperationError", "node": {"id": "0f7c13ea-196b-40a7-bf1e-4829caaaba4c", "name": "Stop and Error", "type": "n8n-nodes-base.stopAndError", "position": [180, 60], "parameters": {"errorType": "errorMessage", "errorMessage": "Invalid verification token"}, "typeVersion": 1}, "messages": [], "message": "Invalid verification token", "stack": "NodeOperationError: Invalid verification token\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/StopAndError/StopAndError.node.ts:91:9)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"Webhook": [{"startTime": 1784185076016, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Prepare": [{"startTime": 1784185076018, "executionIndex": 1, "source": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 12, "executionStatus": "success", "data": {"main": [[{"json": {"verificationToken": "7dd9d4ef-8412-4add-a0d0-b548ad4564b9", "body": null}, "pairedItem": {"item": 0}}]]}}], "Check token": [{"startTime": 1784185076031, "executionIndex": 2, "source": [{"previousNode": "Prepare", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 15, "executionStatus": "success", "data": {"main": [[], [{"json": {"verificationToken": "7dd9d4ef-8412-4add-a0d0-b548ad4564b9", "body": null}, "pairedItem": {"item": 0}}]]}}], "Stop and Error": [{"startTime": 1784185076046, "executionIndex": 3, "source": [{"previousNode": "Check token", "previousNodeOutput": 1, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "error", "error": {"level": "warning", "shouldReport": true, "tags": {}, "timestamp": 1784185076048, "context": {}, "functionality": "regular", "name": "NodeOperationError", "node": {"id": "0f7c13ea-196b-40a7-bf1e-4829caaaba4c", "name": "Stop and Error", "type": "n8n-nodes-base.stopAndError", "position": [180, 60], "parameters": {"errorType": "errorMessage", "errorMessage": "Invalid verification token"}, "typeVersion": 1}, "messages": [], "message": "Invalid verification token", "stack": "NodeOperationError: Invalid verification token\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/StopAndError/StopAndError.node.ts:91:9)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Stop and Error"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "0f7c13ea-196b-40a7-bf1e-4829caaaba4c", "name": "Stop and Error", "type": "n8n-nodes-base.stopAndError", "position": [180, 60], "parameters": {"errorType": "errorMessage", "errorMessage": "Invalid verification token"}, "typeVersion": 1}, "data": {"main": [[{"json": {"verificationToken": "7dd9d4ef-8412-4add-a0d0-b548ad4564b9", "body": null}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Check token", "previousNodeOutput": 1, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185076013, "source": "manual", "triggerNode": {"name": "Webhook", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/tAAL/3DEwr69K0sdWJw4n549FVAiIKDzNvuEP1SiRyu+heItcQlZy1XNr04WK6YD6xHF4/9+mt+ZO/FoShz11BbQNJ021ltr2uDIFtSnOft+J74eX/Dy/ujmibPVvC0YnPBUYQNr7Mf2cHCj3GL1TTlstJFVhnPtCJog4bROChWcgxooFKFmLy532DouhBTCGPEllXCh+viw+sCo+vFtn5/8suNlW2YYrkMFv7JVJNWTz9GszYPYWd/g7I04k9ZYVbMtiZIMB2tj7/JQd5sgqO08ILzziQKv0vcgK4yr3yEcTq5UTHocr4JOELeHQBI6b2rzCmqfTC29yu13xEzvvKbtQRESI2vXI+w6Y6JAhaai/7rCAXbehu4XGSkumXXpDRVemrFVIl9DrO6c0ROEG12DegLqx/dw="}}, "resumeToken": "e42235555527814f22f20cd755c6a382692e7b2aa56f0ab1de02b9c4a04f89f9"}, "workflowData": {"id": "yi0kaFLDMx8HtCOn", "name": "rw_8ccc1468af", "nodes": [{"id": "99bbf837-2834-4cae-af13-37b6cdf963bb", "name": "Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [-480, -40], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "0f7c13ea-196b-40a7-bf1e-4829caaaba4c", "name": "Stop and Error", "type": "n8n-nodes-base.stopAndError", "position": [180, 60], "parameters": {"errorType": "errorMessage", "errorMessage": "Invalid verification token"}, "typeVersion": 1}, {"id": "7ddb4cfc-5917-4b19-acf8-c7db3eaab56a", "name": "Donation", "type": "n8n-nodes-base.set", "position": [400, -420], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "67607a8e-55e2-46ec-92f5-1c8ef3addf9c", "name": "from_name", "type": "string", "value": "={{ $json.body.from_name }}"}, {"id": "3e6e86ac-b6c2-4b5f-9e33-22367b9fb9e5", "name": "message", "type": "string", "value": "={{ $json.body.message }}"}, {"id": "4973525a-21b0-442c-8919-24c312f3ff0c", "name": "amount", "type": "string", "value": "={{ $json.body.amount }}"}, {"id": "b7e2d9e1-61c2-4ad1-9cbd-d8a754993fbe", "name": "url", "type": "string", "value": "={{ $json.body.email }}"}, {"id": "da26860f-c1c4-4918-9447-ed080e921fe7", "name": "currency", "type": "string", "value": "={{ $json.body.currency }}"}, {"id": "380dbd53-eb04-4659-aa54-b6bde0ba7034", "name": "is_public", "type": "string", "value": "={{ $json.body.is_public }}"}, {"id": "4fd65c21-3043-4513-96b3-d2e11656e94a", "name": "timestamp", "type": "string", "value": "={{ $json.body.timestamp }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "9c29ae0e-d80c-4613-ba11-535cc59d5603", "name": "Subscription", "type": "n8n-nodes-base.set", "position": [400, -140], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "886b9cca-15b1-49b4-a123-6f3ceb46279e", "name": "timestamp", "type": "string", "value": "={{ $json.body.timestamp }}"}, {"id": "3c4d9c0e-3cd6-41d2-8223-c48f1dcccedc", "name": "from_name", "type": "string", "value": "={{ $json.body.from_name }}"}, {"id": "7199ad4d-06ad-4bed-939b-e97d6d118d9b", "name": "message", "type": "string", "value": "={{ $json.body.message }}"}, {"id": "270eeac1-b7f9-4cfb-9ac8-b0799b36482e", "name": "amount", "type": "string", "value": "={{ $json.body.amount }}"}, {"id": "dbf3a671-715c-4e29-96d5-2767b6a620d8", "name": "url", "type": "string", "value": "={{ $json.body.url }}"}, {"id": "79ae8427-e5fe-470f-bdc0-df0d8bcbad00", "name": "email", "type": "string", "value": "={{ $json.body.email }}"}, {"id": "90c73e4d-197a-4ba3-b6fb-b7b79b62e69c", "name": "currency", "type": "string", "value": "={{ $json.body.currency }}"}, {"id": "3e23aaad-70f4-429b-bee1-3ae0156aaa86", "name": "is_first_subscription_payment", "type": "string", "value": "={{ $json.body.is_first_subscription_payment }}"}, {"id": "3ca5ca22-d8b7-4a90-a97e-aaed032ef705", "name": "tier_name", "type": "string", "value": "={{ $json.body.tier_name }}"}, {"id": "1347258b-1f6d-4d44-bd64-95fb948cbff9", "name": "is_public", "type": "string", "value": "={{ $json.body.is_public }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "a050d88e-bbe8-4ee1-b1c6-31782b5b2f20", "name": "Shop Order", "type": "n8n-nodes-base.set", "position": [400, 140], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "9f2d01f6-d172-4aea-b2ea-e64857592191", "name": "from_name", "type": "string", "value": "={{ $json.body.from_name }}"}, {"id": "bbc1fcba-ec29-4599-9d78-4e1a37ecede3", "name": "amount", "type": "string", "value": "={{ $json.body.amount }}"}, {"id": "2ea190ac-700b-4682-9baa-7d733f89b819", "name": "email", "type": "string", "value": "={{ $json.body.email }}"}, {"id": "eb0af9d5-9650-4457-b0fd-44f679972a79", "name": "currency", "type": "string", "value": "={{ $json.body.currency }}"}, {"id": "9acec88b-61d5-4520-bf51-f71b4e2e26f6", "name": "shop_items", "type": "array", "value": "={{ $json.body.shop_items }}"}, {"id": "2e1fb035-b32c-492f-9705-7159ef0b2c5d", "name": "url", "type": "string", "value": "={{ $json.body.url }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "f9926fda-9a37-467e-b86b-ce9dbb051a88", "name": "Is new subscriber?", "type": "n8n-nodes-base.if", "position": [620, -140], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "87fbcc71-a0a4-4820-bb67-9551d44e0500", "operator": {"name": "filter.operator.equals", "type": "string", "operation": "equals"}, "leftValue": "={{ $json.is_first_subscription_payment }}", "rightValue": "true"}]}, "looseTypeValidation": false, "options": {}}, "typeVersion": 2.2}, {"id": "b158a59d-5166-4469-b999-5235768855c0", "name": "Prepare", "type": "n8n-nodes-base.set", "position": [-260, -40], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "aabaa149-d74b-464c-bbb6-12e2e8a884d9", "name": "verificationToken", "type": "string", "value": "7dd9d4ef-8412-4add-a0d0-b548ad4564b9"}, {"id": "c2f7a7ce-99b0-44c7-b2cf-1ebf85e0917d", "name": "body", "type": "object", "value": "={{ $json.body.data }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "a4fd9607-6d5b-4fbd-a4ce-53e9960887e0", "name": "Check token", "type": "n8n-nodes-base.if", "position": [-40, -40], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "439af86e-c768-4165-ae64-86cd32a07084", "operator": {"name": "filter.operator.equals", "type": "string", "operation": "equals"}, "leftValue": "={{ $json.body.verification_token }}", "rightValue": "={{ $json.verificationToken }}"}]}, "looseTypeValidation": false, "options": {}}, "typeVersion": 2.2}, {"id": "6c34228e-434c-4ab3-b0ce-0b5c1721ffc8", "name": "Check type", "type": "n8n-nodes-base.switch", "position": [180, -140], "parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "edd5eaa2-60c7-459a-9846-b952b390b1db", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $json.body.type }}", "rightValue": "Donation"}]}, "renameOutput": false}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "0cc7f0bf-4d1b-45a5-88ed-5b84050222f8", "operator": {"name": "filter.operator.equals", "type": "string", "operation": "equals"}, "leftValue": "={{ $json.body.type }}", "rightValue": "Subscription"}]}, "renameOutput": false}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "a1b74233-7700-434b-be5c-76129c4cd88c", "operator": {"name": "filter.operator.equals", "type": "string", "operation": "equals"}, "leftValue": "={{ $json.body.type }}", "rightValue": "Shop Order"}]}, "renameOutput": false}]}, "looseTypeValidation": false, "options": {}}, "typeVersion": 3.2}, {"id": "87fd0134-5eb4-4c47-acb5-137f24e819f4", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-300, -140], "parameters": {"content": "### Set verification token\nSet your Ko-fi  verification token in this node. Available [here](https://ko-fi.com/manage/webhooks).", "height": 260, "width": 200, "color": 6}, "typeVersion": 1}, {"id": "78ac15cb-1336-424e-a235-6e7a66090b9d", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [-520, -140], "parameters": {"content": "### Setup your webhook\nFind your webhook URL in this node and set it  [here](https://ko-fi.com/manage/webhooks).", "height": 260, "width": 200, "color": 6}, "typeVersion": 1}, {"id": "30892b66-66fb-4926-b817-e280cbadf5ea", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [360, -520], "parameters": {"content": "### We received a donation\nDo your thing.", "height": 260, "width": 540, "color": 7}, "typeVersion": 1}, {"id": "3b849d93-ffa5-4dfe-8743-d43ca7d06e60", "name": "Sticky Note3", "type": "n8n-nodes-base.stickyNote", "position": [360, -240], "parameters": {"content": "### We received a payment for a subscription\nDo your thing.", "height": 260, "width": 540, "color": 7}, "typeVersion": 1}, {"id": "bff1913d-1c18-4447-8448-aa059d7b020f", "name": "Sticky Note4", "type": "n8n-nodes-base.stickyNote", "position": [360, 40], "parameters": {"content": "### We received a shop order\nDo your thing.", "height": 260, "width": 540, "color": 7}, "typeVersion": 1}, {"id": "07da890d-5cc8-4f51-b0c2-c50831c84a64", "name": "Sticky Note5", "type": "n8n-nodes-base.stickyNote", "position": [-520, -560], "parameters": {"content": "## Receive and handle Ko-fi payment webhooks \nThis workflow receives [Ko-fi payment webhooks](https://ko-fi.com/manage/webhooks), checks the verification token and then check what kind of payment it is.\n\n### Set up\n1. Edit the `Webhook` node and find your webhook URL.\n2. Go to your [Ko-fi webhooks settings](https://ko-fi.com/manage/webhooks) and set your URL\n3. Get your `verification token` from the same page (under advanced) and set it in the `Prepare` node\n4. Enable your workflow and test it from [Ko-fi webhooks settings](https://ko-fi.com/manage/webhooks)\n5. Profit \ud83c\udf89\n\n**\ud83d\udc4b Hello! I'm Audun / xqus** \n\ud83d\udd17 My work: [xqus.com](https://xqus.com)\n\ud83d\udcb8 n8n shop: [xqus.gumroad.com](https://xqus.gumroad.com)\n\n### Want to trigger my workflow?\nSupport my work on [Ko-fi](https://ko-fi.com/xquscom) \ud83d\udcb8", "height": 400, "width": 860, "color": 1}, "typeVersion": 1}], "connections": {"Prepare": {"main": [[{"node": "Check token", "type": "main", "index": 0}]]}, "Webhook": {"main": [[{"node": "Prepare", "type": "main", "index": 0}]]}, "Check type": {"main": [[{"node": "Donation", "type": "main", "index": 0}], [{"node": "Subscription", "type": "main", "index": 0}], [{"node": "Shop Order", "type": "main", "index": 0}]]}, "Check token": {"main": [[{"node": "Check type", "type": "main", "index": 0}], [{"node": "Stop and Error", "type": "main", "index": 0}]]}, "Subscription": {"main": [[{"node": "Is new subscriber?", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/03239-Process-Ko-fi-donations-subscriptions-shop-orders-with-webhook-verification.json"}