eval/data/realworld/rw_83ffc2c12d.json
{"id": "38", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:57:52.653Z", "startedAt": "2026-07-16T06:57:52.661Z", "stoppedAt": "2026-07-16T06:57:52.715Z", "deletedAt": null, "workflowId": "FIgQrB6sJMwob3Vn", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 8950, "binaryDataSizeBytes": 0, "workflowVersionId": "58aa11ee-8faf-4c56-8e14-16c416e05b4f", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "info", "shouldReport": false, "description": "Internal mode is intended only for debugging. For production, deploy in external mode: https://docs.n8n.io/hosting/configuration/task-runners/#setting-up-external-mode", "tags": {}, "message": "Python runner unavailable: Python 3 is missing from this system", "stack": "Error: Python runner unavailable: Python 3 is missing from this system\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:222:11)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"Start Workflow": [{"startTime": 1784185072672, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Generate Data Javascript": [{"startTime": 1784185072672, "executionIndex": 1, "source": [{"previousNode": "Start Workflow", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 40, "executionStatus": "success", "data": {"main": [[{"json": {"barr": [{"index": 0, "num": 1, "test": "asdasd"}, {"index": 1, "num": 2, "test": "asdasd"}, {"index": 2, "num": 3, "test": "asdasd"}, {"index": 3, "num": 4, "test": "asdasd"}, {"index": 4, "num": 5, "test": "asdasd"}, {"index": 5, "num": 6, "test": "asdasd"}, {"index": 6, "num": 7, "test": "asdasd"}, {"index": 7, "num": 8, "test": "asdasd"}, {"index": 8, "num": 9, "test": "asdasd"}, {"index": 9, "num": 10, "test": "asdasd"}, {"index": 10, "num": 11, "test": "asdasd"}, {"index": 11, "num": 12, "test": "asdasd"}, {"index": 12, "num": 13, "test": "asdasd"}, {"index": 13, "num": 14, "test": "asdasd"}, {"index": 14, "num": 15, "test": "asdasd"}, {"index": 15, "num": 16, "test": "asdasd"}, {"index": 16, "num": 17, "test": "asdasd"}, {"index": 17, "num": 18, "test": "asdasd"}, {"index": 18, "num": 19, "test": "asdasd"}, {"index": 19, "num": 20, "test": "asdasd"}]}, "pairedItem": {"item": 0}}]]}}], "Generate Data Python": [{"startTime": 1784185072712, "executionIndex": 2, "source": [{"previousNode": "Start Workflow", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 3, "executionStatus": "error", "error": {"level": "info", "shouldReport": false, "description": "Internal mode is intended only for debugging. For production, deploy in external mode: https://docs.n8n.io/hosting/configuration/task-runners/#setting-up-external-mode", "tags": {}, "message": "Python runner unavailable: Python 3 is missing from this system", "stack": "Error: Python runner unavailable: Python 3 is missing from this system\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:222:11)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Generate Data Python"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "c12e4e24-e1bd-4f32-98fd-876d91e79661", "name": "Generate Data Python", "type": "n8n-nodes-base.code", "position": [-480, 2560], "parameters": {"mode": "runOnceForAllItems", "language": "python", "pythonCode": "arr = [{\"index\": i, \"num\": i + 1, \"test\": \"asdasd\"} for i in range(20)]\nreturn [{\"json\": {\"barr\": arr}}]\n", "notice": ""}, "typeVersion": 2}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Start Workflow", "previousNodeOutput": 0, "previousNodeRun": 0}]}}, {"node": {"id": "50e53b82-2556-4f8a-9b41-ed911d7319cc", "name": "Split Out Javascript", "type": "n8n-nodes-base.splitOut", "position": [-272, 2368], "parameters": {"fieldToSplitOut": "barr", "include": "noOtherFields", "options": {}}, "typeVersion": 1}, "data": {"main": [[{"json": {"barr": [{"index": 0, "num": 1, "test": "asdasd"}, {"index": 1, "num": 2, "test": "asdasd"}, {"index": 2, "num": 3, "test": "asdasd"}, {"index": 3, "num": 4, "test": "asdasd"}, {"index": 4, "num": 5, "test": "asdasd"}, {"index": 5, "num": 6, "test": "asdasd"}, {"index": 6, "num": 7, "test": "asdasd"}, {"index": 7, "num": 8, "test": "asdasd"}, {"index": 8, "num": 9, "test": "asdasd"}, {"index": 9, "num": 10, "test": "asdasd"}, {"index": 10, "num": 11, "test": "asdasd"}, {"index": 11, "num": 12, "test": "asdasd"}, {"index": 12, "num": 13, "test": "asdasd"}, {"index": 13, "num": 14, "test": "asdasd"}, {"index": 14, "num": 15, "test": "asdasd"}, {"index": 15, "num": 16, "test": "asdasd"}, {"index": 16, "num": 17, "test": "asdasd"}, {"index": 17, "num": 18, "test": "asdasd"}, {"index": 18, "num": 19, "test": "asdasd"}, {"index": 19, "num": 20, "test": "asdasd"}]}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Generate Data Javascript", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185072670, "source": "manual", "triggerNode": {"name": "Start Workflow", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+vOZxiDAXbIsokp3lbKdRnv3nWKh3mKc6vPDq4V5v9Cp1jPRVf77+s9wcs5TjTsdjYnwsZ5/KQxj0X0JdctweOK2xpeTlTaMLcIiKFX0dye9UGm8KG1bx4NJn8STw6v9sUjxOTyi9ky3aJULcgA4gWBaohj6kv6hUEyS2wHglt57Mv5S4Eb+e7H4OQmVpTTUlVT9ghIlCyYKnBn1uYF1tw2dLOISOatRqh8AgRsQfryvhBd2dskO9la3wZviNRZdLTATx2Fu6GotiWNIQ3AqYY7NyT37VTIAU5BDWaaEjqgJIIb884A9Uev/Vn1qQ+IHwUWWq3wqj4KNclX8p2nH57H4OD9XnP2yv6Po7oWWOJfSOh1zWeoIVughmL0fxmlVDUFOjpiTKWI0A6JWetfpHLmZX6vuTjkQU="}}, "resumeToken": "b5108571e3b6175f5c71b1061ff9f301586b5d27e2055bf40120eaecb832206c"}, "workflowData": {"id": "FIgQrB6sJMwob3Vn", "name": "rw_83ffc2c12d", "nodes": [{"id": "934a8c2f-845f-4f88-8355-48ef17e50f32", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [-1120, 1984], "parameters": {"content": "### Create sample records with Code and split to items in n8n (Code + Split Out)\n\nA minimal, plug-and-play workflow that generates **sample data** using n8n\u2019s **Code** node (both JavaScript and Python versions included) and then **fans out** those records into individual items with **Split Out**. Perfect for testing downstream nodes, mapping, pagination, or prototyping list-based logic without connecting to real data sources.\n", "height": 1056, "width": 1696, "color": 7}, "typeVersion": 1}, {"id": "34f6b8c5-171b-4027-907b-cc8a41bd75a4", "name": "Sticky Note10", "type": "n8n-nodes-base.stickyNote", "position": [-1552, 1984], "parameters": {"content": "\n## \u2705 What this template does\n- **Generates 20 sample records** with fields: `index`, `num`, and `test`\n- Writes the array to `item.json.barr`\n- Uses **Split Out** to convert the array into **one item per record**\n- Includes **both JavaScript and Python** implementations side-by-side\n\n---\n\n- \ud83d\udce7 **rbreen@ynteractive.com**  \n- \ud83d\udd17 **Robert Breen** \u2014 https://www.linkedin.com/in/robert-breen-29429625/  \n- \ud83c\udf10 **ynteractive.com** \u2014 https://ynteractive.com\n\n", "height": 1056, "width": 400, "color": 1}, "typeVersion": 1}, {"id": "2dab6b4d-2d05-4294-8d6d-620513a777fc", "name": "Generate Data Javascript", "type": "n8n-nodes-base.code", "position": [-480, 2368], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// In n8n Code node, \"items\" is an array of input objects\n// You must return an array of items at the end\n\nreturn items.map(item => {\n  const arr = [];\n\n  for (let i = 0; i < 20; i++) {\n    arr.push({\n      index: i,\n      num: i + 1,\n      test: \"asdasd\"\n    });\n  }\n\n  // attach to item.json\n  item.json.barr = arr;\n  return item;\n});\n", "notice": ""}, "typeVersion": 2}, {"id": "c12e4e24-e1bd-4f32-98fd-876d91e79661", "name": "Generate Data Python", "type": "n8n-nodes-base.code", "position": [-480, 2560], "parameters": {"mode": "runOnceForAllItems", "language": "python", "pythonCode": "arr = [{\"index\": i, \"num\": i + 1, \"test\": \"asdasd\"} for i in range(20)]\nreturn [{\"json\": {\"barr\": arr}}]\n", "notice": ""}, "typeVersion": 2}, {"id": "5128ea0a-8d3d-49d1-bba2-102881725941", "name": "Start Workflow", "type": "n8n-nodes-base.manualTrigger", "position": [-848, 2368], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "50e53b82-2556-4f8a-9b41-ed911d7319cc", "name": "Split Out Javascript", "type": "n8n-nodes-base.splitOut", "position": [-272, 2368], "parameters": {"fieldToSplitOut": "barr", "include": "noOtherFields", "options": {}}, "typeVersion": 1}, {"id": "ee5064bc-a511-4d63-9cef-67ff348d76a2", "name": "Split Out Python", "type": "n8n-nodes-base.splitOut", "position": [-272, 2560], "parameters": {"fieldToSplitOut": "barr", "include": "noOtherFields", "options": {}}, "typeVersion": 1}], "connections": {"Start Workflow": {"main": [[{"node": "Generate Data Javascript", "type": "main", "index": 0}, {"node": "Generate Data Python", "type": "main", "index": 0}]]}, "Generate Data Python": {"main": [[{"node": "Split Out Python", "type": "main", "index": 0}]]}, "Generate Data Javascript": {"main": [[{"node": "Split Out Javascript", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/02927-Generate-and-split-sample-data-records-using-JavaScript-and-Python.json"}