eval/data/realworld/rw_9caf6c24b7.json
{"id": "14", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:14.236Z", "startedAt": "2026-07-16T06:57:14.244Z", "stoppedAt": "2026-07-16T06:57:14.258Z", "deletedAt": null, "workflowId": "DiyYZaimcviNAzFv", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 4846, "binaryDataSizeBytes": 0, "workflowVersionId": "0b239053-de1d-48d0-8cc5-e5b032879dfc", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185034255, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set Close Date": [{"startTime": 1784185034256, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"Close Date": "2021-11-29T00:00:00.000Z"}, "pairedItem": {"item": 0}}]]}}], "Check for Close Date": [{"startTime": 1784185034256, "executionIndex": 2, "source": [{"previousNode": "Set Close Date", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"Close Date": "2021-11-29T00:00:00.000Z"}, "pairedItem": {"item": 0}}], []]}}], "Set Close Date To Original": [{"startTime": 1784185034257, "executionIndex": 3, "source": [{"previousNode": "Check for Close Date", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"Close Date": "2021-11-29T00:00:00.000Z"}, "pairedItem": {"item": 0}}]]}}], "NoOp": [{"startTime": 1784185034258, "executionIndex": 4, "source": [{"previousNode": "Set Close Date To Original", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"Close Date": "2021-11-29T00:00:00.000Z"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "NoOp"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185034253, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19RCBPlDBdJfEpAkwpdrqcWm+VJ03QEM1LWJq4HYGDzcX92oFWKplFKGeflnPjUAydfNxFB7ycQ/5g4fYqVMRwq3pxIBrvG2j3W2tKPSEMykrBxxJKwFSnDjaMWP5YuWiy8ZcmsR/+L8XXexW9uIhTACg32KEin9tWM27Swim+jiR+4RSIdU5TsB0ISp0Rr1RjOC4xHLSJN5WN66rDVCNOZBY8uHldR7L1dNB+y24fAkAtZJuJBqEYluCQ+VCoixFUxLsW9mMXL+g/Fv+FQ9In9Fra21fIEO2ISzxxke6tsm6E9UrCrItFOdBkLAE2H/tqgfuqJn9bDpCuj+ppbG2F/tpm+iYq1ZjWMdn8sNRUqwm3oYk53WWxRsEfWX1ruYb3NN5hV0QwN5gFKXey/kY2v5vQcbCacA48="}}, "resumeToken": "904c941bab40e79394b00d87719cb5f4eb64bba764b6b3ad9d91dbb623605bd2"}, "workflowData": {"id": "DiyYZaimcviNAzFv", "name": "rw_9caf6c24b7", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "59e02970-b2e2-4264-a778-1646f555b987"}, {"name": "Check for Close Date", "type": "n8n-nodes-base.if", "position": [660, 300], "parameters": {"conditions": {"string": [{"value1": "={{$json[\"Close Date\"]}}", "operation": "regex", "value2": "/\\d\\d\\d\\d-\\d\\d-\\d\\d/i"}]}, "combineOperation": "any"}, "typeVersion": 1, "id": "bb9db2ec-4062-44f5-826a-69ad161c2818"}, {"name": "Set Close Date 3 Weeks Later", "type": "n8n-nodes-base.set", "position": [910, 370], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "Close Date", "value": "={{new Date(new Date().setDate(new Date().getDate() + 21)).toISOString()}}"}]}, "options": {}}, "typeVersion": 1, "id": "ea477686-9870-44ec-aaf3-290642b89a99"}, {"name": "NoOp", "type": "n8n-nodes-base.noOp", "position": [1140, 280], "parameters": {}, "typeVersion": 1, "id": "6db4e08c-dfd2-4849-a822-883e7bcfe4b0"}, {"name": "Set Close Date", "type": "n8n-nodes-base.set", "position": [450, 300], "parameters": {"keepOnlySet": false, "values": {"string": [{"name": "Close Date", "value": "2021-11-29T00:00:00.000Z"}]}, "options": {}}, "typeVersion": 1, "id": "8ac82a3e-3ff7-42b2-8e60-95de8284a432"}, {"name": "Set Close Date To Original", "type": "n8n-nodes-base.set", "position": [910, 210], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "Close Date", "value": "={{$node[\"Set Close Date\"].json[\"Close Date\"]}}"}]}, "options": {}}, "typeVersion": 1, "id": "8de50fc0-5e88-4a4d-afa2-b4fa9514eb77"}], "connections": {"Set Close Date": {"main": [[{"node": "Check for Close Date", "type": "main", "index": 0}]]}, "Check for Close Date": {"main": [[{"node": "Set Close Date To Original", "type": "main", "index": 0}], [{"node": "Set Close Date 3 Weeks Later", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Set Close Date", "type": "main", "index": 0}]]}, "Set Close Date To Original": {"main": [[{"node": "NoOp", "type": "main", "index": 0}]]}, "Set Close Date 3 Weeks Later": {"main": [[{"node": "NoOp", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00119-close-date-automation.json"}