eval/data/realworld/rw_98053bd2d4.json
{"id": "75", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:56.633Z", "startedAt": "2026-07-16T06:58:56.642Z", "stoppedAt": "2026-07-16T06:58:56.800Z", "deletedAt": null, "workflowId": "aD6A4TpELyXfdytV", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 30091, "binaryDataSizeBytes": 0, "workflowVersionId": "f5697d5d-a7d9-4a0c-bad2-f0dffe883db7", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Start": [{"startTime": 1784185136658, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set": [{"startTime": 1784185136659, "executionIndex": 1, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"value1": true}, "pairedItem": {"item": 0}}]]}}], "Set1": [{"startTime": 1784185136661, "executionIndex": 2, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"value2": 5}, "pairedItem": {"item": 0}}]]}}], "Set2": [{"startTime": 1784185136661, "executionIndex": 3, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}}]]}}], "Set3": [{"startTime": 1784185136662, "executionIndex": 4, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop2": 2, "prop4": -1}, "pairedItem": {"item": 0}}]]}}], "Set7": [{"startTime": 1784185136662, "executionIndex": 5, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}}]]}}], "Set6": [{"startTime": 1784185136663, "executionIndex": 6, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop2": 2, "prop3": -2, "prop4": -3}, "pairedItem": {"item": 0}}]]}}], "Set9": [{"startTime": 1784185136663, "executionIndex": 7, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop2": -1}, "pairedItem": {"item": 0}}]]}}], "Set8": [{"startTime": 1784185136663, "executionIndex": 8, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop3": 2, "prop4": -4}, "pairedItem": {"item": 0}}]]}}], "Set11": [{"startTime": 1784185136663, "executionIndex": 9, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop2": -1}, "pairedItem": {"item": 0}}]]}}], "Set10": [{"startTime": 1784185136664, "executionIndex": 10, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop3": 2, "prop4": -4}, "pairedItem": {"item": 0}}]]}}], "Set13": [{"startTime": 1784185136664, "executionIndex": 11, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop2": -1}, "pairedItem": {"item": 0}}]]}}], "Set12": [{"startTime": 1784185136664, "executionIndex": 12, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop3": 2, "prop4": -4}, "pairedItem": {"item": 0}}]]}}], "Function11": [{"startTime": 1784185136664, "executionIndex": 13, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 11, "executionStatus": "success", "data": {"main": [[{"json": {"title": "Input1item1"}, "pairedItem": {"item": 0}}, {"json": {"title": "Input1item2"}, "pairedItem": {"item": 0}}, {"json": {"title": "Input1item3"}, "pairedItem": {"item": 0}}]]}}], "Function12": [{"startTime": 1784185136676, "executionIndex": 14, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 10, "executionStatus": "success", "data": {"main": [[{"json": {"title": "Input2item1"}, "pairedItem": {"item": 0}}, {"json": {"title": "Input2item2"}, "pairedItem": {"item": 0}}, {"json": {"title": "Input2item3"}, "pairedItem": {"item": 0}}, {"json": {"title": "Input2item4"}, "pairedItem": {"item": 0}}]]}}], "Merge": [{"startTime": 1784185136686, "executionIndex": 15, "source": [{"previousNode": "Set", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Set1", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"value1": true}, "pairedItem": {"item": 0}}, {"json": {"value2": 5}, "pairedItem": {"item": 0, "input": 1}}]]}}], "Merge1": [{"startTime": 1784185136687, "executionIndex": 16, "source": [{"previousNode": "Set2", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Set3", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}}]]}}], "Merge5": [{"startTime": 1784185136688, "executionIndex": 17, "source": [{"previousNode": "Set7", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Set6", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}}]]}}], "Merge6": [{"startTime": 1784185136688, "executionIndex": 18, "source": [{"previousNode": "Set7", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Set6", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}}]]}}], "Merge7": [{"startTime": 1784185136689, "executionIndex": 19, "source": [{"previousNode": "Set7", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Set6", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}}]]}}], "Merge8": [{"startTime": 1784185136689, "executionIndex": 20, "source": [{"previousNode": "Set9", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Set8", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop2": -1, "prop3": 2, "prop4": -4}, "pairedItem": [{"item": 0}, {"item": 0, "input": 1}]}]]}}], "Merge9": [{"startTime": 1784185136689, "executionIndex": 21, "source": [{"previousNode": "Set11", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Set10", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop2": -1}, "pairedItem": {"item": 0}}]]}}], "Merge10": [{"startTime": 1784185136690, "executionIndex": 22, "source": [{"previousNode": "Set13", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Set12", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop2": -1}, "pairedItem": {"item": 0}}]]}}], "Merge3": [{"startTime": 1784185136690, "executionIndex": 23, "source": [{"previousNode": "Function11", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Function12", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 3, "executionStatus": "success", "data": {"main": [[{"json": {"title": "Input2item1"}, "pairedItem": [{"item": 0}, {"item": 0, "input": 1}]}, {"json": {"title": "Input2item2"}, "pairedItem": [{"item": 1}, {"item": 1, "input": 1}]}, {"json": {"title": "Input2item3"}, "pairedItem": [{"item": 2}, {"item": 2, "input": 1}]}]]}}], "Merge2": [{"startTime": 1784185136694, "executionIndex": 24, "source": [{"previousNode": "Function11", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Function12", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"title": "Input2item1"}, "pairedItem": [{"item": 0}, {"item": 0, "input": 1}]}, {"json": {"title": "Input2item2"}, "pairedItem": [{"item": 1}, {"item": 1, "input": 1}]}, {"json": {"title": "Input2item3"}, "pairedItem": [{"item": 2}, {"item": 2, "input": 1}]}]]}}], "Merge4": [{"startTime": 1784185136695, "executionIndex": 25, "source": [{"previousNode": "Function11", "previousNodeOutput": 0, "previousNodeRun": 0}, {"previousNode": "Function12", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"title": "Input2item1"}, "pairedItem": [{"item": 0}, {"item": 0, "input": 1}]}, {"json": {"title": "Input2item2"}, "pairedItem": [{"item": 1}, {"item": 1, "input": 1}]}, {"json": {"title": "Input2item3"}, "pairedItem": [{"item": 2}, {"item": 2, "input": 1}]}, {"json": {"title": "Input2item4"}, "pairedItem": {"item": 3, "input": 1}}]]}}], "Function": [{"startTime": 1784185136696, "executionIndex": 26, "source": [{"previousNode": "Merge", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"value1": true}, "pairedItem": {"item": 0}, "index": 0}, {"json": {"value2": 5}, "pairedItem": {"item": 1}, "index": 1}]]}}], "Function1": [{"startTime": 1784185136703, "executionIndex": 27, "source": [{"previousNode": "Merge1", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}, "index": 0}]]}}], "Function5": [{"startTime": 1784185136712, "executionIndex": 28, "source": [{"previousNode": "Merge5", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 12, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}, "index": 0}]]}}], "Function6": [{"startTime": 1784185136725, "executionIndex": 29, "source": [{"previousNode": "Merge6", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}, "index": 0}]]}}], "Function7": [{"startTime": 1784185136732, "executionIndex": 30, "source": [{"previousNode": "Merge7", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop3": -1}, "pairedItem": {"item": 0}, "index": 0}]]}}], "Function8": [{"startTime": 1784185136740, "executionIndex": 31, "source": [{"previousNode": "Merge8", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 12, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop2": -1, "prop3": 2, "prop4": -4}, "pairedItem": {"item": 0}, "index": 0}]]}}], "Function9": [{"startTime": 1784185136753, "executionIndex": 32, "source": [{"previousNode": "Merge9", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop2": -1}, "pairedItem": {"item": 0}, "index": 0}]]}}], "Function10": [{"startTime": 1784185136761, "executionIndex": 33, "source": [{"previousNode": "Merge10", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 5, "executionStatus": "success", "data": {"main": [[{"json": {"prop1": 1, "prop2": -1}, "pairedItem": {"item": 0}, "index": 0}]]}}], "Function3": [{"startTime": 1784185136766, "executionIndex": 34, "source": [{"previousNode": "Merge3", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 13, "executionStatus": "success", "data": {"main": [[{"json": {"title": "Input2item1"}, "pairedItem": {"item": 0}, "index": 0}, {"json": {"title": "Input2item2"}, "pairedItem": {"item": 1}, "index": 1}, {"json": {"title": "Input2item3"}, "pairedItem": {"item": 2}, "index": 2}]]}}], "Function2": [{"startTime": 1784185136780, "executionIndex": 35, "source": [{"previousNode": "Merge2", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 10, "executionStatus": "success", "data": {"main": [[{"json": {"title": "Input2item1"}, "pairedItem": {"item": 0}, "index": 0}, {"json": {"title": "Input2item2"}, "pairedItem": {"item": 1}, "index": 1}, {"json": {"title": "Input2item3"}, "pairedItem": {"item": 2}, "index": 2}]]}}], "Function4": [{"startTime": 1784185136790, "executionIndex": 36, "source": [{"previousNode": "Merge4", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"title": "Input2item1"}, "pairedItem": {"item": 0}, "index": 0}, {"json": {"title": "Input2item2"}, "pairedItem": {"item": 1}, "index": 1}, {"json": {"title": "Input2item3"}, "pairedItem": {"item": 2}, "index": 2}, {"json": {"title": "Input2item4"}, "pairedItem": {"item": 3}, "index": 3}]]}}]}, "pinData": null, "lastNodeExecuted": "Function4"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185136655, "source": "manual", "triggerNode": {"name": "Start", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19TwUp0syTu9qmkDj2ediHL4arcq0eUF4H9MF8PJtgh+C2XtPH6nX5THZvkCqW9Po+vyDBFDwra1mzJWw9+uQ3CYFdEb/zJeAW+1HBEREOj8mBZK5SJoF/zlO1WSDM/CgEFMk85UxU2L+lxri7YPt0r5mJu1+bIUiUSMa49Ihax8uLgRZwyXOTlL9IndnmbGr9hncNbAZmmwHoaasWj+ZSYXzqMNYK/hWfaQivQzeg1HYE2hb28YQhTZp42VmeKk0Q0NYw08dw41OGRY8Wf0Slrfb/Hqf5JAKU0lpFuvFWDnryuEG2U7UVtRwJ585FOHiF/UKbG/9btCBfdeoZlLK6yveA77LISPjaOwtsVZh7Q5s8+QkWxCrRL9iMrerrJpCGGrsqtlWxfMFJH+Ch/hz8ByjEVadjQQes="}}, "resumeToken": "cc6703ba54b4be0f3bebec2047275e78c777a50098a6ab06ce7d440ef79bc5b5"}, "workflowData": {"id": "aD6A4TpELyXfdytV", "name": "rw_98053bd2d4", "nodes": [{"parameters": {"notice": ""}, "name": "Start", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [120, 1510], "id": "05049327-2f4e-4009-94d1-13c946fdf5ba"}, {"parameters": {"oldVersionNotice": "", "mode": "append"}, "name": "Merge", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [580, 300], "id": "21ee0629-efde-4030-9a2e-6ffe5d135aab"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [{"name": "value1", "value": true}]}, "options": {}}, "name": "Set", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [430, 220], "id": "76be9855-6e08-4898-a92f-a715ccd2d9f6"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "value2", "value": 5}]}, "options": {}}, "name": "Set1", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [430, 370], "id": "49c669ce-c9d0-44ff-aabe-fc8c43b6fa5b"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify([{value1:true},{value2:5}]);\n\nif(JSON.stringify(items.map(item => item.json)) !== testData){\n  throw new Error('Error in Merge node : append');\n}\nreturn items;"}, "name": "Function", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [780, 300], "notesInFlow": true, "notes": "Verify merge operation", "id": "ee84e437-1a43-46e2-8d28-49af7bd7050b"}, {"parameters": {"oldVersionNotice": "", "mode": "keepKeyMatches", "propertyName1": "prop3", "propertyName2": "prop4"}, "name": "Merge1", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [580, 580], "id": "76c2f8bd-920e-46d5-8ccd-c1abb9f9b107"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop1", "value": 1}, {"name": "prop3", "value": -1}]}, "options": {}}, "name": "Set2", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [430, 500], "id": "80630a5a-6b50-4a96-8860-4ee0a44eb6d7"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop2", "value": 2}, {"name": "prop4", "value": -1}]}, "options": {}}, "name": "Set3", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [430, 650], "id": "c711f26f-fa32-4d45-96df-64a94bda847f"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify({prop1:1,prop3:-1});\n\nif(JSON.stringify(items[0].json) !== testData){\n  throw new Error('Error in Merge node : keepKeyMatches');\n}\nreturn items;"}, "name": "Function1", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [780, 580], "notesInFlow": true, "notes": "Verify merge operation", "id": "f14b2693-ef6c-452e-8e9a-bbb0a9854108"}, {"parameters": {"oldVersionNotice": "", "mode": "mergeByIndex", "join": "inner"}, "name": "Merge2", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [600, 900], "id": "fabcb606-0623-4637-aea2-02348c9f8395"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify([{title:'Input2item1'},{title:'Input2item2'},{title:'Input2item3'}]);\n\nif(JSON.stringify(items.map(item => item.json)) !== testData){\n  throw new Error('Error in Merge node : mergeByIndex: innerjoin');\n}\nreturn items;"}, "name": "Function2", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [750, 900], "notesInFlow": true, "notes": "Verify mergeByIndex operation", "id": "52c35538-f039-4a65-9ee0-0f8b19783e39"}, {"parameters": {"oldVersionNotice": "", "mode": "mergeByIndex", "join": "left"}, "name": "Merge3", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [600, 750], "id": "a027b711-4a82-4d5c-b181-ef9c9a8f4c96"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify([{title:'Input2item1'},{title:'Input2item2'},{title:'Input2item3'}]);\n\nif(JSON.stringify(items.map(item => item.json)) !== testData){\n  throw new Error('Error in Merge node : mergeByIndex: leftjoin');\n}\nreturn items;"}, "name": "Function3", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [750, 750], "notesInFlow": true, "notes": "Verify mergeByIndex operation", "id": "637ec6e5-0166-4a3a-8590-3ba8c2772e43"}, {"parameters": {"oldVersionNotice": "", "mode": "mergeByIndex", "join": "outer"}, "name": "Merge4", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [600, 1050], "notesInFlow": false, "notes": "outerjoin", "id": "efc5cc37-9d27-4271-b767-fd9351aadaf4"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify([{title:'Input2item1'},{title:'Input2item2'},{title:'Input2item3'},{title:'Input2item4'}]);\n\nif(JSON.stringify(items.map(item => item.json)) !== testData){\n  throw new Error('Error in Merge node : mergeByIndex: outerjoin');\n}\nreturn items;"}, "name": "Function4", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [750, 1050], "notesInFlow": true, "notes": "Verify mergeByIndex operation", "id": "00e11687-bdb1-4569-95ed-f90b199b0337"}, {"parameters": {"oldVersionNotice": "", "mode": "mergeByKey", "propertyName1": "prop3", "propertyName2": "prop4", "overwrite": "always"}, "name": "Merge5", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [580, 1380], "id": "87c14aaa-fd17-4d7b-8c05-337033d054b0"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop2", "value": 2}, {"name": "prop3", "value": -2}, {"name": "prop4", "value": -3}]}, "options": {}}, "name": "Set6", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [400, 1440], "id": "06f1417b-2461-4aa6-92fb-46749dbf07be"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify({prop1:1,prop3:-1});\n\nif(JSON.stringify(items[0].json) !== testData){\n  throw new Error('Error in Merge node : keepKeyMatches');\n}\nreturn items;"}, "name": "Function5", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [750, 1380], "notesInFlow": true, "notes": "Verify mergeByKey operation", "id": "440e0084-64d7-48cd-8418-5ea1b0f2c4d8"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop1", "value": 1}, {"name": "prop3", "value": -1}], "string": []}, "options": {}}, "name": "Set7", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [400, 1290], "id": "d44ca83d-c757-49c1-b35a-1f95306c796e"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify({prop1:1,prop3:-1});\n\nif(JSON.stringify(items[0].json) !== testData){\n  throw new Error('Error in Merge node : keepKeyMatches');\n}\nreturn items;"}, "name": "Function6", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [750, 1230], "notesInFlow": true, "notes": "Verify mergeByKey operation", "id": "4f20aaa3-7f0d-4dd4-a863-6c0bb2209b36"}, {"parameters": {"oldVersionNotice": "", "mode": "mergeByKey", "propertyName1": "prop3", "propertyName2": "prop4", "overwrite": "blank"}, "name": "Merge6", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [580, 1230], "id": "ebf52dbc-51cb-4abf-a4ee-480e2c0f546c"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify({prop1:1,prop3:-1});\n\nif(JSON.stringify(items[0].json) !== testData){\n  throw new Error('Error in Merge node : keepKeyMatches');\n}\nreturn items;"}, "name": "Function7", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [750, 1530], "notesInFlow": true, "notes": "Verify mergeByKey operation", "id": "02adb59e-bbfe-442b-a185-2addbe1d1464"}, {"parameters": {"oldVersionNotice": "", "mode": "mergeByKey", "propertyName1": "prop3", "propertyName2": "prop4", "overwrite": "undefined"}, "name": "Merge7", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [580, 1530], "id": "75a59075-beab-4a75-98b5-b6b267d3a096"}, {"parameters": {"oldVersionNotice": "", "mode": "multiplex"}, "name": "Merge8", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [580, 1780], "id": "690e5bee-e4cc-4179-bdf6-f38ffbcd271d"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop3", "value": 2}, {"name": "prop4", "value": -4}]}, "options": {}}, "name": "Set8", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [430, 1850], "id": "65fb39a2-10c6-4ad1-866a-a7771ac9c1af"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify({prop1: 1,prop2: -1,prop3: 2,prop4: -4});\n\nif(JSON.stringify(items[0].json) !== testData){\n  throw new Error('Error in Merge node : multiplex');\n}\nreturn items;"}, "name": "Function8", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [780, 1780], "notesInFlow": true, "notes": "Verify multiplex operation", "id": "fa2cc83d-1223-47cf-a7f8-a272a95014ab"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop1", "value": 1}, {"name": "prop2", "value": -1}]}, "options": {}}, "name": "Set9", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [430, 1700], "id": "66c41d0d-cfb4-4422-94d6-3f2cf87eb5ae"}, {"parameters": {"oldVersionNotice": "", "mode": "passThrough", "output": "input1"}, "name": "Merge9", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [590, 2080], "id": "449087b4-8aac-4294-a01a-af6475eb48c1"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop3", "value": 2}, {"name": "prop4", "value": -4}]}, "options": {}}, "name": "Set10", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [440, 2150], "id": "fe7a92b3-8f2a-408b-90df-e1b5fe647027"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify({prop1: 1,prop2: -1});\n\nif(JSON.stringify(items[0].json) !== testData){\n  throw new Error('Error in Merge node : passThrough');\n}\nreturn items;"}, "name": "Function9", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [790, 2080], "notesInFlow": true, "notes": "Verify passThrough operation", "id": "c3faf934-98ee-4bad-9326-567ad3aca34b"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop1", "value": 1}, {"name": "prop2", "value": -1}]}, "options": {}}, "name": "Set11", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [440, 2000], "id": "48d50540-eb21-470a-9a32-5a57093ebf54"}, {"parameters": {"oldVersionNotice": "", "mode": "removeKeyMatches", "propertyName1": "prop1", "propertyName2": "prop3"}, "name": "Merge10", "type": "n8n-nodes-base.merge", "typeVersion": 1, "position": [600, 2380], "id": "8fa6f5b0-9f8f-4ff4-b15e-feaef0f92c61"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop3", "value": 2}, {"name": "prop4", "value": -4}]}, "options": {}}, "name": "Set12", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [450, 2450], "id": "acf521b5-df53-43ff-a046-80f656dbe90b"}, {"parameters": {"keepOnlySet": false, "values": {"boolean": [], "number": [{"name": "prop1", "value": 1}, {"name": "prop2", "value": -1}]}, "options": {}}, "name": "Set13", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [450, 2300], "id": "0310f05a-f0e6-4383-aa2a-1602dc8979e2"}, {"parameters": {"notice": "", "functionCode": "testData= JSON.stringify({prop1: 1,prop2: -1});\n\nif(JSON.stringify(items[0].json) !== testData){\n  throw new Error('Error in Merge node : removeKeyMatches');\n}\nreturn items;"}, "name": "Function10", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [800, 2380], "notesInFlow": true, "notes": "Verify removeKeyMatches operation", "id": "e56612ad-6b5a-4f1e-9d5c-feacc7960269"}, {"parameters": {"notice": "", "functionCode": "items = [{\n    json:{\n        title:'Input1item1'\n    }\n},{\n    json:{\n        title:'Input1item2'\n    }\n},{\n    json:{\n        title:'Input1item3'\n    }\n}]\nreturn items;"}, "name": "Function11", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [430, 810], "notesInFlow": true, "notes": "Input 1", "id": "96b68b9c-10fd-4d22-8836-0babe8295c53"}, {"parameters": {"notice": "", "functionCode": "items = [{\n    json:{\n        title:'Input2item1'\n    }\n},{\n    json:{\n        title:'Input2item2'\n    }\n},{\n    json:{\n        title:'Input2item3'\n    }\n},{\n    json:{\n        title:'Input2item4'\n    }\n}]\nreturn items;"}, "name": "Function12", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [430, 960], "notesInFlow": true, "notes": "Input 2", "id": "b1382fe4-f188-44da-aeec-cfebab259efe"}], "connections": {"Merge": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}, "Set1": {"main": [[{"node": "Merge", "type": "main", "index": 1}]]}, "Set": {"main": [[{"node": "Merge", "type": "main", "index": 0}]]}, "Merge1": {"main": [[{"node": "Function1", "type": "main", "index": 0}]]}, "Set2": {"main": [[{"node": "Merge1", "type": "main", "index": 0}]]}, "Set3": {"main": [[{"node": "Merge1", "type": "main", "index": 1}]]}, "Merge2": {"main": [[{"node": "Function2", "type": "main", "index": 0}]]}, "Merge3": {"main": [[{"node": "Function3", "type": "main", "index": 0}]]}, "Merge4": {"main": [[{"node": "Function4", "type": "main", "index": 0}]]}, "Merge5": {"main": [[{"node": "Function5", "type": "main", "index": 0}]]}, "Set6": {"main": [[{"node": "Merge5", "type": "main", "index": 1}, {"node": "Merge6", "type": "main", "index": 1}, {"node": "Merge7", "type": "main", "index": 1}]]}, "Set7": {"main": [[{"node": "Merge5", "type": "main", "index": 0}, {"node": "Merge6", "type": "main", "index": 0}, {"node": "Merge7", "type": "main", "index": 0}]]}, "Merge6": {"main": [[{"node": "Function6", "type": "main", "index": 0}]]}, "Merge7": {"main": [[{"node": "Function7", "type": "main", "index": 0}]]}, "Merge8": {"main": [[{"node": "Function8", "type": "main", "index": 0}]]}, "Set8": {"main": [[{"node": "Merge8", "type": "main", "index": 1}]]}, "Set9": {"main": [[{"node": "Merge8", "type": "main", "index": 0}]]}, "Merge9": {"main": [[{"node": "Function9", "type": "main", "index": 0}]]}, "Set10": {"main": [[{"node": "Merge9", "type": "main", "index": 1}]]}, "Set11": {"main": [[{"node": "Merge9", "type": "main", "index": 0}]]}, "Merge10": {"main": [[{"node": "Function10", "type": "main", "index": 0}]]}, "Set12": {"main": [[{"node": "Merge10", "type": "main", "index": 1}]]}, "Set13": {"main": [[{"node": "Merge10", "type": "main", "index": 0}]]}, "Start": {"main": [[{"node": "Set", "type": "main", "index": 0}, {"node": "Set1", "type": "main", "index": 0}, {"node": "Set2", "type": "main", "index": 0}, {"node": "Set3", "type": "main", "index": 0}, {"node": "Set7", "type": "main", "index": 0}, {"node": "Set6", "type": "main", "index": 0}, {"node": "Set9", "type": "main", "index": 0}, {"node": "Set8", "type": "main", "index": 0}, {"node": "Set11", "type": "main", "index": 0}, {"node": "Set10", "type": "main", "index": 0}, {"node": "Set13", "type": "main", "index": 0}, {"node": "Set12", "type": "main", "index": 0}, {"node": "Function11", "type": "main", "index": 0}, {"node": "Function12", "type": "main", "index": 0}]]}, "Function11": {"main": [[{"node": "Merge3", "type": "main", "index": 0}, {"node": "Merge2", "type": "main", "index": 0}, {"node": "Merge4", "type": "main", "index": 0}]]}, "Function12": {"main": [[{"node": "Merge3", "type": "main", "index": 1}, {"node": "Merge2", "type": "main", "index": 1}, {"node": "Merge4", "type": "main", "index": 1}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/n8n-io_test-workflows/workflows/108.json"}