eval/data/realworld/rw_a54cf1205c.json
{"id": "18", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:57:20.885Z", "startedAt": "2026-07-16T06:57:20.896Z", "stoppedAt": "2026-07-16T06:57:20.916Z", "deletedAt": null, "workflowId": "f5TEBSF22sAvRwk3", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 4778, "binaryDataSizeBytes": 0, "workflowVersionId": "01e180c8-52c8-4ebb-a6bd-32ceac8489f3", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"code": "ERR_INVALID_ARG_TYPE", "message": "The \"data\" argument must be of type string or an instance of Buffer, TypedArray, or DataView. Received undefined", "stack": "TypeError: The \"data\" argument must be of type string or an instance of Buffer, TypedArray, or DataView. Received undefined\n    at Hmac.update (node:internal/crypto/hash:142:11)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Crypto/v1/CryptoV1.node.ts:515:29)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"Webhook": [{"startTime": 1784185040909, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Crypto": [{"startTime": 1784185040910, "executionIndex": 1, "source": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 6, "executionStatus": "error", "error": {"code": "ERR_INVALID_ARG_TYPE", "message": "The \"data\" argument must be of type string or an instance of Buffer, TypedArray, or DataView. Received undefined", "stack": "TypeError: The \"data\" argument must be of type string or an instance of Buffer, TypedArray, or DataView. Received undefined\n    at Hmac.update (node:internal/crypto/hash:142:11)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Crypto/v1/CryptoV1.node.ts:515:29)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Crypto"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"name": "Crypto", "type": "n8n-nodes-base.crypto", "position": [660, 300], "parameters": {"action": "hmac", "binaryData": false, "type": "SHA256", "value": "={{$json[\"query\"][\"crc_token\"]}}", "dataPropertyName": "data", "secret": "API KEY SECRET", "encoding": "base64"}, "typeVersion": 1, "id": "ee657f70-bb90-492a-8f32-13fb23a34073"}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185040906, "source": "manual", "triggerNode": {"name": "Webhook", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX18X/RugbBvFIP5tz27cD1bOgonttnUY3dgPdMOneIPc8OQEGv1ZxcmA5XQnwNMNYGONfLxoM9z8JgGeXEfZWpltKhkl6eTI/tNqX28O9sZ+QERBGircTCskyhdcc+YX6qUqJu1cXtlRAPBrjQH3zwb4hIMpyJJ9Teqejlv6ekLmZF6njYLfWsY7emaEjL92rjfgfD+eBb7q/9e/wa0R62QDmsYkbVI/fzxj2LBndffkaiQxF84e1z4XV29DvX19VbpQJi19bDVVIR4qi/ryzqvUY5urx2nyteImipGsJrjPBk1sqsn7Pbcprm0MOmF0kYo9KOyvHC53AT+ZffOusv4ZuVTi4Jm+oqqfs2QKUAd6EXsS5WvBH3v3n+5wahQEdphAkVz06XygIxj3dsdPUrwyD9Ohvi6zBFs="}}, "resumeToken": "de336b6037c28a1a3896606b84b127b96c29d6e438e166cd209d632d701a764a"}, "workflowData": {"id": "f5TEBSF22sAvRwk3", "name": "rw_a54cf1205c", "nodes": [{"name": "Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [460, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "e331f99d-e783-43e9-8b73-7da8d81dfecb"}, {"name": "Crypto", "type": "n8n-nodes-base.crypto", "position": [660, 300], "parameters": {"action": "hmac", "binaryData": false, "type": "SHA256", "value": "={{$json[\"query\"][\"crc_token\"]}}", "dataPropertyName": "data", "secret": "API KEY SECRET", "encoding": "base64"}, "typeVersion": 1, "id": "ee657f70-bb90-492a-8f32-13fb23a34073"}, {"name": "Set", "type": "n8n-nodes-base.set", "position": [840, 300], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "response_token", "value": "=sha256={{$json[\"data\"]}}"}]}, "options": {}}, "typeVersion": 1, "id": "1f9767e1-7991-41b9-8200-39e09f0a7ad8"}], "connections": {"Crypto": {"main": [[{"node": "Set", "type": "main", "index": 0}]]}, "Webhook": {"main": [[{"node": "Crypto", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00151-line-chatbot-response-token.json"}