eval/data/realworld/rw_ac1ecd870b.json
{"id": "29", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:39.401Z", "startedAt": "2026-07-16T06:57:39.404Z", "stoppedAt": "2026-07-16T06:57:39.430Z", "deletedAt": null, "workflowId": "QQabciawwe9Xshw9", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 4261, "binaryDataSizeBytes": 0, "workflowVersionId": "ae7bd872-b191-4141-af67-ac901ea8b061", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185059411, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185059411, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"id": 0}, "pairedItem": {"item": 0}}, {"json": {"id": 1}, "pairedItem": {"item": 0}}]]}}], "IF": [{"startTime": 1784185059420, "executionIndex": 2, "source": [{"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"id": 0}, "pairedItem": {"item": 0}}], [{"json": {"id": 1}, "pairedItem": {"item": 1}}]]}}], "Set": [{"startTime": 1784185059429, "executionIndex": 3, "source": [{"previousNode": "IF", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"id": 0, "name": "n8n"}, "pairedItem": {"item": 0}}]]}}], "Set1": [{"startTime": 1784185059429, "executionIndex": 4, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"id": 1, "name": "nodemation"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Set1"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185059408, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19TzhwoJorxSlvlhY0YBDySELXqyDsuAu5yfRI9aX6vfX3qhcMuJgQtQQoNMq9ZyWuitFRpuhyy7K0zE10nmaIA6ovBVMgiib/n29xqxrt30nPKoee4Aww74d6OiCymAGsKTYahvv7BQRMFyKm8liGAd665OjZ3T/7IoVhYO0UfXzSvULLAR/Izx2B1KLX/CVashg3h5ZhhiSQ+QDL3E01jZ/+HEWWP1zdpxPk9/+wkrS2LWySunViEXUHrB6bsKi4NuZVueSHY+1FwAMfdWNIbA0ZsmaRjbot8NeGBsr45m7YtRpu5dYN0ojK1RvWHHdehdpffvKv4A0MlB4egQxB+J7geEAnnGs5ewXeOaTmLa4B41kP8qIpH1FFVcoT84VF7QCimehPto1/kSKR5k6z3z4ZObiJt71k="}}, "resumeToken": "b77044c81a2a8540e9bf339f79e528aceb7b530501ea452675a3c142369755b1"}, "workflowData": {"id": "QQabciawwe9Xshw9", "name": "rw_ac1ecd870b", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "acfb8ad8-9e38-41c5-9fd0-efea45344cdb"}, {"name": "Function", "type": "n8n-nodes-base.function", "position": [450, 300], "parameters": {"notice": "", "functionCode": "return [\n  {\n    json: {\n      id: 0,\n    }\n  },\n  {\n    json: {\n      id: 1,\n    }\n  }\n];"}, "typeVersion": 1, "id": "8a1bce5f-8d56-41f5-9fcc-2af764bd1a70"}, {"name": "IF", "type": "n8n-nodes-base.if", "position": [650, 300], "parameters": {"conditions": {"number": [{"value1": "={{$node[\"Function\"].json[\"id\"]}}", "operation": "equal", "value2": 0}]}, "combineOperation": "all"}, "typeVersion": 1, "id": "d1be6f87-1be3-458b-8999-60a210f95368"}, {"name": "Set", "type": "n8n-nodes-base.set", "position": [850, 200], "parameters": {"keepOnlySet": false, "values": {"string": [{"name": "name", "value": "n8n"}]}, "options": {}}, "typeVersion": 1, "id": "fc17b091-07f1-4084-98af-d949e5d9a1e6"}, {"name": "Set1", "type": "n8n-nodes-base.set", "position": [850, 400], "parameters": {"keepOnlySet": false, "values": {"string": [{"name": "name", "value": "nodemation"}]}, "options": {}}, "typeVersion": 1, "id": "f56d02ab-c8c8-4911-b844-a7060bc3ef1a"}], "connections": {"IF": {"main": [[{"node": "Set", "type": "main", "index": 0}], [{"node": "Set1", "type": "main", "index": 0}]]}, "Function": {"main": [[{"node": "IF", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00612-workflow-n8n-581.json"}