eval/data/realworld/rw_aa9dc50f26.json
{"id": "26", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:34.437Z", "startedAt": "2026-07-16T06:57:34.441Z", "stoppedAt": "2026-07-16T06:57:34.462Z", "deletedAt": null, "workflowId": "CYjt5bxgy85uwp9I", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 3342, "binaryDataSizeBytes": 0, "workflowVersionId": "6a8ac0df-5a7b-4a96-afb3-4c3a64e6de1a", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185054452, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set": [{"startTime": 1784185054453, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"xml": "<?xml version=\"1.0\" encoding=\"utf-8\"?> <ORDERS05>   <IDOC BEGIN=\"1\">     <EDI_DC40 SEGMENT=\"1\">       <TABNAM>EDI_DC40</TABNAM>     </EDI_DC40>   </IDOC> </ORDERS05>"}, "pairedItem": {"item": 0}}]]}}], "XML": [{"startTime": 1784185054454, "executionIndex": 2, "source": [{"previousNode": "Set", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"ORDERS05": {"IDOC": {"$": {"BEGIN": "1"}, "EDI_DC40": {"$": {"SEGMENT": "1"}, "TABNAM": "EDI_DC40"}}}}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "XML"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185054449, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+J1g8tYWH2N2haMPJhcClFIep73Ehk7lSqw+ehbufoWQlBckqQlke3uiT62uJ7sP8mpAIn04ptH5dpWqRdmPxuTMRNjQ/R3CAEdMht8oWTAosKvI/PY4IrcYQ6W9eFiZb8JRq8zOiw6P2BA3v0uP1+Izqa8fX8oMfoq00t/wiR0w6E00PbhLnwmbtKwOmA7PLE4A/FAa6yqMmevajM8Vq3Gpb153if8fJojXLz55CXIX2xgxcEN7XHhJUot80hvuztFgB3/1Ui8O/ZFabYAOp3U+fgGdp/p/705jbG84yrUP1hcBdhYr25o7TohC8XxJempaE8Lg7gl+qDxw9bUT3GIPXgIDAgxv3aya3lynmYpdgi6WH6p+To4MlT9hSyGBbpYUL3aTGCyzPVeul4fOJYD9XnAUjQgrI="}}, "resumeToken": "d3bec2f19bd6f08e53d73a3640bdef162947cd4595e432314f37b8110693e10e"}, "workflowData": {"id": "CYjt5bxgy85uwp9I", "name": "rw_aa9dc50f26", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "5014882a-7ea2-403b-b822-d7aaff98342a"}, {"name": "Set", "type": "n8n-nodes-base.set", "position": [510, 300], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "xml", "value": "<?xml version=\"1.0\" encoding=\"utf-8\"?> <ORDERS05>   <IDOC BEGIN=\"1\">     <EDI_DC40 SEGMENT=\"1\">       <TABNAM>EDI_DC40</TABNAM>     </EDI_DC40>   </IDOC> </ORDERS05>"}]}, "options": {}}, "typeVersion": 1, "id": "6301378e-8192-4060-80af-cf34b307dd5a"}, {"name": "XML", "type": "n8n-nodes-base.xml", "position": [740, 300], "parameters": {"mode": "xmlToJson", "xmlNotice": "", "dataPropertyName": "xml", "options": {"attrkey": "$", "explicitRoot": true, "mergeAttrs": false}}, "typeVersion": 1, "id": "c2a39536-1031-476e-be0c-a761c708aadc"}], "connections": {"Set": {"main": [[{"node": "XML", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Set", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00527-3-xml-transform.json"}