eval/data/realworld/rw_aa6f274a48.json
{"id": "68", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:45.082Z", "startedAt": "2026-07-16T06:58:45.092Z", "stoppedAt": "2026-07-16T06:58:45.152Z", "deletedAt": null, "workflowId": "wArNZyR9tdFSpADW", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 13363, "binaryDataSizeBytes": 0, "workflowVersionId": "8c07a95f-e2cd-46b0-9adc-d6fa14b69a7a", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"When clicking \u2018Execute workflow\u2019": [{"startTime": 1784185125103, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set Sample Data": [{"startTime": 1784185125104, "executionIndex": 1, "source": [{"previousNode": "When clicking \u2018Execute workflow\u2019", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"scenario": "user_data", "usersJson": "[{\"name\": \"Alice Johnson\", \"age\": 28, \"email\": \"user@example.com\", \"role\": \"developer\", \"salary\": 75000}, {\"name\": \"Bob Smith\", \"age\": 17, \"email\": \"user@example.com\", \"role\": \"intern\", \"salary\": 25000}, {\"name\": \"Charlie Brown\", \"age\": 35, \"email\": \"user@example.com\", \"role\": \"manager\", \"salary\": 95000}, {\"name\": \"Diana Ross\", \"age\": 22, \"email\": \"user@example.com\", \"role\": \"designer\", \"salary\": 60000}]"}, "pairedItem": {"item": 0}}]]}}], "Code: Filter & Transform": [{"startTime": 1784185125106, "executionIndex": 2, "source": [{"previousNode": "Set Sample Data", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 28, "executionStatus": "success", "data": {"main": [[{"json": {"name": "Alice Johnson", "age": 28, "email": "user@example.com", "role": "developer", "salary": 75000, "bonus": 7500, "fullEmail": "Alice Johnson <user@example.com>", "isEligible": true}, "pairedItem": {"item": 0}}, {"json": {"name": "Charlie Brown", "age": 35, "email": "user@example.com", "role": "manager", "salary": 95000, "bonus": 9500, "fullEmail": "Charlie Brown <user@example.com>", "isEligible": true}, "pairedItem": {"item": 0}}, {"json": {"name": "Diana Ross", "age": 22, "email": "user@example.com", "role": "designer", "salary": 60000, "bonus": 6000, "fullEmail": "Diana Ross <user@example.com>", "isEligible": true}, "pairedItem": {"item": 0}}]]}}], "Code: Calculate Stats": [{"startTime": 1784185125134, "executionIndex": 3, "source": [{"previousNode": "Set Sample Data", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"totalEmployees": 4, "averageAge": 25.5, "totalSalary": 255000, "averageSalary": 63750, "roleDistribution": {"developer": 1, "intern": 1, "manager": 1, "designer": 1}, "minAge": 17, "maxAge": 35, "eligibleForBonus": 3}, "pairedItem": {"item": 0}}]]}}], "Code: Format for Export": [{"startTime": 1784185125143, "executionIndex": 4, "source": [{"previousNode": "Set Sample Data", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"reportDate": "2026-07-16T06:58:45.151Z", "teamOverview": {"totalMembers": 4, "departments": ["developer", "intern", "manager", "designer"], "payrollTotal": 255000}, "formattedData": {"emailList": "user@example.com, user@example.com, user@example.com, user@example.com", "csvFormat": "Alice Johnson,28,user@example.com,developer,75000\nBob Smith,17,user@example.com,intern,25000\nCharlie Brown,35,user@example.com,manager,95000\nDiana Ross,22,user@example.com,designer,60000", "jsonForApi": [{"id": "alice_johnson", "displayName": "Alice Johnson", "contact": "user@example.com", "position": "developer", "compensation": 75000, "eligibleForVoting": true}, {"id": "bob_smith", "displayName": "Bob Smith", "contact": "user@example.com", "position": "intern", "compensation": 25000, "eligibleForVoting": false}, {"id": "charlie_brown", "displayName": "Charlie Brown", "contact": "user@example.com", "position": "manager", "compensation": 95000, "eligibleForVoting": true}, {"id": "diana_ross", "displayName": "Diana Ross", "contact": "user@example.com", "position": "designer", "compensation": 60000, "eligibleForVoting": true}]}}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Code: Format for Export"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185125100, "source": "manual", "triggerNode": {"name": "When clicking \u2018Execute workflow\u2019", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19i6lRbHKmNXWJ+YBuhmaOJ/8ok5gvJehQ+NXHHmsKWN5z3pbIfJQixy+a09ypq0o9ZzCHVq71aClsIfSDxBcGCxILvtuEDUJ1biP/zu0Sw8PCbcM3RfShiDyMWT19JUU7/VA9pXiIYNQeM+rdgpipodthWlmg045Gz5Q4PUfZFnsMfdRj3fjoaK7JgjnEk4tdgRybol5rDN3+mkmqL2H2HUXoxSSaDRu/h/EbICo3E9UimuOFZtHXXNUYDLbJg1wre7a4DvTA0WYq3pbf089W/3U2Xu0SrTeV5nDLBEGB/Uc2B0ZiItQ3ZhA77lHTEQgJDpgwjNm0nO0q0ZTDPCwrm9XE+gP8PK0vs0GOzpQHRnsfellSMZsiE+JJd6UwnfbG6+RSIb3DHbVycxpIH0Y8h+C7OHvRTYZM="}}, "resumeToken": "49828da895191d6e2002ce128d787939d488043229a985b2a9760da8b711d411"}, "workflowData": {"id": "wArNZyR9tdFSpADW", "name": "rw_aa6f274a48", "nodes": [{"id": "735caeb3-82d9-4e58-aa90-d284a90a6100", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-600, -100], "parameters": {"content": "## \ud83c\udfaf WORKFLOW PURPOSE\nThis workflow demonstrates practical Code node usage for:\n\n\u2022 **Data filtering & transformation**\n\u2022 **Statistical calculations**  \n\u2022 **Formatting for external systems**\n\u2022 **Real-world business scenarios**\n\n\ud83d\udca1 Perfect for learning JavaScript data manipulation in n8n!\n\nAuthor : **David Olusola**\n\n\ud83d\ude80 **n8n Coaching**\nUnlock the full potential of n8n with personalized, one-on-one coaching. Whether you're just getting started or need help solving a specific challenge, I\u2019ll guide you step-by-step so you can build confidently and efficiently.\n\ud83d\udc49 [Book Coaching Session](mailto:david@daexai.com?subject=n8n%20Coaching%20Request)\n\n **n8n Consulting**\nHave a complex automation project, unique integration needs, or want a custom workflow built from scratch? Let\u2019s collaborate to design and implement a robust solution tailored to your business.\n\ud83d\udce9 [Inquire About Consulting Services](mailto:david@daexai.com?subject=n8n%20Consultation%20Request)\n", "height": 700, "width": 460, "color": 7}, "typeVersion": 1}, {"id": "69eeeaa0-490c-4cab-937c-edb266e6a0ed", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [620, -200], "parameters": {"content": "## \ud83d\udd27 CODE NODE BASICS\n\n**Key Points:**\n\u2022 Access input data via `items[0].json`\n\u2022 Always return array of objects\n\u2022 Use `.map()` to create multiple outputs\n\u2022 Return `[{ json: data }]` format\n\n**Common Patterns:**\n```javascript\n// Single output\nreturn [{ json: result }];\n\n// Multiple outputs\nreturn array.map(item => ({ json: item }));\n```", "height": 340, "width": 680, "color": 7}, "typeVersion": 1}, {"id": "d7cafddc-1fb0-47c0-80a5-9584c781432d", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [680, 120], "parameters": {"content": "## \ud83d\udcca EXAMPLE 1: FILTER & TRANSFORM\n\n**What it does:**\n\u2022 Filters users over 18 years old\n\u2022 Adds calculated bonus field (10% of salary)\n\u2022 Creates formatted email addresses\n\u2022 Outputs each user as separate item\n\n**Use cases:**\n\u2022 Lead qualification\n\u2022 Customer segmentation\n\u2022 Data enrichment", "height": 180, "width": 480, "color": 7}, "typeVersion": 1}, {"id": "91e465df-24e5-49e9-8253-08d95c3d8860", "name": "Sticky Note3", "type": "n8n-nodes-base.stickyNote", "position": [680, 320], "parameters": {"content": "## \ud83d\udcc8 EXAMPLE 2: CALCULATE STATS\n\n**What it does:**\n\u2022 Aggregates team data into statistics\n\u2022 Calculates averages, totals, distributions\n\u2022 Creates single summary object\n\n**Use cases:**\n\u2022 Dashboard data preparation\n\u2022 Report generation\n\u2022 KPI calculations\n\u2022 Business intelligence", "height": 160, "width": 480, "color": 7}, "typeVersion": 1}, {"id": "15f8afd0-7694-490e-909a-1cccb1aad8b6", "name": "Sticky Note4", "type": "n8n-nodes-base.stickyNote", "position": [700, 540], "parameters": {"content": "## \ud83d\udd04 EXAMPLE 3: FORMAT FOR EXPORT\n\n**What it does:**\n\u2022 Formats data for multiple output types\n\u2022 Creates CSV, email lists, API payloads\n\u2022 Adds metadata and timestamps\n\n**Use cases:**\n\u2022 API integrations\n\u2022 Email marketing prep\n\u2022 Data export functions\n\u2022 Multi-format reporting", "height": 340, "width": 280, "color": 7}, "typeVersion": 1}, {"id": "c56969b0-8ce9-4f12-a5ab-81571dfe5c37", "name": "Sticky Note5", "type": "n8n-nodes-base.stickyNote", "position": [-40, -80], "parameters": {"content": "## \ud83d\ude80 QUICK START GUIDE\n\n**1. Click \"Test workflow\" to run**\n**2. Check each Code node's output**\n**3. Edit JavaScript code to experiment**\n**4. Copy patterns for your own workflows**\n\n**Pro Tips:**\n\u2022 Use `console.log()` for debugging\n\u2022 Test with small datasets first\n\u2022 Always handle edge cases\n\u2022 Return proper n8n format", "height": 280, "width": 300, "color": 7}, "typeVersion": 1}, {"id": "11c7822e-f7ef-4417-a489-24528b50d189", "name": "When clicking \u2018Execute workflow\u2019", "type": "n8n-nodes-base.manualTrigger", "position": [-140, 360], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "8e750afa-737c-4cc9-bcd6-a886e247f545", "name": "Set Sample Data", "type": "n8n-nodes-base.set", "position": [100, 340], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "99a2c0ab-5fdf-4d40-b989-492fc2393504", "name": "scenario", "type": "string", "value": "user_data"}, {"id": "272adb73-f810-4f23-af05-f6f66fe6add8", "name": "usersJson", "type": "string", "value": "[{\"name\": \"Alice Johnson\", \"age\": 28, \"email\": \"user@example.com\", \"role\": \"developer\", \"salary\": 75000}, {\"name\": \"Bob Smith\", \"age\": 17, \"email\": \"user@example.com\", \"role\": \"intern\", \"salary\": 25000}, {\"name\": \"Charlie Brown\", \"age\": 35, \"email\": \"user@example.com\", \"role\": \"manager\", \"salary\": 95000}, {\"name\": \"Diana Ross\", \"age\": 22, \"email\": \"user@example.com\", \"role\": \"designer\", \"salary\": 60000}]"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.3}, {"id": "29e2b762-60ea-4262-b64b-691cafceacaa", "name": "Code: Filter & Transform", "type": "n8n-nodes-base.code", "position": [340, 160], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// EXAMPLE 1: Filter adults (age > 18) and add bonus field\nconst users = JSON.parse(items[0].json.usersJson);\n\n// Filter users over 18 and add calculated bonus\nconst adults = users\n  .filter(user => user.age > 18)\n  .map(user => ({\n    ...user,\n    bonus: user.salary * 0.1, // 10% bonus\n    fullEmail: `${user.name} <${user.email}>`,\n    isEligible: true\n  }));\n\n// Return each user as separate item for n8n\nreturn adults.map(user => ({ json: user }));", "notice": ""}, "typeVersion": 2}, {"id": "14efb99d-7522-4c7b-bb84-4f96e67cbdba", "name": "Code: Calculate Stats", "type": "n8n-nodes-base.code", "position": [420, 440], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// EXAMPLE 2: Aggregate data - calculate team statistics\nconst users = JSON.parse(items[0].json.usersJson);\n\n// Calculate team stats\nconst stats = {\n  totalEmployees: users.length,\n  averageAge: users.reduce((sum, user) => sum + user.age, 0) / users.length,\n  totalSalary: users.reduce((sum, user) => sum + user.salary, 0),\n  averageSalary: users.reduce((sum, user) => sum + user.salary, 0) / users.length,\n  roleDistribution: users.reduce((acc, user) => {\n    acc[user.role] = (acc[user.role] || 0) + 1;\n    return acc;\n  }, {}),\n  minAge: Math.min(...users.map(u => u.age)),\n  maxAge: Math.max(...users.map(u => u.age)),\n  eligibleForBonus: users.filter(u => u.age > 18).length\n};\n\n// Return single item with all statistics\nreturn [{ json: stats }];", "notice": ""}, "typeVersion": 2}, {"id": "f497b70c-805c-4efd-afb6-e1ec6c2adfa0", "name": "Code: Format for Export", "type": "n8n-nodes-base.code", "position": [380, 720], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// EXAMPLE 3: Format data for external API or email\nconst users = JSON.parse(items[0].json.usersJson);\n\n// Create formatted output for different use cases\nconst emailList = users.map(user => user.email).join(', ');\nconst csvFormat = users.map(user => \n  `${user.name},${user.age},${user.email},${user.role},${user.salary}`\n).join('\\n');\n\n// Create summary report\nconst report = {\n  reportDate: new Date().toISOString(),\n  teamOverview: {\n    totalMembers: users.length,\n    departments: [...new Set(users.map(u => u.role))],\n    payrollTotal: users.reduce((sum, u) => sum + u.salary, 0)\n  },\n  formattedData: {\n    emailList,\n    csvFormat,\n    jsonForApi: users.map(user => ({\n      id: user.name.toLowerCase().replace(' ', '_'),\n      displayName: user.name,\n      contact: user.email,\n      position: user.role,\n      compensation: user.salary,\n      eligibleForVoting: user.age >= 18\n    }))\n  }\n};\n\nreturn [{ json: report }];", "notice": ""}, "typeVersion": 2}], "connections": {"Set Sample Data": {"main": [[{"node": "Code: Filter & Transform", "type": "main", "index": 0}, {"node": "Code: Calculate Stats", "type": "main", "index": 0}, {"node": "Code: Format for Export", "type": "main", "index": 0}]]}, "When clicking \u2018Execute workflow\u2019": {"main": [[{"node": "Set Sample Data", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/10097-Learn-JavaScript-data-processing-with-code-node-filtering-analysis-export.json"}