eval/data/realworld/rw_bac26c3d91.json
{"id": "39", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:54.315Z", "startedAt": "2026-07-16T06:57:54.319Z", "stoppedAt": "2026-07-16T06:57:54.432Z", "deletedAt": null, "workflowId": "e31cHAiDBAUn0z3n", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 9768, "binaryDataSizeBytes": 0, "workflowVersionId": "789a72de-ef2d-4c05-aa07-ab00da65d515", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"When Executed by Another Workflow": [{"startTime": 1784185074328, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Strip phone number formatting": [{"startTime": 1784185074328, "executionIndex": 1, "source": [{"previousNode": "When Executed by Another Workflow", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 9, "executionStatus": "success", "data": {"main": [[{"json": {"Phone Number": null}, "pairedItem": {"item": 0}}]]}}], "Check number of digits in phone number": [{"startTime": 1784185074337, "executionIndex": 2, "source": [{"previousNode": "Strip phone number formatting", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 14, "executionStatus": "success", "data": {"main": [[], [], [], [{"json": {"Phone Number": null}, "pairedItem": {"item": 0}}]]}}], "Clear invalid number": [{"startTime": 1784185074351, "executionIndex": 3, "source": [{"previousNode": "Check number of digits in phone number", "previousNodeOutput": 3, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"Phone Number": ""}, "pairedItem": {"item": 0}}]]}}], "Format phone numbers": [{"startTime": 1784185074352, "executionIndex": 4, "source": [{"previousNode": "Clear invalid number", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 79, "executionStatus": "success", "data": {"main": [[{"json": {"Phone Number (Input)": null, "Phone Number": 0, "Phone Number (E-164)": "", "Phone Number (National)": "", "Phone Number (Full National)": "", "Phone Number (International)": "", "Extension": 0, "Extension (String)": ""}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Format phone numbers"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185074325, "source": "manual", "triggerNode": {"name": "When Executed by Another Workflow", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/wwCZkvL/O8PLpFuMRS4HID6PPpuL+eR95ooJVClAoa4hM8AvppOW67UJLOmqCYttPK9x/3Iem+UTVLqDAF9Fv2WNK03shZYxyenzybHs10lI0CIb4y26MewkUOWocNw6YlXYGjzTVmzxne0W5W0dx4TnZJb4qw7/uUN9KlAO+44W31IEavhUfSrGbjX4FSrRxUZSqC+xaiRK/6jsWnsh7fPR2pFQ+pGzNuRE71JgaGDkARjl77AP4Ysl1qA+amO9Mgt80/6s4c4pGIIpoFwQ0OnfU8eax8aZLkGd+DC04kimx32Lk9mPjFlSpnnV1AcHsBH3fXQsbLWZLN4N35gqpKMADLt76KBA08HXcP1zyCUWDmpluqx67HvixMdOUhrMi2K0pYZNXTEZcJFbM/b1CMSIbSHGPrY4="}}, "resumeToken": "6dcaebb9186a03f139d93e12a0dc1357a29fd7a0cbda928b5e9fc4f3a0233bd7"}, "workflowData": {"id": "e31cHAiDBAUn0z3n", "name": "rw_bac26c3d91", "nodes": [{"id": "bf150da4-5e01-4571-a606-10a0fb25004b", "name": "When Executed by Another Workflow", "type": "n8n-nodes-base.manualTrigger", "position": [0, 275], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "7c560ecf-c827-413f-a115-7b6bc8f21a41", "name": "Check if first digit is valid country code", "type": "n8n-nodes-base.if", "position": [660, 275], "parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "4d5c838e-9b08-4466-b00d-c695fd76d66d", "operator": {"type": "number", "operation": "equals"}, "leftValue": "={{ $json['Phone Number'].toString().slice(0,1).toNumber() }}", "rightValue": 1}]}, "looseTypeValidation": false, "options": {}}, "typeVersion": 2.2}, {"id": "783d8fd0-2a38-41fc-87c9-b0aec9933070", "name": "Add valid country code", "type": "n8n-nodes-base.set", "position": [880, 475], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "e47a1812-f69c-4182-bed5-cf037071cd9b", "name": "Phone Number", "type": "number", "value": "=1{{ $json['Phone Number'] }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "a93923f3-5d8d-4617-a63d-50b66b3b1128", "name": "Strip phone number formatting", "type": "n8n-nodes-base.set", "position": [220, 275], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "91d348df-6937-4118-8f7b-c9d386eb5c21", "name": "Phone Number", "type": "number", "value": "={{ $json['Phone Number'].match(/[0-9]+/gmi).join('') }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "58d6d280-ec86-4b69-a89c-e43571ce1035", "name": "Check number of digits in phone number", "type": "n8n-nodes-base.switch", "position": [440, 254], "parameters": {"mode": "rules", "rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "66c9d1e7-dc56-4ce8-b7e4-64274feb8750", "operator": {"type": "number", "operation": "gte"}, "leftValue": "={{ $json['Phone Number'].toString().length }}", "rightValue": 11}]}, "renameOutput": true, "outputKey": "Full Number"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "2b9be422-2c4d-402a-b598-e8ab55aa5196", "operator": {"type": "number", "operation": "equals"}, "leftValue": "={{ $json['Phone Number'].toString().length }}", "rightValue": 10}]}, "renameOutput": true, "outputKey": "Number"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "a442130a-f2f8-4399-8edb-180d3607ec9b", "operator": {"type": "number", "operation": "lt"}, "leftValue": "={{ $json['Phone Number'].toString().length }}", "rightValue": 10}]}, "renameOutput": true, "outputKey": "Invalid Number"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "combinator": "and", "conditions": [{"id": "efba5af9-dfe4-47f0-8e82-253accd4f238", "operator": {"type": "number", "operation": "notExists", "singleValue": true}, "leftValue": "={{ $json['Phone Number'] }}", "rightValue": ""}]}, "renameOutput": true, "outputKey": "Not a Number"}]}, "looseTypeValidation": false, "options": {}}, "typeVersion": 3.2}, {"id": "1f6a4aa7-0595-4db3-a9c3-dc7a72656597", "name": "Format phone numbers", "type": "n8n-nodes-base.set", "position": [1100, 325], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "402c8481-3dee-4b90-8a08-7e611156d012", "name": "Phone Number (Input)", "type": "string", "value": "={{ $('When Executed by Another Workflow').item.json['Phone Number'] }}"}, {"id": "9bc193b1-664f-40c0-8545-6792b5599777", "name": "Phone Number", "type": "number", "value": "={{ $json['Phone Number'].toString().slice(0,11).toNumber() }}"}, {"id": "a4944be5-bfd5-4804-aeb5-d84c59145485", "name": "=Phone Number (E-164)", "type": "string", "value": "={{ $json['Phone Number'] ? '+' + $json['Phone Number'] : '' }}"}, {"id": "3a8d506c-45ba-4843-b186-78bf877b7903", "name": "Phone Number (National)", "type": "string", "value": "={{ $json['Phone Number'] ? '(' + $json['Phone Number'].toString().slice(1,4) + ') ' + $json['Phone Number'].toString().slice(4,7) + '-' + $json['Phone Number'].toString().slice(7,11) : '' }}"}, {"id": "14daf876-5f94-44d7-915b-bc4a8d6afbc4", "name": "Phone Number (Full National)", "type": "string", "value": "={{ $json['Phone Number'] ? '1 (' + $json['Phone Number'].toString().slice(1,4) + ') ' + $json['Phone Number'].toString().slice(4,7) + '-' + $json['Phone Number'].toString().slice(7,11) : '' }}"}, {"id": "3270cc41-bfd7-4c5d-a05e-4af8da028bd5", "name": "Phone Number (International)", "type": "string", "value": "={{ $json['Phone Number'] ? '00-1-' + $json['Phone Number'].toString().slice(1,4) + '-' + $json['Phone Number'].toString().slice(4,7) + '-' + $json['Phone Number'].toString().slice(7,11) : '' }}"}, {"id": "a6bd3652-071f-41b6-b523-bca427ef54f5", "name": "Extension", "type": "number", "value": "={{ $json['Phone Number'].toString().slice(11).toNumber() }}"}, {"id": "7b808bfb-0d69-410c-b8f4-cbf2cafcf7e8", "name": "Extension (String)", "type": "string", "value": "={{ $json['Phone Number'].toString().slice(11).toNumber() > 0 ? $json['Phone Number'].toString().slice(11).toNumber() : '' }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "7bc3c1a0-2056-48a0-b826-21a8c1bff31b", "name": "Clear invalid number", "type": "n8n-nodes-base.set", "position": [880, 125], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "c8d90980-61c9-49c5-8769-32c445790328", "name": "Phone Number", "type": "string", "value": ""}]}, "includeOtherFields": true, "include": "all", "options": {}}, "typeVersion": 3.4}], "connections": {"Clear invalid number": {"main": [[{"node": "Format phone numbers", "type": "main", "index": 0}]]}, "Format phone numbers": {"main": [[]]}, "Add valid country code": {"main": [[{"node": "Format phone numbers", "type": "main", "index": 0}]]}, "Strip phone number formatting": {"main": [[{"node": "Check number of digits in phone number", "type": "main", "index": 0}]]}, "When Executed by Another Workflow": {"main": [[{"node": "Strip phone number formatting", "type": "main", "index": 0}]]}, "Check number of digits in phone number": {"main": [[{"node": "Check if first digit is valid country code", "type": "main", "index": 0}], [{"node": "Add valid country code", "type": "main", "index": 0}], [{"node": "Clear invalid number", "type": "main", "index": 0}], [{"node": "Clear invalid number", "type": "main", "index": 0}]]}, "Check if first digit is valid country code": {"main": [[{"node": "Format phone numbers", "type": "main", "index": 0}], [{"node": "Clear invalid number", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/03067-format-phone-us.json"}