eval/data/realworld/rw_b28ad89f08.json
{"id": "62", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:34.453Z", "startedAt": "2026-07-16T06:58:34.458Z", "stoppedAt": "2026-07-16T06:58:34.496Z", "deletedAt": null, "workflowId": "nZAMZb9ccjMhYb06", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 7000, "binaryDataSizeBytes": 0, "workflowVersionId": "e5040112-2dae-4aaf-8d6a-62ac36607d84", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Receive Vectors": [{"startTime": 1784185114470, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Extract & Parse Vectors": [{"startTime": 1784185114471, "executionIndex": 1, "source": [{"previousNode": "Receive Vectors", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 10, "executionStatus": "success", "data": {"main": [[{"json": {"vectors": null}, "pairedItem": {"item": 0}}]]}}], "Validate & Compute Centroid": [{"startTime": 1784185114482, "executionIndex": 2, "source": [{"previousNode": "Extract & Parse Vectors", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 12, "executionStatus": "success", "data": {"main": [[{"json": {"error": "Invalid input: Expected an array of vectors."}, "pairedItem": {"item": 0}}]]}}], "Return Centroid Response": [{"startTime": 1784185114495, "executionIndex": 3, "source": [{"previousNode": "Validate & Compute Centroid", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Return Centroid Response"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185114469, "source": "manual", "triggerNode": {"name": "Receive Vectors", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+R845t7wTUBQYixhLsbL/JsbSudkYfdmwseFWN3Ja6jDNqNGvOD86bCJZkAA0BtD8vcq18IgBsxsAjO5UEzPqE3ZclrfrWaCRVmBzz2lJ+tQ8nEk62C1P2RohDTAaZ6fnl7flF1EuWfvbIbzJjsqFdZcnbg6SVgYekgUKLF6FL6LefXLGM+pmOPuWo/dRuC0yCMN3OFLZW3kCxjZgxvbm/NQaPwX91u40r7ToIGeAIxQCkoO1WU6wzexDGfDwW46pfYVlDYjEaDz5p2C7rUNm9XDDMoloKK7eKmwW8VPx68vI8kVFyW2ke0L4T8eci2WlzUszdGxmZ5TYy1E/wUi0uN1c4LRNCRVz4uQ6hmcBXQHKVVJZsPJqlebEq6Sx4tbmLJb8Fr4gNoDDfttBmKA+fwb2OkRxtamA="}}, "resumeToken": "ccc3c591bc8b21574a9019bcca880075b47665b220f3f8394a23d51f2569af0a"}, "workflowData": {"id": "nZAMZb9ccjMhYb06", "name": "rw_b28ad89f08", "nodes": [{"id": "32a8aa56-aa7e-4c9e-a39e-f65234224bcf", "name": "Receive Vectors", "type": "n8n-nodes-base.manualTrigger", "position": [-440, 20], "parameters": {"notice": ""}, "notesInFlow": true, "typeVersion": 1}, {"id": "a020a49a-cc9f-49af-aa95-829d9d16da04", "name": "Extract & Parse Vectors", "type": "n8n-nodes-base.set", "position": [360, 20], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "3e1d9e72-7668-427d-958c-42bff7270a37", "name": "vectors", "type": "array", "value": "={{ $json.query.vectors }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "2f328de6-4ef1-4aac-8838-d616637f4b88", "name": "Validate & Compute Centroid", "type": "n8n-nodes-base.code", "position": [960, 20], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "const input = items[0].json;\nconst vectors = input.vectors;\n\nif (!Array.isArray(vectors) || vectors.length === 0) {\n  return [{ json: { error: \"Invalid input: Expected an array of vectors.\" } }];\n}\n\nconst dimension = vectors[0].length;\nif (!vectors.every(v => v.length === dimension)) {\n  return [{ json: { error: \"Vectors have inconsistent dimensions.\" } }];\n}\n\nconst centroid = new Array(dimension).fill(0);\nvectors.forEach(vector => {\n  vector.forEach((val, index) => {\n    centroid[index] += val;\n  });\n});\n\nfor (let i = 0; i < dimension; i++) {\n  centroid[i] /= vectors.length;\n}\n\nreturn [{ json: { centroid } }];", "notice": ""}, "typeVersion": 2}, {"id": "821bc173-3578-4cf2-9fd7-8ea9cba8dc3f", "name": "Return Centroid Response", "type": "n8n-nodes-base.manualTrigger", "position": [1640, 20], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "73964e7b-1217-422f-8078-09604fa2a3d7", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [20, -200], "parameters": {"content": "\ud83d\udccc **Description:**  \nThis node extracts the `vectors` array from the **GET request** and converts it into a properly formatted array for processing.  \n- **Ensures `vectors` is a valid array.**  \n- **If the parameter is missing, it may generate an error.**  \n\n\ud83d\udd39 **Expected Output Example:**\n```json\n{\n  \"vectors\": [[2,3,4],[4,5,6],[6,7,8]]\n}\n```\n", "height": 420, "width": 620, "color": 3}, "typeVersion": 1}, {"id": "e4793b20-bfa6-4b08-b46c-f92d1c9c2622", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [640, -280], "parameters": {"content": "\ud83d\udccc **Description:**  \nThis node performs **vector validation** and **centroid computation**.  \n- **Validation:** Ensures all vectors have the same number of dimensions.  \n- **Computation:** Averages each dimension to determine the centroid.  \n- **If validation fails:** Returns an error message indicating inconsistent dimensions.  \n\n\ud83d\udd39 **Successful Output Example:**\n```json\n{\n  \"centroid\": [4,5,6]\n}\n```\n\ud83d\udd39 **Error Output Example:**\n```json\n{\n  \"error\": \"Vectors have inconsistent dimensions.\"\n}\n```\n", "height": 500, "width": 700, "color": 4}, "typeVersion": 1}, {"id": "e0ac1c4d-0435-44d1-ba87-0cfc9dea207b", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [1340, -200], "parameters": {"content": "\ud83d\udccc **Description:**  \nThis node sends the **final response** back to the client that made the request.  \n- **If the computation is successful**, it returns the centroid.  \n- **If an error occurs**, it returns a descriptive error message.  \n\n\ud83d\udd39 **Example Response:**\n```json\n{\n  \"centroid\": [4, 5, 6]\n}\n```\n", "height": 420, "width": 680, "color": 2}, "typeVersion": 1}, {"id": "2b4fbae7-c2e5-4666-ba9f-72a5313fc16f", "name": "Sticky Note4", "type": "n8n-nodes-base.stickyNote", "position": [-820, -200], "parameters": {"content": "\ud83d\udccc **Description:**  \nThis node acts as the **entry point** for the workflow, receiving a **GET request** containing an array of vectors in the `vectors` parameter.  \n- **Expected Input:** `vectors` parameter in JSON format.  \n- **Example Request:**  \n  ```plaintext\n  https://actions.singular-innovation.com/webhook-test/centroid?vectors=[[2,3,4],[4,5,6],[6,7,8]]\n  ```\n- **Output:** Passes the received data to the next node for processing.\n", "height": 420, "width": 840, "color": 4}, "typeVersion": 1}], "connections": {"Receive Vectors": {"main": [[{"node": "Extract & Parse Vectors", "type": "main", "index": 0}]]}, "Extract & Parse Vectors": {"main": [[{"node": "Validate & Compute Centroid", "type": "main", "index": 0}]]}, "Validate & Compute Centroid": {"main": [[{"node": "Return Centroid Response", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/08250-centroid_calculator.json"}