eval/data/realworld/rw_c12ac707b3.json
{"id": "74", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:54.974Z", "startedAt": "2026-07-16T06:58:54.979Z", "stoppedAt": "2026-07-16T06:58:54.998Z", "deletedAt": null, "workflowId": "vSpf82iaUsTYqwew", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 3706, "binaryDataSizeBytes": 0, "workflowVersionId": "44655f0b-236b-4425-b601-b0eeecef5ebe", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Start": [{"startTime": 1784185134985, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set": [{"startTime": 1784185134985, "executionIndex": 1, "source": [{"previousNode": "Start", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"name": "test", "toBeRenamed": "name"}, "pairedItem": {"item": 0}}]]}}], "Rename Keys": [{"startTime": 1784185134986, "executionIndex": 2, "source": [{"previousNode": "Set", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"name": "test", "Renamed": "name"}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185134987, "executionIndex": 3, "source": [{"previousNode": "Rename Keys", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 10, "executionStatus": "success", "data": {"main": [[{"json": {"name": "test", "Renamed": "name"}, "pairedItem": {"item": 0}, "index": 0}]]}}]}, "pinData": null, "lastNodeExecuted": "Function"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185134983, "source": "manual", "triggerNode": {"name": "Start", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19l1I6dOFnYeauwhzg/tL6Ai4cBZ4FKjbpQ83n8dz1zjPt1StKNJovBIuIk0fuELP6yJs1KPF6NaZPqAmHb8IFyxzFD+u1xar+R2RGLfYdT8tCMGk26WQaC1l0pEkoOvQ9cPD9izVBqjattGZR5JwVEEncc3BH8qmXwYHdIxs7TgsG+ytiak4JzTdtwXKuLp6vnPHSFS/X4hRkk3CNeu8wZdLovhmI0zZ4vxjPA2sM0jQwCkh5nUkioNIMoowJOrIkCh4rC1z4dMydTC0u7yIs6uUeMoz3KL8+7eS71PmJp5d0Tp1zE+EXHuhAg+Rn4Edcqt2mk7wV9+oMmDctUiNtOZ305jQNf9IPzw2AZBZsizJooHT63g23yXq/XfDKsz3MZ3xEi59yAlQpSkY/4lXl05ktTFPMs/WA="}}, "resumeToken": "cc3356f1e70a42e7ab06a8c2f486a821e668a9845672f50f474ac12c646604dd"}, "workflowData": {"id": "vSpf82iaUsTYqwew", "name": "rw_c12ac707b3", "nodes": [{"parameters": {"notice": ""}, "name": "Start", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [250, 300], "id": "38b2e8c3-ddfe-4ef3-85d0-ddab8e8732db"}, {"parameters": {"keys": {"key": [{"currentKey": "toBeRenamed", "newKey": "Renamed"}]}, "additionalOptions": {}}, "name": "Rename Keys", "type": "n8n-nodes-base.renameKeys", "typeVersion": 1, "position": [650, 300], "id": "d4b5cdcd-3bd7-46aa-ab34-f986411cfc43"}, {"parameters": {"keepOnlySet": false, "values": {"string": [{"name": "name", "value": "test"}, {"name": "toBeRenamed", "value": "name"}]}, "options": {}}, "name": "Set", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [450, 300], "id": "0c816bc3-19b1-41f2-ac7a-ea5f2448bac2"}, {"parameters": {"notice": "", "functionCode": "testData = JSON.stringify(\n{\nname: \"test\",\nRenamed: \"name\"\n}\n)\nif(JSON.stringify($node['Rename Keys'].json) !== testData){\n  throw new Error('Error in rename keys node');\n}\n\nreturn items;"}, "name": "Function", "type": "n8n-nodes-base.function", "typeVersion": 1, "position": [850, 300], "id": "95ab4a10-c3f3-4bad-8792-4a8dab012672"}], "connections": {"Rename Keys": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}, "Set": {"main": [[{"node": "Rename Keys", "type": "main", "index": 0}]]}, "Start": {"main": [[{"node": "Set", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/n8n-io_test-workflows/workflows/101.json"}