eval/data/realworld/rw_c2e695da74.json
{"id": "42", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:57:59.242Z", "startedAt": "2026-07-16T06:57:59.247Z", "stoppedAt": "2026-07-16T06:57:59.281Z", "deletedAt": null, "workflowId": "4fz0I1wbaMdre2u4", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 24124, "binaryDataSizeBytes": 0, "workflowVersionId": "1b31839e-9655-4704-972b-d420f2063def", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "info", "shouldReport": false, "description": "TypeError", "tags": {}, "lineNumber": 1, "message": "Cannot read properties of undefined (reading 'sqaure_feet') [line 1]", "stack": "TypeError: Cannot read properties of undefined (reading 'sqaure_feet')\n    at VmCodeWrapper (evalmachine.<anonymous>:1:1007)\n    at evalmachine.<anonymous>:2:2\n    at Script.runInContext (node:vm:149:12)\n    at runInContext (node:vm:301:6)\n    at result (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:215:61)\n    at new Promise (<anonymous>)\n    at JsTaskRunner.runForAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:208:34)\n    at JsTaskRunner.executeTask (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:143:26)\n    at process.processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at async Object.waitingForSettings (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/task-runner.js:283:17)"}, "runData": {"Webhook": [{"startTime": 1784185079259, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Square Feet": [{"startTime": 1784185079260, "executionIndex": 1, "source": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 21, "executionStatus": "error", "error": {"level": "info", "shouldReport": false, "description": "TypeError", "tags": {}, "lineNumber": 1, "message": "Cannot read properties of undefined (reading 'sqaure_feet') [line 1]", "stack": "TypeError: Cannot read properties of undefined (reading 'sqaure_feet')\n    at VmCodeWrapper (evalmachine.<anonymous>:1:1007)\n    at evalmachine.<anonymous>:2:2\n    at Script.runInContext (node:vm:149:12)\n    at runInContext (node:vm:301:6)\n    at result (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:215:61)\n    at new Promise (<anonymous>)\n    at JsTaskRunner.runForAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:208:34)\n    at JsTaskRunner.executeTask (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/js-task-runner/js-task-runner.js:143:26)\n    at process.processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at async Object.waitingForSettings (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+task-runner@file+packages+@n8n+task-runner_@opentelemetry+api@1.9.0_@opentelemetry_bd25ea1f047b3163759a25985b9c52da/node_modules/@n8n/task-runner/dist/task-runner.js:283:17)"}}]}, "pinData": null, "lastNodeExecuted": "Square Feet"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "dc7eaa55-4e7f-49bd-a69d-d8f4ce176c76", "name": "Square Feet", "type": "n8n-nodes-base.code", "position": [-1360, -48], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return { sqaure_feet: $input.first().json.query.sqaure_feet };", "notice": ""}, "typeVersion": 2}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}]}}, {"node": {"id": "8b6ac973-ed83-456e-8706-4435ef776b97", "name": "Number of Rooms", "type": "n8n-nodes-base.code", "position": [-1360, 144], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return { number_rooms: $input.first().json.query.number_rooms };", "notice": ""}, "typeVersion": 2}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}]}}, {"node": {"id": "b5671df5-47ea-41a2-8d17-f8f6e7b4fa69", "name": "Age", "type": "n8n-nodes-base.code", "position": [-1360, 336], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return { age_in_years: $input.first().json.query.age_in_years };", "notice": ""}, "typeVersion": 2}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}]}}, {"node": {"id": "1e41b447-afa0-4006-8da1-ecac9b20b306", "name": "Distance to City", "type": "n8n-nodes-base.code", "position": [-1360, 528], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return { distance_to_city_in_miles: $input.first().json.query.distance_to_city_in_miles };", "notice": ""}, "typeVersion": 2}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185079258, "source": "manual", "triggerNode": {"name": "Webhook", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX18vYkXlmjQMcYgIpWUWdnXEv9YfyovGC3JT5gbCiSmM3rdCoy86ymqh3Zx7hdJ/qLVLxk0hYk4D8DZo9gtERqMkyMT9Sl3tVK8Q322WwFcnUKFonHTvduEYIh1wOU9aLvd5iDa+4qq8ae2yvTFbI61i8bysopn3JQlVgAPD9IOCuXKT+39MmqxVQ1w16nMZQFUPH0DFe56/0+NeDbOn4m28lIIKfgZK8mbgz0tDxZoM0UtRvdwPR4eQhTmenbJrLGK1mxkuoGdWAiv9zjNgrJ+rItO/6JiHbdGJvG+DXZ9h9Ri7onSvo7uCXjkETffBIhlobFteyJ4mxjFHcNjlYTl4Cc3fDsweajCa5F5PFCind4nQtQ8Tn1LaJjp3VNaVeAsYf/asnGujeREPVZ1crboF/1vQ7JEOLiw="}}, "resumeToken": "36174e0db6810290c5c4de1d8be6656599e8cdd209ebe634b15604cdf1d99649"}, "workflowData": {"id": "4fz0I1wbaMdre2u4", "name": "rw_c2e695da74", "nodes": [{"id": "978d6ab8-2d2f-49aa-bfdd-7b59f1a0f250", "name": "Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [-1872, 224], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "8b6ac973-ed83-456e-8706-4435ef776b97", "name": "Number of Rooms", "type": "n8n-nodes-base.code", "position": [-1360, 144], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return { number_rooms: $input.first().json.query.number_rooms };", "notice": ""}, "typeVersion": 2}, {"id": "1e41b447-afa0-4006-8da1-ecac9b20b306", "name": "Distance to City", "type": "n8n-nodes-base.code", "position": [-1360, 528], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return { distance_to_city_in_miles: $input.first().json.query.distance_to_city_in_miles };", "notice": ""}, "typeVersion": 2}, {"id": "b5671df5-47ea-41a2-8d17-f8f6e7b4fa69", "name": "Age", "type": "n8n-nodes-base.code", "position": [-1360, 336], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return { age_in_years: $input.first().json.query.age_in_years };", "notice": ""}, "typeVersion": 2}, {"id": "7e4859d0-e444-4167-9103-731cb589b446", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-816, -512], "parameters": {"content": "# Neuron 1", "height": 784, "width": 1200, "color": 1}, "typeVersion": 1}, {"id": "dc7eaa55-4e7f-49bd-a69d-d8f4ce176c76", "name": "Square Feet", "type": "n8n-nodes-base.code", "position": [-1360, -48], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "return { sqaure_feet: $input.first().json.query.sqaure_feet };", "notice": ""}, "typeVersion": 2}, {"id": "e1851f9a-c743-4847-b0fc-2967d162eba8", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [-816, -608], "parameters": {"content": "# Hidden Layer", "height": 80, "width": 1200, "color": 4}, "typeVersion": 1}, {"id": "d5d94a72-95e8-4350-be9d-b027c726934d", "name": "Sticky Note9", "type": "n8n-nodes-base.stickyNote", "position": [-1360, -160], "parameters": {"content": "# Input Layer", "height": 80, "width": 224, "color": 4}, "typeVersion": 1}, {"id": "6df4d2cd-3b05-4a8e-b66f-63d49234c94b", "name": "Sticky Note3", "type": "n8n-nodes-base.stickyNote", "position": [-816, 288], "parameters": {"content": "# Neuron 2", "height": 784, "width": 1200, "color": 1}, "typeVersion": 1}, {"id": "24e852b2-6110-4cbc-8789-560ef0afa73c", "name": "Output Merge", "type": "n8n-nodes-base.merge", "position": [1248, 224], "parameters": {"mode": "append", "numberInputs": 2}, "typeVersion": 3.2}, {"id": "01baf154-f578-430a-b013-129f02c25087", "name": "Respond to Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [1872, 224], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "58c13e2d-03d3-40a0-b735-62f055e4b56d", "name": "Sticky Note4", "type": "n8n-nodes-base.stickyNote", "position": [800, 80], "parameters": {"content": "# Output Neuron", "height": 400, "width": 992, "color": 1}, "typeVersion": 1}, {"id": "59a337f8-7850-4b89-b824-0cfdefb6aabd", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [800, -16], "parameters": {"content": "# Output Layer", "height": 80, "width": 992, "color": 4}, "typeVersion": 1}, {"id": "1c5bfa43-3d3f-447e-9715-3b02456a5c65", "name": "Merge 1", "type": "n8n-nodes-base.merge", "position": [-368, -208], "parameters": {"mode": "append", "numberInputs": 4}, "typeVersion": 3.2}, {"id": "3b75efb0-c00c-4e36-b516-a08ac9e4f7ca", "name": "Merge 2", "type": "n8n-nodes-base.merge", "position": [-368, 592], "parameters": {"mode": "append", "numberInputs": 4}, "typeVersion": 3.2}, {"id": "4888fd8a-0cb9-446b-9ddd-f26464fac060", "name": "Neuron 1 - Input 1 - Weight", "type": "n8n-nodes-base.set", "position": [-576, -448], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "353afcc4-9827-4e3a-b637-c50051b5ce3e", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "76c066ce-d505-4986-9068-4d86adeab1f7", "name": "Neuron 1 - Input 2- Weight", "type": "n8n-nodes-base.set", "position": [-576, -256], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "353afcc4-9827-4e3a-b637-c50051b5ce3e", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "1e3d698c-bcc1-48b0-962f-c07c3ee57530", "name": "Neuron 1 - Input 3 - Weight", "type": "n8n-nodes-base.set", "position": [-576, -64], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "353afcc4-9827-4e3a-b637-c50051b5ce3e", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "1efa0f65-2145-4d58-bd58-c9461d7e928b", "name": "Neuron 1 - Input 4 - Weight", "type": "n8n-nodes-base.set", "position": [-576, 128], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "353afcc4-9827-4e3a-b637-c50051b5ce3e", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "91d9c03b-07e9-400d-a519-824f82c68b81", "name": "Neuron 1 - Input 1", "type": "n8n-nodes-base.set", "position": [-784, -448], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "381df1d9-4e06-4ee5-aece-2d3a9e8ce06c", "name": "value", "type": "number", "value": "={{ $json.sqaure_feet }}"}, {"id": "7e38ed0c-2194-441a-ba54-670ede8b42b3", "name": "weight", "type": "number", "value": 3.5124223}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "cf83a55e-ca74-49a2-87ce-3f7702355773", "name": "Neuron 1 - Input 2", "type": "n8n-nodes-base.set", "position": [-784, -256], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "7a5c6776-8f5e-4017-a3f0-404b23fd0650", "name": "value", "type": "number", "value": "={{ $json.number_rooms }} "}, {"id": "81b4efb2-4823-4cdf-82e3-c39378c038dc", "name": "weight", "type": "number", "value": 395.781}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "6886a182-eefb-4898-a85d-65a1be17589a", "name": "Neuron 1 - Input 3", "type": "n8n-nodes-base.set", "position": [-784, -64], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "09d7daeb-71b9-4929-92e0-6057ef2fdad7", "name": "value", "type": "number", "value": "={{ $json.age_in_years }}"}, {"id": "b8970ddc-27bb-4e7d-a392-9ff23b51fb89", "name": "weight", "type": "number", "value": -23.359684}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "a4d202c0-c38b-475e-9145-2ef92da1d6ec", "name": "Neuron 1 - Input 4", "type": "n8n-nodes-base.set", "position": [-784, 128], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "1a9d549a-6f99-478e-ac05-fb8f8e2f8195", "name": "value", "type": "number", "value": "={{ $json.distance_to_city_in_km }}"}, {"id": "46978724-90d0-49f2-a27c-e54dd0d068a1", "name": "weight", "type": "number", "value": -106.583916}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "96d5e681-6560-4fbd-afbb-e826758e3e18", "name": "Neuron 2 - Input 1", "type": "n8n-nodes-base.set", "position": [-784, 352], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "381df1d9-4e06-4ee5-aece-2d3a9e8ce06c", "name": "value", "type": "number", "value": "={{ $json.sqaure_feet }}"}, {"id": "c8d46045-b10e-4090-9962-ff1a6afa9f09", "name": "weight", "type": "number", "value": 2.7669308}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "32934000-8034-434a-bc72-1b02326d76f9", "name": "Neuron 2 - Input 2", "type": "n8n-nodes-base.set", "position": [-784, 544], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "7a5c6776-8f5e-4017-a3f0-404b23fd0650", "name": "value", "type": "number", "value": "={{ $json.number_rooms }} "}, {"id": "ef6df643-2fdd-4ec8-9085-24da70e83e97", "name": "weight", "type": "number", "value": 425.43658}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "62958857-7634-4fe9-9a09-18c527d00911", "name": "Neuron 2 - Input 3", "type": "n8n-nodes-base.set", "position": [-784, 736], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "09d7daeb-71b9-4929-92e0-6057ef2fdad7", "name": "value", "type": "number", "value": "={{ $json.age_in_years }}"}, {"id": "8a6ff4d4-b584-454c-8bc0-96485485df10", "name": "weight", "type": "number", "value": -18.90951}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "852b1745-d1b6-491c-858e-581d9dff4484", "name": "Neuron 1 - Weighted Sum", "type": "n8n-nodes-base.code", "position": [-160, -176], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "var weighted_sum = 0;\n\nfor (let weighted_value of $input.all().map(x => x.json.weighted_value)){\n  weighted_sum += weighted_value;\n}\n\nreturn { weighted_sum };", "notice": ""}, "typeVersion": 2}, {"id": "989406fa-33c4-4436-92e6-0c9d512a2820", "name": "Neuron 1 - Bias", "type": "n8n-nodes-base.set", "position": [48, -176], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "6a3afbb7-3509-4886-85e2-f41476641ffa", "name": "logit", "type": "number", "value": "={{ $json.weighted_sum + 84.52918 }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "de517d57-ac9d-4d70-a1e6-87fa779713ab", "name": "Neuron 2 - Input 1 - Weight", "type": "n8n-nodes-base.set", "position": [-576, 352], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "353afcc4-9827-4e3a-b637-c50051b5ce3e", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "f8cb4316-d5ec-4f65-91e0-3aa0fcf44fbe", "name": "Neuron 2 - Input 4 - Weight", "type": "n8n-nodes-base.set", "position": [-576, 928], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "353afcc4-9827-4e3a-b637-c50051b5ce3e", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "d0d224a3-5a31-4a70-ae4a-d98a01c57f28", "name": "Neuron 2 - Weighted Sum", "type": "n8n-nodes-base.code", "position": [-160, 624], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "var weighted_sum = 0;\n\nfor (let weighted_value of $input.all().map(x => x.json.weighted_value)){\n  weighted_sum += weighted_value;\n}\n\nreturn { weighted_sum };", "notice": ""}, "typeVersion": 2}, {"id": "f50b787d-3064-44a3-98aa-24fd5b306e33", "name": "Neuron 2 - Bias", "type": "n8n-nodes-base.set", "position": [48, 624], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "6a3afbb7-3509-4886-85e2-f41476641ffa", "name": "logit", "type": "number", "value": "={{ $json.weighted_sum + 94.53608 }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "589886a2-e598-44ce-bf8a-9b6d7a8f319d", "name": "Neuron 1 - ReLU", "type": "n8n-nodes-base.set", "position": [256, -176], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "de48b27b-3e2d-4a22-9f9e-c3fbe493de45", "name": "output", "type": "string", "value": "={{ $json.logit > 0 ? $json.logit : 0 }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "939d913c-a348-4468-a170-4b1effe21434", "name": "Neuron 2 - ReLU", "type": "n8n-nodes-base.set", "position": [256, 624], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "de48b27b-3e2d-4a22-9f9e-c3fbe493de45", "name": "output", "type": "string", "value": "={{ $json.logit > 0 ? $json.logit : 0 }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "faf260b6-d94c-4236-a2f6-376216e58bb0", "name": "Neuron 2- Input 4", "type": "n8n-nodes-base.set", "position": [-784, 928], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "1a9d549a-6f99-478e-ac05-fb8f8e2f8195", "name": "value", "type": "number", "value": "={{ $json.distance_to_city_in_km }}"}, {"id": "ef42f8f2-1769-4bd8-a1f1-6160994c2014", "name": "weight", "type": "number", "value": -105.73043}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "2c20a4d7-9470-4148-b0d0-f1bf4d44461a", "name": "Neuron 2- Input 3 - Weight", "type": "n8n-nodes-base.set", "position": [-576, 736], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "353afcc4-9827-4e3a-b637-c50051b5ce3e", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "6ffacd14-0097-4bbf-a811-a35d5ef68f57", "name": "Neuron 2 - Input 2- Weight", "type": "n8n-nodes-base.set", "position": [-576, 544], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "353afcc4-9827-4e3a-b637-c50051b5ce3e", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "23dbff6b-7f73-4e61-b4aa-32a2725fb328", "name": "Output - Neuron 1", "type": "n8n-nodes-base.set", "position": [832, 144], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "166934c2-4f96-47ea-9d1a-f1693c0b931f", "name": "value", "type": "string", "value": "={{ $json.output }}"}, {"id": "de435137-9328-46dd-99f9-1d83ab8f2521", "name": "weight", "type": "number", "value": 23.246952}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "f3db9b32-44f9-4b56-954d-1ae4c0142c3c", "name": "Output - Neuron 2", "type": "n8n-nodes-base.set", "position": [832, 320], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "1e6bafd4-4642-4a70-b779-be37865b573f", "name": "value", "type": "string", "value": "={{ $json.output }}"}, {"id": "de160fe4-95e3-44e0-a3c0-989baf884b4f", "name": "weight", "type": "number", "value": 24.472496}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "aab7d6fd-896d-42cc-8ddb-120543acab37", "name": "Output - Neuron 1 - Weight", "type": "n8n-nodes-base.set", "position": [1040, 144], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "62d27b94-20ec-4565-870e-f54f03e46dbf", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "2c79c983-b05d-4a30-a4e4-786950424f55", "name": "Output - Neuron 2 - Weight", "type": "n8n-nodes-base.set", "position": [1040, 320], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "62d27b94-20ec-4565-870e-f54f03e46dbf", "name": "weighted_value", "type": "number", "value": "={{ $json.value *  $json.weight }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}, {"id": "96989ebc-ff71-4345-aa6f-5cf2a5381722", "name": "Output - Weighted Sum", "type": "n8n-nodes-base.code", "position": [1456, 224], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "var weighted_sum = 0;\n\nfor (let weighted_value of $input.all().map(x => x.json.weighted_value)){\n  weighted_sum += weighted_value;\n}\n\nreturn { weighted_sum };", "notice": ""}, "typeVersion": 2}, {"id": "c669c02a-aa12-4350-9b22-f55eb4856e79", "name": "Output - Bias", "type": "n8n-nodes-base.set", "position": [1664, 224], "parameters": {"mode": "manual", "duplicateItem": false, "assignments": {"assignments": [{"id": "6a3afbb7-3509-4886-85e2-f41476641ffa", "name": "output", "type": "number", "value": "={{ $json.weighted_sum + 38.705364 }}"}]}, "includeOtherFields": false, "options": {}}, "typeVersion": 3.4}], "connections": {"Age": {"main": [[{"node": "Neuron 1 - Input 3", "type": "main", "index": 0}, {"node": "Neuron 2 - Input 3", "type": "main", "index": 0}]]}, "Merge 1": {"main": [[{"node": "Neuron 1 - Weighted Sum", "type": "main", "index": 0}]]}, "Merge 2": {"main": [[{"node": "Neuron 2 - Weighted Sum", "type": "main", "index": 0}]]}, "Webhook": {"main": [[{"node": "Distance to City", "type": "main", "index": 0}, {"node": "Age", "type": "main", "index": 0}, {"node": "Number of Rooms", "type": "main", "index": 0}, {"node": "Square Feet", "type": "main", "index": 0}]]}, "Square Feet": {"main": [[{"node": "Neuron 1 - Input 1", "type": "main", "index": 0}, {"node": "Neuron 2 - Input 1", "type": "main", "index": 0}]]}, "Output Merge": {"main": [[{"node": "Output - Weighted Sum", "type": "main", "index": 0}]]}, "Output - Bias": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}, "Neuron 1 - Bias": {"main": [[{"node": "Neuron 1 - ReLU", "type": "main", "index": 0}]]}, "Neuron 1 - ReLU": {"main": [[{"node": "Output - Neuron 1", "type": "main", "index": 0}]]}, "Neuron 2 - Bias": {"main": [[{"node": "Neuron 2 - ReLU", "type": "main", "index": 0}]]}, "Neuron 2 - ReLU": {"main": [[{"node": "Output - Neuron 2", "type": "main", "index": 0}]]}, "Number of Rooms": {"main": [[{"node": "Neuron 1 - Input 2", "type": "main", "index": 0}, {"node": "Neuron 2 - Input 2", "type": "main", "index": 0}]]}, "Distance to City": {"main": [[{"node": "Neuron 1 - Input 4", "type": "main", "index": 0}, {"node": "Neuron 2- Input 4", "type": "main", "index": 0}]]}, "Neuron 2- Input 4": {"main": [[{"node": "Neuron 2 - Input 4 - Weight", "type": "main", "index": 0}]]}, "Output - Neuron 1": {"main": [[{"node": "Output - Neuron 1 - Weight", "type": "main", "index": 0}]]}, "Output - Neuron 2": {"main": [[{"node": "Output - Neuron 2 - Weight", "type": "main", "index": 0}]]}, "Neuron 1 - Input 1": {"main": [[{"node": "Neuron 1 - Input 1 - Weight", "type": "main", "index": 0}]]}, "Neuron 1 - Input 2": {"main": [[{"node": "Neuron 1 - Input 2- Weight", "type": "main", "index": 0}]]}, "Neuron 1 - Input 3": {"main": [[{"node": "Neuron 1 - Input 3 - Weight", "type": "main", "index": 0}]]}, "Neuron 1 - Input 4": {"main": [[{"node": "Neuron 1 - Input 4 - Weight", "type": "main", "index": 0}]]}, "Neuron 2 - Input 1": {"main": [[{"node": "Neuron 2 - Input 1 - Weight", "type": "main", "index": 0}]]}, "Neuron 2 - Input 2": {"main": [[{"node": "Neuron 2 - Input 2- Weight", "type": "main", "index": 0}]]}, "Neuron 2 - Input 3": {"main": [[{"node": "Neuron 2- Input 3 - Weight", "type": "main", "index": 0}]]}, "Output - Weighted Sum": {"main": [[{"node": "Output - Bias", "type": "main", "index": 0}]]}, "Neuron 1 - Weighted Sum": {"main": [[{"node": "Neuron 1 - Bias", "type": "main", "index": 0}]]}, "Neuron 2 - Weighted Sum": {"main": [[{"node": "Neuron 2 - Bias", "type": "main", "index": 0}]]}, "Neuron 1 - Input 2- Weight": {"main": [[{"node": "Merge 1", "type": "main", "index": 1}]]}, "Neuron 2 - Input 2- Weight": {"main": [[{"node": "Merge 2", "type": "main", "index": 1}]]}, "Neuron 2- Input 3 - Weight": {"main": [[{"node": "Merge 2", "type": "main", "index": 2}]]}, "Output - Neuron 1 - Weight": {"main": [[{"node": "Output Merge", "type": "main", "index": 0}]]}, "Output - Neuron 2 - Weight": {"main": [[{"node": "Output Merge", "type": "main", "index": 1}]]}, "Neuron 1 - Input 1 - Weight": {"main": [[{"node": "Merge 1", "type": "main", "index": 0}]]}, "Neuron 1 - Input 3 - Weight": {"main": [[{"node": "Merge 1", "type": "main", "index": 2}]]}, "Neuron 1 - Input 4 - Weight": {"main": [[{"node": "Merge 1", "type": "main", "index": 3}]]}, "Neuron 2 - Input 1 - Weight": {"main": [[{"node": "Merge 2", "type": "main", "index": 0}]]}, "Neuron 2 - Input 4 - Weight": {"main": [[{"node": "Merge 2", "type": "main", "index": 3}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/03647-Predict-housing-prices-with-a-simple-neural-network.json"}