eval/data/realworld/rw_c16cbf8d15.json
{"id": "49", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:11.131Z", "startedAt": "2026-07-16T06:58:11.136Z", "stoppedAt": "2026-07-16T06:58:11.196Z", "deletedAt": null, "workflowId": "tNyKW4PFIeMjZui3", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 9731, "binaryDataSizeBytes": 0, "workflowVersionId": "edc6910c-1734-4d1b-8b8d-ab01aeb63d5b", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Webhook": [{"startTime": 1784185091147, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Using Public Cert": [{"startTime": 1784185091148, "executionIndex": 1, "source": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 43, "executionStatus": "success", "data": {"main": [[], [{"json": {"error": "Module 'jsonwebtoken' is disallowed [line 1]"}, "pairedItem": {"item": 0}}]]}}], "401 Unauthorized1": [{"startTime": 1784185091192, "executionIndex": 2, "source": [{"previousNode": "Using Public Cert", "previousNodeOutput": 1, "previousNodeRun": 0}], "hints": [], "executionTime": 2, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "401 Unauthorized1"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185091144, "source": "manual", "triggerNode": {"name": "Webhook", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/llVrGWOZTBpv4zNiivV0vKnlc63R2RxsNJXvFYOjS4Wl97nn7FGZPqEhYm8eUl/4Nc9T/2PEboSkOWK5dC6dGkx+NJYa0DsjQgQgavu/R6iw5WbUh4EVKydIBg9JFNHlImnmOS6WIrLoYESoiCXWRS9/jGTbA15lLSbrGIFdynf1DoTcuZ5iwgy4WBlsS9sl9WhLbc4XwAqk/Y7awtglIqmgjxrYJk7xpGOoV8KFY0ZbC2ghF0A1d9PDTRt+Fqx6mVKByYAyCEPO5yJcGelom/gQ5nKjEYTr2NT37OJA03RihB/8vxLRpP5aua4sSNnn1EAv2C9fxy2V7qUgv/QnRFVxagfevmqeJZDBcp9kjFcKAEphile8C204cVG5X6ICb+eAaG9EJY6TByK2yse93QTQcQORNeto="}}, "resumeToken": "c252c081b2b55847c8c83379165fc84c905fda90c0bcd2ac44c7b49b46474d7f"}, "workflowData": {"id": "tNyKW4PFIeMjZui3", "name": "rw_c16cbf8d15", "nodes": [{"id": "2939d06d-d135-4ab4-9ec0-e4864b798df3", "name": "Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [-100, 640], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "0c25066d-57eb-4511-94d8-77914f7377ef", "name": "Using JWK-RSA", "type": "n8n-nodes-base.code", "onError": "continueErrorOutput", "position": [120, 120], "parameters": {"mode": "runOnceForEachItem", "language": "javaScript", "jsCode": "const jwt = require('jsonwebtoken');\nconst jwksClient = require('jwks-rsa');\n\nconst client = jwksClient({\n  jwksUri: 'https://dev-abcdef.us.auth0.com/.well-known/jwks.json',\n});\n\nconst config = {\n  audience: 'https://dev-abcdef.us.auth0.com/api/v2/',\n  issuer: 'https://dev-abcdef.us.auth0.com/',\n  algorithms: ['RS256'],\n};\n\nfunction getKey(header, callback) {\n  client.getSigningKey(header.kid, (err, key) => {\n    if (err) return callback(err);\n    callback(null, key.getPublicKey());\n  });\n}\n\nfunction verifyToken(token) {\n  return new Promise((res,rej) => {\n    jwt.verify(\n      token,\n      getKey,\n      config,\n      (err, decoded) => {\n        if (err) {\n          rej('invalid token');\n        } else {\n          res(decoded);\n        }\n      }\n    );\n  });\n}\n\nconst [_, token] = $json.headers.Authorization.split(' ');\nconst payload = await verifyToken(token);\nreturn {\n  ...$input.item.json,\n  jwtPayload: payload\n};\n", "notice": ""}, "executeOnce": false, "typeVersion": 2}, {"id": "267a3136-cbf1-4567-b203-863bdbc736f5", "name": "401 Unauthorized", "type": "n8n-nodes-base.manualTrigger", "position": [400, 220], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "d191045f-0897-46d3-8262-10f14c35d924", "name": "Using Public Cert", "type": "n8n-nodes-base.code", "onError": "continueErrorOutput", "position": [120, 640], "parameters": {"mode": "runOnceForEachItem", "language": "javaScript", "jsCode": "const jwt = require('jsonwebtoken');\n\nconst config = {\n  audience: 'https://dev-abcdef.us.auth0.com/api/v2/',\n  issuer: 'https://dev-abcdef.us.auth0.com/',\n  algorithms: ['RS256'],\n};\n\n// Signing Cert can be found via\n// applications > settings > advanced settings > certificates\nconst cert = `-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----`;\n\nconst [_, token] = $json.headers.Authorization.split(' ');\n\ntry {\n  const payload = jwt.verify(token, cert, config);\n  return {\n    ...$input.item.json,\n    jwtPayload: payload\n  }\n} catch (e) {\n  throw new Error('Invalid Token!');\n}", "notice": ""}, "typeVersion": 2}, {"id": "81ed6596-dc8e-4e0c-8de3-e73ad9c4b3c3", "name": "401 Unauthorized1", "type": "n8n-nodes-base.manualTrigger", "position": [400, 740], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "6725156d-8d92-4bf6-a0a4-985173d60155", "name": "Webhook1", "type": "n8n-nodes-base.manualTrigger", "position": [-100, 120], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "cbbdae78-6827-43df-a5bc-44a4039eb95e", "name": "Continue with Request", "type": "n8n-nodes-base.noOp", "position": [400, 20], "parameters": {}, "typeVersion": 1}, {"id": "1624c7d1-1dc7-4ee9-bae6-b13cd67bbdf6", "name": "Continue with Request1", "type": "n8n-nodes-base.noOp", "position": [400, 540], "parameters": {}, "typeVersion": 1}, {"id": "93e19396-3126-4657-a190-95aa65dd6a60", "name": "200 OK", "type": "n8n-nodes-base.manualTrigger", "position": [620, 20], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "f819e2d8-8718-43d1-b0b6-b668bb74013c", "name": "200 OK1", "type": "n8n-nodes-base.manualTrigger", "position": [620, 540], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "11efede9-4f16-4d90-85ab-facbda2d97c4", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-320, -160], "parameters": {"content": "## 1. Validate Auth0 tokens using JWKS URI\n**How to Use**\n* Only applicable for self-hosted n8n\n* Install JWK-RSA into your environment: `npm i -g jwk-rsa`\n* Ensure env var is set: `NODE_FUNCTION_ALLOW_EXTERNAL=*`\n* Edit \"Using JWK-RSA\" to add your Auth0 JWKS URI, Issue and Audience.\n\n\n**You can find your JWKS URI here: Applications > Settings > Advanced Settings > Endpoints**", "height": 240, "width": 540, "color": 7}, "typeVersion": 1}, {"id": "25dfb1dc-afb1-43b1-ad00-136454ef321b", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [-320, 360], "parameters": {"content": "## 2. Validate Auth0 tokens using Signing Cert\n**How to Use**\n* Only applicable for self-hosted n8n\n* Ensure env var is set: `NODE_FUNCTION_ALLOW_EXTERNAL=*`\n* Edit \"Using Public Cert\" to add your Auth0 Public Signing Cert, Issue and Audience.\n\n\n**You can find your Public Signing Cert here: Applications > Settings > Advanced Settings > Certificates**", "height": 240, "width": 540, "color": 7}, "typeVersion": 1}, {"id": "fdb77df6-fcb6-47f9-896d-1f12222575d1", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [-820, -420], "parameters": {"content": "## Try It Out\n### This n8n template shows how to validate API requests with Auth0 Authorization tokens.\n\nAuth0 doesn't work with the standard JWT auth option because:\n1) Auth0 tokens use the RS256 algorithm.\n2) RS256 JWT credentials in n8n require the user to use private and public keys and not secret phrase.\n3) Auth0 does not give you access to your Auth0 instance private keys.\n\n\nThe solution is to handle JWT validation after the webhook is received using the code node.\n\n### How it works\n* There are 2 approaches to validate Auth0 tokens: using your application's JWKS file or using your signing cert.\n* Both solutions uses the code node to access nodeJS libraries to verify the token.\n* **JWKS**: the `JWK-RSA` library is used to validate the application's JWKS URI hosted on Auth0\n* **Signing Cert**: the application's signing cert is imported into the workflow and used to verify token.\n* In both cases, when the token is found to be invalid, an error is thrown. However, as we can use error outputs for the code node, the error does not stop the workflow and instead is redirected to a 401 unauthorized webhook response.\n* When token is validated, the webhook response is forwarded on the success branch and the token decoded payload is attached.\n\n### How to use\n* Follow the instructions as stated in each scenario's sticky notes.\n* Modify the Auth0 details with that of your application and Auth0 instance.\n\n### Requirements\n* Self-hosted community edition of n8n\n* Ability to install npm packages\n* Auth0 application and some way to get either the JWK url or signing cert.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!", "height": 1120, "width": 400, "color": 1}, "typeVersion": 1}, {"id": "35fb0df0-e871-44b1-b164-511d30a49bbb", "name": "Sticky Note3", "type": "n8n-nodes-base.stickyNote", "position": [-820, 720], "parameters": {"content": "### SELF-HOSTED ONLY\nThis template requires third party dependencies which can only be installed using the community self-hosted version of n8n. This template, unfortunately, will not work on n8n cloud.", "height": 140, "width": 400, "color": 3}, "typeVersion": 1}], "connections": {"Webhook": {"main": [[{"node": "Using Public Cert", "type": "main", "index": 0}]]}, "Webhook1": {"main": [[{"node": "Using JWK-RSA", "type": "main", "index": 0}]]}, "Using JWK-RSA": {"main": [[{"node": "Continue with Request", "type": "main", "index": 0}], [{"node": "401 Unauthorized", "type": "main", "index": 0}]]}, "Using Public Cert": {"main": [[{"node": "Continue with Request1", "type": "main", "index": 0}], [{"node": "401 Unauthorized1", "type": "main", "index": 0}]]}, "Continue with Request": {"main": [[{"node": "200 OK", "type": "main", "index": 0}]]}, "Continue with Request1": {"main": [[{"node": "200 OK1", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/04846-Validate-Auth0-JWT-tokens-using-JWKS-or-signing-cert.json"}