eval/data/realworld/rw_c2b28b4ad9.json
{"id": "28", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:37.807Z", "startedAt": "2026-07-16T06:57:37.809Z", "stoppedAt": "2026-07-16T06:57:37.823Z", "deletedAt": null, "workflowId": "xHaooJGic5BUsevd", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 2377, "binaryDataSizeBytes": 0, "workflowVersionId": "fc56de14-304a-4f6c-9276-7bd21b16a496", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185057821, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Date & Time": [{"startTime": 1784185057822, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"data": "02/14/2020"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Date & Time"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185057820, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19dspWqaO2z7B1KMDkz2KIum4V+CrqdxpOxiMKyr0j5tqUhcXunRv8e3EdvIwNgVpE+g3qtBGnJWiTW+XCKemOzxmFObyXR2DMdMJQizXszV31sqoJaBdVPL4RvIlv+ZNScmKUpwLkKVhs6qE+fPAHpX1RL4VVlxA2ZkZWFNjwFQj/EvZqDirTwdjLmMhBhIAPseWcACzqzE28UixkDTQXhcn30Gc82naf1Tx4fCy/GFwO3TfFHdugfUJoFY7mZYskj3c+AhmulU9EGoM6iBFfa4OdtJVxavzgr8xRMc0qDncutkDU4RfAiBh9h7Fy6RHm/w8oG07s/bv/I5UVHeR2A7WsujHe5QO2dJP3jfzHlxB5hyaW3XhhhxYrq0lDkpdkdTF4OVerSpOR/3jmYRICOS5UZQ9NelU4="}}, "resumeToken": "ff649cdcbe8f33285fdec729f68cf91ff3ab594a8cfe30b0693c4f2991f5be4e"}, "workflowData": {"id": "xHaooJGic5BUsevd", "name": "rw_c2b28b4ad9", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "367490bb-11e3-4345-9414-baa251cf711b"}, {"name": "Date & Time", "type": "n8n-nodes-base.dateTime", "position": [450, 300], "parameters": {"noticeDateTime": "", "action": "format", "value": "14/02/2020", "dataPropertyName": "data", "custom": false, "toFormat": "MM/DD/YYYY", "options": {"fromFormat": "DD/MM/YYYY"}}, "typeVersion": 1, "id": "743e2794-b975-4b5e-923a-a2f032bfd2b4"}], "connections": {"On clicking 'execute'": {"main": [[{"node": "Date & Time", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00607-manual-execute-date.json"}