eval/data/realworld/rw_c84ade1960.json
{"id": "13", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:12.604Z", "startedAt": "2026-07-16T06:57:12.608Z", "stoppedAt": "2026-07-16T06:57:12.614Z", "deletedAt": null, "workflowId": "NV55qrzW0EQdh3J5", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 2453, "binaryDataSizeBytes": 0, "workflowVersionId": "808ff900-b096-44c5-8e3e-21073f37a1cb", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Respond to Webhook": [{"startTime": 1784185032614, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Respond to Webhook"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185032612, "source": "manual", "triggerNode": {"name": "Respond to Webhook", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+oUEOYJQC+P1BcmlxUhKeLV0fPodohPvZDdiJXGWnW5diuDL+RMJvJRHABWM+Q96zvQS0ehIz5dokgIdjC3347KO1VRkb6/rsCtjmVrB2yR8dMAN13f+xLDXNPpx/kcRQxb2Nla287CFGPMgiEVQKPmBeDQHX9wcrVxaB0B+g+TNqHbHBOm7CCyctkMWTT3dnBQsQNVPuiKpvznVawqluqmLRfAwRZrwn1YO/Mp1stf7qYtLMkVN1ehzTrGwtDDJH+IUG7F8hQHJSXaE+QqaePi67pFnesnX9o0uM1uAVO5Y4vbBn/EdTwhVMRNs9EzZImFORNczUkjrD4VfupOJk8AyLwzxFDrABLoKer2+uJhD9fSXjpNgDKRFZPKCCg2nVCrR9D36FBaNYvexGnhpUd/BBBETDyMjY="}}, "resumeToken": "abbabea9c7164815056a3c821f6f4b638b0c85bd2f09aa8fe69b9aeff55ceb8f"}, "workflowData": {"id": "NV55qrzW0EQdh3J5", "name": "rw_c84ade1960", "nodes": [{"id": "302c87d4-2c92-40a0-9a77-cef4ddd7db6d", "name": "XML", "type": "n8n-nodes-base.xml", "position": [840, 440], "parameters": {"mode": "jsonToxml", "dataPropertyName": "data", "options": {}}, "typeVersion": 1}, {"id": "88ba5ee7-4788-452f-9d64-bf192fe90e5f", "name": "Set", "type": "n8n-nodes-base.set", "position": [660, 440], "parameters": {"keepOnlySet": true, "values": {"number": [{"name": "number", "value": 1}], "string": [{"name": "string", "value": "my text"}]}, "options": {}}, "typeVersion": 1}, {"id": "6cda9dc3-0fdd-4f3a-aecf-0ff0efd28c33", "name": "Respond to Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [1020, 440], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "94644433-fb9b-4532-81d2-d9673eb6e15e", "name": "Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [480, 440], "parameters": {"notice": ""}, "typeVersion": 1}], "connections": {"Set": {"main": [[{"node": "XML", "type": "main", "index": 0}]]}, "XML": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}, "Webhook": {"main": [[{"node": "Set", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00077-conversor-json-a-xml.json"}