eval/data/realworld/rw_d36367cfcc.json
{"id": "34", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:47.625Z", "startedAt": "2026-07-16T06:57:47.633Z", "stoppedAt": "2026-07-16T06:57:47.674Z", "deletedAt": null, "workflowId": "2eJLfBeSXjs8IQDj", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 8227, "binaryDataSizeBytes": 0, "workflowVersionId": "da281b4e-9c62-4624-b8e1-a55d7980d538", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185067645, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185067646, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 11, "executionStatus": "success", "data": {"main": [[{"json": {"i": 0}, "pairedItem": {"item": 0}}, {"json": {"i": 1}, "pairedItem": {"item": 0}}, {"json": {"i": 2}, "pairedItem": {"item": 0}}, {"json": {"i": 3}, "pairedItem": {"item": 0}}, {"json": {"i": 4}, "pairedItem": {"item": 0}}, {"json": {"i": 5}, "pairedItem": {"item": 0}}, {"json": {"i": 6}, "pairedItem": {"item": 0}}, {"json": {"i": 7}, "pairedItem": {"item": 0}}, {"json": {"i": 8}, "pairedItem": {"item": 0}}, {"json": {"i": 9}, "pairedItem": {"item": 0}}]]}}], "SplitInBatches": [{"startTime": 1784185067658, "executionIndex": 2, "source": [{"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 4, "executionStatus": "success", "data": {"main": [[{"json": {"i": 0}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185067669, "executionIndex": 4, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 1}, "pairedItem": {"item": 1, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185067670, "executionIndex": 6, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 1}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 2}, "pairedItem": {"item": 2, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185067671, "executionIndex": 8, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 2}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 3}, "pairedItem": {"item": 3, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185067672, "executionIndex": 10, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 3}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"i": 4}, "pairedItem": {"item": 4, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185067673, "executionIndex": 12, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 4}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"i": 5}, "pairedItem": {"item": 5, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}], "IF": [{"startTime": 1784185067662, "executionIndex": 3, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 7, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 0}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185067670, "executionIndex": 5, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 1}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 1}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185067671, "executionIndex": 7, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 2}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 2}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185067672, "executionIndex": 9, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 3}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 3}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185067673, "executionIndex": 11, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 4}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 4}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185067673, "executionIndex": 13, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 5}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 5}, "pairedItem": {"item": 0}}], []]}}], "Set": [{"startTime": 1784185067674, "executionIndex": 14, "source": [{"previousNode": "IF", "previousNodeOutput": 0, "previousNodeRun": 5}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"Message": "Loop Ended"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Set"}, "executionData": {"contextData": {"node:SplitInBatches": {"currentRunIndex": 5, "maxRunIndex": 10, "sourceData": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}, "items": [{"json": {"i": 6}, "pairedItem": {"item": 6}}, {"json": {"i": 7}, "pairedItem": {"item": 7}}, {"json": {"i": 8}, "pairedItem": {"item": 8}}, {"json": {"i": 9}, "pairedItem": {"item": 9}}], "noItemsLeft": false}}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185067641, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX18qU4mxaXXfXXtAs6Ncagh6LK6FPLV4Df6kAHtB+LhFQxziaw5wZxx2S3NJuG2SlYm6Mq5ZamWc0vjQkQJzVTzTIJHzRg4QyWRuExJi5gTz0kuURlKxskAz/KJnlqhD+MxyPYnABcLsIZTrwePsyTOXKgavYdH1eD86H8I/WxgtJQiLWPQAzDmVw1CxI1EuTDkAly6nhNrjs525DFq3cY9JxdKw2mb0UUs/RR7vx0irhtQq755xubRrx8z8vNbGT5CLe89IKdGXGIBBh7OoOZ+ZKJyeNBRl+FOyjQFjlXLJTXW8WYrzlPoml13rnhC4YPyn89ezkDJFU+q4ATl/sX+3vLdNgnkzaxS+ajIv+lDMpihbgQOLXwg7pEQm2R9BLpEq+jyfkipEn+eouJx+T/T/NLXaqPNKPlA="}}, "resumeToken": "0a16c97b2e762cccdcf1a04199657063d0b474a3f1b3d114de0818501ba2209a"}, "workflowData": {"id": "2eJLfBeSXjs8IQDj", "name": "rw_d36367cfcc", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [430, 310], "parameters": {"notice": ""}, "typeVersion": 1, "id": "73055537-4e88-46f5-a01f-647400bc1994"}, {"name": "Function", "type": "n8n-nodes-base.function", "position": [630, 310], "parameters": {"notice": "", "functionCode": "const newItems = [];\n\nfor (let i=0;i<10;i++) {\n  newItems.push({json:{i}});\n}\n\nreturn newItems;"}, "typeVersion": 1, "id": "e067e1d8-71a3-46aa-aed7-eaddc49f66e3"}, {"name": "SplitInBatches", "type": "n8n-nodes-base.splitInBatches", "position": [830, 310], "parameters": {"splitInBatchesNotice": "", "batchSize": 1, "options": {}}, "typeVersion": 1, "id": "a59d649d-aa24-4821-8efe-4bde3958ec2d"}, {"name": "IF", "type": "n8n-nodes-base.if", "position": [1030, 460], "parameters": {"conditions": {"number": [{"value1": "={{$node[\"SplitInBatches\"].context[\"currentRunIndex\"];}}", "operation": "equal", "value2": 5}], "boolean": []}, "combineOperation": "all"}, "typeVersion": 1, "id": "6e4f728f-64e2-4856-b11b-7bf58fc5b0e1"}, {"name": "Set", "type": "n8n-nodes-base.set", "position": [1230, 360], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "Message", "value": "Loop Ended"}]}, "options": {}}, "typeVersion": 1, "id": "2019aba6-4bd8-4b8f-9c41-088cf52fad25"}], "connections": {"IF": {"main": [[{"node": "Set", "type": "main", "index": 0}], [{"node": "SplitInBatches", "type": "main", "index": 0}]]}, "Function": {"main": [[{"node": "SplitInBatches", "type": "main", "index": 0}]]}, "SplitInBatches": {"main": [[{"node": "IF", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00767-split-batch-test.json"}