eval/data/realworld/rw_d24c1d0d31.json
{"id": "60", "finished": false, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "error", "createdAt": "2026-07-16T06:58:31.152Z", "startedAt": "2026-07-16T06:58:31.157Z", "stoppedAt": "2026-07-16T06:58:31.178Z", "deletedAt": null, "workflowId": "6XXuVvKmzXuuZ2Au", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 10918, "binaryDataSizeBytes": 0, "workflowVersionId": "ab3a155e-d762-4015-b98f-25d793668428", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"error": {"level": "info", "shouldReport": false, "tags": {}, "generatedMessage": false, "code": "ERR_ASSERTION", "actual": "", "expected": true, "operator": "==", "diff": "simple", "message": "Unknown error", "stack": "Error: Unknown error\n    at throwExecutionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/throw-execution-error.ts:11:9)\n    at JsTaskRunnerSandbox.runCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/JsTaskRunnerSandbox.ts:46:23)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:215:8)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}, "runData": {"Receive Signal (POST)": [{"startTime": 1784185111166, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Store Signal": [{"startTime": 1784185111166, "executionIndex": 1, "source": [{"previousNode": "Receive Signal (POST)", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 11, "executionStatus": "error", "error": {"level": "info", "shouldReport": false, "tags": {}, "generatedMessage": false, "code": "ERR_ASSERTION", "actual": "", "expected": true, "operator": "==", "diff": "simple", "message": "Unknown error", "stack": "Error: Unknown error\n    at throwExecutionError (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/throw-execution-error.ts:11:9)\n    at JsTaskRunnerSandbox.runCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/JsTaskRunnerSandbox.ts:46:23)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@opentelemetry+api@1.9.0_@opentelemetry+exporte_533cec94887d6989e678f9206e9f2eff/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:215:8)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1080:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1380:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1842:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2534:11"}}]}, "pinData": null, "lastNodeExecuted": "Store Signal"}, "executionData": {"contextData": {}, "nodeExecutionStack": [{"node": {"id": "ce4b5329-3860-4096-8d79-c59dd9950997", "name": "Store Signal", "type": "n8n-nodes-base.code", "position": [96, 32], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}, "source": {"main": [{"previousNode": "Receive Signal (POST)", "previousNodeOutput": 0, "previousNodeRun": 0}]}}], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185111164, "source": "manual", "triggerNode": {"name": "Receive Signal (POST)", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+6Epf6M9FurryzDleagdJxvk8lCL+TlSlYlBDUU88cAj0kGXGhRycSCR31bKIYY7QB/dPkyLy9jgm1yszWpqJnbG7+2xErFPOYo7nmRUhVCyDoH/sDUqfbK3X3CSMqqhvmIcM4PjjUur8fzfovvsO32GvA+nIVXl4hdoN0BgULqBzrC94Qx/27TlomyHaga9qdiKpzbty2cKtRqbMmJtoKYcxRP3zzael/eCBht2Bvx5I9OS6LHm9kKrQ8xevArtBQvaQY3KhWScsQmtj+CTogeQ4FmEqhvM4MavnH4VhRO4nTt1tYXwWgF7D6dGHNiFzPCE4xWYo6V2CVg/gryEUU5cN29Xtvinp0pMjT30PNYCyzOM/j+pl67sse7kCXayG2ZSKGX2g9jWR4O1Ebn06bq8H558PbKhc="}}, "resumeToken": "880c3f9ea6ac34ba2898c313d6931db938c4bba871d50e93f1aab08c887b8be8"}, "workflowData": {"id": "6XXuVvKmzXuuZ2Au", "name": "rw_d24c1d0d31", "nodes": [{"id": "66179924-dd72-44fe-af4f-8f05890210b1", "name": "Receive Signal (POST)", "type": "n8n-nodes-base.manualTrigger", "position": [-128, 32], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "ce4b5329-3860-4096-8d79-c59dd9950997", "name": "Store Signal", "type": "n8n-nodes-base.code", "position": [96, 32], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, {"id": "7a126bb5-653a-4c6b-9e0b-5c6c927419cb", "name": "Respond to POST", "type": "n8n-nodes-base.manualTrigger", "position": [320, 32], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "bd231a9c-304a-4645-b536-dcbf48d2b286", "name": "Get Pending Signals (GET)", "type": "n8n-nodes-base.manualTrigger", "position": [-128, 272], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "0210adb8-ea97-46c5-af50-26da913bf7c8", "name": "Fetch Pending Signals", "type": "n8n-nodes-base.code", "position": [96, 272], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, {"id": "c409ec63-ea5d-4012-b529-b25b8e766fbf", "name": "Return Signals", "type": "n8n-nodes-base.manualTrigger", "position": [320, 272], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "d7b4e851-6970-402d-9f76-9b94a80db020", "name": "Confirm Signal Processed (POST)", "type": "n8n-nodes-base.manualTrigger", "position": [-128, 528], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "73f15ad9-dbb5-4014-97ba-5ff293904b3f", "name": "Mark as Processed", "type": "n8n-nodes-base.code", "position": [96, 528], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, {"id": "1a426e0a-b6a8-465f-9ed5-bba629b6a168", "name": "Confirm Response", "type": "n8n-nodes-base.manualTrigger", "position": [320, 528], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "d0e90503-6907-421e-bd6f-68ac90e06abd", "name": "clear all signals", "type": "n8n-nodes-base.code", "position": [96, 1296], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, {"id": "07312f36-c86f-4c23-a843-91cfddb148c5", "name": "Clear all signals (POST)", "type": "n8n-nodes-base.manualTrigger", "position": [-128, 1296], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "2d3ca391-1c25-4344-8efd-d73fcbc09df0", "name": "Market Order (POST)", "type": "n8n-nodes-base.manualTrigger", "position": [-128, 800], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "6e7ddcfc-1c3e-41b3-9331-093c4bc1dca2", "name": "market order code", "type": "n8n-nodes-base.code", "position": [96, 800], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, {"id": "ffaa4024-5e5a-43cd-a799-ed53e4b3c6b9", "name": "Respond to Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [320, 800], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "9bd50800-9b98-424f-b172-77843be8bd74", "name": "Limit Order (POST)", "type": "n8n-nodes-base.manualTrigger", "position": [-128, 1040], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "cae93806-72ea-48c8-95bd-8b8f76e15553", "name": "limit order code", "type": "n8n-nodes-base.code", "position": [96, 1040], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "", "notice": ""}, "typeVersion": 2}, {"id": "529bdc52-8e79-4d54-bc9f-3fd2dddc65a8", "name": "Respond to Limit Order", "type": "n8n-nodes-base.manualTrigger", "position": [320, 1040], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "72ae16f3-1b87-4b70-86cc-60650f6b1fa0", "name": "confirm signals are cleared", "type": "n8n-nodes-base.manualTrigger", "position": [320, 1296], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "9d08f39b-4576-4058-861d-b5fe992ffca3", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [-880, -64], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "70951a9e-cc40-434a-9f58-52be5051a2ec", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-240, -64], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "13ef651c-7156-4539-a7e1-8222eae9a909", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [-240, 704], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "228d5abb-7e35-4df8-9a28-241674bed305", "name": "Sticky Note7", "type": "n8n-nodes-base.stickyNote", "position": [-240, 192], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "dd9672e5-e49b-4cdd-82f3-03362ce7e507", "name": "Sticky Note8", "type": "n8n-nodes-base.stickyNote", "position": [-240, 1216], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "fad3e8d6-fda2-4aae-99ea-5e41205df1a8", "name": "Sticky Note9", "type": "n8n-nodes-base.stickyNote", "position": [-240, 448], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "c601a4e1-6339-4f5d-9ece-06cb681cd7e5", "name": "Sticky Note10", "type": "n8n-nodes-base.stickyNote", "position": [-240, 960], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "184bf191-99e5-44ed-af26-2ac0a027a123", "name": "Sticky Note11", "type": "n8n-nodes-base.stickyNote", "position": [640, -64], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "b81e0c05-befb-4e48-a073-a3745b1bedd7", "name": "Sticky Note3", "type": "n8n-nodes-base.stickyNote", "position": [640, 448], "parameters": {"content": "", "height": 160, "width": 240, "color": 1}, "typeVersion": 1}], "connections": {"Store Signal": {"main": [[{"node": "Respond to POST", "type": "main", "index": 0}]]}, "limit order code": {"main": [[{"node": "Respond to Limit Order", "type": "main", "index": 0}]]}, "Mark as Processed": {"main": [[{"node": "Confirm Response", "type": "main", "index": 0}]]}, "clear all signals": {"main": [[{"node": "confirm signals are cleared", "type": "main", "index": 0}]]}, "market order code": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}, "Limit Order (POST)": {"main": [[{"node": "limit order code", "type": "main", "index": 0}]]}, "Market Order (POST)": {"main": [[{"node": "market order code", "type": "main", "index": 0}]]}, "Fetch Pending Signals": {"main": [[{"node": "Return Signals", "type": "main", "index": 0}]]}, "Receive Signal (POST)": {"main": [[{"node": "Store Signal", "type": "main", "index": 0}]]}, "Clear all signals (POST)": {"main": [[{"node": "clear all signals", "type": "main", "index": 0}]]}, "Get Pending Signals (GET)": {"main": [[{"node": "Fetch Pending Signals", "type": "main", "index": 0}]]}, "Confirm Signal Processed (POST)": {"main": [[{"node": "Mark as Processed", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/07541-Forex-gold-trading-signal-handler-for-MT5-using-webhooks-telegramdiscord.json"}