eval/data/realworld/rw_db601d9b14.json
{"id": "16", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:17.481Z", "startedAt": "2026-07-16T06:57:17.486Z", "stoppedAt": "2026-07-16T06:57:17.505Z", "deletedAt": null, "workflowId": "vW82RPVGRJPo6SlT", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 2564, "binaryDataSizeBytes": 0, "workflowVersionId": "45b86696-3e35-4888-9249-6d061aab1644", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185037496, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185037497, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"date_today": "2026-07-16T06:57:17.504Z", "day_today": "Thursday"}, "pairedItem": {"item": 0}, "index": 0}]]}}]}, "pinData": null, "lastNodeExecuted": "Function"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185037491, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX18LzA7A68uUJ/PsvSSU7vXGwifVo0K04y/cBNO5dHU3uG0N/gLn3KWFMbqtijq1E+tGjUthX3i/Nhl5DMmwgor8M6vzgwCOPzw53PkWQCPrL7oiN1VYhF3lCi1YqGbWqU5tjSlpvGs790MMgpNC1BzuXZmxR7/WNhVx19Fqk9YWRn8xCu2AprZlkHG7mI7yrCDKaMW0gWvq+92sCH6RsWL5hl/eSTPswIaTEBclSPjiCj9v6Cu8aH/qwrYAvQt73U4IR4rqDrRXKOAlim0LalF1HvlIJ9P7v2gjkmnOE8Y0P9qbDHeAqcBMyTDdOEQ88M4YQv3xhw5sTWOLYRZE+rO3/4AFrMQc/s/8WXoCEcfqvocmXNW9VGd+HB9fCkqZWPj3woGd0wV80ANJgY45NdnVHnTQfEWW37A="}}, "resumeToken": "5b496c73c475dbef0cfa579e0587c0a3b8db594285596a8e26da9d849f95431d"}, "workflowData": {"id": "vW82RPVGRJPo6SlT", "name": "rw_db601d9b14", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [250, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "691dec40-1b7e-48ba-8ce6-76ce51ff17b9"}, {"name": "Function", "type": "n8n-nodes-base.function", "position": [450, 300], "parameters": {"notice": "", "functionCode": "var date = new Date().toISOString();\nvar day = new Date().getDay();\nconst weekday = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n\nitems[0].json.date_today = date;\nitems[0].json.day_today = weekday[day];\n\nreturn items;"}, "typeVersion": 1, "id": "cdd4b5f3-d9b6-4407-843f-911ae8f4a8bd"}], "connections": {"On clicking 'execute'": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00144-funcion-hoy.json"}