eval/data/realworld/rw_e85533cc25.json
{"id": "19", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:22.510Z", "startedAt": "2026-07-16T06:57:22.514Z", "stoppedAt": "2026-07-16T06:57:22.542Z", "deletedAt": null, "workflowId": "1Is2e2mfHVj9BW3Q", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 3824, "binaryDataSizeBytes": 0, "workflowVersionId": "322ff65e-b50f-4107-87da-2720977dda68", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185042520, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Mock data": [{"startTime": 1784185042521, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 12, "executionStatus": "success", "data": {"main": [[{"json": {"amount_USD": 50}, "pairedItem": {"item": 0}}, {"json": {"amount_USD": 20}, "pairedItem": {"item": 0}}, {"json": {"amount_USD": 60}, "pairedItem": {"item": 0}}]]}}], "Summing function": [{"startTime": 1784185042533, "executionIndex": 2, "source": [{"previousNode": "Mock data", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 8, "executionStatus": "success", "data": {"main": [[{"json": {"total_value": 130}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Summing function"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185042518, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX199DofpKRuRRTkhayRBq9X1fV1+qsLEr2RXiP3xOz7ojr7WqaNkM7EzBz/9BWEclTOPU4ZEhs+hnVEoruG+aZFZ2HPGK4qCqdkyJC2xG5rSZvzRYvmjyBeTxFNH6fIl5g9hnUddk9TVnLWA03Ubu64aEOSSWSArIpZnrRr2hi3c1yl8XNF6iO5v2O8FPk8tB/egMyvraQiDHpwAFF8TBW16aKrwtYkOZ1phXFtVit0pmK0cWVDiWCItTZCMLg3B5OgCSOX9aAdDcHkHd4hTh39hJviE5ksfvuzSW1s3NsxhhJcTrId4LmTmf+2LaBrewossF9e32GtL6kK2XR3lL30C1DBudzdpJwl6IMn0eDhNMaM9Ae0pc1jFKzJZCy7zR9xHfTzVmOfIa8qkxapul57BdxtFpU8u2Cc="}}, "resumeToken": "5330da72557ef311535b4431d660debe3b47578040cad400a600c5df751d9535"}, "workflowData": {"id": "1Is2e2mfHVj9BW3Q", "name": "rw_e85533cc25", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [220, 80], "parameters": {"notice": ""}, "typeVersion": 1, "id": "1898f9cf-044b-45a0-91a3-d7e8663d706c"}, {"name": "Mock data", "type": "n8n-nodes-base.function", "position": [420, 80], "parameters": {"notice": "", "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\n\nreturn [ { json: { amount_USD: 50 } }, { json: { amount_USD: 20 } }, { json: { amount_USD: 60 } } ];"}, "typeVersion": 1, "id": "982343fc-8867-4de1-a0b9-c46759865cee"}, {"name": "Summing function", "type": "n8n-nodes-base.function", "position": [660, 80], "parameters": {"notice": "", "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\n//Setup an empty variable to hold the count\nlet total = 0;\n\n//Loop over the incoming items of data\nfor (item of items) {\n  //For each item of data, add the amount_USD to our total counter\n  total += item.json.amount_USD;\n}\n\n//Returns a well formed JSON object with just the total_value . You can either add more data to this returned object OR use the set node afterwards to do it in a no-code way.\nreturn [ { json: { total_value: total } } ];"}, "typeVersion": 1, "id": "da87af16-2aee-4b80-be0c-4b7ee8ed7e24"}], "connections": {"Mock data": {"main": [[{"node": "Summing function", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Mock data", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00163-mock-transactions-sum.json"}