eval/data/realworld/rw_e2cc481b8b.json
{"id": "23", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:29.574Z", "startedAt": "2026-07-16T06:57:29.582Z", "stoppedAt": "2026-07-16T06:57:29.632Z", "deletedAt": null, "workflowId": "pFk6spV7Jshkk1Ej", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 3950, "binaryDataSizeBytes": 0, "workflowVersionId": "441c63be-11fc-4fc7-9d9b-417108317039", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Webhook": [{"startTime": 1784185049591, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Create URL string": [{"startTime": 1784185049593, "executionIndex": 1, "source": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 38, "executionStatus": "success", "data": {"main": [[{"json": {"product": "https://www.google.com/search?q=+"}, "pairedItem": {"item": 0}}]]}}], "Respond to Webhook": [{"startTime": 1784185049631, "executionIndex": 2, "source": [{"previousNode": "Create URL string", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Respond to Webhook"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185049589, "source": "manual", "triggerNode": {"name": "Webhook", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/ZZfcF5MQ4GUtGZMCWdwjnYAePfxdogujZv1KEiEYK9vYtDPmbZ3/unaD6HJqsEXWaEPGmdahuCP9xt7CEL1uQ7T/09Zfj8cFfwPcT1xK189UdHQvD8SG+I/nAKq0SsUPJO+2NJM0eq7nG6am2nhjk+jZdauxwG03B4glWiMoKg5ZqYP8WLBzER9yC4BWzSFEBm69WZtgBdZrNwSAIH/majOLNSAVfY8hyy5qaRvC/IL6TN3dGVP84Ya+gWydr7HuUFech1gbPNIncFZRygD6z2X1wZotkH8Ub5KTkQyXeyJWSHo0EGAIMABWv56rLrSPEAFBkPqVivp0TrCwUWgGNSa0OsMK3DTZGdD6VqUG2XgzcbgLd1pRQFzYPxniR/DQW1NZYdB9L1u57qHI0Cg7q1H5c4vcX2Gw="}}, "resumeToken": "06904e6d35db8bc86f844549e60d1e42380ebcd39cceab632f4fafab7f1ce270"}, "workflowData": {"id": "pFk6spV7Jshkk1Ej", "name": "rw_e2cc481b8b", "nodes": [{"id": "f80aceed-b676-42aa-bf25-f7a44408b1bc", "name": "Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [375, 115], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "3b9ec913-0bbe-4906-bf8e-da352b556655", "name": "Note1", "type": "n8n-nodes-base.stickyNote", "position": [355, -25], "parameters": {"content": "## Create a simple API endpoint\n\nIn this workflow we show how to create a simple API endpoint with `Webhook` and `Respond to Webhook` nodes\n\n", "height": 280, "width": 600, "color": 1}, "typeVersion": 1}, {"id": "9c36dae5-0700-450c-9739-e9f3eff31bfe", "name": "Respond to Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [815, 115], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "5a228fcb-78b9-4a28-95d2-d7c9fdf1d4ea", "name": "Create URL string", "type": "n8n-nodes-base.set", "position": [595, 115], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "product", "value": "=https://www.google.com/search?q={{$json[\"query\"][\"first_name\"]}}+{{$json[\"query\"][\"last_name\"]}}"}]}, "options": {}}, "typeVersion": 1}, {"id": "e7971820-45a8-4dc8-ba4c-b3220d65307a", "name": "Note3", "type": "n8n-nodes-base.stickyNote", "position": [355, 275], "parameters": {"content": "### How to use it\n1. Execute the workflow so that the webhook starts listening\n2. Make a test request by pasting, **in a new browser tab**, the test URL from the `Webhook` node and appending the following test at the end `?first_name=bob&last_name=dylan`\n\nYou will receive the following output in the new tab `The URL of the Google search query for the term \"bob dylan\" is: https://www.google.com/search?q=bob+dylan`\n\n", "height": 220, "width": 600, "color": 1}, "typeVersion": 1}], "connections": {"Webhook": {"main": [[{"node": "Create URL string", "type": "main", "index": 0}]]}, "Create URL string": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00209-google-search-url-generator.json"}