eval/data/realworld/rw_efa118f84e.json
{"id": "41", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:57.635Z", "startedAt": "2026-07-16T06:57:57.638Z", "stoppedAt": "2026-07-16T06:57:57.644Z", "deletedAt": null, "workflowId": "2QrTJa6ZQKio4UOP", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 4422, "binaryDataSizeBytes": 0, "workflowVersionId": "f9c80a20-7a52-4d8e-88c3-f1ceaf657529", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"200": [{"startTime": 1784185077644, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "200"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185077643, "source": "manual", "triggerNode": {"name": "200", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/IkBJZrJijZ1cSPSXAEQn8wY8HFMvfOFpEuYOZBZ7zdDiUTIXZEvzq0YP1fS+f4F+AJUYCV0huGzTmaMyif4IOfk+cICrRRBlQJi4ePvGaZoP8hkJX1Vu4+10iZB+3SeagZx4xDSGle/acDLu4oqZAPvNB5WWmcYFJVsF1vkw+CFSRSX/NLXxBXUKWUvQFE+Px+wWsv2tGj13PHaS9WIZb+TdksZ5tz4exAuoHhu0lIcogEDGE0zN1wWAHXrB0iFhDsJxvc0OjeIFTy8DhENXnUiEEEBg7dFcBciAS104jiKAzrEJZ+Z7B4iDwdk7RlojGB7aOT6ML8e+9m80FQ6zRZ/wuuJpVjdkFXoD2ksSQDqBAF2BnZ3RzsCQAw2Y2qHo5rElwZMsl6lvzjoDGcl/1yDYb1J7Ys+8="}}, "resumeToken": "bdd323a8dc0c61d48084c96745479802cd51dc2774ffb19f2ae803a068e2f13d"}, "workflowData": {"id": "2QrTJa6ZQKio4UOP", "name": "rw_efa118f84e", "nodes": [{"id": "ec4bdb4f-3c3e-4405-af80-2ad7ab3d57fc", "name": "200", "type": "n8n-nodes-base.manualTrigger", "position": [420, -20], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "1b6c9f8c-1b5b-499d-abb5-bb1059b73ce7", "name": "403", "type": "n8n-nodes-base.manualTrigger", "position": [420, 180], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "e3976bf3-60e0-4c1c-bfdb-22ad336760a5", "name": "Calculate sha256", "type": "n8n-nodes-base.crypto", "position": [-20, -20], "parameters": {"action": "hmac", "binaryData": true, "binaryPropertyName": "data", "type": "SHA256", "dataPropertyName": "seatable-signature", "secret": "", "encoding": "hex"}, "typeVersion": 1}, {"id": "5e74ba50-e0fe-41e0-9b84-7078f1d150a3", "name": "Seatable Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [-240, -20], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "dbfcc59f-5411-4d99-8cde-26ae91cdd6af", "name": "Add nodes for processing", "type": "n8n-nodes-base.noOp", "position": [420, -220], "parameters": {}, "typeVersion": 1}, {"id": "a508534f-abb4-4455-b47a-1aaf56ce1124", "name": "hash matches", "type": "n8n-nodes-base.if", "position": [200, -20], "parameters": {"conditions": {"string": [{"value1": "={{ String($json['seatable-signature']) }}", "operation": "equal", "value2": "={{ String($json.headers['x-seatable-signature'].replace(\"sha256=\", \"\")) }}"}]}, "combineOperation": "all"}, "typeVersion": 1}, {"id": "1495d5c1-3467-4639-a32d-51a6497aed51", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [-400, -660], "parameters": {"content": "## \ud83d\udccc Validate Seatable Webhooks with HMAC SHA256 Authentication\n\nThis mini workflow is designed to **securely validate incoming Seatable webhooks** using HMAC SHA256 signature verification.\n\n### \ud83d\udd10 What it does:\n- Listens for incoming Seatable webhook requests.\n- Calculates a SHA256 HMAC hash of the raw request body using your shared secret.\n- Compares the computed hash with the `x-seatable-signature` header (after removing the `sha256=` prefix).\n- If the hashes match: responds with **200 OK** and forwards the request to subsequent nodes.\n- If the hashes don\u2019t match: responds with **403 Forbidden**.\n\n### \u26a0\ufe0f Important Notes:\nThis workflow is provided as a **template** and is not intended to work standalone. **Please duplicate it** and integrate it with your custom logic at the \"Add nodes for processing\" node.\n\nConfiguration steps:\n- Set your **secret key** in the \u201cCalculate sha256\u201d crypto node (replace the placeholder).\n- Adjust the webhook path to suit your environment (or set it to \"manual\" for testing).\n- Connect your actual logic after the verification step.\n", "height": 580, "width": 720, "color": 1}, "typeVersion": 1}], "connections": {"hash matches": {"main": [[{"node": "200", "type": "main", "index": 0}, {"node": "Add nodes for processing", "type": "main", "index": 0}], [{"node": "403", "type": "main", "index": 0}]]}, "Calculate sha256": {"main": [[{"node": "hash matches", "type": "main", "index": 0}]]}, "Seatable Webhook": {"main": [[{"node": "Calculate sha256", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/03322-Validate-Seatable-webhooks-with-HMAC-SHA256-authentication.json"}