eval/data/realworld/rw_eabbe49a68.json
{"id": "32", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:44.370Z", "startedAt": "2026-07-16T06:57:44.381Z", "stoppedAt": "2026-07-16T06:57:44.406Z", "deletedAt": null, "workflowId": "fteVdavmOJmHTyvm", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 5351, "binaryDataSizeBytes": 0, "workflowVersionId": "92022160-ef53-4d12-bcbd-3d642c5a5827", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185064389, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185064390, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 10, "executionStatus": "success", "data": {"main": [[{"json": {"id": 0}, "pairedItem": {"item": 0}}, {"json": {"id": 1}, "pairedItem": {"item": 0}}, {"json": {"id": 2}, "pairedItem": {"item": 0}}]]}}], "Switch": [{"startTime": 1784185064401, "executionIndex": 2, "source": [{"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 3, "executionStatus": "success", "data": {"main": [[{"json": {"id": 0}, "pairedItem": {"item": 0}}], [{"json": {"id": 1}, "pairedItem": {"item": 1}}], [{"json": {"id": 2}, "pairedItem": {"item": 2}}], []]}}], "Set": [{"startTime": 1784185064404, "executionIndex": 3, "source": [{"previousNode": "Switch", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"id": 0, "name": "n8n"}, "pairedItem": {"item": 0}}]]}}], "Set1": [{"startTime": 1784185064404, "executionIndex": 4, "source": [{"previousNode": "Switch", "previousNodeOutput": 1, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"id": 1, "name": "nodemation"}, "pairedItem": {"item": 0}}]]}}], "Set2": [{"startTime": 1784185064405, "executionIndex": 5, "source": [{"previousNode": "Switch", "previousNodeOutput": 2, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"id": 2, "name": "nathan"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Set2"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185064387, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX18UJNilAsfNQMcLUHetHEifNpn5fQoPskw6yKlFAM3pmv0wLyBrmK3uNUm9YAr9BwG8p3CiBlv4NHZ94DxBE5n5E7YL5D3dgfhySKFftApAu+XOrqaXmUWN2JZran+WTplEy2VUOX8gZCog405DtkNmNRcatcYG2CPO9bbCSd+40LK+QVo9to81KAVlTXLzReXx/MJEF7j1bZo6tQpS/uEYl3uiErCLeGroJz61oS2oGDl4bLVZpIxfO0QdbVxzNYhOOaHbITgym5hyZOkDUqtADXh7DkOex31mWrsDACp0SN8j+W5mviD6YeKB03KW3PQJILVCaQrkZUV75OBpHr3tAzdwYSko/Jdl6bekvhBuPc7FCLHnOns9I5s4tMWDIeEGzYvPkDIbGIxPNXGJrhqs42sj8SPFJbs="}}, "resumeToken": "fd595429dc1852ec1c6ad4b6002ecb2b3ced8fb4307481d79b4194134edb1196"}, "workflowData": {"id": "fteVdavmOJmHTyvm", "name": "rw_eabbe49a68", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [0, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "8b262ff6-1416-4fec-9f2c-2a0a43ac3f20"}, {"name": "Function", "type": "n8n-nodes-base.function", "position": [200, 300], "parameters": {"notice": "", "functionCode": "return [\n  {\n    json: {\n      id: 0,\n    }\n  },\n  {\n    json: {\n      id: 1,\n    }\n  },\n  {\n    json: {\n      id: 2,\n    }\n  }\n];\n"}, "typeVersion": 1, "id": "16588aa6-7136-4657-ba80-df0d8dcafbb8"}, {"name": "Set", "type": "n8n-nodes-base.set", "position": [600, 90], "parameters": {"keepOnlySet": false, "values": {"string": [{"name": "name", "value": "n8n"}]}, "options": {}}, "typeVersion": 1, "id": "1f6699fe-9eeb-43c6-a4e5-6d8a8398f487"}, {"name": "Set1", "type": "n8n-nodes-base.set", "position": [600, 230], "parameters": {"keepOnlySet": false, "values": {"string": [{"name": "name", "value": "nodemation"}]}, "options": {}}, "typeVersion": 1, "id": "bf3566f6-6c40-4607-9e66-382b24017fa0"}, {"name": "Switch", "type": "n8n-nodes-base.switch", "position": [400, 300], "parameters": {"mode": "rules", "dataType": "number", "value1": "={{$node[\"Function\"].json[\"id\"]}}", "rules": {"rules": [{"operation": "equal", "value2": 0, "output": 0}, {"operation": "equal", "value2": 1, "output": 1}, {"operation": "equal", "value2": 2, "output": 2}]}, "fallbackOutput": 3}, "typeVersion": 1, "id": "27f9f47c-ef7e-4fe4-8dc6-1f5b4bfb06d4"}, {"name": "Set2", "type": "n8n-nodes-base.set", "position": [600, 370], "parameters": {"keepOnlySet": false, "values": {"string": [{"name": "name", "value": "nathan"}]}, "options": {}}, "typeVersion": 1, "id": "f802b339-a143-4423-833f-08040ced42a8"}, {"name": "NoOp", "type": "n8n-nodes-base.noOp", "position": [600, 510], "parameters": {}, "typeVersion": 1, "id": "18039c98-68e9-4990-9bb8-b31daf70ede9"}], "connections": {"Switch": {"main": [[{"node": "Set", "type": "main", "index": 0}], [{"node": "Set1", "type": "main", "index": 0}], [{"node": "Set2", "type": "main", "index": 0}], [{"node": "NoOp", "type": "main", "index": 0}]]}, "Function": {"main": [[{"node": "Switch", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00658-demo-n8n-flujo.json"}