eval/data/realworld/rw_f222560026.json
{"id": "33", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:45.999Z", "startedAt": "2026-07-16T06:57:46.003Z", "stoppedAt": "2026-07-16T06:57:46.067Z", "deletedAt": null, "workflowId": "KGwiFYIpjcIBarFX", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 10465, "binaryDataSizeBytes": 0, "workflowVersionId": "8eb22f7c-ea42-4123-93c7-d67ac0b8cee4", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185066013, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Function": [{"startTime": 1784185066014, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 15, "executionStatus": "success", "data": {"main": [[{"json": {"i": 0}, "pairedItem": {"item": 0}}, {"json": {"i": 1}, "pairedItem": {"item": 0}}, {"json": {"i": 2}, "pairedItem": {"item": 0}}, {"json": {"i": 3}, "pairedItem": {"item": 0}}, {"json": {"i": 4}, "pairedItem": {"item": 0}}, {"json": {"i": 5}, "pairedItem": {"item": 0}}, {"json": {"i": 6}, "pairedItem": {"item": 0}}, {"json": {"i": 7}, "pairedItem": {"item": 0}}, {"json": {"i": 8}, "pairedItem": {"item": 0}}, {"json": {"i": 9}, "pairedItem": {"item": 0}}]]}}], "SplitInBatches": [{"startTime": 1784185066029, "executionIndex": 2, "source": [{"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 2, "executionStatus": "success", "data": {"main": [[{"json": {"i": 0}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066043, "executionIndex": 4, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 1}, "pairedItem": {"item": 1, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185066045, "executionIndex": 6, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 1}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 2}, "pairedItem": {"item": 2, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185066046, "executionIndex": 8, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 2}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 3}, "pairedItem": {"item": 3, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185066048, "executionIndex": 10, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 3}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"i": 4}, "pairedItem": {"item": 4, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185066050, "executionIndex": 12, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 4}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 5}, "pairedItem": {"item": 5, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185066055, "executionIndex": 14, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 5}], "hints": [], "executionTime": 2, "executionStatus": "success", "data": {"main": [[{"json": {"i": 6}, "pairedItem": {"item": 6, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185066061, "executionIndex": 16, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 6}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 7}, "pairedItem": {"item": 7, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185066063, "executionIndex": 18, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 7}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 8}, "pairedItem": {"item": 8, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}, {"startTime": 1784185066065, "executionIndex": 20, "source": [{"previousNode": "IF", "previousNodeOutput": 1, "previousNodeRun": 8}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {"i": 9}, "pairedItem": {"item": 9, "sourceOverwrite": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}}}]]}}], "IF": [{"startTime": 1784185066031, "executionIndex": 3, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 12, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 0}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066044, "executionIndex": 5, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 1}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 1}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066046, "executionIndex": 7, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 2}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 2}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066047, "executionIndex": 9, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 3}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 3}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066048, "executionIndex": 11, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 4}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 4}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066052, "executionIndex": 13, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 5}], "hints": [], "executionTime": 3, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 5}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066057, "executionIndex": 15, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 6}], "hints": [], "executionTime": 4, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 6}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066062, "executionIndex": 17, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 7}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 7}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066064, "executionIndex": 19, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 8}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[], [{"json": {"i": 8}, "pairedItem": {"item": 0}}]]}}, {"startTime": 1784185066065, "executionIndex": 21, "source": [{"previousNode": "SplitInBatches", "previousNodeOutput": 0, "previousNodeRun": 9}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"i": 9}, "pairedItem": {"item": 0}}], []]}}], "Set": [{"startTime": 1784185066066, "executionIndex": 22, "source": [{"previousNode": "IF", "previousNodeOutput": 0, "previousNodeRun": 9}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"Message": "No Items Left"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Set"}, "executionData": {"contextData": {"node:SplitInBatches": {"currentRunIndex": 9, "maxRunIndex": 10, "sourceData": {"previousNode": "Function", "previousNodeOutput": 0, "previousNodeRun": 0}, "items": [], "noItemsLeft": true}}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185066012, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX19N4XRPgbqxWVovWYAWFcjIMHHR7E8xNlQ+ydc5TDuExNUzkmJSGiDfkC9xE83kg/f5MRMm2l8M7wn+Ds4otljPIASd8EMXZacOWLyIuWUS35fbXsAJh8SgcDrEO0u0ztYXMgi61QQ74YE/kxSa8oA/KhH0n3xREE5XlORe0rOPKoABMOhtU4FSpXdQfAvvKT1VPU4mRVO20vMxwAIidDH9I5iuHkeU7XsVDZy5D5YgCTdfmgf5ibsXO2Ye9WHkT7Vs0C+2Z3NotLwFxn0Znf4SZ5Q2plllf8LTjfn4j3Q9qXR1fRq0HaD4DdP4yuJ4AKGaHqG4rHBR8w+qoJtzVbi7Al6VqaKK7l6cocQO2yTMQmvY5xT4mrDdsx/MRuc/KFbQOwplfQYhKgcz5h+0VYuovA6Q8S54GN0="}}, "resumeToken": "2e74109fa03757d6c8f89920322038acdae333c1c869a7dea6f91c685fd1d204"}, "workflowData": {"id": "KGwiFYIpjcIBarFX", "name": "rw_f222560026", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [430, 310], "parameters": {"notice": ""}, "typeVersion": 1, "id": "12d29e93-49e3-4fc4-a47e-c7ed5d3cbcc7"}, {"name": "Function", "type": "n8n-nodes-base.function", "position": [630, 310], "parameters": {"notice": "", "functionCode": "const newItems = [];\n\nfor (let i=0;i<10;i++) {\n  newItems.push({json:{i}});\n}\n\nreturn newItems;"}, "typeVersion": 1, "id": "85687dcb-a830-4c0b-b47f-cb3e75e6b5ae"}, {"name": "SplitInBatches", "type": "n8n-nodes-base.splitInBatches", "position": [830, 310], "parameters": {"splitInBatchesNotice": "", "batchSize": 1, "options": {}}, "typeVersion": 1, "id": "a9f09204-7746-4f98-8136-6ac45989ab19"}, {"name": "IF", "type": "n8n-nodes-base.if", "position": [1030, 460], "parameters": {"conditions": {"boolean": [{"value1": true, "operation": "equal", "value2": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}"}]}, "combineOperation": "all"}, "typeVersion": 1, "id": "844c6da3-4945-493d-a622-7ae838b6658f"}, {"name": "Set", "type": "n8n-nodes-base.set", "position": [1230, 360], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "Message", "value": "No Items Left"}]}, "options": {}}, "typeVersion": 1, "id": "85f9da05-3f29-4fda-adb7-1539eec8bfdf"}], "connections": {"IF": {"main": [[{"node": "Set", "type": "main", "index": 0}], [{"node": "SplitInBatches", "type": "main", "index": 0}]]}, "Function": {"main": [[{"node": "SplitInBatches", "type": "main", "index": 0}]]}, "SplitInBatches": {"main": [[{"node": "IF", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Function", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00766-demo-batch.json"}