eval/data/realworld/rw_fd15eb261c.json
{"id": "52", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:16.301Z", "startedAt": "2026-07-16T06:58:16.305Z", "stoppedAt": "2026-07-16T06:58:16.332Z", "deletedAt": null, "workflowId": "rrPh831MTIgj7jbo", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 5212, "binaryDataSizeBytes": 0, "workflowVersionId": "cfec4167-73d2-4cab-9852-e374e6be762b", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Webhook: Receive JSON String": [{"startTime": 1784185096311, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Code: Validate JSON String": [{"startTime": 1784185096312, "executionIndex": 1, "source": [{"previousNode": "Webhook: Receive JSON String", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 20, "executionStatus": "success", "data": {"main": [[{"json": {"valid": false, "error": "Input 'jsonString' is missing or not a string."}, "pairedItem": {"item": 0}}]]}}], "Respond to Webhook with Result": [{"startTime": 1784185096332, "executionIndex": 2, "source": [{"previousNode": "Code: Validate JSON String", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Respond to Webhook with Result"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185096310, "source": "manual", "triggerNode": {"name": "Webhook: Receive JSON String", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+G1axECnvfxVjXAFmWKUZ/GR865RW9tlErE/B2NhWu6JK4LTWGvog6/li07+8HLtdFdY4BlCoTWRY5gH51llEMK1jcgSAcwnXDk0ECW4PudOF80VU1U3M391tmQd8RndvGbZNV979WEtuZdUKms6VtfaqUKbPqHzXz8jZYza9jQFUYV1A1UHhZUXp9LjYfDVcsFXzv5qX/fvJNTq9yaGL6LgSujjfgLyHLiK6gR0c5xTnk2ry0jqFKY7ZjAv6yvjMWQSpfeBStQ6PSWl/cO1Qf2PPbHV9Jw8lNgncfPwbULkNB+sxrg3mrHb2SkyVYDsGs9l9aLT4nPxqIvz7bUO+rxgDdvg3xB27jGc+jcXVOrnAG3n3UPqFRMqPjuiqSHADGJC5T09jFYYPxJBoCBpDfixNx9Huyh6Q="}}, "resumeToken": "2ad2ff2158a5a53b9ba8921d7d3b30546f0e31ea1bdf9f3df2dc5d1f00013188"}, "workflowData": {"id": "rrPh831MTIgj7jbo", "name": "rw_fd15eb261c", "nodes": [{"id": "72785a1d-32f6-4f0d-a412-5327c059ddd3", "name": "Webhook: Receive JSON String", "type": "n8n-nodes-base.manualTrigger", "position": [-680, -140], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "940b04da-3f16-434d-8181-9452dd3ba007", "name": "Respond to Webhook with Result", "type": "n8n-nodes-base.manualTrigger", "position": [100, -140], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "4546866f-9376-47cf-ac19-caf0eb197cca", "name": "Code: Validate JSON String", "type": "n8n-nodes-base.code", "position": [-300, -140], "parameters": {"mode": "runOnceForAllItems", "language": "javaScript", "jsCode": "// This node validates if the 'jsonString' in the webhook body is valid JSON.\n// It returns 'valid: true' or 'valid: false' along with an error message if invalid.\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Attempt to parse the jsonString from the webhook body\n    // Ensure 'jsonString' exists before attempting to parse\n    if (item.json.body && typeof item.json.body.jsonString === 'string') {\n      JSON.parse(item.json.body.jsonString);\n      results.push({ json: { valid: true } });\n    } else {\n      // Handle cases where jsonString is missing or not a string\n      results.push({ json: { valid: false, error: \"Input 'jsonString' is missing or not a string.\" } });\n    }\n  } catch (e) {\n    // If parsing fails, push the error message\n    results.push({ json: { valid: false, error: e.message } });\n  }\n}\n\nreturn results;", "notice": ""}, "typeVersion": 2}, {"id": "52ea0a9b-863d-4d09-b96b-ab707571738b", "name": "Note: Webhook Input", "type": "n8n-nodes-base.stickyNote", "position": [-760, -360], "parameters": {"content": "## Webhook Input\n\nThis node listens for incoming POST requests. It expects a JSON body containing a single property: `jsonString` (the string you wish to validate as JSON).", "height": 380, "width": 280, "color": 1}, "typeVersion": 1}, {"id": "f3f93504-93b2-40e9-93e6-45366a681ac0", "name": "Note: JSON Validation Logic", "type": "n8n-nodes-base.stickyNote", "position": [-420, -320], "parameters": {"content": "## JSON Validation Logic\n\nThis node contains custom JavaScript code to parse the `jsonString` from the webhook input. It returns `valid: true` if successful, or `valid: false` with an `error` message if parsing fails.", "height": 360, "width": 350, "color": 2}, "typeVersion": 1}, {"id": "e8632087-424b-40b4-a894-301885137f49", "name": "Note: Webhook Response", "type": "n8n-nodes-base.stickyNote", "position": [0, -320], "parameters": {"content": "## Webhook Response\n\nThis node sends the validation result (whether the `jsonString` was valid JSON or not, including an error if applicable) back to the system that triggered the webhook.", "height": 360, "width": 350, "color": 3}, "typeVersion": 1}], "connections": {"Code: Validate JSON String": {"main": [[{"node": "Respond to Webhook with Result", "type": "main", "index": 0}]]}, "Webhook: Receive JSON String": {"main": [[{"node": "Code: Validate JSON String", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/06122-Json-string-validator-via-webhook.json"}