eval/data/realworld/rw_f60b234cbe.json
{"id": "24", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:57:31.177Z", "startedAt": "2026-07-16T06:57:31.181Z", "stoppedAt": "2026-07-16T06:57:31.221Z", "deletedAt": null, "workflowId": "MWadvk8ItOVqkRxl", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 4821, "binaryDataSizeBytes": 0, "workflowVersionId": "e6bb0eb8-dc1c-40b7-9940-8c1fd027e563", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"Webhook": [{"startTime": 1784185051187, "executionIndex": 0, "source": [], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Set": [{"startTime": 1784185051188, "executionIndex": 1, "source": [{"previousNode": "Webhook", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 32, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Set"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185051186, "source": "manual", "triggerNode": {"name": "Webhook", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1/32sF8bKrYONitorFpVgaSHEbusmVh93yaU1rty7MZwyEHsYJoBxO0TILM2fIQK1jzgr9jsnDktmPCUKEZl0YRISfR3Vu0aQqO0BiWYYo+vewiPjtZSaaWJ2pdKscwWM+NFpYQzeTN1/jQylPijpvG7wgYKq/QJ3Zw47rhLIix7eljeaFI/zo+LFL96Rs7xwJMkLOXCNNCTTbne9xB3XXXjEskH+tTCmW7BchMXyRWb4N1jhrSm28SyCn9LPBFgPxi15p1JlaVvIicNCBxPGw5wOLe0gwyDM1Sy1bwJET3Z8mCC2E7XFaIuflkczoSPnjewH7bN7gZSaBsfC1wvoFFR1EamCOlzHRXRs7/xl6J7SY87WJlKcP/DH/iR4URQ4jFGPmJpdoFZLjsBl/Un6jZDcvpx19TGU4="}}, "resumeToken": "68f8736d7c8f7a0027d9df5622c6778aed85e847004d7a32fef2f72ec5aedb90"}, "workflowData": {"id": "MWadvk8ItOVqkRxl", "name": "rw_f60b234cbe", "nodes": [{"id": "23dc1873-b376-473e-935b-b1df5e663c9e", "name": "Webhook", "type": "n8n-nodes-base.manualTrigger", "position": [1100, 1120], "parameters": {"notice": ""}, "typeVersion": 1}, {"id": "417ddfd1-8a27-498b-b203-0f410f8092b8", "name": "Set", "type": "n8n-nodes-base.set", "position": [1320, 1120], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "email", "value": "={{ $json.body.data.results.emails[0].email }}"}, {"name": "firstname", "value": "={{ $json.body.data.results.firstname }}"}, {"name": "lastname", "value": "={{ $json.body.data.results.lastname }}"}]}, "options": {}}, "typeVersion": 2}, {"id": "ecf055ad-3f12-43c0-8dcc-0868fdfff5d8", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "position": [660, 760], "parameters": {"content": "## Real-time listening and processing of search results with Icypeas.\n\n\u200d\n\nThis workflow, with the webhook, allows you to retrieve the results of your searches with Icypeas (https://www.icypeas.com/) and redirect them wherever you want.", "height": 395, "width": 240, "color": 1}, "typeVersion": 1}, {"id": "1c4410ef-d5c8-4da1-8f7a-104082a1aacd", "name": "Sticky Note1", "type": "n8n-nodes-base.stickyNote", "position": [980, 886], "parameters": {"content": "## Link your Icypeas account with a webhook\n\n\n\nThe first node, \u00ab Webhook \u00bb, is a webhook that needs to be referenced in the Icypeas application under the API section of the user\u2019s profile (see documentation here : https://api-doc.icypeas.com/category/push-notifications/).\n\n\n\n\u200d\n\n\n\n\n\n\n\nYou need to copy the Test URL (don't forget to change it to the production URL before you active the workflow) provided by n8n when clicking on the node. \n\nThen go to the user profile in the Icypeas application (https://app.icypeas.com/bo/profile). After logging in, click on the profile icon > Select Your Profile > Go to the API section > Click on the Enable API Access button, and enter the URL in the field \"Notification when each row is treated during a bulk search\".\n\nSave the notification routes.\n\nThe webhook will be called by our system whenever a new result is available.\n\nThis allows for real-time notification of new results as they become available. \n\n\n**Be careful** : this template only works for email searches and domain scans. An adaptation for email verification will be made very soon.", "height": 882.9729093050651, "width": 332, "color": 1}, "typeVersion": 1}, {"id": "03417e50-c191-4f75-91e7-158a16e5ee55", "name": "Sticky Note2", "type": "n8n-nodes-base.stickyNote", "position": [1310, 857], "parameters": {"content": "## Retrieve the relevant informations\n\n\n\nFinally, the \u00ab Set \u00bb node allows you to retrieve the relevant information from the search: name / first name / email.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nFor your information, you can manipulate this webhook as you want. For example, you can add an additional node to redirect the responses to the service of your choice, like Lemlist (https://www.lemlist.com/). Simply click on the \u201c+\u201d and create a lead on Lemlist", "height": 628, "width": 237, "color": 1}, "typeVersion": 1}], "connections": {"Webhook": {"main": [[{"node": "Set", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/00316-icypeas-email-search.json"}