eval/data/realworld/rw_fdf89bea70.json
{"id": "63", "finished": true, "mode": "manual", "retryOf": null, "retrySuccessId": null, "status": "success", "createdAt": "2026-07-16T06:58:36.099Z", "startedAt": "2026-07-16T06:58:36.109Z", "stoppedAt": "2026-07-16T06:58:36.153Z", "deletedAt": null, "workflowId": "Fs2YAJTkbj9YPLIj", "waitTill": null, "storedAt": "db", "tracingContext": null, "deduplicationKey": null, "jsonSizeBytes": 3232, "binaryDataSizeBytes": 0, "workflowVersionId": "c7edad80-d67f-40d2-8111-9b6d71e305e5", "usedPrivateCredentials": false, "data": {"version": 1, "startData": {}, "resultData": {"runData": {"On clicking 'execute'": [{"startTime": 1784185116138, "executionIndex": 0, "source": [], "hints": [], "executionTime": 0, "executionStatus": "success", "data": {"main": [[{"json": {}, "pairedItem": {"item": 0}}]]}}], "Sample email": [{"startTime": 1784185116138, "executionIndex": 1, "source": [{"previousNode": "On clicking 'execute'", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 1, "executionStatus": "success", "data": {"main": [[{"json": {"email": "user@example.com"}, "pairedItem": {"item": 0}}]]}}], "Extract domain name": [{"startTime": 1784185116139, "executionIndex": 2, "source": [{"previousNode": "Sample email", "previousNodeOutput": 0, "previousNodeRun": 0}], "hints": [], "executionTime": 14, "executionStatus": "success", "data": {"main": [[{"json": {"domain": "example.com"}, "pairedItem": {"item": 0}}]]}}]}, "pinData": null, "lastNodeExecuted": "Extract domain name"}, "executionData": {"contextData": {}, "nodeExecutionStack": [], "metadata": {}, "waitingExecution": {}, "waitingExecutionSource": {}, "runtimeData": {"version": 1, "establishedAt": 1784185116133, "source": "manual", "triggerNode": {"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger"}, "redaction": {"version": 2, "production": false, "manual": false, "source": "workflow"}, "credentials": "U2FsdGVkX1+obutewS6tL899+3wSdn7rFUrh+fkbxa/KGQ0EVhRoyyZwPASrKePiZh5yn2UC5m5/1VqMgSLr+aK9C/vZe5AMtTJYYvxmC35tGge/ttKHNg7QYe5ZngnH+iRXOLFCt1oRYPemJ+91Cjvl1LU5wib50Gac/y3Er4bXdMA8tqrJUV5MkXe8MwivmII3oeu9agmxluPLyX9Y5WbJlzMnHrm7oDf5A7h6VoolfgJVsNFj30cZnzin5w4bumtX4oYO6/GSC69lTYtiBLzO5XqbRQhEfJhJQgJbGF7ShNe4OW5cZQMrITKatwrCewz/AJH1yPp2k5iThdksJhv2LOaZbOwE7U73skW7oq7U/QcDNT3GuDlBVDqSxX+2Id02GemCAvfNQUNHbfkHERkicYNpWdXzpvNoScjr1DI="}}, "resumeToken": "b658bca70d4712cde6d3443090fb63f375b0d27d43d0e9ebb1534f4b254fc74d"}, "workflowData": {"id": "Fs2YAJTkbj9YPLIj", "name": "rw_fdf89bea70", "nodes": [{"name": "On clicking 'execute'", "type": "n8n-nodes-base.manualTrigger", "position": [240, 300], "parameters": {"notice": ""}, "typeVersion": 1, "id": "6b1b4a76-9631-4d06-887a-789669f2ec10"}, {"name": "Extract domain name", "type": "n8n-nodes-base.function", "position": [700, 300], "parameters": {"notice": "", "functionCode": "// Take email and extract the domain name \nvar email = ($json[\"email\"]);\nvar name   = email.substring(0, email.lastIndexOf(\"@\"));\nvar domain = email.substring(email.lastIndexOf(\"@\") +1);\n\n//To display the final domain name. (result)\n\nreturn [{\n  json: { domain }\n}]"}, "typeVersion": 1, "id": "41a2b38b-62de-40d5-8a80-474891341f16"}, {"name": "Sample email", "type": "n8n-nodes-base.set", "position": [460, 300], "parameters": {"keepOnlySet": true, "values": {"string": [{"name": "email", "value": "user@example.com"}]}, "options": {}}, "typeVersion": 1, "id": "e30ac36b-7142-4473-913e-34a14fe40a77"}], "connections": {"Sample email": {"main": [[{"node": "Extract domain name", "type": "main", "index": 0}]]}, "On clicking 'execute'": {"main": [[{"node": "Sample email", "type": "main", "index": 0}]]}}, "settings": {}, "nodeGroups": []}, "customData": {}, "_source": "/tmp/n8n_corpus/DragonJAR_n8n-workflows-esp/workflows/08309-Extract-URL-from-an-email-address.json"}